<template>
  <v-card
    class="overflow-hidden"
    color="grey lighten-5"
  >
    <v-card-text>
      <v-container grid-list-md fluid>
        <v-layout row justify-space-between>
          <v-flex sm6 md6>
            <v-text-field
              v-model="firstName"
              :readonly="!permissions"
              color="light-blue darken-1"
              v-bind:label="$t('first_name')"
              v-validate="'required'"
              :error-messages="errors.collect('firstName')"
              data-vv-name="firstName"
              :data-vv-as="$t('first_name')"
              @click="isEditing = true"
              dense
            ></v-text-field>
          </v-flex>
          <v-flex sm6 md6>
            <v-text-field
              v-model="lastName"
              :readonly="!permissions"
              color="light-blue darken-1"
              v-bind:label="$t('last_name')"
              v-validate="'required'"
              :error-messages="errors.collect('lastName')"
              data-vv-name="lastName"
              :data-vv-as="$t('last_name')"
              @click="isEditing = true"
              dense
            ></v-text-field>
          </v-flex>
          <!-- <v-flex sm4 md4>
            <v-autocomplete
              v-model="getAffiliatePlans"
              :items="getAffiliatePlans"
              disabled
              item-value='code'
              item-text='display'
              color="light-blue darken-1"
              v-bind:label="$t('policies')"
              data-vv-name="policy"
              multiple
              dense
              small-chips
              deletable-chips
            ></v-autocomplete>
          </v-flex> -->

          <!-- <v-flex sm2 md2>
            <v-chip :color="affiliateStatusColor">
              <span v-if="affiliateDetails.is_active"> {{ $t('active') }} </span>
              <span v-else> {{ $t('inactive') }} </span>
            </v-chip>
          </v-flex> -->
        </v-layout>

        <v-layout row justify-space-between>
          <v-flex sm5 md5>
            <v-text-field
              v-model="age"
              suffix="años"
              readonly
              color="light-blue darken-1"
              v-bind:label="$t('age')"
              data-vv-name="age"
              dense
            ></v-text-field>
          </v-flex>
          <v-flex sm7 md7>
            <v-text-field
              v-model="this.affiliateDetails.dni"
              readonly
              color="light-blue darken-1"
              v-bind:label="$t('id')"
              dense
            ></v-text-field>
          </v-flex>
        </v-layout>

        <v-layout row justify-space-between>
          <v-flex sm7 md7>
            <v-text-field
              type="date"
              :value="dateFormattedMomentjs"
              v-model="affiliateBirthdate"
              :readonly="!permissions"
              color="light-blue darken-1"
              v-bind:label="$t('birthdate')"
              v-validate="'required'"
              :error-messages="errors.collect('affiliate.birthdate')"
              data-vv-name="affiliate.birthdate"
              :data-vv-as="$t('birthdate')"
              :hint="$t('mandatory_field')"
              dense
              @click="isEditing = true"
              @change="updateAge()"
            ></v-text-field>
          </v-flex>

          <v-flex sm5 md5>
            <v-select
              v-model="affiliateGender"
              :readonly="!permissions"
              :items="genderItems"
              item-text="display"
              item-value="code"
              v-bind:label="$t('gender')"
              v-validate="'required'"
              :error-messages="errors.collect('affiliateDetails.gender')"
              data-vv-name="affiliateDetails.gender"
              :data-vv-as="$t('gender')"
              :hint="$t('mandatory_field')"
              dense
              @change="isEditing = true"
              return-object
            ></v-select>
          </v-flex>
        </v-layout>

        <v-layout row justify-space-between>
          <v-flex sm12 md12>
            <v-combobox
              v-model="affiliatePhoneNumbers"
              :readonly="!permissions"
              v-mask="phoneMask"
              color="light-blue darken-1"
              v-bind:label="$t('phone_numbers')"
              v-bind:hint="$t('press_enter_new_number')"
              persistent-hint
              small-chips
              multiple
              dense
              v-validate="{ required: true, min: 11, regex:/^(0(2[13456789][0-9]{8}|4[12][46][0-9]{7}|412[0-9]{7}))/ }"
              :error-messages="errors.collect('affiliatePhoneNumbers')"
              data-vv-name="affiliatePhoneNumbers"
              :data-vv-as="$t('phone_numbers')"
              @click="isEditing = true"
              deletable-chips
              :search-input.sync="searchPhoneNumber"
              @keyup.tab="updatePhoneNumberTags"
              @paste="updatePhoneNumberTags"
            >
              <template v-slot:selection="data" v-if="!permissions">
                <v-chip class="ma-2" small>
                  {{ data.item }}
                </v-chip>
              </template>
            </v-combobox>
          </v-flex>
        </v-layout>

        <v-layout row justify-space-between>
          <v-flex sm12 md12>
            <v-combobox
              v-model="affiliateEmail"
              :readonly="!permissions"
              color="light-blue darken-1"
              v-bind:label="$t('emails')"
              v-bind:hint="$t('press_enter_new_email')"
              persistent-hint
              small-chips
              multiple
              dense
              v-validate="'email'"
              :error-messages="errors.collect('affiliateEmail')"
              data-vv-name="affiliateEmail"
              :data-vv-as="$t('emails')"
              @click="isEditing = true"
              deletable-chips
              :search-input.sync="searchEmail"
              @keyup.tab="updateEmailTags"
              @paste="updateEmailTags"
            >
              <template v-slot:selection="data" v-if="!permissions">
                <v-chip class="ma-2" small>
                  {{ data.item }}
                </v-chip>
              </template>
            </v-combobox>
          </v-flex>
          <v-flex sm12 md12>
            <v-textarea
              v-model="address"
              :readonly="!permissions"
              color="light-blue darken-1"
              v-bind:label="$t('address')"
              :error-messages="errors.collect('address')"
              data-vv-name="address"
              dense
              @click.stop="showAddressForm = true, isEditing = true"
              auto-grow
              rows="1"
              row-height="15"
            ></v-textarea>
          </v-flex>
        </v-layout>
        <AddressForm :visible="showAddressForm" :showAutocomplete="false" :createServiceAddress="false" :defaultAddress="addressObject" @close="showAddressForm=false" @addressAssigned="onAddressAssigned" />
      </v-container>
    </v-card-text>
    <v-divider v-if="permissions"></v-divider>
    <v-card-actions v-if="permissions">
      <v-spacer></v-spacer>
      <v-btn
        :disabled="errors.any() || isDisabled"
        color="success"
        @click="save"
      >
        {{ $t('save') }}
      </v-btn>
    </v-card-actions>
    <v-snackbar
      v-model="snackbar"
      :color="color"
      :timeout="timeout"
      absolute
    >
      {{ text }}
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        {{ $t('close') }}
      </v-btn>
    </v-snackbar>
  </v-card>
</template>

<script>
import { mapGetters } from 'vuex'
import moment from 'moment'
import { mask } from 'vue-the-mask'
import AddressForm from '@/components/attentions/attention_details/attention_services/AddressForm'

/*
  El componente `<Affiliate>` se utiliza para mostrar y editar la información importante
  del afiliado que esta en proceso de atención.

  `<Affiliate>` es hijo del componente `<AttentionsDetails>`.

  ---

  The `<Affiliate>` component is used to display and edit the important information
  of the affiliate who is in the process of an attention.

  `<Affiliate>` is child of the `<AttentionsDetails>` component.

  @author Ixhel Mejías, Adriana Tiso
*/

export default {
  directives: {
    mask
  },
  components: {AddressForm},
  data () {
    return {
      searchEmail: '',
      searchPhoneNumber: '',
      snackbar: false,
      text: '',
      timeout: 6000,
      color: '',
      hasSaved: false,
      isEditing: false,
      model: null,
      age: '',
      firstName: '',
      lastName: '',
      affiliateEmail: '',
      affiliatePhoneNumbers: '',
      phoneMask: '0##########',
      genderItems: [
        {code: 'MALE', display: this.$t('male')},
        {code: 'FEMALE', display: this.$t('female')}
      ],
      affiliateGender: '',
      affiliateBirthdate: new Date(1990, 0, 1).toISOString().substr(0, 10),
      address: '',
      addressObject: {},
      showAddressForm: false
    }
  },
  created () {
    var year = this.affiliateDetails.birthdate.substring(0, 4)
    var month = this.affiliateDetails.birthdate.substring(5, 7)
    var day = this.affiliateDetails.birthdate.substring(8, 10)
    var birthdate = String(year) + String(month) + String(day)
    var age = moment().diff(moment(birthdate, 'YYYYMMDD'), 'years')
    this.age = age
    this.firstName = this.affiliateDetails.first_name
    this.lastName = this.affiliateDetails.last_name
    this.affiliateEmail = this.getEmails()
    this.affiliatePhoneNumbers = this.getPhoneNumbers()
    this.affiliateGender = this.affiliateDetails.gender === 'Masculino' ? {code: 'MALE', display: this.$t('male')} : {code: 'FEMALE', display: this.$t('female')}
    this.affiliateBirthdate = new Date(this.affiliateDetails.birthdate.substring(0, 4),
      this.affiliateDetails.birthdate.substring(5, 7) - 1,
      this.affiliateDetails.birthdate.substring(8, 10)).toISOString().substr(0, 10)
    this.address = this.getAddress()
    this.addressObject = this.affiliateDetails.affiliate_addresses[0]

    this.unwatchAffiliateDetails = this.$store.watch(() => this.$store.getters.affiliateDetails, affiliateDetails => {
      this.unwatchAffiliateDetails()
      var year = this.affiliateDetails.birthdate.substring(0, 4)
      var month = this.affiliateDetails.birthdate.substring(5, 7)
      var day = this.affiliateDetails.birthdate.substring(8, 10)
      var birthdate = String(year) + String(month) + String(day)
      var age = moment().diff(moment(birthdate, 'YYYYMMDD'), 'years')
      this.age = age
      this.firstName = this.affiliateDetails.first_name
      this.lastName = this.affiliateDetails.last_name
      this.affiliateEmail = this.getEmails()
      this.affiliatePhoneNumbers = this.getPhoneNumbers()
      this.affiliateGender = this.affiliateDetails.gender === 'Masculino' ? {code: 'MALE', display: this.$t('male')} : {code: 'FEMALE', display: this.$t('female')}
      this.affiliateBirthdate = new Date(this.affiliateDetails.birthdate.substring(0, 4),
        this.affiliateDetails.birthdate.substring(5, 7) - 1,
        this.affiliateDetails.birthdate.substring(8, 10)).toISOString().substr(0, 10)
      this.address = this.getAddress()
      this.addressObject = this.affiliateDetails.affiliate_addresses[0]

      this.$nextTick(() => {
        this.$validator.reset()
      })
    })
  },
  beforeDestroy () {
    if (this.unwatchAffiliateDetails) {
      this.unwatchAffiliateDetails()
    }
  },
  computed: {
    ...mapGetters([
      // map this.affiliateDetails to this.$store.getters.affiliateDetails
      'affiliateDetails',
      'getAffiliatePlans',
      'roles'
    ]),
    permissions () {
      return this.roles.includes('Operador') || this.roles.includes('Gerente') || this.roles.includes('Director') || this.roles.includes('Médico') || this.roles.includes('Despachador') || this.roles.includes('Coordinador')
    },
    affiliateStatusColor () {
      if (this.affiliateDetails.is_active) return 'success'
      else return 'warning'
    },
    fullNameAffiliate: {
      get () {
        return `${this.affiliateDetails.first_name} ${this.affiliateDetails.last_name}`
      },
      set (newValue) {
        const m = newValue.match(/(\S*)\s+(.*)/)

        this.affiliateDetails.first_name = m[1]
        this.affiliateDetails.last_name = m[2]
      }
    },
    dateFormattedMomentjs () {
      moment.locale(this.$i18n.locale)
      return this.affiliateDetails.birthdate ? moment(this.affiliateDetails.birthdate).format('DD MM YYYY') : ''
    },
    isDisabled () {
      return !this.isEditing
    }
  },
  methods: {
    save () {
      this.isEditing = !this.isEditing
      this.hasSaved = true

      const setEmails = () => {
        var emails = []
        for (var i = 0; i < this.affiliateEmail.length; i++) {
          emails.push({email: this.affiliateEmail[i], primary: true})
        }
        return emails
      }

      const setPhoneNumbers = () => {
        var phoneNumbers = []
        var phone = ''
        for (var j = 0; j < this.affiliatePhoneNumbers.length; j++) {
          phone = this.affiliatePhoneNumbers[j].replace('0', '+58')
          phoneNumbers.push({phone_number: phone, primary: true})
        }
        return phoneNumbers
      }

      const setAddress = () => {
        var address = []
        address.push({address_line1: this.addressObject.address_line1, address_line2: this.addressObject.address_line2, region: this.addressObject.region.id, AddressType: 'HOME', last_update_user: this.$store.state.login.authUser.pk, unknown_region: this.addressObject.unknown_region})
        return address
      }

      const data = {
        affiliate: this.affiliateDetails.id,
        first_name: this.firstName,
        last_name: this.lastName,
        emails: setEmails(),
        phone_numbers: setPhoneNumbers(),
        gender: this.affiliateGender.code,
        birthdate: this.affiliateBirthdate,
        affiliate_addresses: (this.addressObject !== undefined && this.addressObject !== null && this.addressObject.region !== undefined) ? setAddress() : []
      }

      var message = ''
      if (setEmails().length !== 0) {
        message = this.$t('affiliate_update_success')
      } else {
        message = this.$t('affiliate_update_success') + '\n\n' + this.$t('email_empty_message')
      }
      this.$store.dispatch('editAffiliate', data).then(() => {
        this.$store.dispatch('getAttentionDetails', window.sessionStorage.getItem('selectedAttention'))
        this.text = message
        this.color = 'success'
        this.timeout = 6000
        this.snackbar = true
      }).catch(() => {
        this.text = this.$t('error_check_data')
        this.color = 'red'
        this.timeout = 6000
        this.snackbar = true
      })
    },
    displayEmails: item => item.emails,
    updateEmailTags () {
      this.$nextTick(() => {
        this.select.push(...this.searchEmail.split(','))
        this.$nextTick(() => {
          this.searchEmail = ''
        })
      })
    },
    updatePhoneNumberTags () {
      this.$nextTick(() => {
        this.select.push(...this.searchPhoneNumber.split(','))
        this.$nextTick(() => {
          this.searchPhoneNumber = ''
        })
      })
    },
    getEmails () {
      var emails = []
      for (var i = 0; i < this.affiliateDetails.emails.length; i++) {
        emails.push(this.affiliateDetails.emails[i].email)
      }
      return emails
    },
    getPhoneNumbers () {
      var phoneNumbers = []
      for (var i = 0; i < this.affiliateDetails.phone_numbers.length; i++) {
        phoneNumbers.push(this.affiliateDetails.phone_numbers[i].phone_number.replace('+58', '0'))
      }
      return phoneNumbers
    },
    getAddress () {
      var address = ''
      if (this.affiliateDetails.affiliate_addresses[0]) {
        var addressLine2 = this.affiliateDetails.affiliate_addresses[0].address_line2 ? ' (' + this.affiliateDetails.affiliate_addresses[0].address_line2 + ')' : ''
        address = this.affiliateDetails.affiliate_addresses[0].unknown_region
          ? this.affiliateDetails.affiliate_addresses[0].address_line1 + ', ' + this.$t('unknown_region') + ', ' + this.affiliateDetails.affiliate_addresses[0].region.second_level.name + ', ' + this.affiliateDetails.affiliate_addresses[0].region.second_level.first_level.name + addressLine2
          : this.affiliateDetails.affiliate_addresses[0].address_line1 + ', ' + this.affiliateDetails.affiliate_addresses[0].region.name + ', ' + this.affiliateDetails.affiliate_addresses[0].region.second_level.name + ', ' + this.affiliateDetails.affiliate_addresses[0].region.second_level.first_level.name + addressLine2
      }
      return address
    },
    updateAge () {
      var age = moment().diff(moment(this.affiliateBirthdate, 'YYYYMMDD'), 'years')
      this.age = age
    },
    onAddressAssigned (...args) {
      const [address] = args
      var addressLine2 = address.address_line2 ? ' (' + address.address_line2 + ')' : ''
      this.address = address.unknown_region
        ? address.address_line1 + ', ' + this.$t('unknown_region') + ', ' + address.region.second_level.name + ', ' + address.region.second_level.first_level.name + addressLine2
        : address.address_line1 + ', ' + address.region.name + ', ' + address.region.second_level.name + ', ' + address.region.second_level.first_level.name + addressLine2
      this.addressObject = address
    }
  }
}

</script>

<style>
.v-chip--disabled {
  opacity: 1;
}
</style>
