<template>
  <v-row justify="center">
    <v-dialog v-model="show" fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar dark color="grey darken-1">
          <v-btn icon dark @click="show = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>{{ $t('attention_details') }}</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>

        <v-container>
          <v-breadcrumbs :items="titles" large></v-breadcrumbs>
          <v-layout>
            <v-flex sm12 md12>
              <v-layout>
            <v-flex sm6 md6>
              <General v-if="activeBtn===0" />
            </v-flex>
            <v-flex sm6 md6>
              <Affiliate v-if="activeBtn===0" />
            </v-flex>
              </v-layout>
              <AttentionServices v-if="activeBtn===1" :activatorType="1" />
              <AttachedDocuments v-if="activeBtn===2" :activatorType="1" />
            </v-flex>
          </v-layout>
        </v-container>

        <v-bottom-navigation
          :value="activeBtn"
          color="light-blue darken-1"
          position: auto
          grow
          mandatory
          absolute
        >
          <v-btn @click="activeBtn=0">
            <span>{{ $t('general_info') }}</span>
            <v-icon>mdi-information</v-icon>
          </v-btn>
          <v-btn @click="activeBtn=1">
            <span>{{ $t('services') }}</span>
            <v-icon>mdi-heart-pulse</v-icon>
          </v-btn>
          <v-btn @click="activeBtn=2">
            <span>{{ $t('attached_documents') }}</span>
            <v-icon>mdi-file-document</v-icon>
          </v-btn>
        </v-bottom-navigation>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import General from '@/components/attentions/attention_details/attention_tabs/General'
import Affiliate from '@/components/attentions/attention_details/attention_tabs/Affiliate'
import AttentionServices from '@/components/attentions/attention_details/attention_services/AttentionServices'
import AttachedDocuments from '@/components/attentions/attention_details/AttachedDocuments'

/*
  El componente `<AttentionDetailsDialog>` se utiliza para mostrar los
  detalles de una atención que es requerida desde el historial de atenciones
  de un afiliado determinado desde el componente `<AttentionsDetails>`.

  Desde aqui se accede a los componentes: `<General>`, `<Affiliate>` que se
  encuentran en la carpeta attentions > attention_details > attention_tabs. Ademas, se accede al componente
  `<AttentionServices>` de la carpeta attentions > attention_details > attention_services,
  así como tambien al componente `<AttachedDocuments>` de la carpeta attentions > attention_details

  `<AttentionDetailsDialog>` es hijo del componente `<AttentionsDetails>`, que
  a su vez es hijo del componente `<AffiliatesTable>`.

  ---

  The `<AttentionDetailsDialog>` component is used to display the
  details of an attention that is required from the care history
  of a given affiliate from the `<AttentionsDetails>` component.

  From here, you can access the components: `<General>`, `<Affiliate>` that you
  are found in the attentions > attention_details > attention_tabs folder. Also, you can access
  the `<AttentionServices>` component from attentions > attention_details > attention_services folder, and the component
  `<AttachedDocuments>` from attentions > attention_details folder too.

  AttentionDetailsDialog>` is a child of the AttentionsDetails>` component, which
  in turn is a child of the `<AffiliatesTable>` component.

  @author Ixhel Mejías, Adriana Tiso
 */

export default {
  components: {General, Affiliate, AttentionServices, AttachedDocuments},
  data () {
    return {
      activeBtn: 1,
      titles: []
    }
  },
  beforeUpdate () {
    this.titles = [
      {
        text: this.$t('care_history'),
        disabled: true
      },
      {
        text: this.$t('attention') + ' ' + window.sessionStorage.getItem('selectedAttention'),
        disabled: true
      }
    ]
  },
  computed: {
    show: {
      get () {
        return this.visible
      },
      set (value) {
        if (!value) {
          this.$emit('close')
          this.$store.dispatch('deleteServiceDetails')
          window.sessionStorage.removeItem('selectedService')
        }
      }
    }
  },
  props: {
    visible: Boolean
  }
}
</script>
