<template>
  <v-card color="grey lighten-5">
    <v-card-text>
      <v-container fluid>
        <v-data-table
          :headers="headers"
          :items="data"
          dense
          :loading="loading"
          :options.sync="pagination"
          :no-results-text="$t('no_matching_records')"
          :no-data-text="$t('no_data_available')"
          :loading-text="$t('loading')"
          hide-default-footer
        >
          <!-- <template v-slot:item.user="{ item }">
            {{ item.user.first_name }} {{ item.user.last_name }}
          </template> -->
          <template v-slot:item.created="{ item }">
            {{ formatCreatedDate(item.created) }}
          </template>
          <template v-slot:item.services="{ item }">
            <div>
              <v-chip v-for="tag in formatServices(item)" :key="tag.key" :color="getServiceColor(tag.status)" dark x-small class="ma-2">
                <h3>{{ tag.service }}</h3>
              </v-chip>
            </div>
          </template>
          <template v-slot:item.actions="{ item }">
            <div class="justify-center">
              <v-container grid-list-md>
                <v-layout wrap justify-space-between>
                  <v-flex xs12 sm2 md2
                    v-if="activatorType === 1">
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on }">
                        <v-icon
                          class="mr-2"
                          @click="showDetails(item)"
                          v-on="on"
                        >
                          mdi-launch
                        </v-icon>
                      </template>
                      <span>{{ $t('see_details') }}</span>
                    </v-tooltip>
                  </v-flex>
                </v-layout>
              </v-container>
            </div>
          </template>
        </v-data-table>
        <AttentionDetailsDialog :visible="showAttentionDetailsDialog" @close="showAttentionDetailsDialog=false" />
        <div class="text-xs-center pt-2 md4 lg4" v-if="pages>1">
            <v-pagination
              @input="paginationChangeHandler"
              :value="pagination.page"
              :length="pages"
              :total-visible="7"
              circle
              color="light-blue darken-1"
            ></v-pagination>
          </div>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
import moment from 'moment'
import { mapGetters } from 'vuex'
import axios from 'axios'
import AttentionDetailsDialog from '@/components/attentions/attention_details/attention_tabs/AttentionDetailsDialog'

/*
  El componente `<CareHistory>` se utiliza para mostrar en un
  listado las atenciones previas al afiliado que esta en proceso de atención.

  `<CareHistory>` es hijo del componente `<AttentionsDetails>`.

  ---

  The `<CareHistory>` component is used to display in a
  list the previous attentions given to the affiliate who is in
  the process of an attention.

  `<CareHistory>` is child of the `<AttentionsDetails>` component.

  @author Ixhel Mejías, Adriana Tiso
*/

export default {
  components: {AttentionDetailsDialog},
  data () {
    return {
      loading: false,
      pagination: { totalItems: this.$store.getters.attentionHistoryItemsByAffiliate.count, rowsPerPage: 10, page: 1 },
      data: [],
      headers: [
        { text: this.$t('number'), align: 'left', value: 'id' },
        { text: this.$t('date_time'), value: 'created' },
        { text: this.$t('reason_for_care'), sortable: false, value: 'reason_for_care' },
        { text: this.$t('services'), sortable: false, value: 'services' },
        {text: '', sortable: false, value: 'actions'}
      ],
      showAttentionDetailsDialog: false
    }
  },
  created () {
    if (this.affiliateDetails.id) {
      this.getData()
      this.$store.dispatch('getAttentionHistoryItemsByAffiliate', this.affiliateDetails.id)

      this.unwatchAttentionCount = this.$store.watch(() => this.$store.getters.attentionHistoryItemsByAffiliate.count, attentionCount => {
        this.pagination.totalItems = this.$store.getters.attentionHistoryItemsByAffiliate.count
      })
    }
  },
  watch: { // Watch for a change in affiliate details in order to update correctly care history in affiliates table
    affiliateDetails: function () { // TODO: watch for affiliate ID instead to avoid unnecesary updates
      this.getData()
      this.$store.dispatch('getAttentionHistoryItemsByAffiliate', this.affiliateDetails.id)

      this.unwatchAttentionCount = this.$store.watch(() => this.$store.getters.attentionHistoryItemsByAffiliate.count, attentionCount => {
        this.pagination.totalItems = this.$store.getters.attentionHistoryItemsByAffiliate.count
        if (this.unwatchAttentionCount) {
          this.unwatchAttentionCount()
        }
      })
    }
  },
  beforeDestroy () {
    if (this.unwatchAttentionCount) {
      this.unwatchAttentionCount()
    }
  },
  computed: {
    ...mapGetters([
      // map this.affiliateDetails to this.$store.getters.affiliateDetails
      'affiliateDetails',
      'serviceTypes'
    ]),
    pages () {
      if (
        this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      ) {
        return 0
      }

      return Math.ceil(
        this.pagination.totalItems / this.pagination.rowsPerPage
      )
    }
  },
  methods: {
    formatCreatedDate (date) {
      return date ? moment(date).format('DD/MM/YYYY h:mm a') : ''
    },
    formatServices (item) {
      var services = []
      var serviceChips = []

      if (item.services_tmg_attention.length !== 0) {
        for (var i = 0; i < item.services_tmg_attention.length; i++) {
          item.services_tmg_attention[i].service_type = this.serviceTypes.find(service => service.id === 2)
          services.push(item.services_tmg_attention[i])
        }
      }
      if (item.services_hhc_attention.length !== 0) {
        for (var j = 0; j < item.services_hhc_attention.length; j++) {
          item.services_hhc_attention[j].service_type = this.serviceTypes.find(service => service.id === 1)
          services.push(item.services_hhc_attention[j])
        }
      }
      if (item.services_transfer_attention.length !== 0) {
        for (var k = 0; k < item.services_transfer_attention.length; k++) {
          item.services_transfer_attention[k].service_type = this.serviceTypes.find(service => service.id === 3)
          services.push(item.services_transfer_attention[k])
        }
      }
      if (item.services_hmd_attention.length !== 0) {
        for (var l = 0; l < item.services_hmd_attention.length; l++) {
          item.services_hmd_attention[l].service_type = this.serviceTypes.find(service => service.id === 4)
          services.push(item.services_hmd_attention[l])
        }
      }
      if (item.services_hhp_attention.length !== 0) {
        for (var m = 0; m < item.services_hhp_attention.length; m++) {
          item.services_hhp_attention[m].service_type = this.serviceTypes.find(service => service.id === 5)
          services.push(item.services_hhp_attention[m])
        }
      }
      if (item.services_lab_attention.length !== 0) {
        for (var n = 0; n < item.services_lab_attention.length; n++) {
          item.services_lab_attention[n].service_type = this.serviceTypes.find(service => service.id === 6)
          services.push(item.services_lab_attention[n])
        }
      }

      //  TODO: include diagnosis
      for (var count = 0; count < services.length; count++) {
        var serviceChipData = {key: '', service: '', status: ''}
        serviceChipData.key = services[count].service_type.code + '-' + services[count].id
        if (services[count].destination_address) {
          serviceChipData.service = services[count].service_type.code + ' | ' + services[count].destination_address.region.second_level.first_level.name
          if (services[count].crew) {
            if (!services[count].crew.base.base_name.includes('Venemergencia') && !services[count].crew.base.base_name.includes('venemergencia') && !services[count].crew.base.base_name.includes('VENEMERGENCIA')) {
              serviceChipData.service = services[count].service_type.code + ' | ' + services[count].destination_address.region.second_level.first_level.name + ' | ' + services[count].crew.name
            } else {
              serviceChipData.service = services[count].service_type.code + ' | ' + services[count].destination_address.region.second_level.first_level.name + ' | ' + services[count].crew.mobile_unit.codename
            }
          }
        } else {
          serviceChipData.service = services[count].service_type.code
        }

        if (services[count].policy && services[count].policy.plan) {
          serviceChipData.service = services[count].policy.plan.organization.code + ' | ' + serviceChipData.service
        }

        serviceChipData.status = services[count].status
        serviceChips.push(serviceChipData)
      }
      return serviceChips
    },
    paginationChangeHandler (pageNumber) {
      this.pagination.page = pageNumber
      this.getData()
    },
    getData () {
      this.loading = true
      let url = `${process.env.ROOT_API}api/v1/attentions?affiliate=${this.affiliateDetails.id}&limit=${this.pagination.rowsPerPage}&offset=${(this.pagination.page - 1) * this.pagination.rowsPerPage}`
      axios.get(url, {
        headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
          'Content-Type': 'application/json'
        }
      }).then(response => {
        this.loading = false
        this.setData(response.data.results)
      })
    },
    setData (results) {
      this.data = results
    },
    getServiceColor (status) {
      if (status === 'Abierto') return 'orange' // OPEN
      else if (status === 'Retrasado') return 'red' // DELAYED
      else if (status === 'En progreso') return 'green' // IN_PROGRESS
      else if (status === 'Completado') return 'blue' // COMPLETED
      else if (status === 'Cancelado') return 'grey' // CANCELED
      else if (status === 'Cerrado') return 'grey' // CLOSED
    },
    showDetails (item) {
      window.sessionStorage.setItem('selectedAttention', String(item.id))
      this.$store.dispatch('getAttentionDetails', window.sessionStorage.getItem('selectedAttention'))

      this.unwatchAttention = this.$store.watch(() => this.$store.getters.attentionDetails, attentionDetails => {
        this.showAttentionDetailsDialog = true
      })
    }
  },
  props: {
    activatorType: Number // 1: from affiliates table, 2: from attention details
  }
}
</script>
