<template>
  <v-card color="grey lighten-5">
    <v-card-text>
      <v-container fluid>
        <v-dialog v-model="dialog" max-width="500px">
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="editedItem.type" :label="$t('type')" color="light-blue darken-1"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="editedItem.status" :label="$t('status')" color="light-blue darken-1"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="editedItem.date" :label="$t('date')" color="light-blue darken-1"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="editedItem.next_date" :label="$t('next_date')" color="light-blue darken-1"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm12 md12>
                    <v-text-field v-model="editedItem.description" :label="$t('description')" color="light-blue darken-1"></v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-btn color="white" @click="close()">{{ $t('cancel') }}</v-btn>
              <v-spacer></v-spacer>
              <v-btn color="success" @click="save()">{{ $t('save') }}</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-data-table
          :headers="headers"
          :items="followUpItems"
          dense
          :items-per-page="5"
          :no-data-text="$t('no_data_available')"
          :options.sync="pagination"
          hide-default-footer
        >
          <template v-slot:item.date="{ item }">
            {{ formatDate(item.date) }}
          </template>
          <template v-slot:item.next_date="{ item }">
            {{ formatDate(item.next_date) }}
          </template>
          <template v-slot:item.actions="{ item }" v-if="permissions">
            <td class="justify-center">
              <v-icon
                small
                class="mr-2"
                @click="editItem(item)"
              >
                edit
              </v-icon>
              <v-icon
                small
                @click="deleteItem(item)"
              >
                delete
              </v-icon>
            </td>
          </template>
          <template v-slot:item.actions="{ }" v-else>
            {{ $t('not_available') }}
          </template>
        </v-data-table>
        <div class="text-xs-center pt-2 md4 lg4" v-if="pages>1">
          <v-pagination
            @input="paginationChangeHandler"
            :value="pagination.page"
            :length="pages"
            :total-visible="7"
            circle
            color="light-blue darken-1"
          ></v-pagination>
        </div>
        <v-banner v-if="permissions">
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
                <v-fab-transition>
                  <v-btn
                    small
                    button
                    right
                    fab
                    absolute
                    v-on="on"
                    style="z-index: 0"
                    @click="dialog = true"
                  >
                    <v-icon color="#3DCB5E" size="50">mdi-plus-circle</v-icon>
                  </v-btn>
                </v-fab-transition>
            </template>
              <span>{{ $t('add_new_follow_up') }}</span>
          </v-tooltip>
        </v-banner>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
import moment from 'moment'
import { mapGetters } from 'vuex'
import axios from 'axios'

/*
  El componente `<FollowUpCare>` no esta usado en el sistema, a desarrollarse a futuro

  ---
  
  The `<FollowUpCare>` component is not used in the system, to be developed in the future

  @author Ixhel Mejías, Adriana Tiso
*/

export default {
  data () {
    return {
      dialog: false,
      editedIndex: -1,
      editedItem: {
        type: '',
        status: '',
        date: '',
        next_date: '',
        description: ''
      },
      headers: [
        { text: this.$t('number'), align: 'left', value: 'id' },
        { text: this.$t('type'), sortable: false, value: 'type' },
        { text: this.$t('status'), value: 'status' },
        { text: this.$t('date'), sortable: true, value: 'date' },
        { text: this.$t('next_date'), sortable: true, value: 'next_date' },
        { text: this.$t('description'), sortable: false, value: 'description' },
        { text: this.$t('actions'), sortable: false, value: 'actions' }
      ],
      followUpItems: [
        {
          id: '001',
          type: 'Contacto Efectivo',
          status: 'Abierta',
          date: '02/02/2020',
          next_date: '02/29/2020',
          description: '-'
        }
      ],
      pagination: { totalItems: 4, rowsPerPage: 10, page: 1 } //  TODO: edit totalItems
    }
  },
  computed: {
    ...mapGetters([
      'roles'
    ]),
    permissions () {
      return this.roles.includes('Director') || this.roles.includes('Operador')
    },
    formTitle () {
      return this.editedIndex === -1 ? this.$t('new_follow_up') : this.$t('edit_follow_up')
    },
    pages () {
      if (
        this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      ) {
        return 0
      }

      return Math.ceil(
        this.pagination.totalItems / this.pagination.rowsPerPage
      )
    }
  },
  methods: {
    formatDate (date) {
      return date ? moment(date).format('D/M/YYYY') : ''
    },
    editItem (item) {
      this.editedIndex = this.followUpItems.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    deleteItem (item) {
      const index = this.followUpItems.indexOf(item)
      confirm('Are you sure you want to delete this item?') && this.followUpItems.splice(index, 1)
    },
    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },
    save () {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem)
      } else {
        this.followUpItems.push(this.editedItem)
      }
      this.close()
    },
    paginationChangeHandler (pageNumber) {
      this.pagination.page = pageNumber
      this.getData()
    },
    getData () {
      //  TODO: change url
      let url = `${process.env.ROOT_API}api/v1/attentions?limit=${this.pagination.rowsPerPage}&offset=${(this.pagination.page - 1) * this.pagination.rowsPerPage}`
      axios.get(url, {
        headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
          'Content-Type': 'application/json'
        }
      }).then(response => {
        this.setData(response.data.results)
      })
    },
    setData (results) {
      this.data = results
    }
  }
}
</script>
