<template>
  <v-card
    class="overflow-hidden"
    color="grey lighten-5"
  >
    <v-card-text>
      <v-container grid-list-md fluid>
        <v-layout row justify-space-between>
          <v-flex sm5 md5>
            <v-text-field
              v-model="formatDate"
              readonly
              color="light-blue darken-1"
              v-bind:label="$t('attention_created')"
              dense
            ></v-text-field>
          </v-flex>
          <v-flex sm7 md7>
            <v-text-field
              v-model="fullNameUser"
              readonly
              color="light-blue darken-1"
              v-bind:label="$t('attention_created_by')"
              dense
            ></v-text-field>
          </v-flex>
        </v-layout>

        <v-layout row justify-space-between>
          <v-flex sm12 md12>
            <v-textarea
              v-model="reasonForCare"
              v-bind:label="$t('reason_for_care')"
              color="light-blue darken-1"
              readonly
              auto-grow
              rows="1"
              row-height="15"
              dense
            ></v-textarea>
          </v-flex>
        </v-layout>

        <v-layout row justify-space-between>
          <v-flex sm12 md12>
            <v-textarea
              v-model="editedItem.observations"
              :readonly="!permissions"
              color="light-blue darken-1"
              v-bind:label="$t('observations')"
              auto-grow
              dense
              rows="1"
              row-height="15"
              @click="isEditing = true"
            ></v-textarea>
          </v-flex>

          <v-flex sm12 md12>
            <v-combobox
              v-model="editedItem.phoneNumberChips"
              :readonly="!permissions"
              v-mask="phoneMask"
              color="light-blue darken-1"
              v-bind:label="$t('contact_numbers')"
              v-bind:hint="$t('contact_numbers_attention')"
              persistent-hint
              small-chips
              multiple
              dense
              v-validate="{ required: true, min: 11, regex:/^(0(2[13456789][0-9]{8}|4[12][46][0-9]{7}|412[0-9]{7}))/ }"
              :error-messages="errors.collect('editedItem.phoneNumberChips')"
              data-vv-name="editedItem.phoneNumberChips"
              :data-vv-as="$t('contact_numbers')"
              @click="isEditing = true"
              deletable-chips
              class="tag-input"
              :search-input.sync="searchPhone"
              @keyup.tab="updatePhoneTags"
              @paste="updatePhoneTags"
            >
              <template v-slot:selection="data" v-if="!permissions">
                <v-chip class="ma-2" small>
                  {{ data.item }}
                </v-chip>
              </template>
            </v-combobox>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
    <v-divider v-if="permissions"></v-divider>
    <v-card-actions v-if="permissions">
      <v-spacer></v-spacer>
      <v-btn
        :disabled="errors.any() || isDisabled"
        color="success"
        @click="save"
      >
        {{ $t('save') }}
      </v-btn>
    </v-card-actions>
    <v-snackbar
      v-model="snackbar"
      :color="color"
      :timeout="timeout"
      absolute
    >
      {{ text }}
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        {{ $t('close') }}
      </v-btn>
    </v-snackbar>
  </v-card>

</template>

<script>
import { mapGetters } from 'vuex'
import moment from 'moment'
import { mask } from 'vue-the-mask'

/*
  El componente `<General>` se utiliza para mostrar información
  general de una atención específica, escogida a partir de una
  fila dentro de los listados de atenciones en en componente `<Attentions>`.

  `<General>` es hijo del componente `<AttentionsDetails>`.

  ---

  The `<General>` component is used to display information
  of a specific attention, chosen from a row within the listings
  of attentions in `<Attentions>` component.

  `<General>` is child of the `<AttentionsDetails>` component.

  @author Ixhel Mejías, Adriana Tiso
*/

export default {
  directives: {
    mask
  },
  data () {
    return {
      searchPhone: '',
      isEditing: false,
      model: null,
      snackbar: false,
      text: '',
      timeout: 6000,
      color: '',
      phoneMask: '0##########',
      editedItem: {
        observations: '',
        phoneNumberChips: []
      },
      reasonForCare: ''
    }
  },
  created () {
    this.editedItem.phoneNumberChips = this.getPhoneNumbers()
    this.editedItem.observations = this.attentionDetails.observations
    this.reasonForCare = this.attentionDetails.reason_for_care

    this.unwatchAttentionDetails = this.$store.watch(() => this.$store.getters.attentionDetails, attentionDetails => {
      this.editedItem.phoneNumberChips = this.getPhoneNumbers()
      this.editedItem.observations = this.$store.getters.attentionDetails.observations
      this.reasonForCare = this.$store.getters.attentionDetails.reason_for_care
      this.$nextTick(() => {
        this.$validator.reset()
      })
    })
  },
  beforeDestroy () {
    if (this.unwatchAttentionDetails) {
      this.unwatchAttentionDetails()
    }
  },
  computed: {
    ...mapGetters([
      // map this.attentionDetails to this.$store.getters.attentionDetails
      'attentionDetails',
      'roles'
    ]),
    permissions () {
      return this.roles.includes('Operador') || this.roles.includes('Médico') || this.roles.includes('Gerente') || this.roles.includes('Director') || this.roles.includes('Despachador')
    },
    fullNameAffiliate: {
      get () {
        return `${this.attentionDetails.affiliate.first_name} ${this.attentionDetails.affiliate.last_name}`
      },
      set (newValue) {
        const m = newValue.match(/(\S*)\s+(.*)/)

        this.attentionDetails.affiliate.first_name = m[1]
        this.attentionDetails.affiliate.last_name = m[2]
      }
    },
    fullNameUser: {
      get () {
        return `${this.attentionDetails.user.first_name} ${this.attentionDetails.user.last_name}`
      },
      set (newValue) {
        const m = newValue.match(/(\S*)\s+(.*)/)

        this.attentionDetails.user.first_name = m[1]
        this.attentionDetails.user.last_name = m[2]
      }
    },
    formatDate () {
      moment.locale(this.$i18n.locale)
      return moment(this.attentionDetails.created).format('D/M/YYYY h:mm a')
    },
    getColor () {
      if (this.attentionDetails.status === 'Abierta') return 'orange' // OPEN
      else if (this.attentionDetails.status === 'Cerrada') return 'grey' // CLOSED
    },
    isDisabled () {
      return !this.isEditing || !this.editedItem.phoneNumberChips || this.editedItem.phoneNumberChips.length === 0
    }
  },
  methods: {
    updatePhoneTags () {
      this.$nextTick(() => {
        this.select.push(...this.searchPhone.split(','))
        this.$nextTick(() => {
          this.searchPhone = ''
        })
      })
    },
    displayPhoneNumber: item => item.phone_number.replace('+58', '0'),
    save () {
      this.isEditing = !this.isEditing

      const setPhoneNumbers = () => {
        var phoneNumbers = []
        for (var i = 0; i < this.editedItem.phoneNumberChips.length; i++) {
          if (this.editedItem.phoneNumberChips[i].phone_number !== undefined) {
            phoneNumbers.push({phone_number: this.editedItem.phoneNumberChips[i].phone_number.replace('0', '+58')})
          } else {
            phoneNumbers.push({phone_number: this.editedItem.phoneNumberChips[i].replace('0', '+58')})
          }
        }
        return phoneNumbers
      }
      const data = {
        id: this.attentionDetails.id,
        observations: this.editedItem.observations,
        phone_numbers: setPhoneNumbers()
      }
      this.$store.dispatch('editAttention', data).then(() => {
        this.text = this.$t('attention_general_info_updated')
        this.color = 'success'
        this.timeout = 6000
        this.snackbar = true
      }).catch(() => {
        this.text = this.$t('error_check_data')
        this.color = 'red'
        this.timeout = 6000
        this.snackbar = true
      })
    },
    getPhoneNumbers () {
      var phoneNumbers = []

      for (var i = 0; i < this.attentionDetails.phone_numbers.length; i++) {
        phoneNumbers.push(this.attentionDetails.phone_numbers[i].phone_number.replace('+58', '0'))
      }
      return phoneNumbers
    }
  }
}
</script>
