<template>
  <v-card
    class="overflow-hidden"
    color="grey lighten-5"
  >
    <v-card-text v-if="permissions">
      <v-tooltip bottom>
      <template v-slot:activator="{ on }">
      <v-fab-transition>
        <v-btn
          button
          right
          fab
          absolute
          small
          @click="isEditing = !isEditing"
          v-on="on"
          style="z-index: 0"
        >
          <v-icon v-if="isEditing">mdi-close</v-icon>
          <v-icon v-else>mdi-pencil</v-icon>
        </v-btn>
      </v-fab-transition>
      </template>
      <span v-if="isEditing">{{ $t('cancel') }}</span>
      <span v-else-if="!isEditing">{{ $t('edit') }}</span>
      </v-tooltip>
    </v-card-text>
    <v-card-text>
      <v-container grid-list-md fluid>
        <v-layout row justify-space-between>
                <v-row justify="space-around">
                    <v-checkbox v-model="allergic" :disabled="!isEditing" color="light-blue darken-1" class="mx-2" v-bind:label="$t('allergic')"></v-checkbox>
                    <v-checkbox v-model="asthmatic" :disabled="!isEditing" color="light-blue darken-1" class="mx-2" v-bind:label="$t('asthmatic')"></v-checkbox>
                    <v-checkbox v-model="cardiac" :disabled="!isEditing" color="light-blue darken-1" class="mx-2" v-bind:label="$t('cardiac')"></v-checkbox>
                    <v-checkbox v-model="diabetic" :disabled="!isEditing" color="light-blue darken-1" class="mx-2" v-bind:label="$t('diabetic')"></v-checkbox>
                    <v-checkbox v-model="smoker" :disabled="!isEditing" color="light-blue darken-1" class="mx-2" v-bind:label="$t('smoker')"></v-checkbox>
                    <v-checkbox v-model="hypertensive" :disabled="!isEditing" color="light-blue darken-1" class="mx-2" v-bind:label="$t('hypertensive')"></v-checkbox>
                </v-row>
        </v-layout>

        <v-container grid-list-xl fluid>
        <v-layout row justify-space-between>
          <v-flex sm6 md6>
            <v-textarea
              background-color="white"
              color="light-blue darken-1"
              v-bind:label="$t('medical_history')"
              v-bind:hint="$t('medical_history_hint')"
              filled
              dense
              auto-grow
              rows="1"
              row-height="15"
              :disabled="!isEditing"
            ></v-textarea>
          </v-flex>
          <v-flex sm6 md6>
            <v-textarea
              background-color="white"
              :disabled="!isEditing"
              color="light-blue darken-1"
              v-bind:label="$t('surgical_history')"
              v-bind:hint="$t('surgical_history_hint')"
              filled
              dense
              auto-grow
              rows="1"
              row-height="15"
            ></v-textarea>
          </v-flex>
        </v-layout>
        <v-layout row justify-space-between>
          <v-flex sm6 md6>
            <v-textarea
              :disabled="!isEditing"
              background-color="white"
              color="light-blue darken-1"
              v-bind:label="$t('allergy')"
              v-bind:hint="$t('allergy_hint')"
              filled
              dense
              auto-grow
              rows="1"
              row-height="15"
            ></v-textarea>
          </v-flex>
          <v-flex sm6 md6>
            <v-textarea
              background-color="white"
              :disabled="!isEditing"
              color="light-blue darken-1"
              v-bind:label="$t('other')"
              v-bind:hint="$t('other_hint')"
              filled
              dense
              auto-grow
              rows="1"
              row-height="15"
            ></v-textarea>
          </v-flex>
        </v-layout>
      </v-container>

      </v-container>
    </v-card-text>
    <v-divider v-if="permissions"></v-divider>
    <v-card-actions v-if="permissions">
      <v-spacer></v-spacer>
      <v-btn
        :disabled="!isEditing"
        color="success"
        @click="save"
      >
        {{ $t('save') }}
      </v-btn>
    </v-card-actions>
    <v-snackbar
      v-model="hasSaved"
      :timeout="2000"
      absolute
      bottom
      left
    >
      {{ $t('pathological_history_updated') }}
    </v-snackbar>
  </v-card>

</template>

<script>
import { mapGetters } from 'vuex'

/*
  El componente `<PathologicalHistory>` no esta usado en el sistema, a desarrollarse a futuro

  ---
  
  The `<PathologicalHistory>` component is not used in the system, to be developed in the future

  @author Ixhel Mejías, Adriana Tiso
*/

export default {
  data () {
    return {
      hasSaved: false,
      isEditing: null,
      allergic: null,
      asthmatic: null,
      cardiac: null,
      diabetic: null,
      smoker: null,
      hypertensive: null
    }
  },

  computed: {
    ...mapGetters([
      // map this.affiliateDetails to this.$store.getters.affiliateDetails
      'affiliateDetails',
      'getAffiliatePolicies',
      'roles'
    ]),
    permissions () {
      return this.roles.includes('Director') || this.roles.includes('Médico')
    }
  },
  methods: {
    save () {
      this.isEditing = !this.isEditing
      this.hasSaved = true
    }
  }
}
</script>
