<template>
  <div>
    <v-tabs
      class="elevation-2"
      color="light-blue darken-1"
    >
      <v-tabs-slider hide-slider></v-tabs-slider>
      <v-tab
        v-for="i in affiliateDetails.policies.length"
        :key="i"
        :href="`#tab-${i}`"
      >
        {{ affiliateDetails.policies[i-1].policy.code }}
      </v-tab>
      <v-tab-item
        v-for="i in affiliateDetails.policies.length"
        :key="i"
        :value="'tab-' + i"
      >
        <v-card
          class="overflow-hidden"
          color="grey lighten-5"
        >
          <v-card-text>
            <v-container grid-list-md fluid>
              <v-layout row justify-space-between>
                <v-flex sm12 md12>
                  <v-text-field
                    v-model="affiliateDetails.policies[i-1].policy.plan.organization.name"
                    readonly
                    color="light-blue darken-1"
                    v-bind:label="$t('organization')"
                    data-vv-name="organization"
                    dense
                  ></v-text-field>
                </v-flex>
                <v-flex sm12 md12>
                  <v-text-field
                    v-model="affiliateDetails.policies[i-1].policy.plan.name"
                    readonly
                    color="light-blue darken-1"
                    v-bind:label="$t('plan')"
                    data-vv-name="plan"
                    dense
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row justify-space-between>
                </v-layout>
            </v-container>
            {{ $t('policy_beneficiary') }}
            <v-divider class="mx-4"></v-divider>
            <br />
            <v-data-table
              :headers="headers"
              :items="affiliateDetails.policies[i-1].policy.affiliates"
              dense
              :loading="loading"
              :options.sync="pagination"
              :no-results-text="$t('no_matching_records')"
              :no-data-text="$t('no_data_available')"
              hide-default-footer
            >
            <template v-slot:item.kinship="{ item }">
            {{ getKinship(item.kinship) }}
          </template>
            </v-data-table>
            <div class="text-xs-center pt-2 md4 lg4" v-if="pages>1">
                <v-pagination
                  @input="paginationChangeHandler"
                  :value="pagination.page"
                  :length="pages"
                  :total-visible="7"
                  circle
                  color="light-blue darken-1"
                ></v-pagination>
              </div>
          </v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import moment from 'moment'

/*
  El componente `<Policy>` se utiliza para mostrar información acerca de las
  pólizas de un afiliado: organización, plan y beneficiarios.

  `<Policy>` es hijo del componente `<AttentionsDetails>`.

  ---

  The `<Policy>` component is used to display information about an
  affiliate's policies: organization, plan and beneficiaries.

  `<Policy>` is child of the `<AttentionsDetails>` component.

  @author Ixhel Mejías, Adriana Tiso
 */

export default {
  data () {
    return {
      loading: false,
      pagination: { totalItems: this.$store.getters.affiliateDetails.count, rowsPerPage: 10, page: 1 },
      headers: [
        { text: this.$t('first_name'), value: 'affiliate.first_name' },
        { text: this.$t('last_name'), value: 'affiliate.last_name' },
        { text: this.$t('idnumber'), value: 'affiliate.dni' },
        { text: this.$t('linkage'), align: 'center', value: 'kinship' }
      ],
      data: [],
      isEditing: null,
      model: null,
      genderItems: [
        'Masculino',
        'Femenino'
      ]
    }
  },
  computed: {
    ...mapGetters([
      // map this.affiliateDetails to this.$store.getters.affiliateDetails
      'affiliateDetails',
      'getAffiliatePolicies',
      'policyDetails',
      'getAffiliateDetails'
    ]),
    pages () {
      if (
        this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      ) {
        return 0
      }

      return Math.ceil(
        this.pagination.totalItems / this.pagination.rowsPerPage
      )
    },
    fullNameAffiliate: {
      get () {
        return `${this.affiliateDetails.first_name} ${this.affiliateDetails.last_name}`
      },
      set (newValue) {
        const m = newValue.match(/(\S*)\s+(.*)/)

        this.affiliateDetails.first_name = m[1]
        this.affiliateDetails.last_name = m[2]
      }
    },
    affiliateStatusColor () {
      if (this.affiliateDetails.is_active) return 'success'
      else return 'warning'
    },
    dateFormattedMomentjs () {
      moment.locale(this.$i18n.locale)
      return moment(this.affiliateDetails.birthdate).format('MMMM Do YYYY')
    }
  },
  methods: {
    getKinship (kinship) {
      if (kinship === 'HOLDER') return 'Titular'
      else if (kinship === 'OFFSPRING') return 'Hijo'
      else if (kinship === 'COUSIN') return 'Primo'
      else if (kinship === 'BROTHER_IN_LAW') return 'Cuñado'
      else if (kinship === 'INLAW') return 'Suegro'
      else if (kinship === 'POLITICAL_CHILD') return 'Hijo político'
      else if (kinship === 'GRANDPARENT') return 'Abuelo'
      else if (kinship === 'PAYER') return 'Pagador'
      else if (kinship === 'NEPHEW') return 'Sobrino'
      else if (kinship === 'SIBLING') return 'Hermano'
      else if (kinship === 'UNCLE') return 'Tío'
      else if (kinship === 'PARENT') return 'Padre'
      else if (kinship === 'SPOUSE') return 'Cónyuge'
      else if (kinship === 'GRANDCHILD') return 'Nieto'
      else if (kinship === 'OTHER') return 'Otro'
    }
  }
}
</script>
