<template>
  <div>
    <v-stepper v-model="currentStep" alt-labels>
      <v-stepper-header>
        <!--
          The edition option is available only in these cases:
          - The user practitioner role is Dispatcher and the service provider is external and the service type is HHC or Transfer.
        -->
        <v-card-text
          v-if="(permissions &&
          (serviceDetails.service_type.id === 1 || serviceDetails.service_type.id === 3 || serviceDetails.service_type.id === 4))"
        >
          <v-tooltip bottom>
          <template v-slot:activator="{ on }">
          <v-fab-transition>
            <v-btn
              button
              right
              fab
              absolute
              small
              @click="isEditing = !isEditing, assignDatetimes(), editWorkflow = true"
              v-on="on"
              style="z-index: 0"
              :disabled="serviceDetails.crew === null || serviceDetails.destination_address === null"
            >
              <v-icon v-if="isEditing">mdi-close</v-icon>
              <v-icon v-else>mdi-pencil</v-icon>
            </v-btn>
          </v-fab-transition>
          </template>
          <span v-if="isEditing">{{ $t('cancel') }}</span>
          <span v-else-if="!isEditing">{{ $t('edit') }}</span>
          </v-tooltip>
          <br />
        </v-card-text>

        <v-card-text>
          <v-container grid-list-xs>
            <v-layout row justify-space-between>
              <v-flex sm2 md2>
                <v-icon large :color="getIconsColor(1)">mdi-send</v-icon>
                <v-stepper-step :complete="currentStep > 1" step="1" color="light-blue darken-1">
                  <p class="text-center"> {{ $t('dispatch') }} </p>
                </v-stepper-step>
                <small style="color:black"> {{ formatDatetime(dispatchDatetime) }} </small>
              </v-flex>
              <v-divider class="mx-1"></v-divider>
              <v-flex sm2 md2>
                <v-icon large :color="getIconsColor(2)">mdi-ambulance</v-icon>
                <v-stepper-step :complete="currentStep > 2" step="2" color="light-blue darken-1">
                  <p class="text-center"> {{ $t('departure_base') }} </p>
                </v-stepper-step>
                <small style="color:black"> {{ formatDatetime(baseDepartureDatetime) }} </small>
              </v-flex>
              <v-divider class="mx-1"></v-divider>
              <v-flex sm2 md2>
                <v-icon large :color="getIconsColor(3)">mdi-home</v-icon>
                <v-stepper-step :complete="currentStep > 3" step="3" color="light-blue darken-1">
                  <p class="text-center"> {{ $t('arrival_destination') }} </p>
                </v-stepper-step>
                <small style="color:black"> {{ formatDatetime(destinationArrivalDatetime) }} </small>
              </v-flex>
              <v-divider class="mx-1"></v-divider>
              <v-flex sm2 md2>
                <v-icon large :color="getIconsColor(4)">mdi-ambulance</v-icon>
                <v-stepper-step :complete="currentStep > 4" step="4" color="light-blue darken-1">
                  <p class="text-center"> {{ $t('departure_destination') }} </p>
                </v-stepper-step>
                <small style="color:black"> {{ formatDatetime(destinationDepartureDatetime) }} </small>
              </v-flex>
              <v-divider class="mx-1"></v-divider>
              <v-flex sm2 md2>
                <v-icon large :color="getIconsColor(5)">mdi-map-marker</v-icon>
                <v-stepper-step :complete="currentStep > 5" step="5" color="light-blue darken-1">
                  <p class="text-center"> {{ $t('arrival_base') }} </p>
                </v-stepper-step>
                <small style="color:black"> {{ formatDatetime(baseArrivalDatetime) }} </small>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
      </v-stepper-header>

      <v-stepper-items v-if="permissions">
        <v-stepper-content step="1">
          <v-tooltip bottom :disabled="stepCompletedButtonTooltipDisabled">
            <template v-slot:activator="{ on }">
              <div v-on="on">
                <v-btn
                  color="success"
                  :disabled="stepCompletedButtonDisabled"
                  @click="currentStep = 2, setDispatchDatetime()"
                >
                  {{ $t('step') +' 1 '+ $t('completed')}}
                </v-btn>
              </div>
            </template>
            <span>{{ $t('start_service_message') }}</span>
          </v-tooltip>
        </v-stepper-content>
        <v-stepper-content step="2">
          <v-btn
            color="success"
            :disabled="(serviceDetails.status === 'Completado' || serviceDetails.status === 'Cancelado' || serviceDetails.status === 'Cerrado')"
            @click="currentStep = 3, setBaseDepartureDatetime()"
          >
            {{ $t('step') +' 2 '+ $t('completed')}}
          </v-btn>
        </v-stepper-content>
        <v-stepper-content step="3">
          <v-btn
            color="success"
            :disabled="(serviceDetails.status === 'Completado' || serviceDetails.status === 'Cancelado' || serviceDetails.status === 'Cerrado')"
            @click="currentStep = 4, setDestinationArrivalDatetime()"
          >
            {{ $t('step') +' 3 '+ $t('completed')}}
          </v-btn>
        </v-stepper-content>
        <v-stepper-content step="4">
          <v-btn
            color="success"
            :disabled="(serviceDetails.status === 'Completado' || serviceDetails.status === 'Cancelado' || serviceDetails.status === 'Cerrado')"
            @click="currentStep = 5, setDestinationDepartureDatetime()"
          >
            {{ $t('step') +' 4 '+ $t('completed')}}
          </v-btn>
        </v-stepper-content>
        <v-stepper-content step="5">
          <v-btn
            color="success"
            :disabled="(serviceDetails.status === 'Completado' || serviceDetails.status === 'Cancelado' || serviceDetails.status === 'Cerrado')"
            @click="currentStep = 6, setBaseArrivalDatetime()"
          >
            {{ $t('step') +' 5 '+ $t('completed')}}
          </v-btn>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>

    <v-dialog v-model="editWorkflow" persistent max-width="500px">
      <v-card>
        <v-card-title>
          <span class="headline">{{ $t('edit_datetimes') }}</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md dense>
            <v-layout row justify-space-between>
              <v-flex sm5 md5>
                <v-text-field
                  v-model="dispatchDate"
                  type="date"
                  :label="$t('dispatch_date')"
                  dense
                  v-validate="'required'"
                  :error-messages="errors.collect('dispatchDate')"
                  data-vv-name="dispatchDate"
                  :data-vv-as="$t('dispatch_date')"
                  :max="baseDepartureDate"
                  ref="step1"
                >
                </v-text-field>
              </v-flex>
              <v-flex sm5 md5>
                <v-text-field
                  v-model="dispatchTime"
                  type="time"
                  :label="$t('dispatch_time')"
                  dense
                  v-validate="'required'"
                  :error-messages="errors.collect('dispatchTime')"
                  data-vv-name="dispatchTime"
                  :data-vv-as="$t('dispatch_time')"
                ></v-text-field>
              </v-flex>

              <v-flex sm5 md5>
                <v-text-field
                  v-model="baseDepartureDate"
                  type="date"
                  :label="$t('base_departure_date')"
                  dense
                  v-validate="'date_format:yyyy-MM-dd|after:step1,true'"
                  :error-messages="errors.collect('baseDepartureDate')"
                  data-vv-name="baseDepartureDate"
                  :data-vv-as="$t('base_departure_date')"
                  :min="dispatchDate"
                  :max="destinationArrivalDate"
                  ref="step2"
                  :disabled="!dispatchDate || !dispatchTime"
                >
                </v-text-field>
              </v-flex>
              <v-flex sm5 md5>
                <v-text-field
                  v-model="baseDepartureTime"
                  type="time"
                  :label="$t('base_departure_time')"
                  dense
                  :disabled="!dispatchDate || !dispatchTime"
                ></v-text-field>
              </v-flex>

              <v-flex sm5 md5>
                <v-text-field
                  v-model="destinationArrivalDate"
                  type="date"
                  :label="$t('destination_arrival_date')"
                  dense
                  v-validate="'date_format:yyyy-MM-dd|after:step2,true'"
                  :error-messages="errors.collect('destinationArrivalDate')"
                  data-vv-name="destinationArrivalDate"
                  :data-vv-as="$t('destination_arrival_date')"
                  :min="baseDepartureDate"
                  :max="destinationDepartureDate"
                  ref="step3"
                  :disabled="!baseDepartureDate || !baseDepartureTime"
                >
                </v-text-field>
              </v-flex>
              <v-flex sm5 md5>
                <v-text-field
                  v-model="destinationArrivalTime"
                  type="time"
                  :label="$t('destination_arrival_time')"
                  dense
                  :disabled="!baseDepartureDate || !baseDepartureTime"
                ></v-text-field>
              </v-flex>

              <v-flex sm5 md5>
                <v-text-field
                  v-model="destinationDepartureDate"
                  type="date"
                  :label="$t('destination_departure_date')"
                  dense
                  v-validate="'date_format:yyyy-MM-dd|after:step3,true'"
                  :error-messages="errors.collect('destinationDepartureDate')"
                  data-vv-name="destinationDepartureDate"
                  :data-vv-as="$t('destination_departure_date')"
                  :min="destinationArrivalDate"
                  :max="baseArrivalDate"
                  ref="step4"
                  :disabled="!destinationArrivalDate || !destinationArrivalTime"
                >
                </v-text-field>
              </v-flex>
              <v-flex sm5 md5>
                <v-text-field
                  v-model="destinationDepartureTime"
                  type="time"
                  :label="$t('destination_departure_time')"
                  dense
                  :disabled="!destinationArrivalDate || !destinationArrivalTime"
                ></v-text-field>
              </v-flex>

              <v-flex sm5 md5>
                <v-text-field
                  v-model="baseArrivalDate"
                  type="date"
                  :label="$t('base_arrival_date')"
                  dense
                  v-validate="'date_format:yyyy-MM-dd|after:step4,true'"
                  :error-messages="errors.collect('baseArrivalDate')"
                  data-vv-name="baseArrivalDate"
                  :data-vv-as="$t('base_arrival_date')"
                  :min="destinationDepartureDate"
                  :disabled="!destinationDepartureDate || !destinationDepartureTime"
                >
                </v-text-field>
              </v-flex>
              <v-flex sm5 md5>
                <v-text-field
                  v-model="baseArrivalTime"
                  type="time"
                  :label="$t('base_arrival_time')"
                  dense
                  :disabled="!destinationDepartureDate || !destinationDepartureTime"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-btn
            color="white"
            @click.stop="isEditing = !isEditing, editWorkflow = false, resetForm()"
          >
            {{ $t('cancel') }}
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            color="success"
            @click.stop="saveDatetimes()"
            type="submit"
            :disabled="errors.any() || isDisabled"
          >
            {{ $t('save') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar
      v-model="snackbar"
      :color="color"
      :timeout="timeout"
      :top=true
      absolute
    >
      {{ text }}
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        {{ $t('close') }}
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import moment from 'moment'

/*
  El componente `<ServiceWorkflowHHC>` se utiliza para monitorear en cada etapa
  el flujo de trabajo dentro de los servicios AMD (HHC por su siglas en inglés).

  `<ServiceWorkflowHHC>` es hijo del componente `<ServiceDetails>`.

  ---

  The `<ServiceWorkflowHHC>` is used to monitor at each stage
  the workflow within HHC services

  `<ServiceWorkflowHHC>` is a child of the `<ServiceDetails>` component.

  @author Ixhel Mejías, Adriana Tiso
*/

export default {
  data () {
    return {
      currentStep: 1,
      dispatchDatetime: '',
      baseDepartureDatetime: '',
      destinationArrivalDatetime: '',
      destinationDepartureDatetime: '',
      baseArrivalDatetime: '',
      isEditing: false,
      editWorkflow: false,
      dispatchDate: '',
      dispatchTime: '',
      baseDepartureDate: '',
      baseDepartureTime: '',
      destinationArrivalDate: '',
      destinationArrivalTime: '',
      destinationDepartureDate: '',
      destinationDepartureTime: '',
      baseArrivalDate: '',
      baseArrivalTime: '',
      snackbar: false,
      text: '',
      timeout: 6000,
      color: ''
    }
  },
  created () {
    this.setDatetimes()

    this.unwatchServiceDetails = this.$store.watch(() => this.$store.getters.serviceDetails, serviceDetails => {
      this.setDatetimes()
    })
  },
  beforeDestroy () {
    if (this.unwatchServiceDetails) {
      this.unwatchServiceDetails()
    }
  },
  computed: {
    ...mapGetters([
      'serviceDetails',
      'roles'
    ]),
    permissions () {
      return this.roles.includes('Director') || this.roles.includes('Despachador') || this.roles.includes('Coordinador')
    },
    isDisabled () {
      var step1Datetime = this.dispatchDate && this.dispatchTime ? new Date(this.dispatchDate + ' ' + this.dispatchTime).toISOString() : null
      var step2Datetime = this.baseDepartureDate && this.baseDepartureTime ? new Date(this.baseDepartureDate + ' ' + this.baseDepartureTime).toISOString() : null
      var step3Datetime = this.destinationArrivalDate && this.destinationArrivalTime ? new Date(this.destinationArrivalDate + ' ' + this.destinationArrivalTime).toISOString() : null
      var step4Datetime = this.destinationDepartureDate && this.destinationDepartureTime ? new Date(this.destinationDepartureDate + ' ' + this.destinationDepartureTime).toISOString() : null
      var step5Datetime = this.baseArrivalDate && this.baseArrivalTime ? new Date(this.baseArrivalDate + ' ' + this.baseArrivalTime).toISOString() : null

      return !this.dispatchDate || !this.dispatchTime || moment(step1Datetime).isAfter(moment(step2Datetime)) || moment(step2Datetime).isAfter(moment(step3Datetime)) || moment(step3Datetime).isAfter(moment(step4Datetime)) || moment(step4Datetime).isAfter(moment(step5Datetime))
    },
    stepCompletedButtonDisabled () {
      return (this.serviceDetails.status === 'Completado' || this.serviceDetails.status === 'Cancelado' || this.serviceDetails.status === 'Cerrado' || this.serviceDetails.crew === null || this.serviceDetails.destination_address === null)
    },
    stepCompletedButtonTooltipDisabled () {
      return (this.serviceDetails.status === 'Completado' || this.serviceDetails.status === 'Cancelado' || this.serviceDetails.status === 'Cerrado')
    }
  },
  methods: {
    getIconsColor (step) {
      if (this.currentStep >= step) {
        return 'light-blue darken-1'
      } else {
        return 'grey'
      }
    },
    getCurrentDatetime () {
      var today = new Date()
      var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate()
      var time = today.getHours() + ':' + today.getMinutes() + ':' + today.getSeconds()
      var datetime = new Date(date + ' ' + time).toISOString()
      return datetime
    },
    setDispatchDatetime () {
      if (this.serviceDetails.dispatch_datetime !== null) {
        this.dispatchDatetime = this.serviceDetails.dispatch_datetime
      } else {
        this.dispatchDatetime = this.getCurrentDatetime()
        const data = {
          id: this.serviceDetails.id,
          status: 'IN_PROGRESS',
          service_type: this.serviceDetails.service_type.id,
          dispatch_datetime: this.dispatchDatetime,
          attendant: this.$store.state.login.authUser.pk
        }
        this.$store.dispatch('editService', data)
      }
    },
    setBaseDepartureDatetime () {
      if (this.serviceDetails.base_departure_datetime !== null) {
        this.baseDepartureDatetime = this.serviceDetails.base_departure_datetime
      } else {
        this.baseDepartureDatetime = this.getCurrentDatetime()
        const data = {
          id: this.serviceDetails.id,
          service_type: this.serviceDetails.service_type.id,
          base_departure_datetime: this.baseDepartureDatetime
        }
        this.$store.dispatch('editService', data)
      }
    },
    setDestinationArrivalDatetime () {
      if (this.serviceDetails.destination_arrival_datetime !== null) {
        this.destinationArrivalDatetime = this.serviceDetails.destination_arrival_datetime
      } else {
        this.destinationArrivalDatetime = this.getCurrentDatetime()
        const data = {
          id: this.serviceDetails.id,
          service_type: this.serviceDetails.service_type.id,
          destination_arrival_datetime: this.destinationArrivalDatetime
        }
        this.$store.dispatch('editService', data)
      }
    },
    setDestinationDepartureDatetime () {
      if (this.serviceDetails.destination_departure_datetime !== null) {
        this.destinationDepartureDatetime = this.serviceDetails.destination_departure_datetime
      } else {
        this.destinationDepartureDatetime = this.getCurrentDatetime()
        const data = {
          id: this.serviceDetails.id,
          service_type: this.serviceDetails.service_type.id,
          destination_departure_datetime: this.destinationDepartureDatetime
        }
        this.$store.dispatch('editService', data)
      }
    },
    setBaseArrivalDatetime () {
      if (this.serviceDetails.base_arrival_datetime !== null) {
        this.baseArrivalDatetime = this.serviceDetails.base_arrival_datetime
      } else {
        this.baseArrivalDatetime = this.getCurrentDatetime()
        const data = {
          id: this.serviceDetails.id,
          status: 'COMPLETED',
          service_type: this.serviceDetails.service_type.id,
          base_arrival_datetime: this.baseArrivalDatetime
        }
        this.$store.dispatch('editService', data)
      }
    },
    formatDatetime (datetime) {
      moment.locale(this.$i18n.locale)
      return datetime ? moment.utc(datetime).local().format('D/M/YYYY h:mm a') : ''
    },
    getCurrentStep () {
      if (this.serviceDetails.dispatch_datetime === null) {
        return 1
      } else if (this.serviceDetails.base_departure_datetime === null) {
        return 2
      } else if (this.serviceDetails.destination_arrival_datetime === null) {
        return 3
      } else if (this.serviceDetails.destination_departure_datetime === null) {
        return 4
      } else if (this.serviceDetails.base_arrival_datetime === null) {
        return 5
      } else {
        return 6
      }
    },
    setDatetimes () {
      this.dispatchDatetime = ''
      this.baseDepartureDatetime = ''
      this.destinationArrivalDatetime = ''
      this.destinationDepartureDatetime = ''
      this.baseArrivalDatetime = ''

      this.currentStep = this.getCurrentStep()

      if (this.currentStep === 2) {
        this.setDispatchDatetime()
      } else if (this.currentStep === 3) {
        this.setDispatchDatetime()
        this.setBaseDepartureDatetime()
      } else if (this.currentStep === 4) {
        this.setDispatchDatetime()
        this.setBaseDepartureDatetime()
        this.setDestinationArrivalDatetime()
      } else if (this.currentStep === 5) {
        this.setDispatchDatetime()
        this.setBaseDepartureDatetime()
        this.setDestinationArrivalDatetime()
        this.setDestinationDepartureDatetime()
      } else if (this.currentStep === 6) {
        this.setDispatchDatetime()
        this.setBaseDepartureDatetime()
        this.setDestinationArrivalDatetime()
        this.setDestinationDepartureDatetime()
        this.setBaseArrivalDatetime()
      }
    },
    assignDatetimes () {
      moment.locale(this.$i18n.locale)

      if (this.currentStep === 2) {
        this.dispatchDate = this.dispatchDatetime ? moment(this.dispatchDatetime).format('YYYY-MM-DD') : ''
        this.dispatchTime = this.dispatchDatetime ? moment(this.dispatchDatetime).format('HH:mm') : ''
      } else if (this.currentStep === 3) {
        this.dispatchDate = this.dispatchDatetime ? moment(this.dispatchDatetime).format('YYYY-MM-DD') : ''
        this.dispatchTime = this.dispatchDatetime ? moment(this.dispatchDatetime).format('HH:mm') : ''
        this.baseDepartureDate = this.baseDepartureDatetime ? moment(this.baseDepartureDatetime).format('YYYY-MM-DD') : ''
        this.baseDepartureTime = this.baseDepartureDatetime ? moment(this.baseDepartureDatetime).format('HH:mm') : ''
      } else if (this.currentStep === 4) {
        this.dispatchDate = this.dispatchDatetime ? moment(this.dispatchDatetime).format('YYYY-MM-DD') : ''
        this.dispatchTime = this.dispatchDatetime ? moment(this.dispatchDatetime).format('HH:mm') : ''
        this.baseDepartureDate = this.baseDepartureDatetime ? moment(this.baseDepartureDatetime).format('YYYY-MM-DD') : ''
        this.baseDepartureTime = this.baseDepartureDatetime ? moment(this.baseDepartureDatetime).format('HH:mm') : ''
        this.destinationArrivalDate = this.destinationArrivalDatetime ? moment(this.destinationArrivalDatetime).format('YYYY-MM-DD') : ''
        this.destinationArrivalTime = this.destinationArrivalDatetime ? moment(this.destinationArrivalDatetime).format('HH:mm') : ''
      } else if (this.currentStep === 5) {
        this.dispatchDate = this.dispatchDatetime ? moment(this.dispatchDatetime).format('YYYY-MM-DD') : ''
        this.dispatchTime = this.dispatchDatetime ? moment(this.dispatchDatetime).format('HH:mm') : ''
        this.baseDepartureDate = this.baseDepartureDatetime ? moment(this.baseDepartureDatetime).format('YYYY-MM-DD') : ''
        this.baseDepartureTime = this.baseDepartureDatetime ? moment(this.baseDepartureDatetime).format('HH:mm') : ''
        this.destinationArrivalDate = this.destinationArrivalDatetime ? moment(this.destinationArrivalDatetime).format('YYYY-MM-DD') : ''
        this.destinationArrivalTime = this.destinationArrivalDatetime ? moment(this.destinationArrivalDatetime).format('HH:mm') : ''
        this.destinationDepartureDate = this.destinationDepartureDatetime ? moment(this.destinationDepartureDatetime).format('YYYY-MM-DD') : ''
        this.destinationDepartureTime = this.destinationDepartureDatetime ? moment(this.destinationDepartureDatetime).format('HH:mm') : ''
      } else if (this.currentStep === 6) {
        this.dispatchDate = this.dispatchDatetime ? moment(this.dispatchDatetime).format('YYYY-MM-DD') : ''
        this.dispatchTime = this.dispatchDatetime ? moment(this.dispatchDatetime).format('HH:mm') : ''
        this.baseDepartureDate = this.baseDepartureDatetime ? moment(this.baseDepartureDatetime).format('YYYY-MM-DD') : ''
        this.baseDepartureTime = this.baseDepartureDatetime ? moment(this.baseDepartureDatetime).format('HH:mm') : ''
        this.destinationArrivalDate = this.destinationArrivalDatetime ? moment(this.destinationArrivalDatetime).format('YYYY-MM-DD') : ''
        this.destinationArrivalTime = this.destinationArrivalDatetime ? moment(this.destinationArrivalDatetime).format('HH:mm') : ''
        this.destinationDepartureDate = this.destinationDepartureDatetime ? moment(this.destinationDepartureDatetime).format('YYYY-MM-DD') : ''
        this.destinationDepartureTime = this.destinationDepartureDatetime ? moment(this.destinationDepartureDatetime).format('HH:mm') : ''
        this.baseArrivalDate = this.baseArrivalDatetime ? moment(this.baseArrivalDatetime).format('YYYY-MM-DD') : ''
        this.baseArrivalTime = this.baseArrivalDatetime ? moment(this.baseArrivalDatetime).format('HH:mm') : ''
      }
    },
    saveDatetimes () {
      var initialStatus = ''
      if (this.serviceDetails.status === 'Abierto') {
        initialStatus = 'OPEN'
      } else if (this.serviceDetails.status === 'Retrasado') {
        initialStatus = 'DELAYED'
      }

      const data = {
        id: this.serviceDetails.id,
        status: this.baseArrivalDate && this.baseArrivalTime ? 'COMPLETED'
          : (this.dispatchDate && this.dispatchTime ? 'IN_PROGRESS' : initialStatus),
        service_type: this.serviceDetails.service_type.id,
        dispatch_datetime: this.dispatchDate && this.dispatchTime ? new Date(this.dispatchDate + ' ' + this.dispatchTime).toISOString() : null,
        base_departure_datetime: this.baseDepartureDate && this.baseDepartureTime ? new Date(this.baseDepartureDate + ' ' + this.baseDepartureTime).toISOString() : null,
        destination_arrival_datetime: this.destinationArrivalDate && this.destinationArrivalTime ? new Date(this.destinationArrivalDate + ' ' + this.destinationArrivalTime).toISOString() : null,
        destination_departure_datetime: this.destinationDepartureDate && this.destinationDepartureTime ? new Date(this.destinationDepartureDate + ' ' + this.destinationDepartureTime).toISOString() : null,
        base_arrival_datetime: this.baseArrivalDate && this.baseArrivalTime ? new Date(this.baseArrivalDate + ' ' + this.baseArrivalTime).toISOString() : null,
        attendant: !this.serviceDetails.attendant ? this.$store.state.login.authUser.pk : this.serviceDetails.attendant.id
      }

      this.$store.dispatch('editService', data).then(() => {
        this.text = this.$t('service_workflow_datetimes_updated')
        this.color = 'success'
        this.timeout = 4000
        this.snackbar = true
        this.isEditing = !this.isEditing
        this.editWorkflow = false
        this.unwatchServiceDetails = this.$store.watch(() => this.$store.getters.serviceDetails, serviceDetails => {
          this.setDatetimes()
        })
      }).catch(() => {
        this.text = this.$t('error_check_data')
        this.color = 'red'
        this.timeout = 4000
        this.snackbar = true
      })
    },
    resetForm () {
      this.dispatchDate = ''
      this.dispatchTime = ''
      this.baseDepartureDate = ''
      this.baseDepartureTime = ''
      this.destinationArrivalDate = ''
      this.destinationArrivalTime = ''
      this.destinationDepartureDate = ''
      this.destinationDepartureTime = ''
      this.baseArrivalDate = ''
      this.baseArrivalTime = ''

      this.$nextTick(() => {
        this.$validator.reset()
      })
    }
  }
}
</script>
