<template>
  <div>
    <v-stepper v-model="currentStep" alt-labels>
      <v-stepper-header>
        <v-card-text v-if="permissions">
          <v-tooltip bottom>
          <template v-slot:activator="{ on }">
          <v-fab-transition>
            <v-btn
              button
              right
              fab
              absolute
              small
              @click="isEditing = !isEditing, assignDatetimes(), editWorkflow = true"
              v-on="on"
              style="z-index: 0"
            >
              <v-icon v-if="isEditing">mdi-close</v-icon>
              <v-icon v-else>mdi-pencil</v-icon>
            </v-btn>
          </v-fab-transition>
          </template>
          <span v-if="isEditing">{{ $t('cancel') }}</span>
          <span v-else-if="!isEditing">{{ $t('edit') }}</span>
          </v-tooltip>
          <br />
        </v-card-text>
        <v-card-text>
          <v-container grid-list-xs>
            <v-layout row justify-space-between>
                <v-flex xs3 sm3 md3></v-flex>
                <v-flex xs2 sm2 md2>
                    <v-icon large :color="getIconsColor(1)">mdi-phone-in-talk</v-icon>
                    <v-stepper-step :complete="currentStep > 1" step="1" color="light-blue darken-1">
                      <p class="text-center"> {{ $t('start') }} </p>
                    </v-stepper-step>
                    <small style="color:black"> {{ formatDatetime(callStartDatetime) }} </small>
                </v-flex>
                <v-divider class="mx-1"></v-divider>
                <v-flex xs2 sm2 md2>
                    <v-icon large :color="getIconsColor(2)">mdi-phone-hangup</v-icon>
                    <v-stepper-step :complete="currentStep > 2" step="2" color="light-blue darken-1">
                      <p class="text-center"> {{ $t('end') }} </p>
                    </v-stepper-step>
                    <small style="color:black"> {{ formatDatetime(callEndDatetime) }} </small>
                </v-flex>
                <v-flex xs3 sm3 md3></v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
      </v-stepper-header>

      <v-stepper-items v-if="permissions">
        <v-stepper-content step="1">
          <v-btn
            color="success"
            :disabled="(serviceDetails.status === 'Completado' || serviceDetails.status === 'Cancelado' || serviceDetails.status === 'Cerrado')"
            @click="currentStep = 2, setCallStartDatetime()"
          >
          {{ $t('step') +' 1 '+ $t('completed')}}
          </v-btn>
        </v-stepper-content>
        <v-stepper-content step="2">
          <v-tooltip bottom :disabled="!tmgCompleteServiceButtonIsDisabled && !(serviceDetails.send_email && attentionDetails.affiliate.emails.length === 0)">
            <template v-slot:activator="{ on }">
              <div v-on="on">
                <v-btn
                color="success"
                :disabled="tmgCompleteServiceButtonIsDisabled"
                @click="currentStep = 3, setCallEndDatetime()"
                >
                {{ $t('step') +' 2 '+ $t('completed')}}
                </v-btn>
              </div>
            </template>
            <span v-if="(serviceDetails.diagnoses.length === 0  && (serviceDetails.other_diagnoses === null || serviceDetails.other_diagnoses === ''))">
              {{ $t('tmg_complete_message') }}
              <br />
            </span>
            <span v-if="serviceDetails.send_email && attentionDetails.affiliate.emails.length === 0">
              {{ $t('email_not_assigned') }}
              <br />
            </span>
            <span v-else-if="serviceDetails.send_email && attentionDetails.affiliate.emails.length > 0">
              {{ $t('send_service_summary') }}
              <br />
            </span>
            <span v-if="(serviceDetails.request_medicine === '' ||
              serviceDetails.request_external_service === '' ||
              serviceDetails.request_medical_specialist === '' ||
              serviceDetails.request_advice === '' ||
              serviceDetails.request_lab_exam === '' ||
              serviceDetails.request_medical_indication === '')">
              {{ $t('tmg_requests_message') }}
            </span>
          </v-tooltip>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>

    <v-dialog v-model="editWorkflow" persistent max-width="500px">
      <v-card>
        <v-card-title>
          <span class="headline">{{ $t('edit_datetimes') }}</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md dense>
            <v-layout row justify-space-between>
              <v-flex sm5 md5>
                <v-text-field
                  v-model="callStartDate"
                  type="date"
                  :label="$t('call_start_date')"
                  dense
                  v-validate="'required'"
                  :error-messages="errors.collect('callStartDate')"
                  data-vv-name="callStartDate"
                  :data-vv-as="$t('call_start_date')"
                  :max="callEndDate"
                  ref="step1"
                >
                </v-text-field>
              </v-flex>
              <v-flex sm5 md5>
                <v-text-field
                  v-model="callStartTime"
                  type="time"
                  :label="$t('call_start_time')"
                  dense
                  v-validate="'required'"
                  :error-messages="errors.collect('callStartTime')"
                  data-vv-name="callStartTime"
                  :data-vv-as="$t('call_start_time')"
                ></v-text-field>
              </v-flex>

              <v-flex sm5 md5>
                <v-text-field
                  v-model="callEndDate"
                  type="date"
                  :label="$t('call_end_date')"
                  dense
                  v-validate="'date_format:yyyy-MM-dd|after:step1,true'"
                  :error-messages="errors.collect('callEndDate')"
                  data-vv-name="callEndDate"
                  :data-vv-as="$t('call_end_date')"
                  :min="callStartDate"
                  :disabled="!callStartDate || !callStartTime"
                >
                </v-text-field>
              </v-flex>
              <v-flex sm5 md5>
                <v-text-field
                  v-model="callEndTime"
                  type="time"
                  :label="$t('call_end_time')"
                  dense
                  :disabled="!callStartDate || !callStartTime"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-btn
            color="white"
            @click.stop="isEditing = !isEditing, editWorkflow = false, resetForm()"
          >
            {{ $t('cancel') }}
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            color="success"
            @click.stop="saveDatetimes()"
            type="submit"
            :disabled="errors.any() || isDisabled"
          >
            {{ $t('save') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar
      v-model="snackbar"
      :color="color"
      :timeout="timeout"
      :top=true
      absolute
    >
      {{ text }}
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        {{ $t('close') }}
      </v-btn>
    </v-snackbar>
    <v-dialog v-model="showProgressDialog" persistent max-width="300px">
      <v-card>
        <v-card-text>
          <br />
          <span>{{ $t('sending_email') }}</span>
          <br /> <br />
          <v-progress-linear
            indeterminate
            color="light-blue darken-1"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import moment from 'moment'
import axios from 'axios'

/*
  El componente `<ServiceWorkflowTMG>` se utiliza para monitorear en cada etapa
  el flujo de trabajo dentro de los servicios OMT (TMG por su siglas en inglés).

  `<ServiceWorkflowTMG>` es hijo del componente `<ServiceDetails>`.

  ---

  The `<ServiceWorkflowTMG>` is used to monitor at each stage
  the workflow within TMG services

  `<ServiceWorkflowTMG>` is a child of the `<ServiceDetails>` component.

  @author Ixhel Mejías, Adriana Tiso
*/

export default {
  data () {
    return {
      currentStep: null,
      callStartDatetime: '',
      callEndDatetime: '',
      isEditing: false,
      editWorkflow: false,
      callStartDate: '',
      callStartTime: '',
      callEndDate: '',
      callEndTime: '',
      snackbar: false,
      text: '',
      timeout: 6000,
      color: '',
      showProgressDialog: false
    }
  },
  created () {
    this.setDatetimes()

    this.unwatchServiceDetails = this.$store.watch(() => this.$store.getters.serviceDetails, serviceDetails => {
      this.setDatetimes()
    })
  },
  beforeDestroy () {
    if (this.unwatchServiceDetails) {
      this.unwatchServiceDetails()
    }
  },
  computed: {
    ...mapGetters([
      'serviceDetails',
      'attentionDetails',
      'roles'
    ]),
    permissions () {
      return this.roles.includes('Director') || this.roles.includes('Médico') || this.roles.includes('Coordinador')
    },
    isDisabled () {
      var step1Datetime = this.callStartDate && this.callStartTime ? new Date(this.callStartDate + ' ' + this.callStartTime).toISOString() : null
      var step2Datetime = this.callEndDate && this.callEndTime ? new Date(this.callEndDate + ' ' + this.callEndTime).toISOString() : null

      return !this.callStartDate || !this.callStartTime || moment(step1Datetime).isAfter(moment(step2Datetime))
    },
    tmgCompleteServiceButtonIsDisabled () {
      return (this.serviceDetails.status === 'Completado' || this.serviceDetails.status === 'Cancelado' || this.serviceDetails.status === 'Cerrado' || (this.serviceDetails.diagnoses.length === 0 && (this.serviceDetails.other_diagnoses === null || this.serviceDetails.other_diagnoses === '')))
    }
  },
  methods: {
    getIconsColor (step) {
      if (this.currentStep >= step) {
        return 'light-blue darken-1'
      } else {
        return 'grey'
      }
    },
    getCurrentDatetime () {
      var today = new Date()
      var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate()
      var time = today.getHours() + ':' + today.getMinutes() + ':' + today.getSeconds()
      var datetime = new Date(date + ' ' + time).toISOString()
      return datetime
    },
    setCallStartDatetime () {
      if (this.serviceDetails.call_start !== null) {
        this.callStartDatetime = this.serviceDetails.call_start
      } else {
        this.callStartDatetime = this.getCurrentDatetime()
        const data = {
          id: this.serviceDetails.id,
          status: 'IN_PROGRESS',
          service_type: this.serviceDetails.service_type.id,
          call_start: this.callStartDatetime,
          attendant: this.$store.state.login.authUser.pk
        }
        this.$store.dispatch('editService', data)
      }
    },
    setCallEndDatetime () {
      if (this.serviceDetails.call_end !== null) {
        this.callEndDatetime = this.serviceDetails.call_end
      } else {
        this.callEndDatetime = this.getCurrentDatetime()
        const data = {
          id: this.serviceDetails.id,
          status: 'COMPLETED',
          service_type: this.serviceDetails.service_type.id,
          call_end: this.callEndDatetime
        }
        this.$store.dispatch('editService', data).then(() => {
          // Send email only if it was requested, if the affiliate has at least one email assigned
          if (this.serviceDetails.send_email && this.attentionDetails.affiliate.emails.length > 0) {
            this.showProgressDialog = true

            var url = ''
            if (this.serviceDetails.service_type.id === 2) {
              url = process.env.ROOT_API + 'api/v1/TMG-send-email/'
            }

            axios.get(url + this.serviceDetails.id, {
              headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
                'Content-Type': 'application/json'
              }
            }).then(response => {
              this.showProgressDialog = false

              this.text = this.$t('email_sent')
              this.color = 'success'
              this.timeout = 4000
              this.snackbar = true
            }).catch((error) => {
              this.showProgressDialog = false

              if (error.request.responseText.includes('primario')) { // TODO: improve
                this.text = this.$t('email_not_sent') + ' ' + this.$t('no_primary_email')
              } else {
                this.text = this.$t('email_not_sent')
              }

              this.color = 'red'
              this.timeout = 4000
              this.snackbar = true

              console.log(error)
              console.debug(error)
              console.dir(error)
            })
          }
        })
      }
    },
    formatDatetime (datetime) {
      moment.locale(this.$i18n.locale)
      return datetime ? moment.utc(datetime).local().format('D/M/YYYY h:mm a') : ''
    },
    getCurrentStep () {
      if (this.serviceDetails.call_start === null) {
        return 1
      } else if (this.serviceDetails.call_end === null) {
        return 2
      } else {
        return 3
      }
    },
    setDatetimes () {
      this.callStartDatetime = ''
      this.callEndDatetime = ''

      this.currentStep = this.getCurrentStep()

      if (this.currentStep === 2) {
        this.setCallStartDatetime()
      } else if (this.currentStep === 3) {
        this.setCallStartDatetime()
        this.setCallEndDatetime()
      }
    },
    assignDatetimes () {
      moment.locale(this.$i18n.locale)

      if (this.currentStep === 2) {
        this.callStartDate = this.callStartDatetime ? moment(this.callStartDatetime).format('YYYY-MM-DD') : ''
        this.callStartTime = this.callStartDatetime ? moment(this.callStartDatetime).format('HH:mm') : ''
      } else if (this.currentStep === 3) {
        this.callStartDate = this.callStartDatetime ? moment(this.callStartDatetime).format('YYYY-MM-DD') : ''
        this.callStartTime = this.callStartDatetime ? moment(this.callStartDatetime).format('HH:mm') : ''
        this.callEndDate = this.callEndDatetime ? moment(this.callEndDatetime).format('YYYY-MM-DD') : ''
        this.callEndTime = this.callEndDatetime ? moment(this.callEndDatetime).format('HH:mm') : ''
      }
    },
    saveDatetimes () {
      var initialStatus = ''
      if (this.serviceDetails.status === 'Abierto') {
        initialStatus = 'OPEN'
      } else if (this.serviceDetails.status === 'Retrasado') {
        initialStatus = 'DELAYED'
      }

      const data = {
        id: this.serviceDetails.id,
        status: this.callEndDate && this.callEndTime ? 'COMPLETED'
          : (this.callStartDate && this.callStartTime ? 'IN_PROGRESS' : initialStatus),
        service_type: this.serviceDetails.service_type.id,
        call_start: this.callStartDate && this.callStartTime ? new Date(this.callStartDate + ' ' + this.callStartTime).toISOString() : null,
        call_end: this.callEndDate && this.callEndTime ? new Date(this.callEndDate + ' ' + this.callEndTime).toISOString() : null,
        attendant: !this.serviceDetails.attendant ? this.$store.state.login.authUser.pk : this.serviceDetails.attendant.id
      }

      this.$store.dispatch('editService', data).then(() => {
        this.text = this.$t('service_workflow_datetimes_updated')
        this.color = 'success'
        this.timeout = 4000
        this.snackbar = true
        this.isEditing = !this.isEditing
        this.editWorkflow = false
        this.unwatchServiceDetails = this.$store.watch(() => this.$store.getters.serviceDetails, serviceDetails => {
          this.setDatetimes()
        })
      }).catch(() => {
        this.text = this.$t('error_check_data')
        this.color = 'red'
        this.timeout = 4000
        this.snackbar = true
      })
    },
    resetForm () {
      this.callStartDate = ''
      this.callStartTime = ''
      this.callEndDate = ''
      this.callEndTime = ''

      this.$nextTick(() => {
        this.$validator.reset()
      })
    }
  }
}
</script>
