<template>
  <v-row justify="center">
    <v-snackbar
      v-model="snackbar"
      :color="color"
      :timeout="timeout"
      :top=true
    >
      {{ text }}
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        {{ $t('close') }}
      </v-btn>
    </v-snackbar>

    <v-tooltip bottom>
      <template v-slot:activator="{ on }">
        <v-fab-transition>
          <v-btn
            small
            button
            right
            fab
            absolute
            v-on="on"
            @click="dialog = true, resetCrewForm()"
            style="z-index: 0"
            v-if="permissions"
            >
            <v-icon color="#3DCB5E" size="50">mdi-plus-circle</v-icon>
          </v-btn>
        </v-fab-transition>
      </template>
      <span>{{ $t('create_crew') }}</span>
    </v-tooltip>
    <v-dialog v-model="dialog" persistent max-width="650px">
      <v-form @submit.prevent="handleSubmit">
        <v-card>
          <v-card-title>
            <span class="headline"> {{ $t('new_crew') }} </span>
          </v-card-title>
          <v-card-text>
                <v-subheader> {{ $t('watch') }} </v-subheader>
                <v-container grid-list-xs dense>
                  <v-layout row justify-space-between>
                  <v-flex sm12 md12>
                    <v-text-field
                      v-model="watch.name"
                      v-bind:label="$t('crew_name')"
                      v-validate="'required'"
                      :error-messages="errors.collect('watch.name')"
                      data-vv-name="watch.name"
                      :data-vv-as="$t('crew_name')"
                      :hint="$t('crew_name_hint')"
                      dense>
                    </v-text-field>
                </v-flex>

                <v-flex sm3 md3>
                    <v-text-field
                      type="date"
                      :value="computedStartDateFormattedMomentjs"
                      v-model="watch.start_date"
                      v-bind:label="$t('start_date')"
                      v-validate="'required'"
                      :error-messages="errors.collect('watch.start_date')"
                      data-vv-name="watch.start_date"
                      :data-vv-as="$t('start_date')"
                      :max="watch.end_date"
                      ref="afterTarget"
                      dense>
                    </v-text-field>
                </v-flex>
                <v-flex sm2 md2>
                  <v-text-field
                      type="time"
                      :value="watch.start_time"
                      v-model="watch.start_time"
                      v-bind:label="$t('time')"
                      v-validate="'required'"
                      :error-messages="errors.collect('watch.start_time')"
                      data-vv-name="watch.start_time"
                      :data-vv-as="$t('time')"
                      :hint="$t('time_format')"
                      dense>
                    </v-text-field>
                </v-flex>
                <v-flex sm3 md3>
                  <v-text-field
                      type="date"
                      :value="computedEndDateFormattedMomentjs"
                      v-model="watch.end_date"
                      v-bind:label="$t('end_date')"
                      v-validate="'required|date_format:yyyy-MM-dd|after:afterTarget,true'"
                      :error-messages="errors.collect('watch.end_date')"
                      data-vv-name="watch.end_date"
                      :data-vv-as="$t('end_date')"
                      :min="watch.start_date"
                      dense>
                    </v-text-field>
                </v-flex>
                <v-flex sm2 md2>
                  <v-text-field
                      type="time"
                      :value="watch.end_time"
                      v-model="watch.end_time"
                      v-bind:label="$t('time')"
                      v-validate="'required'"
                      :error-messages="errors.collect('watch.end_time')"
                      data-vv-name="watch.end_time"
                      :data-vv-as="$t('time')"
                      :hint="$t('time_format')"
                      dense>
                    </v-text-field>
                </v-flex>
                </v-layout>
              <v-layout row justify-space-between>
                <v-flex sm4 md4>
                  <v-autocomplete
                    v-model="watch.base"
                    :items="baseItems"
                    item-value='id'
                    item-text='base_name'
                    color="light-blue darken-1"
                    v-bind:label="$t('base')"
                    v-validate="'required'"
                    :error-messages="errors.collect('watch.base')"
                    data-vv-name="watch.base"
                    :data-vv-as="$t('base')"
                    dense
                    small-chips
                    deletable-chips
                  ></v-autocomplete>
                </v-flex>
                <v-flex sm3 md3>
                  <v-autocomplete
                    v-model="watch.mobile_unit"
                    :items="mobileUnitItems"
                    item-value='id'
                    item-text='codename'
                    color="light-blue darken-1"
                    v-bind:label="$t('unit')"
                    v-validate="'required'"
                    :error-messages="errors.collect('watch.mobile_unit')"
                    data-vv-name="watch.mobile_unit"
                    :data-vv-as="$t('unit')"
                    dense
                    small-chips
                    deletable-chips
                  ></v-autocomplete>
                </v-flex>
              </v-layout>

              </v-container>
                <v-divider></v-divider>
                <v-subheader> {{ $t('crew_members') }} </v-subheader>
                <v-container grid-list-xs>
                  <v-layout row justify-space-between>
                    <v-flex sm5 md5>
                    <v-autocomplete
                      v-model="doctor"
                      :items="doctorItems"
                      item-value='id'
                      :item-text='fullNamePractitioner'
                      color="light-blue darken-1"
                      v-bind:label="$t('doctor')"
                      v-validate ="{ rules: { required: paramedic?false:true} }"
                      :hint-persistent="$t('medic_crew_hint')"
                      :error-messages="errors.collect('doctor')"
                      data-vv-name="doctor"
                      :data-vv-as="$t('doctor')"
                      dense
                      small-chips
                      deletable-chips
                    ></v-autocomplete>
                    </v-flex>
                    <v-flex sm5 md5>
                      <v-autocomplete
                        v-model="paramedic"
                        :items="paramedicItems"
                        item-value='id'
                        :item-text='fullNamePractitioner'
                        color="light-blue darken-1"
                        v-bind:label="$t('paramedic')"
                        v-validate ="{ rules: { required: doctor?false:true} }"
                        :hint-persistent="$t('paramedic_crew_hint')"
                        :error-messages="errors.collect('paramedic')"
                        data-vv-name="paramedic"
                        :data-vv-as="$t('paramedic')"
                        dense
                        small-chips
                        deletable-chips
                      ></v-autocomplete>
                    </v-flex>
                    <v-flex sm5 md5>
                    <v-autocomplete
                      v-model="driver"
                      :items="driverItems"
                      item-value='id'
                      :item-text='fullNamePractitioner'
                      color="light-blue darken-1"
                      v-bind:label="$t('driver')"
                      v-validate="'required'"
                      :error-messages="errors.collect('driver')"
                      data-vv-name="driver"
                      :data-vv-as="$t('driver')"
                      dense
                      small-chips
                      deletable-chips
                    ></v-autocomplete>
                  </v-flex>
                  </v-layout>
                </v-container>
                <v-divider></v-divider>
          </v-card-text>
          <v-card-actions>
            <v-btn color="white" @click="dialog = false">{{ $t('cancel') }}</v-btn>
            <v-spacer></v-spacer>
            <v-btn color="success" @click="dialog = false" :disabled="errors.any() || isDisabled" type="submit">{{ $t('create') }}</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
  </v-row>
</template>

<script>
import moment from 'moment'
import { mapGetters } from 'vuex'
import axios from 'axios'

/*
  El componente `<NewCrew>` es usado para desplegar un formulario
  para la creación de nuevas tripulaciones.

  Se puede acceder a este componente desde el botón flotante que
  aparece en el componente `<CrewList>`.

  ---

  The `<NewCrew>` component is used to display a form
  for the creation of new crews.

  You can access this component from the floating button that
  appears in the `<CrewList>` component.

  @author Ixhel Mejías, Adriana Tiso
 */

export default {
  data () {
    return {
      watch: {
        name: '',
        start_date: this.getCurrentDatetime,
        start_time: String(new Date().getHours()).padStart(2, '0') + ':' +
          String(new Date().getMinutes()).padStart(2, '0'),
        end_date: this.getCurrentDatetime,
        end_time: String(new Date().getHours()).padStart(2, '0') + ':' +
          String(new Date().getMinutes()).padStart(2, '0'),
        base: '',
        mobile_unit: '',
        practitioners: []
      },
      shiftItems: [
        {code: 1, display: 'Diurno'},
        {code: 2, display: 'Nocturno'}
      ],
      dialog: false,
      snackbar: false,
      text: '',
      timeout: 6000,
      color: '',
      calendarMenuStart: false,
      calendarMenuEnd: false,
      watchMenuStart: false,
      watchMenuEnd: false,
      doctor: '',
      paramedic: '',
      driver: '',
      shift: ''
    }
  },
  created () {
    this.$store.dispatch('getMobileUnitItems')
    this.$store.dispatch('getBaseItems')
    this.$store.dispatch('getParamedicItems')
    this.$store.dispatch('getDoctorItems')
    this.$store.dispatch('getDriverItems')
    this.$store.dispatch('getCoordinatorItems')
  },
  computed: {
    ...mapGetters([
      'roles',
      'mobileUnitItems',
      'baseItems',
      'paramedicItems',
      'doctorItems',
      'driverItems'
    ]),
    permissions () {
      return this.roles.includes('Director') || this.roles.includes('Despachador') || this.roles.includes('Gerente')
    },
    computedStartDateFormattedMomentjs () {
      moment.locale(this.$i18n.locale)
      return this.watch.start_date ? moment(this.watch.start_date).format('DD/MM/YYYY') : ''
    },
    computedEndDateFormattedMomentjs () {
      moment.locale(this.$i18n.locale)
      return this.watch.end_date ? moment(this.watch.end_date).format('DD/MM/YYYY') : ''
    },
    // To use in new crew template
    getCurrentDatetime () {
      var today = new Date(Date.UTC(new Date().getFullYear(), new Date().getMonth(),
        new Date().getDate()))
      var date = today.getUTCFullYear() + '-' + (today.getUTCMonth() + 1) + '-' + today.getUTCDate()
      return this.formatDatetime(date)
    },
    isDisabled () {
      return !this.watch.name || !this.watch.mobile_unit || !this.watch.base || !this.driver || !this.watch.start_date || !this.watch.start_time ||
      !this.watch.end_date || !this.watch.end_time || moment(this.watch.start_date).isAfter(this.watch.end_date)
    }
  },
  methods: {
    // To use in new crew template
    dateTimeFormat (date, time) {
      var formatString = date + ' ' + time
      moment(formatString).format('YYYY-MM-DD HH:mm:ss')
      return formatString ? moment(formatString, 'YYYY-MM-DD HH:mm:ss').toISOString() : ''
    },
    formatDatetime (datetime) {
      moment.locale(this.$i18n.locale)
      return datetime ? moment(datetime).format('DD/MM/YYYY') : ''
    },
    getPractitioners () {
      var practitioners = []

      if (this.doctor !== '') {
        practitioners.push({
          practitioner: {
            id: this.doctor
          },
          practitioner_role: 'PRACTITIONER'
        })
      }
      if (this.paramedic !== '') {
        practitioners.push({
          practitioner: {
            id: this.paramedic
          },
          practitioner_role: 'PARAMEDIC'
        })
      }
      if (this.driver !== '') {
        practitioners.push({
          practitioner: {
            id: this.driver
          },
          practitioner_role: 'DRIVER'
        })
      }
      return practitioners
    },
    handleSubmit (e) {
      const data = {
        name: this.watch.name,
        start: this.dateTimeFormat(this.watch.start_date, this.watch.start_time),
        end: this.dateTimeFormat(this.watch.end_date, this.watch.end_time),
        base: this.watch.base,
        mobile_unit: this.watch.mobile_unit,
        practitioners: this.getPractitioners()
      }
      axios.post(process.env.ROOT_API + 'api/v1/crews-simple', data, {
        headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
          'Content-Type': 'application/json'
        }
      }).then((response) => {
        if (response === undefined) {
          console.log('response is undefined')
        } else {
          this.$store.dispatch('getCrewItems')
          this.$emit('updateCrewList')
          this.text = this.$t('new_crew_success')
          this.color = 'success'
          this.timeout = 4000
          this.snackbar = true
          this.dialog = false
        }
      })
        .catch((error) => {
          this.text = error.request.statusText
          this.color = 'error'
          this.timeout = 8000
          this.snackbar = true

          console.log(error)
          console.debug(error)
          console.dir(error)
        })
    },
    resetCrewForm: function () {
      this.watch.name = ''
      this.watch.start_date = ''
      this.watch.start_time = ''
      this.watch.end_date = ''
      this.watch.end_time = ''
      this.watch.base = ''
      this.watch.mobile_unit = ''
      this.doctor = ''
      this.paramedic = ''
      this.driver = ''
      this.$nextTick(() => {
        this.$validator.reset()
      })
    },
    fullNamePractitioner: item => item.first_name + ' ' + item.last_name,
    separatedNamePractitioner: item => item.last_name + ',' + item.first_name
  }
}
</script>
