<template>
  <v-row justify="center">
    <v-dialog v-model="show" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">{{ $t('assign_address') }}</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap justify-space-between>
              <v-flex sm12 md12 v-if="showAutocomplete">
                <v-autocomplete
                  v-model="address"
                  :items="addressesItems"
                  color="light-blue darken-1"
                  :item-value="addressObject"
                  :item-text="displayAddress"
                  v-bind:label="$t('address')"
                  :placeholder="$t('select')"
                  v-validate="!addressLine1 ? 'required': ''"
                  :error-messages="errors.collect('address')"
                  data-vv-name="address"
                  :data-vv-as="$t('address')"
                  :hint="$t('address_not_found_hint')"
                  persistent-hint
                  :no-data-text="$t('no_data_available')"
                  small-chips
                  deletable-chips
                  return-object
                  @change="getAutocompleteAddressData()"
                >
                  <template v-slot:item="data">
                    <template v-if="typeof data.item !== 'object'">
                      {{ data.item }}
                      <v-list-item-content v-text="data.item"></v-list-item-content>
                    </template>
                    <template v-else>
                      <v-list-item-content class="text-left align-self-start" style="width: 800px">
                        <v-list-item-title>
                          <span v-if="data.item.organization"> {{ data.item.organization.name }}, {{ data.item.address_line1 }} </span>
                          <span v-else> {{ data.item.address_line1 }} </span>
                        </v-list-item-title>
                        <v-list-item-subtitle v-if="data.item.region">
                          <span v-if="data.item.unknown_region"> {{ $t('unknown_region') }}, {{ data.item.region.second_level.name }}, {{ data.item.region.second_level.first_level.name }} </span>
                          <span v-else> {{ data.item.region.name }}, {{ data.item.region.second_level.name }}, {{ data.item.region.second_level.first_level.name }} </span>
                        </v-list-item-subtitle>
                        <v-list-item-subtitle v-if="data.item.address_line2">
                          <span style="font-size:12px">({{ data.item.address_line2.substr(0, 100) }}...) </span>
                        </v-list-item-subtitle>
                      </v-list-item-content>
                    </template>
                  </template>
                </v-autocomplete>
              </v-flex>
              <v-flex sm12 md12 v-if="showAutocomplete">
                <br />
                <v-divider></v-divider>
                <br />
              </v-flex>
              <v-flex sm12 md12>
                <v-textarea
                  v-model="addressLine1"
                  :label="$t('address_line1')"
                  counter
                  maxlength='256'
                  :readonly="address !== null"
                  dense
                  auto-grow
                  rows="1"
                  row-height="15"
                ></v-textarea>
              </v-flex>
              <v-flex sm12 md12>
                <v-textarea
                  v-model="addressLine2"
                  :label="$t('address_line2')"
                  counter
                  maxlength='512'
                  :readonly="address !== null"
                  dense
                  auto-grow
                  rows="1"
                  row-height="15"
                ></v-textarea>
              </v-flex>
              <v-flex sm12 md12>
                <v-select
                  v-model="state"
                  :items="adminFirstLevelItems"
                  item-value="id"
                  item-text="name"
                  label="Estado"
                  required
                  :readonly="address !== null"
                  dense
                  @change="getTowns()"
                  return-object
                ></v-select>
              </v-flex>
              <v-flex sm12 md12>
                <v-select
                  v-model="town"
                  :items="townItems"
                  item-value="id"
                  item-text="name"
                  label="Municipio"
                  required
                  :disabled="state === null"
                  :readonly="address !== null"
                  dense
                  @change="getRegions()"
                  return-object
                ></v-select>
              </v-flex>
              <v-flex sm12 md12>
                <v-select
                  v-model="region"
                  :items="regionItems"
                  item-value="id"
                  item-text="name"
                  label="Parroquia"
                  required
                  :disabled="town === null"
                  :readonly="address !== null"
                  dense
                  return-object
                ></v-select>
              </v-flex>
            </v-layout>
          </v-container>
          <v-divider></v-divider>
        </v-card-text>
        <v-card-actions>
          <v-btn
          color="white"
          @click.stop="show=false, resetForm(), setDefaultAddress()"
          >
          {{ $t('cancel') }}
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
          color="success"
          @click.stop="assignAddress()"
          type="submit"
          :disabled= "errors.any() || isDisabled"
          >
          {{ $t('assign') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { mapGetters } from 'vuex'
import axios from 'axios'

/*
  El componente `<AddressForm>` se utiliza para agregar las direcciones que se
  necesitan en la aplicación, sea para las direcciones personales de los
  afiliados o para los servicios que requieren dirección de atención.

  Se accede a `<AddressForm>` desde los componentes`<NewKinship>` y
  `<NotAffiliate>` de la carpeta attentions, `<NewService>` de la
  carpeta attention > attention_details > attention_services, `<Crew>` y`<Affiliate>`
  de la carpeta attention > attention_details > attention_services > service_details > service_tabs.

  ---

  The `<AddressForm>` component is used to add the addresses that are
  needed in the application, either for the personal addresses of
  affiliates or for services that require attention management.

  The `<AddressForm>` is accessed from the components `<NewKinship>` and
  `<NotAffiliate>` from the attentions folder, `<NewService>` from
  attention > attention_details > attention_services, `<Crew>` and `<Affiliate>` from folder
  attention > attention_details > attention_services > service_details > service_tabs.

  @author Ixhel Mejías, Adriana Tiso
 */

export default {
  data () {
    return {
      address: null,
      addressLine1: '',
      addressLine2: '',
      state: null,
      town: null,
      region: null,
      addressesItems: [],
      townItems: [],
      regionItems: []
    }
  },
  beforeUpdate () {
    if (this.visible && this.showAutocomplete) {
      this.addressesItems = this.getAddressesItems()
    }
  },
  computed: {
    ...mapGetters([
      'serviceDetails',
      'attentionDetails',
      'serviceAddressesItemsByAffiliate',
      'healthcareProviderAddressesItems',
      'adminFirstLevelItems', //  For states
      'getSecondLevelByFirstLevelId', // Searching for towns by state
      'getThirdLevelBySecondLevelId' // Searching for regions by town
    ]),
    show: {
      get () {
        return this.visible
      },
      set (value) {
        if (!value) {
          this.$emit('close')
        }
      }
    },
    isDisabled () {
      return !this.address && (!this.addressLine1 || !this.state || !this.town || !this.region)
    }
  },
  methods: {
    addressObject: item => item,
    displayAddress: item => !item.id ? item : (!item.region ? (!item.organization ? item.address_line1 : item.organization.name + ', ' + item.address_line1)
      : (!item.organization ? item.address_line1 + ', ' + (item.unknown_region ? 'Parroquia Desconocida' : item.region.name) + ', ' + item.region.second_level.name + ', ' + item.region.second_level.first_level.name
        : item.organization.name + ', ' + item.address_line1 + ', ' + (item.unknown_region ? 'Parroquia Desconocida' : item.region.name) + ', ' + item.region.second_level.name + ', ' + item.region.second_level.first_level.name)),
    resetForm () {
      this.address = null
      this.addressLine1 = ''
      this.addressLine2 = ''
      this.state = null
      this.town = null
      this.region = null
      this.addressesItems = []

      this.$nextTick(() => {
        this.$validator.reset()
      })
    },
    getAutocompleteAddressData () {
      if (this.address !== null) {
        this.addressLine1 = ''
        this.addressLine2 = ''
        this.state = null
        this.town = null
        this.region = null
        if (this.address.organization) {
          this.addressLine1 = this.address.organization.name + ', ' + this.address.address_line1
        } else {
          this.addressLine1 = this.address.address_line1
        }
        this.addressLine2 = this.address.address_line2
        if (this.address.region) {
          this.state = { id: this.address.region.second_level.first_level.id, name: this.address.region.second_level.first_level.name }
          this.getTowns()
          this.town = { id: this.address.region.second_level.id, name: this.address.region.second_level.name }
          this.getRegions()
          this.region = this.address.unknown_region ? this.regionItems[0] : { id: this.address.region.id, name: this.address.region.name }
        }
      } else {
        this.resetForm()
      }
    },
    getAddressesItems () {
      var addresses = []
      if (this.attentionDetails.affiliate.affiliate_addresses.length !== 0) {
        addresses.push({ header: this.$t('personal_addresses') })
        for (var i = 0; i < this.attentionDetails.affiliate.affiliate_addresses.length; i++) {
          addresses.push(this.attentionDetails.affiliate.affiliate_addresses[i])
        }
      }
      if (this.serviceAddressesItemsByAffiliate.length !== 0) {
        addresses.push({ divider: true })
        addresses.push({ header: this.$t('previous_services_addresses') })
        for (var j = 0; j < this.serviceAddressesItemsByAffiliate.length; j++) {
          addresses.push(this.serviceAddressesItemsByAffiliate[j])
        }
      }
      if (this.healthcareProviderAddressesItems.length !== 0) {
        addresses.push({ divider: true })
        addresses.push({ header: this.$t('healthcare_providers_addresses') })
        for (var k = 0; k < this.healthcareProviderAddressesItems.length; k++) {
          addresses.push(this.healthcareProviderAddressesItems[k])
        }
      }
      return addresses
    },
    getTowns () {
      this.town = null
      this.region = null
      this.townItems = this.getSecondLevelByFirstLevelId(this.state.id)
    },
    getRegions () {
      this.region = null
      this.regionItems = this.getThirdLevelBySecondLevelId(this.town.id)
    },
    assignAddress () {
      var address = {
        address_line1: this.addressLine1,
        address_line2: this.addressLine2,
        region: {
          id: this.region !== this.regionItems[0] ? this.region.id : this.regionItems[1].id,
          name: this.region !== this.regionItems[0] ? this.region.name : this.regionItems[1].name,
          second_level: {
            id: this.town.id,
            name: this.town.name,
            first_level: {
              id: this.state.id,
              name: this.state.name
            }
          }
        },
        unknown_region: this.region === this.regionItems[0]
      }
      const findAddress = () => {
        //  Search for the selected address within the registered service addresses
        return axios.get(process.env.ROOT_API + 'api/v1/service_addresses?search=' + address.address_line1 + '&address_line2=' + address.address_line2 + '&region=' + address.region.id + '&unknown_region=' + address.unknown_region, {
          headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
            'Content-Type': 'application/json'
          }
        })
          .then(response => response.data.results)
      }

      const assignNewAddress = async () => {
        var results = await findAddress()

        if (results.length > 0) { // Found
          this.$emit('addressAssigned', address, results[0].id)
          this.show = false
          this.resetForm()
        } else { // Not found
          const data = {
            address_line1: address.address_line1,
            address_line2: address.address_line2,
            zip_code: '',
            place: null,
            region: address.region.id,
            last_update_user: this.$store.state.login.authUser.pk,
            unknown_region: address.unknown_region
          }

          axios.post(process.env.ROOT_API + 'api/v1/service_addresses-simple', data, {
            headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
              'Content-Type': 'application/json'
            }
          })
            .then((response) => {
              this.$emit('addressAssigned', address, response.data.id)
              this.show = false
              this.resetForm()
            })
            .catch((error) => {
              console.log(error)
              console.debug(error)
              console.dir(error)
            })
        }
      }
      if (this.createServiceAddress) {
        assignNewAddress()
      } else {
        this.$emit('addressAssigned', address)
        this.show = false
        this.resetForm()
      }
    },
    setDefaultAddress () {
      this.addressLine1 = ''
      this.addressLine2 = ''
      this.state = null
      this.town = null
      this.region = null
      if (this.defaultAddress) {
        this.addressLine1 = this.defaultAddress.address_line1
        this.addressLine2 = this.defaultAddress.address_line2
        if (this.defaultAddress.region) {
          this.state = { id: this.defaultAddress.region.second_level.first_level.id, name: this.defaultAddress.region.second_level.first_level.name }
          this.getTowns()
          this.town = { id: this.defaultAddress.region.second_level.id, name: this.defaultAddress.region.second_level.name }
          this.getRegions()
          this.region = this.defaultAddress.unknown_region ? this.regionItems[0] : { id: this.defaultAddress.region.id, name: this.defaultAddress.region.name }
        }
      }
    }
  },
  props: {
    visible: Boolean,
    showAutocomplete: Boolean,
    createServiceAddress: Boolean,
    defaultAddress: Object
  },
  watch: {
    defaultAddress: function () { // watch defaultAddress prop
      if (this.defaultAddress !== undefined && this.defaultAddress !== null) {
        this.setDefaultAddress()
      }
    }
  }
}
</script>
