<template>
    <v-container
      id="scroll-target"
      style="max-height: 700px"
      class="overflow-y-auto"
    >
      <v-snackbar
        v-model="snackbar"
        :color="color"
        :timeout="timeout"
        :top=true
      >
        {{ text }}
        <v-btn
          color="white"
          text
          @click="snackbar = false"
        >
          {{ $t('close') }}
        </v-btn>
      </v-snackbar>
        <v-row
        >
  <v-card v-if="getAttentionServices(this.attentionId).length > 0">
    <v-toolbar
      tabs
    >
      <v-toolbar-title>{{ $t('services') }}</v-toolbar-title>
      <v-spacer></v-spacer>
      <template v-if="permissions">
        <NewService :activatorType="2" />
      </template>
      <v-tabs
        v-model="active_tab"
        class="elevation-2"
        color="light-blue darken-1"
        centered
        slot="extension"
        icons-and-text
      >
        <v-tab
          v-for="(service, index) in attentionServices"
          :key="index"
          @click="showDetails(service)"
        >
          {{ service.service_type.code }}-{{ service.id }}
          <v-icon small :color="getColor(service.status)">mdi-alert-circle</v-icon>
        </v-tab>
      </v-tabs>
      </v-toolbar>
      <v-tabs-items v-model="active_tab">
        <v-tab-item
          v-for="(service, index) in attentionServices"
          :key="index"
        >
          <ServiceDetails />
        </v-tab-item>
      </v-tabs-items>
    </v-card>
    <v-card v-else width="1000px">
      <v-card-text>
        <v-container fluid>
          <v-banner>
            <v-icon
              slot="icon"
              color="warning"
              size="36"
            >
              mdi-alert
            </v-icon>
            {{ $t('no_services') }}
            <template v-slot:actions>
              <template v-if="permissions_attention_closure" >
                <v-btn
                  style="z-index: 0"
                  class="ma-2"
                  color="warning"
                  :disabled="closeAttentionButtonIsDisabled"
                  small
                  v-if="permissions_attention_closure"
                  @click.stop="closeAttention"
                >
                  <span class="d-none d-lg-flex">{{ $t('close_attention') }}</span>
                </v-btn>
              </template>
              <template v-if="permissions">
                <NewService :activatorType="2" />
              </template>
            </template>
          </v-banner>
        </v-container>
      </v-card-text>
    </v-card>
     </v-row>

      <v-dialog v-model="closeAttentionDialog" persistent max-width="500px">
        <v-card>
          <v-card-title>
            <span class="headline">{{ $t('close_attention') }}</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <span> {{ $t('close_attention_sure') }} </span>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-btn color="white" @click="closeAttentionDialog = false">{{ $t('cancel') }}</v-btn>
            <v-spacer></v-spacer>
            <v-btn color="success" @click="closeAttentionDialog = false, confirmClosing()">{{ $t('confirm') }}</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
</template>

<script>
import moment from 'moment'
import { mapGetters } from 'vuex'
import NewService from '@/components/attentions/attention_details/attention_services/NewService'
import ServiceDetails from '@/components/attentions/attention_details/attention_services/service_details/ServiceDetails'

/*
  El componente `<AttentionServices>` se utiliza para mostrar y
  crear los servicios que se necesiten dentro de una atención.

  Se puede acceder a `<AttentionServices>` mediante los componentes
  `<AttentionDetails>` y `<AttentionDetailsDialog>`.

  ---

  The component `<AttentionServices>` is used to display and
  create the services needed within an attention.

  You can access `<AttentionServices>` through the components
  `<AttentionDetails>` and `<AttentionDetailsDialog>`.

  @author Ixhel Mejías, Adriana Tiso
*/

export default {
  components: {NewService, ServiceDetails},
  data () {
    return {
      headers: [
        {text: this.$t('code'), align: 'left', sortable: false, value: 'code'},
        {text: this.$t('type'), sortable: false, value: 'service_type.name'},
        {text: this.$t('start'), sortable: true, value: 'start'},
        {text: this.$t('status'), sortable: false, value: 'status'},
        {text: this.$t('comments'), sortable: false, value: 'comments'},
        {text: '', sortable: false, value: 'actions', width: '50'}
      ],
      attentionId: window.sessionStorage.getItem('selectedAttention'),
      active_tab: 0,
      attentionServices: [],
      attentionServicesLength: 0,
      closeAttentionDialog: false,
      snackbar: false,
      text: '',
      timeout: 6000,
      color: ''
    }
  },
  created () {
    this.attentionServices = this.getAttentionServices(this.attentionId)
    this.attentionServicesLength = this.countAttentionServices()
    if (this.attentionServices.length > 0) {
      var item = this.attentionServices[this.active_tab]
      this.showDetails(item)
    }
    //  Updating services when new service is added
    this.unwatchAttentionDetails = this.$store.watch(() => this.$store.state.attention.attentionDetails, attentionDetails => {
      if (this.attentionServicesLength !== this.countAttentionServices()) {
        this.attentionServices = []
        const setActiveTab = () => {
          this.active_tab = null
          var services = this.getAttentionServices(this.attentionId)
          for (var i = 0; i < services.length; i++) {
            if (services[i].service_type.id + '-' + services[i].id === window.sessionStorage.getItem('selectedService')) {
              return i
            }
          }
          return -1
        }

        const setAttentionServices = async () => {
          this.active_tab = await setActiveTab()
          this.attentionServices = this.getAttentionServices(this.attentionId)
          this.attentionServicesLength = this.countAttentionServices()
          var item = this.attentionServices[this.active_tab]
          this.showDetails(item)
        }
        setAttentionServices()
      }
      //  TODO: check if this.unwatchAttentionDetails() is necessary
    })
  },
  beforeUpdate () {
    //  Updating services (only from affiliates table)
    if (this.activatorType === 1 && this.serviceDetails.length === 0) {
      this.attentionServices = this.getAttentionServices(this.attentionId)

      if (this.attentionServices.length > 0) {
        this.active_tab = 0
        var item = this.attentionServices[this.active_tab]
        this.showDetails(item)
      }
    }
  },
  beforeDestroy () {
    if (this.unwatchAttentionDetails) {
      this.unwatchAttentionDetails()
    }
  },
  methods: {
    showDetails (item) {
      if (item) {
        const data = {
          pk: item.id,
          type: item.service_type.id
        }
        window.sessionStorage.setItem('selectedService', item.service_type.id + '-' + item.id)
        this.$store.dispatch('getServiceDetails', data)
      }
    },
    getColor (status) {
      if (status === 'Abierto') return 'orange' // OPEN
      else if (status === 'Retrasado') return 'red' // DELAYED
      else if (status === 'En progreso') return 'green' // IN_PROGRESS
      else if (status === 'Completado') return 'blue' // COMPLETED
      else if (status === 'Cancelado') return 'grey' // CANCELED
      else if (status === 'Cerrado') return 'blue-grey darken-1' // CLOSED
    },
    formatStartDate (date) {
      moment.locale(this.$i18n.locale)
      return date ? moment(date).format('D/M/YYYY h:mm a') : ''
    },
    getAttentionServices (id) {
      if (id === undefined) {
        return null
      }

      var attention = this.$store.state.attention.attentionDetails
      var services = []

      if (attention.services_hhc_attention === [] &&
          attention.services_hhp_attention === [] &&
          attention.services_hmd_attention === [] &&
          attention.services_tmg_attention === [] &&
          attention.services_transfer_attention === [] &&
          attention.services_lab_attention === []) {
        return services
      }

      if (attention.services_tmg_attention.length !== 0) {
        for (var i = 0; i < attention.services_tmg_attention.length; i++) {
          attention.services_tmg_attention[i].service_type = this.serviceTypes.find(service => service.id === 2)
          services.push(attention.services_tmg_attention[i])
        }
      }
      if (attention.services_hhc_attention.length !== 0) {
        for (var j = 0; j < attention.services_hhc_attention.length; j++) {
          attention.services_hhc_attention[j].service_type = this.serviceTypes.find(service => service.id === 1)
          services.push(attention.services_hhc_attention[j])
        }
      }
      if (attention.services_transfer_attention.length !== 0) {
        for (var k = 0; k < attention.services_transfer_attention.length; k++) {
          attention.services_transfer_attention[k].service_type = this.serviceTypes.find(service => service.id === 3)
          services.push(attention.services_transfer_attention[k])
        }
      }
      if (attention.services_hmd_attention.length !== 0) {
        for (var l = 0; l < attention.services_hmd_attention.length; l++) {
          attention.services_hmd_attention[l].service_type = this.serviceTypes.find(service => service.id === 4)
          services.push(attention.services_hmd_attention[l])
        }
      }
      if (attention.services_hhp_attention.length !== 0) {
        for (var m = 0; m < attention.services_hhp_attention.length; m++) {
          attention.services_hhp_attention[m].service_type = this.serviceTypes.find(service => service.id === 5)
          services.push(attention.services_hhp_attention[m])
        }
      }
      if (attention.services_lab_attention.length !== 0) {
        for (var n = 0; n < attention.services_lab_attention.length; n++) {
          attention.services_lab_attention[n].service_type = this.serviceTypes.find(service => service.id === 6)
          services.push(attention.services_lab_attention[n])
        }
      }
      return services
    },
    countAttentionServices () {
      return this.getAttentionServices(this.attentionId).length
    },
    closeAttention () {
      this.closeAttentionDialog = true
    },
    confirmClosing () {
      const data = {
        id: this.attentionDetails.id,
        status: 'CLOSED'
      }
      this.$store.dispatch('editAttention', data).then(() => {
        this.text = this.$t('attention_close_success')
        this.color = 'success'
        this.timeout = 4000
        this.snackbar = true
      }).catch((error) => {
        this.text = this.$t('error_attention_close_failure')
        this.color = 'red'
        this.timeout = 4000
        this.snackbar = true

        console.log(error)
        console.debug(error)
        console.dir(error)
      })
    }
  },
  computed: {
    ...mapGetters([
      'roles',
      'serviceTypes',
      'attentionDetails',
      'serviceDetails'
    ]),
    permissions () {
      return this.roles.includes('Director') || this.roles.includes('Operador') || this.roles.includes('Médico') || this.roles.includes('Despachador') || this.roles.includes('Coordinador') || this.roles.includes('Gerente') || this.roles.includes('Asistente')
    },
    permissions_attention_closure () {
      return this.roles.includes('Coordinador') || this.roles.includes('Gerente') || this.roles.includes('Director')
    },
    closeAttentionButtonIsDisabled () {
      return (this.attentionDetails.status === 'Cerrada')
    }
  },
  watch: {
    attentionDetails: function () {
      //  Watching for changes in attentionDetails to update service status in tabs
      if (this.attentionServicesLength === this.countAttentionServices()) {
        this.attentionServices = this.getAttentionServices(this.attentionId)
        this.attentionServicesLength = this.countAttentionServices()
        if (this.attentionServices.length > 0) {
          var item = this.attentionServices[this.active_tab]
          this.showDetails(item)
        }
      }
    }
  },
  props: {
    activatorType: Number // 1: from affiliates table, 2: from attention details
  }
}
</script>
