<template>
  <v-container fluid>
    <v-dialog v-model="dialog" max-width="800px" persistent>
      <v-card>
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap justify-space-between>
              <v-flex xs12 sm8 md8>
                <v-menu
                  ref="menu"
                  v-model="menu"
                  :close-on-content-click="false"
                  :return-value.sync="auxDates"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-combobox
                      v-model="computedDateFormattedMomentjs"
                      multiple
                      chips
                      small-chips
                      :label="$t('dates')"
                      prepend-icon="event"
                      v-bind="attrs"
                      v-on="on"
                      dense
                      color="light-blue darken-1"
                    ></v-combobox>
                  </template>
                  <v-date-picker v-model="auxDates" multiple no-title scrollable locale="es">
                    <v-btn color="white" @click="menu = false"> {{ $t('cancel') }} </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="success" @click="$refs.menu.save(auxDates)"> {{ $t('assign') }} </v-btn>
                  </v-date-picker>
                </v-menu>
              </v-flex>
              <v-flex xs12 sm3 md3>
                <v-text-field
                  v-model="editedItem.time"
                  type="time"
                  :label="$t('time')"
                  dense
                  v-validate="'required'"
                  :error-messages="errors.collect('editedItem.time')"
                  data-vv-name="editedItem.time"
                  :data-vv-as="$t('time')"
                  color="light-blue darken-1"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-btn color="white" @click="close()">{{ $t('cancel') }}</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="success" :disabled="errors.any() || isDisabled" @click="saveDatetimes()">{{ saveDatetimesButtonText }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="confirmDeletingItemDialog" persistent max-width="500px">
      <v-card>
        <v-card-title>
          <span class="headline">{{ $t('delete_dates_time') }}</span>
        </v-card-title>
        <v-card-text>
          {{ $t('dates') }}: {{ displayDates(deletedItem.dates) }} - {{ $t('time') }}: {{ deletedItem.time }}.
          <br />
          {{ $t('delete_dates_time_sure') }}
        </v-card-text>
        <v-card-actions>
          <v-btn color="white" @click="confirmDeletingItemDialog = false">{{ $t('cancel') }}</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="success" @click="confirmDeletingItemDialog = false, deleteItem()">{{ $t('confirm') }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <span class="text-uppercase">{{ $t('service_schedule') }}</span>
    <v-divider class="mx-4"></v-divider>
    <br />
    <v-data-table
      :headers="headers"
      :items="datetimes"
      dense
      :no-data-text="$t('no_data_available')"
      hide-default-footer
      locale='es'
      :items-per-page="-1"
    >
      <template v-slot:item.dates="{ item }">
        {{ displayDates(item.dates) }}
      </template>
      <template v-slot:item.time="{ item }">
        {{ item.time }}
      </template>
      <template v-slot:item.actions="{ item }">
        <td class="justify-center">
          <v-icon
            small
            class="mr-2"
            @click="editItem(item)"
          >
            edit
          </v-icon>
          <v-icon
            small
            @click="confirmDeletingItem(item)"
          >
            delete
          </v-icon>
        </td>
      </template>
    </v-data-table>
    <v-banner>
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
            <v-fab-transition>
              <v-btn
                small
                button
                right
                fab
                absolute
                v-on="on"
                style="z-index: 0"
                @click="dialog = true, auxDates = [], resetValidations()"
              >
                <v-icon color="#3DCB5E" size="50">mdi-plus-circle</v-icon>
              </v-btn>
            </v-fab-transition>
        </template>
          <span>{{ $t('add_new_dates_time') }}</span>
      </v-tooltip>
    </v-banner>
  </v-container>
</template>

<script>
import moment from 'moment'

/*
  El componente `<DatetimesTable>` se utiliza para agregar fecha o conjunto
  de fechas para programar servicios PHD.

  `<DatetimesTable>` es hijo de `<NewService>` sólo para los servicios PHD.

  ---

  The `<DatetimesTable>` component is used to add date or set
  of dates to schedule HHP services.

  `<DatetimesTable>` is a child of `<NewService>` for HHP services only.

  @author Ixhel Mejías, Adriana Tiso
*/

export default {
  data () {
    return {
      dialog: false,
      confirmDeletingItemDialog: false,
      editedIndex: -1,
      editedItem: {
        dates: [],
        time: null
      },
      deletedIndex: -1,
      deletedItem: {
        dates: [],
        time: null
      },
      headers: [
        { text: this.$t('dates'), sortable: false, value: 'dates' },
        { text: this.$t('time'), sortable: false, value: 'time' },
        { text: this.$t('actions'), sortable: false, value: 'actions' }
      ],
      datetimes: [],
      menu: false,
      auxDates: []
    }
  },
  watch: {
    deleteDatetimes: function () { // Watch for changes in deleteDatetimes prop to detect when the parent component is closed and thus the datetimes should be deleted
      if (this.deleteDatetimes) {
        this.datetimes = []
        this.$emit('datetimesDeleted') // Inform the parent component that datetimes has been deleted
      }
    }
  },
  computed: {
    formTitle () {
      return this.editedIndex === -1 ? this.$t('new_dates_time') : this.$t('edit_dates_time')
    },
    saveDatetimesButtonText () {
      return this.editedIndex === -1 ? this.$t('add') : this.$t('edit')
    },
    isDisabled () {
      return this.auxDates.length === 0 || !this.editedItem.time
    },
    computedDateFormattedMomentjs () {
      return this.formatDates(this.auxDates)
    }
  },
  methods: {
    editItem (item) {
      this.editedIndex = this.datetimes.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
      this.auxDates = this.editedItem.dates
    },
    confirmDeletingItem (item) {
      this.deletedIndex = this.datetimes.indexOf(item)
      this.deletedItem = Object.assign({}, item)
      this.confirmDeletingItemDialog = true
    },
    deleteItem () {
      this.datetimes.splice(this.deletedIndex, 1)
      this.$emit('updateDatetimes', this.datetimes)
      this.auxDates = []
    },
    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },
    saveDatetimes () {
      this.editedItem.dates = this.auxDates
      if (this.editedIndex > -1) {
        Object.assign(this.datetimes[this.editedIndex], this.editedItem)
      } else {
        this.datetimes.push(this.editedItem)
        this.$emit('updateDatetimes', this.datetimes)
      }
      this.close()
    },
    resetValidations () {
      this.$nextTick(() => {
        this.$validator.reset()
      })
    },
    formatDates (dates) {
      if (!dates || dates.length === 0) return null
      else {
        var formattedDates = []
        for (var i = 0; i < dates.length; i++) {
          formattedDates.push(dates[i] ? moment(dates[i]).format('MMM Do YYYY (ddd)') : '')
        }
        return formattedDates
      }
    },
    displayDates (dates) {
      return this.formatDates(dates) !== null ? this.formatDates(dates).join(', ') : ''
    }
  },
  props: {
    deleteDatetimes: Boolean
  }
}
</script>
