<template>
  <div>
    <v-snackbar
      v-model="snackbar"
      :color="color"
      :timeout="timeout"
      :top=true
    >
      {{ text }}
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        {{ $t('close') }}
      </v-btn>
    </v-snackbar>

    <v-row justify="center" v-if="activatorType === 1">
      <v-chip-group
        v-model="selection"
        column
        max=1
        active-class="light-blue--text text--accent-4"
        mandatory
      >
        <v-chip filter outlined :disabled="!attentionCreated" v-for="(service, index) in getAffiliateServices" :key="index" @click="addServiceFromChip(service)">{{ service.display }}</v-chip>
      </v-chip-group>
    </v-row>

    <v-tooltip bottom>
      <template v-slot:activator="{ on }">
        <v-fab-transition>
          <v-btn
            small
            button
            right
            fab
            v-on="on"
            @click="addServiceFromButton()"
            v-if="(activatorType === 2) && permissions_service_creation && (attentionDetails.status !== 'Cerrada') && (attentionDetails.services_hhp_attention.length === 0)"
          >
            <v-icon color="#3DCB5E" size="50">mdi-plus-circle</v-icon>
          </v-btn>
        </v-fab-transition>
      </template>
      <span>{{ $t('create_new_service') }}</span>
    </v-tooltip>

    <v-row justify="center">
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-icon
            class="mr-2"
            v-on="on"
            @click="addServiceFromButton()"
            v-if="(activatorType === 3) && permissions_service_creation"
          >
            mdi-plus-circle
          </v-icon>
        </template>
        <span>{{ $t('create_new_service') }}</span>
      </v-tooltip>
    </v-row>
    <v-row>
      <v-btn
        style="z-index: 0"
        class="ma-2"
        color="success"
        small
        v-if="(activatorType === 4) && permissions_service_creation && (attentionDetails.status !== 'Cerrada') && (attentionDetails.services_hhp_attention.length === 0)"
        @click.stop="addServiceFromButton()"
      >
        <span class="d-none d-lg-flex">{{ $t('successive_service') }}</span>
        <span class="d-flex d-lg-none">{{ $t('successive') }}</span>
      </v-btn>
    </v-row>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-form @submit.prevent="handleSubmit">
        <v-card>
          <v-card-title>
            <span class="headline"> {{ $t('new_service') }} </span>
            <span v-if="activatorType === 3">&nbsp; {{'-'}} &nbsp;</span>
            <span class="headline" v-if="activatorType === 3"> {{ $t('attention_number') }} {{ attentionId }} </span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-xs>
              <v-layout row justify-space-between>
                <v-flex sm6 md6>
                  <!-- Item-value de v-select debe evaluarse si usa index o code -->
                  <v-select
                    v-model="service.index"
                    :items="getAffiliateServices"
                    item-value='index'
                    item-text='display'
                    color="light-blue darken-1"
                    v-bind:label="$t('service_type')"
                    required
                    dense
                    v-on:change="assignServiceType()"
                    v-if="activatorType !== 1"
                    item-disabled="isDisabled"
                  ></v-select>
                </v-flex>
                <v-flex sm3 md3 v-show="findServiceType===1 || findServiceType===3 || findServiceType===4 || findServiceType===6">
                  <v-checkbox
                    v-model="service.isProgrammed"
                    v-bind:label="$t('scheduled')"
                    color="light-blue darken-1"
                    dense
                    @change="setDatetime()"
                  ></v-checkbox>
                </v-flex>

                <v-flex sm4 md4 v-show="service.isProgrammed && (findServiceType===1 || findServiceType===3 || findServiceType===4 || findServiceType===6)">
                  <v-text-field
                    type="date"
                    :value="computedStartDateFormattedMomentjs"
                    v-model="service.date"
                    v-bind:label="$t('date')"
                    v-validate="'required'"
                    :error-messages="errors.collect('service.date')"
                    data-vv-name="service.date"
                    :data-vv-as="$t('date')"
                    dense
                    :min="today"
                    >
                  </v-text-field>
                </v-flex>
                <v-flex sm4 md4 v-show="service.isProgrammed && (findServiceType===1 || findServiceType===3 || findServiceType===4 || findServiceType===6)">
                  <v-text-field
                    type="time"
                    :value="service.time"
                    v-model="service.time"
                    v-bind:label="$t('time')"
                    v-validate="'required'"
                    :error-messages="errors.collect('service.time')"
                    data-vv-name="service.time"
                    :data-vv-as="$t('time')"
                    dense>
                  </v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row justify-space-between>
                <v-flex sm6 md6 v-show="findServiceType===1 || findServiceType===2 || findServiceType===3 || findServiceType===4 || findServiceType===5 || findServiceType===6">
                  <v-textarea
                    v-model="reasonForCare"
                    v-bind:label="$t('reason_for_care')"
                    color="light-blue darken-1"
                    readonly
                    auto-grow
                    rows="1"
                    row-height="15"
                    dense
                  ></v-textarea>
                </v-flex>
                <v-flex sm6 md6 v-show="findServiceType===1 || findServiceType===2 || findServiceType===3 || findServiceType===4 || findServiceType===5 || findServiceType===6">
                  <v-textarea
                    v-model="service.comments"
                    v-bind:label="$t('comments')"
                    color="light-blue darken-1"
                    auto-grow
                    rows="1"
                    row-height="15"
                    dense
                  ></v-textarea>
                </v-flex>
                <v-flex sm8 md8 v-show="findServiceType===1 || findServiceType===2 || findServiceType===3 || findServiceType===4 || findServiceType===5 || findServiceType===6">
                  <v-checkbox
                    v-model="service.sendEmail"
                    v-bind:label="$t('send_service_summary_email')"
                    color="light-blue darken-1"
                    disabled
                    dense
                  ></v-checkbox>
                </v-flex>
              </v-layout>

              <div v-show="findServiceType===1">
                <v-card-text></v-card-text>
                <v-divider></v-divider>
                <v-subheader> {{ $t('hhc_service_details') }} </v-subheader>
                <v-container grid-list-xs>
                  <v-layout row justify-space-between>
                    <v-flex sm12 md12>
                      <v-textarea
                        v-model="service.transferReason"
                        v-bind:label="$t('reason_for_service')"
                        color="light-blue darken-1"
                        auto-grow
                        rows="1"
                        row-height="15"
                        dense
                      ></v-textarea>
                    </v-flex>
                    <v-flex sm12 md12>
                      <v-textarea
                        v-model="destination"
                        color="light-blue darken-1"
                        v-bind:label="$t('destination')"
                        v-validate="'required'"
                        :error-messages="errors.collect('destination')"
                        data-vv-name="destination"
                        dense
                        @click.stop="defaultAddressObject = destinationObject, showAddressForm = true, assignOrigin=false, assignDestination=true"
                        v-bind:hint="this.roles.includes('Médico') ? '' : $t('mandatory_field')"
                        persistent-hint
                        auto-grow
                        rows="1"
                        row-height="15"
                      ></v-textarea>
                    </v-flex>
                    <v-flex sm7 md7>
                      <v-checkbox
                        v-model="service.laboratory"
                        v-bind:label="$t('includes_laboratory_testing')"
                        color="light-blue darken-1"
                        dense
                      ></v-checkbox>
                    </v-flex>
                    <v-flex sm12 md12 v-show="service.laboratory">
                      <v-autocomplete
                        v-model="service.laboratoryExams"
                        :items="examTypes"
                        item-value='id'
                        item-text='name'
                        :label="$t('laboratory_exams')"
                        v-validate="'required'"
                        :error-messages="errors.collect('service.laboratoryExams')"
                        data-vv-name="service.laboratoryExams"
                        :data-vv-as="$t('laboratory_exams')"
                        multiple
                        dense
                        small-chips
                        deletable-chips
                        v-bind:hint="$t('mandatory_field')"
                        persistent-hint
                      ></v-autocomplete>
                    </v-flex>
                  </v-layout>
                </v-container>
                <v-divider></v-divider>
              </div>

              <div v-show="findServiceType===2">
                <v-card-text></v-card-text>
                <v-divider></v-divider>
                <v-subheader> {{ $t('tmg_service_details') }} </v-subheader>
                <v-container grid-list-xs>
                  <v-layout row justify-space-between>
                    <v-flex sm12 md12>
                      <v-checkbox
                        v-model="service.pediatric"
                        v-bind:label="$t('pediatric')"
                        color="light-blue darken-1"
                        dense
                      ></v-checkbox>
                    </v-flex>
                  </v-layout>
                </v-container>
                <v-divider></v-divider>
              </div>

              <div v-show="findServiceType===3">
                <v-card-text></v-card-text>
                <v-divider></v-divider>
                <v-subheader> {{ $t('transfer_service_details') }} </v-subheader>
                <v-container grid-list-xs>
                  <v-layout row justify-space-between>
                    <v-flex sm12 md12>
                      <v-textarea
                        v-model="service.transferReason"
                        v-bind:label="$t('reason_for_service')"
                        color="light-blue darken-1"
                        auto-grow
                        rows="1"
                        row-height="15"
                        dense
                      ></v-textarea>
                    </v-flex>
                    <v-flex sm12 md12>
                      <v-textarea
                        v-model="origin"
                        color="light-blue darken-1"
                        v-bind:label="$t('origin')"
                        v-validate="'required'"
                        :error-messages="errors.collect('origin')"
                        data-vv-name="origin"
                        dense
                        @click.stop="defaultAddressObject = originObject, showAddressForm = true, assignOrigin=true, assignDestination=false"
                        v-bind:hint="this.roles.includes('Médico') ? '' : $t('mandatory_field')"
                        persistent-hint
                        auto-grow
                        rows="1"
                        row-height="15"
                      ></v-textarea>
                    </v-flex>
                    <v-flex sm12 md12>
                      <v-textarea
                        v-model="destination"
                        color="light-blue darken-1"
                        v-bind:label="$t('destination')"
                        v-validate="'required'"
                        :error-messages="errors.collect('destination')"
                        data-vv-name="destination"
                        dense
                        @click.stop="defaultAddressObject = destinationObject, showAddressForm = true, assignOrigin=false, assignDestination=true"
                        v-bind:hint="this.roles.includes('Médico') ? '' : $t('mandatory_field')"
                        persistent-hint
                        auto-grow
                        rows="1"
                        row-height="15"
                      ></v-textarea>
                    </v-flex>
                    <v-flex sm4 md4>
                      <v-checkbox
                        v-model="service.isEmergency"
                        v-bind:label="$t('emergency')"
                        color="light-blue darken-1"
                        dense
                      ></v-checkbox>
                    </v-flex>
                    <v-flex sm4 md4>
                      <v-checkbox
                        v-model="service.roundTrip"
                        v-bind:label="$t('round_trip')"
                        color="light-blue darken-1"
                        dense
                      ></v-checkbox>
                    </v-flex>
                    <v-flex sm2 md2>
                      <v-checkbox
                        v-model="service.intensiveCareUnit"
                        v-bind:label="$t('icu')"
                        color="light-blue darken-1"
                        dense
                      ></v-checkbox>
                    </v-flex>
                    <v-flex sm4 md4>
                      <v-checkbox
                        v-model="service.interinstitutional"
                        v-bind:label="$t('interinstitutional')"
                        color="light-blue darken-1"
                        dense
                      ></v-checkbox>
                    </v-flex>
                    <v-flex sm4 md4>
                      <v-checkbox
                        v-model="service.interstate"
                        v-bind:label="$t('interstate')"
                        color="light-blue darken-1"
                        dense
                      ></v-checkbox>
                    </v-flex>
                  </v-layout>
                </v-container>
                <v-divider></v-divider>
              </div>
              <div v-show="findServiceType===4">
                <v-card-text></v-card-text>
                <v-divider></v-divider>
                <v-subheader> {{ $t('hmd_service_details') }} </v-subheader>
                <v-container grid-list-xs>
                  <v-layout row justify-space-between>
                    <v-flex sm12 md12>
                      <v-textarea
                        v-model="service.transferReason"
                        v-bind:label="$t('reason_for_service')"
                        color="light-blue darken-1"
                        auto-grow
                        rows="1"
                        row-height="15"
                        dense
                      ></v-textarea>
                    </v-flex>
                    <v-flex sm12 md12>
                      <v-textarea
                        v-model="destination"
                        color="light-blue darken-1"
                        v-bind:label="$t('destination')"
                        :error-messages="errors.collect('destination')"
                        data-vv-name="destination"
                        dense
                        @click.stop="defaultAddressObject = destinationObject, showAddressForm = true, assignOrigin=false, assignDestination=true"
                        auto-grow
                        rows="1"
                        row-height="15"
                      ></v-textarea>
                    </v-flex>
                    <v-flex sm6 md6>
                      <v-combobox
                        v-model="service.source"
                        :items="sourceItems"
                        item-value='id'
                        item-text='name'
                        color="light-blue darken-1"
                        v-bind:label="$t('service_request_source')"
                        v-validate="'required'"
                        :error-messages="errors.collect('source')"
                        data-vv-name="source"
                        v-bind:data-vv-as="$t('service_request_source')"
                        dense
                        small-chips
                        deletable-chips
                        v-bind:hint="$t('mandatory_field')"
                        persistent-hint
                        :disabled="disableSource"
                      ></v-combobox>
                    </v-flex>
                    <v-flex sm4 md4>
                      <v-checkbox
                        v-model="service.fromPrivatePractitioner"
                        v-bind:label="$t('from_private_practitioner')"
                        color="light-blue darken-1"
                        :readonly="possibleReasonsForPrivate()"
                        :disabled="disableSource"
                        dense
                      ></v-checkbox>
                    </v-flex>
                  </v-layout>
                </v-container>
                <v-divider></v-divider>
              </div>
              <div v-show="findServiceType===5">
                <v-card-text></v-card-text>
                <v-divider></v-divider>
                <v-subheader> {{ $t('hhp_service_details') }} </v-subheader>
                <v-container grid-list-xs>
                  <v-layout row justify-space-between>
                    <v-flex sm12 md12>
                      <v-textarea
                        v-model="service.transferReason"
                        v-bind:label="$t('reason_for_service')"
                        color="light-blue darken-1"
                        auto-grow
                        rows="1"
                        row-height="15"
                        dense
                      ></v-textarea>
                    </v-flex>
                    <v-flex sm12 md12>
                      <v-textarea
                        v-model="destination"
                        color="light-blue darken-1"
                        v-bind:label="$t('destination')"
                        v-validate="'required'"
                        :error-messages="errors.collect('destination')"
                        data-vv-name="destination"
                        dense
                        @click.stop="defaultAddressObject = destinationObject, showAddressForm = true, assignOrigin=false, assignDestination=true"
                        v-bind:hint="this.roles.includes('Médico') ? '' : $t('mandatory_field')"
                        persistent-hint
                        auto-grow
                        rows="1"
                        row-height="15"
                      ></v-textarea>
                    </v-flex>
                    <v-flex sm6 md6>
                      <v-combobox
                        v-model="service.source"
                        :items="sourceItems"
                        item-value='id'
                        item-text='name'
                        color="light-blue darken-1"
                        v-bind:label="$t('service_request_source')"
                        v-validate="'required'"
                        :error-messages="errors.collect('source')"
                        data-vv-name="source"
                        v-bind:data-vv-as="$t('service_request_source')"
                        dense
                        small-chips
                        deletable-chips
                        v-bind:hint="$t('mandatory_field')"
                        persistent-hint
                      ></v-combobox>
                    </v-flex>
                    <DatetimesTable v-on:updateDatetimes="onUpdateDatetimeItems" :deleteDatetimes="deleteDatetimes" v-on:datetimesDeleted="onDatetimesDeleted" />
                    <br />
                  </v-layout>
                </v-container>
                <v-divider></v-divider>
              </div>

              <div v-show="findServiceType===6">
                <v-card-text></v-card-text>
                <v-divider></v-divider>
                <v-subheader> {{ $t('lab_service_details') }} </v-subheader>
                <v-container grid-list-xs>
                  <v-layout row justify-space-between>
                    <v-flex sm12 md12>
                      <v-textarea
                        v-model="service.transferReason"
                        v-bind:label="$t('reason_for_service')"
                        color="light-blue darken-1"
                        auto-grow
                        rows="1"
                        row-height="15"
                        dense
                      ></v-textarea>
                    </v-flex>
                    <v-flex sm12 md12>
                      <v-textarea
                        v-model="destination"
                        color="light-blue darken-1"
                        v-bind:label="$t('destination')"
                        v-validate="'required'"
                        :error-messages="errors.collect('destination')"
                        data-vv-name="destination"
                        dense
                        @click.stop="defaultAddressObject = destinationObject, showAddressForm = true, assignOrigin=false, assignDestination=true"
                        v-bind:hint="this.roles.includes('Médico') ? '' : $t('mandatory_field')"
                        persistent-hint
                        auto-grow
                        rows="1"
                        row-height="15"
                      ></v-textarea>
                    </v-flex>
                    <v-flex sm12 md12>
                      <v-autocomplete
                        v-model="service.laboratoryExams"
                        :items="examTypes"
                        item-value='id'
                        item-text='name'
                        :label="$t('laboratory_exams')"
                        v-validate="'required'"
                        :error-messages="errors.collect('service.laboratoryExams')"
                        data-vv-name="service.laboratoryExams"
                        :data-vv-as="$t('laboratory_exams')"
                        multiple
                        dense
                        small-chips
                        deletable-chips
                        v-bind:hint="$t('mandatory_field')"
                        persistent-hint
                      ></v-autocomplete>
                    </v-flex>
                  </v-layout>
                </v-container>
                <v-divider></v-divider>
              </div>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-btn
            color="white"
            @click="dialog = false, resetServiceForm()"
            >
            {{ $t('cancel') }}
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn
            color="success"
            @click="dialog = false"
            type="submit"
            :disabled="isDisabled"
            >
            {{ $t('create') }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
    <AddressForm :visible="showAddressForm" :showAutocomplete="true" :createServiceAddress="true" :defaultAddress="defaultAddressObject" @close="showAddressForm=false" @addressAssigned="onAddressAssigned" />
  </div>
</template>

<script>
import moment from 'moment'
import { mapGetters } from 'vuex'
import axios from 'axios'
import AddressForm from '@/components/attentions/attention_details/attention_services/AddressForm'
import DatetimesTable from '@/components/attentions/attention_details/attention_services/DatetimesTable'

/*
  El componente `<NewService>` despliega un formulario para crear
  servicios dentro de una atención.

  Este componente genera distintos tipos de formularios según el
  tipo de servicio y desde dónde se desee crear.

  Se puede acceder a `<NewService>` mediante los componentes
  `<OnHoldAttentionList>`, `<InVerificationAttentionList>`, `<InProgressAttentionList>`,
  `<CompletedAttentionList>`, `<NewAttention>`, `<AttentionServices>` y `<ServiceDetails>`.

  ---

  The `<NewService>` component displays a form to create
  services within an attention.

  This component generates different types of forms according to the
  type of service and from where you want to create it.

  You can access `<NewService>` through the components
  `<OnHoldAttentionList>`, `<InVerificationAttentionList>`, `<InProgressAttentionList>`,
  `<CompletedAttentionList>`, `<NewAttention>`, `<AttentionServices>` y `<ServiceDetails>`.

  @author Ixhel Mejías, Adriana Tiso
*/

export default {
  components: {AddressForm, DatetimesTable},
  data () {
    return {
      service: {
        index: '',
        type: '',
        policy: '',
        name: '',
        isProgrammed: false,
        date: new Date(Date.UTC(new Date().getFullYear(), new Date().getMonth(),
          new Date().getDate(), new Date().getHours(), new Date().getMinutes(),
          new Date().getSeconds())).toISOString().substr(0, 10),
        time: String(new Date().getHours()).padStart(2, '0') + ':' +
          String(new Date().getMinutes()).padStart(2, '0'),
        isEmergency: false,
        roundTrip: false,
        intensiveCareUnit: false,
        interinstitutional: false,
        interstate: false,
        comments: '',
        transferReason: '',
        laboratory: false,
        laboratoryExams: [],
        pediatric: false,
        sendEmail: true,
        acuteStock: false,
        criticalStock: false,
        source: null,
        datetimeItems: [],
        fromPrivatePractitioner: false,
        diagnoses: [],
        otherDiagnoses: ''
      },
      dialog: false,
      snackbar: false,
      text: '',
      timeout: 6000,
      color: '',
      calendarMenu: false,
      watchMenu: false,
      selection: '',
      reasonForCare: '',
      origin: '',
      destination: '',
      showAddressForm: false,
      assignOrigin: false,
      assignDestination: false,
      originObject: {},
      destinationObject: {},
      defaultAddressObject: {},
      originServiceAddressId: null,
      destinationServiceAddressId: null,
      serviceType: null,
      deleteDatetimes: false,
      disableSource: false,
      processing: false,
      today: new Date(Date.UTC(new Date().getFullYear(), new Date().getMonth(), new Date().getDate(), new Date().getHours(), new Date().getMinutes(), new Date().getSeconds())).toISOString().substr(0, 10)
    }
  },
  beforeDestroy () {
    if (this.unwatchAffiliate) {
      this.unwatchAffiliate()
    }
    if (this.unwatchAttention) {
      this.unwatchAttention()
    }
  },
  watch: {
    serviceType: function () { // Watch for changes in selected service type to assign origin/destination addresses for successive service
      //  Resetting non common form fields on service type change
      this.service.isProgrammed = false
      this.service.date = null
      this.service.time = null
      this.service.transferReason = ''
      this.service.laboratory = false
      this.service.laboratoryExams = []
      this.service.isEmergency = false
      this.service.roundTrip = false
      this.service.intensiveCareUnit = false
      this.service.interinstitutional = false
      this.service.interstate = false
      this.service.pediatric = false
      this.service.sendEmail = true
      this.service.acuteStock = false
      this.service.criticalStock = false
      this.service.source = ''
      this.service.fromPrivatePractitioner = false
      this.service.diagnoses = []
      this.service.otherDiagnoses = ''

      this.origin = ''
      this.destination = ''
      this.originObject = {}
      this.destinationObject = {}
      this.originServiceAddressId = null
      this.destinationServiceAddressId = null

      this.$nextTick(() => {
        this.$validator.reset()
      })

      if (this.activatorType === 4) { //  Successive service
        // Origin/destination addresses assignment
        var destinationAddressLine2 = ''
        if ((this.serviceType === 1 || this.serviceType === 4 || this.serviceType === 6) && (this.serviceDetails.service_type.id === 3)) { //  Successive HHC/HMD/LAB service from Transfer service
          if (this.serviceDetails.origin_address) {
            var originAddressLine2 = this.serviceDetails.origin_address.address_line2 ? ' (' + this.serviceDetails.origin_address.address_line2 + ')' : ''
            this.destination = this.serviceDetails.origin_address.unknown_region
              ? this.serviceDetails.origin_address.address_line1 + ', ' + this.$t('unknown_region') + ', ' + this.serviceDetails.origin_address.region.second_level.name + ', ' + this.serviceDetails.origin_address.region.second_level.first_level.name + originAddressLine2
              : this.serviceDetails.origin_address.address_line1 + ', ' + this.serviceDetails.origin_address.region.name + ', ' + this.serviceDetails.origin_address.region.second_level.name + ', ' + this.serviceDetails.origin_address.region.second_level.first_level.name + originAddressLine2
            this.destinationObject = this.serviceDetails.origin_address
            this.destinationServiceAddressId = this.serviceDetails.origin_address.id
          }
        } else if ((this.serviceType === 3) && (this.serviceDetails.service_type.id === 1 || this.serviceDetails.service_type.id === 4 || this.serviceDetails.service_type.id === 6)) { //  Successive Transfer service from HHC/HMD/LAB service
          if (this.serviceDetails.destination_address) {
            destinationAddressLine2 = this.serviceDetails.destination_address.address_line2 ? ' (' + this.serviceDetails.destination_address.address_line2 + ')' : ''
            this.origin = this.serviceDetails.destination_address.unknown_region
              ? this.serviceDetails.destination_address.address_line1 + ', ' + this.$t('unknown_region') + ', ' + this.serviceDetails.destination_address.region.second_level.name + ', ' + this.serviceDetails.destination_address.region.second_level.first_level.name + destinationAddressLine2
              : this.serviceDetails.destination_address.address_line1 + ', ' + this.serviceDetails.destination_address.region.name + ', ' + this.serviceDetails.destination_address.region.second_level.name + ', ' + this.serviceDetails.destination_address.region.second_level.first_level.name + destinationAddressLine2
            this.originObject = this.serviceDetails.destination_address
            this.originServiceAddressId = this.serviceDetails.destination_address.id
          }
        } else if ((this.serviceType === 1 || this.serviceType === 4 || this.serviceType === 6) && (this.serviceDetails.service_type.id === 1 || this.serviceDetails.service_type.id === 4 || this.serviceDetails.service_type.id === 6)) { //  Successive HHC/HMD/LAB service from HHC/HMD/LAB service
          if (this.serviceDetails.destination_address) {
            destinationAddressLine2 = this.serviceDetails.destination_address.address_line2 ? ' (' + this.serviceDetails.destination_address.address_line2 + ')' : ''
            this.destination = this.serviceDetails.destination_address.unknown_region
              ? this.serviceDetails.destination_address.address_line1 + ', ' + this.$t('unknown_region') + ', ' + this.serviceDetails.destination_address.region.second_level.name + ', ' + this.serviceDetails.destination_address.region.second_level.first_level.name + destinationAddressLine2
              : this.serviceDetails.destination_address.address_line1 + ', ' + this.serviceDetails.destination_address.region.name + ', ' + this.serviceDetails.destination_address.region.second_level.name + ', ' + this.serviceDetails.destination_address.region.second_level.first_level.name + destinationAddressLine2
            this.destinationObject = this.serviceDetails.destination_address
            this.destinationServiceAddressId = this.serviceDetails.destination_address.id
          }
        }

        // Source assignment
        if ((this.serviceType === 4) && (this.serviceDetails.service_type.id === 1)) { //  Successive HMD service from HHC service
          this.service.source = this.sourceItems.find(source => source.name === 'AMD')
          this.disableSource = true
        } else if ((this.serviceType === 4) && (this.serviceDetails.service_type.id === 2)) { //  Successive HMD service from TMG service
          this.service.source = this.sourceItems.find(source => source.name === 'OMT')
          this.disableSource = true
        }

        // Diagnoses assignment
        if (this.serviceDetails.diagnoses.length !== 0) {
          for (var i = 0; i < this.serviceDetails.diagnoses.length; i++) {
            this.service.diagnoses.push(this.serviceDetails.diagnoses[i].id)
          }
        }

        // Other diagnoses assignment
        if (this.serviceDetails.other_diagnoses) {
          this.service.otherDiagnoses = this.serviceDetails.other_diagnoses
        }
      }
    }
  },
  computed: {
    ...mapGetters([
      // map this.getAffiliateServices to this.$store.getters.getAffiliateServices
      'getAffiliateServices',
      'roles',
      'serviceDetails',
      'attentionDetails',
      'affiliateAddressesItems',
      'sourceItems',
      'examTypes'
    ]),
    permissions_service_creation () {
      return this.roles.includes('Director') || this.roles.includes('Operador') || this.roles.includes('Médico') || this.roles.includes('Despachador') || this.roles.includes('Coordinador') || this.roles.includes('Gerente')
    },
    computedStartDateFormattedMomentjs () {
      moment.locale(this.$i18n.locale)
      return this.service.date ? moment(this.service.date).format('dddd, MMMM Do YYYY') : ''
    },
    findServiceType () {
      if (this.service.type !== '') {
        return this.service.type
      } else if (this.service.index !== '') {
        for (var i = 0; i < this.getAffiliateServices.length; i++) {
          if (this.getAffiliateServices[i].index === this.service.index) {
            return this.getAffiliateServices[i].code
          }
        }
      }
    },
    findPolicyId () {
      if (this.service.policy !== '') {
        return this.service.policy
      } else if (this.service.index !== '') {
        for (var i = 0; i < this.getAffiliateServices.length; i++) {
          if (this.getAffiliateServices[i].index === this.service.index) {
            return this.getAffiliateServices[i].policy
          }
        }
      }
    },
    isDisabled () {
      if (!this.findServiceType) {
        return true
      } else {
        if (this.service.isProgrammed && (!this.service.date || !this.service.time)) {
          return true
        } else if (this.service.isProgrammed && this.service.date && this.service.time) {
          var programmedDatetime = new Date(this.service.date + ' ' + this.service.time).toISOString()
          var presentDatetime = new Date().toISOString()
          return moment(programmedDatetime).isBefore(moment(presentDatetime))
        }

        if (this.destination === '' && !this.roles.includes('Médico') && (this.findServiceType === 1 || this.findServiceType === 3 || this.findServiceType === 5 || this.findServiceType === 6)) { //  Destination is optional if the user has practitioner role
          return true
        } else if (this.origin === '' && !this.roles.includes('Médico') && this.findServiceType === 3) { //  Origin is optional if the user has practitioner role
          return true
        } else if (!this.service.source && !this.disableSource && this.findServiceType === 4) {
          return true
        } else if ((!this.service.source || this.service.datetimeItems.length === 0) && this.findServiceType === 5) {
          return true
        } else if ((this.service.laboratory && this.service.laboratoryExams.length === 0) && this.findServiceType === 1) {
          return true
        } else if (this.service.laboratoryExams.length === 0 && this.findServiceType === 6) {
          return true
        } else {
          return false
        }
      }
    }
  },
  methods: {
    possibleReasonsForPrivate () {
      if (this.service.source && this.service.source !== null && this.service.source !== undefined) {
        if (this.service.source.name === 'OMT' || this.service.source.name === 'Faltante AMD' || this.service.source.name === 'OMV') {
          this.fromPrivatePractitioner = false
          return true
        } else return false
      }
    },
    addServiceFromChip (service) { // Using chips (in new attention)
      this.service.type = service.code
      this.service.name = service.display
      this.service.policy = service.policy

      this.getFormData()

      this.dialog = true
    },
    addServiceFromButton () { //  TODO: edit Using small button (from attention list)
      if (this.activatorType === 2 || this.activatorType === 4) {
        this.getFormData()
      } else if (this.activatorType === 3) {
        window.sessionStorage.setItem('selectedAttention', String(this.attentionId))
        window.sessionStorage.setItem('selectedAffiliate', String(this.affiliateId))

        this.$store.dispatch('getAffiliateDetails', window.sessionStorage.getItem('selectedAffiliate'))
        // TODO: check performance
        this.$store.dispatch('getServiceAddressesItemsByAffiliate', window.sessionStorage.getItem('selectedAffiliate'))

        this.unwatchAffiliate = this.$store.watch(() => this.$store.getters.affiliateDetails, affiliateDetails => {
          this.$store.dispatch('getAttentionDetails', window.sessionStorage.getItem('selectedAttention'))
        })

        this.unwatchAttention = this.$store.watch(() => this.$store.getters.attentionDetails, attentionDetails => {
          this.getFormData()
        })
      }

      this.dialog = true
    },
    getFormData () {
      if (this.attentionDetails.length !== 0) {
        this.reasonForCare = this.attentionDetails.reason_for_care
        this.service.comments = this.attentionDetails.observations

        // TODO: check
        // this.$store.dispatch('getServiceAddressesItemsByAffiliate', this.attentionDetails.affiliate.id)

        if (this.unwatchAttention) {
          this.unwatchAttention()
        }
      }
    },
    resetServiceForm: function () {
      this.service.isProgrammed = false
      this.service.date = null
      this.service.time = null
      this.service.transferReason = ''
      this.service.laboratory = false
      this.service.laboratoryExams = []
      this.service.isEmergency = false
      this.service.roundTrip = false
      this.service.intensiveCareUnit = false
      this.service.interinstitutional = false
      this.service.interstate = false
      this.service.sendEmail = true
      this.service.pediatric = false
      this.service.acuteStock = false
      this.service.criticalStock = false
      this.service.source = ''
      this.service.datetimeItems = []
      this.service.fromPrivatePractitioner = false
      this.service.diagnoses = []
      this.service.otherDiagnoses = ''

      this.origin = ''
      this.destination = ''
      this.originObject = {}
      this.destinationObject = {}
      this.originServiceAddressId = null
      this.destinationServiceAddressId = null

      this.service.index = ''
      this.deleteDatetimes = true
      this.serviceType = null

      this.$nextTick(() => {
        this.$validator.reset()
      })
    },
    handleSubmit (e) {
      if (this.processing) {
        return
      }
      this.processing = true

      var serviceData = {}
      var serviceType = this.findServiceType
      var policyId = this.findPolicyId
      var url = ''

      var origin = this.originServiceAddressId
      var destination = this.destinationServiceAddressId

      var priorService = null
      var priorServiceType = null
      var successiveRequester = null

      if (this.activatorType === 4) { // Successive service
        priorService = this.serviceDetails.id
        priorServiceType = this.serviceDetails.service_type.id
        successiveRequester = this.$store.state.login.authUser.pk // TODO: check
      }

      if (serviceType === 1) {
        url = process.env.ROOT_API + 'api/v1/HHCs-simple'

        serviceData = {
          scheduled: this.service.isProgrammed,
          scheduled_date_time: this.service.isProgrammed ? new Date(this.service.date + ' ' + this.service.time).toISOString() : null,
          comments: this.service.comments,
          user: this.$store.state.login.authUser.pk,
          attention: Number(sessionStorage.getItem('selectedAttention')),
          policy: policyId,
          symptoms: [],
          diagnoses: this.service.diagnoses.length !== 0 ? this.service.diagnoses : [],
          other_diagnoses: this.service.otherDiagnoses,
          transfer_reason: this.service.transferReason,
          destination_address: destination,
          prior_service: priorService,
          prior_service_type: priorServiceType,
          successive_requester: successiveRequester,
          lab_examination: this.service.laboratory,
          lab_tests: this.service.laboratory ? this.service.laboratoryExams : [],
          send_email: this.service.sendEmail
        }
      } else if (serviceType === 2) {
        url = process.env.ROOT_API + 'api/v1/TMGs-simple'

        serviceData = {
          scheduled: this.service.isProgrammed,
          scheduled_date_time: null,
          comments: this.service.comments,
          user: this.$store.state.login.authUser.pk,
          attention: Number(sessionStorage.getItem('selectedAttention')),
          policy: policyId,
          is_pediatric: this.service.pediatric,
          symptoms: [],
          diagnoses: this.service.diagnoses.length !== 0 ? this.service.diagnoses : [],
          other_diagnoses: this.service.otherDiagnoses,
          prior_service: priorService,
          prior_service_type: priorServiceType,
          successive_requester: successiveRequester,
          send_email: this.service.sendEmail
        }
      } else if (serviceType === 3) {
        url = process.env.ROOT_API + 'api/v1/transfers-simple'

        serviceData = {
          scheduled: this.service.isProgrammed,
          scheduled_date_time: this.service.isProgrammed ? new Date(this.service.date + ' ' + this.service.time).toISOString() : null,
          comments: this.service.comments,
          user: this.$store.state.login.authUser.pk,
          attention: Number(sessionStorage.getItem('selectedAttention')),
          policy: policyId,
          symptoms: [],
          diagnoses: this.service.diagnoses.length !== 0 ? this.service.diagnoses : [],
          other_diagnoses: this.service.otherDiagnoses,
          transfer_reason: this.service.transferReason,
          origin_address: origin,
          destination_address: destination,
          prior_service: priorService,
          prior_service_type: priorServiceType,
          successive_requester: successiveRequester,
          emergency: this.service.isEmergency,
          simple_trip: !this.service.roundTrip,
          icu: this.service.intensiveCareUnit,
          interinstitutional: this.service.interinstitutional,
          interstate: this.service.interstate,
          send_email: this.service.sendEmail
        }
      } else if (serviceType === 4) {
        url = process.env.ROOT_API + 'api/v1/HMDs-simple'

        serviceData = {
          scheduled: this.service.isProgrammed,
          scheduled_date_time: this.service.isProgrammed ? new Date(this.service.date + ' ' + this.service.time).toISOString() : null,
          comments: this.service.comments,
          user: this.$store.state.login.authUser.pk,
          attention: Number(sessionStorage.getItem('selectedAttention')),
          policy: policyId,
          symptoms: [],
          diagnoses: this.service.diagnoses.length !== 0 ? this.service.diagnoses : [],
          other_diagnoses: this.service.otherDiagnoses,
          transfer_reason: this.service.transferReason,
          destination_address: destination,
          prior_service: priorService,
          prior_service_type: priorServiceType,
          successive_requester: successiveRequester,
          send_email: this.service.sendEmail,
          acute_inventory: this.service.acuteStock,
          critical_inventory: this.service.criticalStock,
          source: this.service.source.id,
          from_private_practitioner: this.service.fromPrivatePractitioner
        }
      } else if (serviceType === 5) {
        url = process.env.ROOT_API + 'api/v1/attentions-simple/' + Number(sessionStorage.getItem('selectedAttention'))

        // Including dates and times in a single array and arranging format
        var datetimes = []
        for (var i = 0; i < this.service.datetimeItems.length; i++) {
          for (var j = 0; j < this.service.datetimeItems[i].dates.length; j++) {
            datetimes.push(new Date(this.service.datetimeItems[i].dates[j] + ' ' + this.service.datetimeItems[i].time).toISOString())
          }
        }

        serviceData = {
          hhp: {
            scheduled: true, // HHP service must be programmed
            comments: this.service.comments,
            user: this.$store.state.login.authUser.pk,
            policy: policyId,
            transfer_reason: this.service.transferReason,
            destination_address: destination,
            send_email: this.service.sendEmail,
            source: this.service.source.id
          },
          hhps_datetime: datetimes
        }
      } else if (serviceType === 6) {
        url = process.env.ROOT_API + 'api/v1/LABs-simple'

        serviceData = {
          scheduled: this.service.isProgrammed,
          scheduled_date_time: this.service.isProgrammed ? new Date(this.service.date + ' ' + this.service.time).toISOString() : null,
          comments: this.service.comments,
          user: this.$store.state.login.authUser.pk,
          attention: Number(sessionStorage.getItem('selectedAttention')),
          policy: policyId,
          symptoms: [],
          diagnoses: this.service.diagnoses.length !== 0 ? this.service.diagnoses : [],
          other_diagnoses: this.service.otherDiagnoses,
          transfer_reason: this.service.transferReason,
          destination_address: destination,
          prior_service: priorService,
          prior_service_type: priorServiceType,
          successive_requester: successiveRequester,
          lab_tests: this.service.laboratoryExams,
          send_email: this.service.sendEmail
        }
      }

      if (this.activatorType === 1 && serviceType === 5) { // Activated from chips in new attention to create HHP
        axios.patch(url, serviceData, {
          headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
            'Content-Type': 'application/json'
          }
        })
          .then((response) => {
            this.processing = false
            if (response === undefined) {
              console.log('response is undefined')
            } else {
              this.text = this.$t('new_services_success')
              this.dialog = false

              if (this.activatorType === 1) {
                this.$emit('serviceCreated', this.text)
                setTimeout(() => { this.$router.push({name: 'Attentions'}) }, 4000)
              }
            }
          })
      } else { // Activated from buttons (for all service types except HHP)
        axios.post(url, serviceData, {
          headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
            'Content-Type': 'application/json'
          }
        })
          .then((response) => {
            this.processing = false
            if (response === undefined) {
              console.log('response is undefined')
            } else {
              if (this.activatorType === 2 || this.activatorType === 4) {
                //  Updating attention services tabs
                this.$store.dispatch('getAttentionDetails', serviceData.attention)
                const data = {
                  pk: response.data.id,
                  type: serviceType
                }
                window.sessionStorage.setItem('selectedService', serviceType + '-' + response.data.id)
                this.$store.dispatch('getServiceDetails', data)
              } else if (this.activatorType === 3) {
                this.$store.dispatch('getOnHoldAttentionItems') //  Updating on hold attention list
                this.$store.dispatch('getInVerificationAttentionItems') //  Updating in verification attention list
                this.$store.dispatch('getInProgressAttentionItems') //  Updating in progress attention list
                this.$store.dispatch('getCompletedAttentionItems') //  Updating completed attention list
                this.$store.dispatch('getNextScheduledAttentionItems') //  Updating next scheduled attention list
              }

              if (this.activatorType === 3) {
                this.text = this.$t('new_service_success') + ' ' + this.$t('available_in_seconds')
              } else {
                this.text = this.$t('new_service_success')
              }

              this.dialog = false

              if (this.activatorType === 2 || this.activatorType === 3) {
                this.color = 'success'
                this.timeout = 5000
                this.snackbar = true
              }

              if (this.activatorType === 1) {
                this.$emit('serviceCreated', this.text)
                setTimeout(() => { this.$router.push({name: 'Attentions'}) }, 4000)
              }
            }
          })
          .catch((error) => {
            this.processing = false
            this.text = error.request.statusText

            if (this.activatorType === 2 || this.activatorType === 3) {
              this.color = 'error'
              this.timeout = 8000
              this.snackbar = true
            }

            if (this.activatorType === 1) {
              this.$emit('serviceNotCreated', this.text)
            }

            console.log(error)
            console.debug(error)
            console.dir(error)
          })
      }
    },
    onAddressAssigned (...args) {
      const [address, serviceAddressId] = args
      if (this.assignOrigin) {
        var originAddressLine2 = address.address_line2 ? ' (' + address.address_line2 + ')' : ''
        this.origin = address.unknown_region
          ? address.address_line1 + ', ' + this.$t('unknown_region') + ', ' + address.region.second_level.name + ', ' + address.region.second_level.first_level.name + originAddressLine2
          : address.address_line1 + ', ' + address.region.name + ', ' + address.region.second_level.name + ', ' + address.region.second_level.first_level.name + originAddressLine2
        this.assignOrigin = false
        this.originObject = address
        this.originServiceAddressId = serviceAddressId
      } else if (this.assignDestination) {
        var destinationAddressLine2 = address.address_line2 ? ' (' + address.address_line2 + ')' : ''
        this.destination = address.unknown_region
          ? address.address_line1 + ', ' + this.$t('unknown_region') + ', ' + address.region.second_level.name + ', ' + address.region.second_level.first_level.name + destinationAddressLine2
          : address.address_line1 + ', ' + address.region.name + ', ' + address.region.second_level.name + ', ' + address.region.second_level.first_level.name + destinationAddressLine2
        this.assignDestination = false
        this.destinationObject = address
        this.destinationServiceAddressId = serviceAddressId
      }
    },
    assignServiceType () { //  TODO: check
      if (this.service.type !== '') {
        this.serviceType = this.service.type
      } else if (this.service.index !== '') {
        for (var i = 0; i < this.getAffiliateServices.length; i++) {
          if (this.getAffiliateServices[i].index === this.service.index) {
            this.serviceType = this.getAffiliateServices[i].code
          }
        }
      }
    },
    setDatetime () {
      if (this.service.isProgrammed) {
        this.service.date = new Date(Date.UTC(new Date().getFullYear(), new Date().getMonth(),
          new Date().getDate(), new Date().getHours(), new Date().getMinutes(),
          new Date().getSeconds())).toISOString().substr(0, 10)
        this.service.time = String(new Date().getHours()).padStart(2, '0') + ':' +
          String(new Date().getMinutes()).padStart(2, '0')
      }
    },
    onUpdateDatetimeItems (value) {
      this.service.datetimeItems = value
    },
    onDatetimesDeleted () {
      this.deleteDatetimes = false
    }
  },
  props: {
    activatorType: Number, // 1: chips (from new attention), 2: large button (from attention service list), 3: small button (from attention list), 4: successive service button
    attentionCreated: Boolean,
    attentionId: Number,
    affiliateId: Number
  }
}
</script>
