<template>
  <div>
    <v-row>
      <v-tooltip bottom>
      <template v-slot:activator="{ on }">
        <v-fab-transition>
          <v-btn
        style="z-index: 0"
        class="ma-2"
        small
        v-on="on"
        @click.stop="printServiceFromButton()"
      >
        <v-icon>
        print
        </v-icon>
      </v-btn>
        </v-fab-transition>
      </template>
      <span>{{ $t('print_service') }}</span>
    </v-tooltip>
    </v-row>

    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-form @submit.prevent="handleSubmit">
        <v-card>
          <div id="printService">
            <head>
              </head>
              <body>
          <v-card-text>
            <v-card-title style="font-size:14px"><p><b>{{ $t('service_ticket') }}:</b> {{service.service_type.code}} #{{service.id}} - Atención #{{service.attention}}</p>
            <p><b> Paciente:</b> {{fullNamePatient}}, <b>C.I.:</b> {{this.attentionDetails.affiliate.dni}}, <b>Edad:</b> {{this.getAge()}} </p></v-card-title>

              <v-container grid-list-mdv style="padding:0px">
                <v-layout wrap justify-space-between>
                  <v-flex xs12 sm12 md12>
                  <div class="border"><p style="font-size:12px"><b> {{ $t('service_data') }} </b></p>
                  <v-layout wrap justify-space-between>
                  <v-flex xs6 sm6 md6>
                    <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p><span style="font-size:12px; color:grey">{{$t('policy')}}: </span>
                    <span style="font-size:12px">{{plan}}/{{serviceDetails.policy.plan.organization.name}}</span></p>
                    </v-col>
                  </v-flex>
                  <v-flex xs3 sm3 md3>
                    <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p><span style="font-size:12px; color:grey">{{$t('status')}}: </span>
                    <span style="font-size:12px">{{service.status}}</span></p>
                    </v-col>
                  </v-flex>
                  <v-flex xs3 sm3 md3>
                    <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p><span style="font-size:12px; color:grey">{{$t('date')}}: </span>
                    <span style="font-size:12px">{{getCurrentDatetime}}</span></p>
                    </v-col>
                  </v-flex>
                  </v-layout>
                  <v-layout wrap justify-space-between>
                  <v-flex xs6 sm6 md6 v-if="service.user.id">
                    <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p><span style="font-size:12px; color:grey">{{$t('created_by')}}: </span>
                    <span style="font-size:12px">{{fullNameUser}}</span></p>
                    </v-col>
                    </v-flex>
                  <v-flex xs6 sm6 md6>
                    <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p v-if="service.attendant !== null"><span style="font-size:12px; color:grey">{{$t('attendant')}}: </span>
                    <span style="font-size:12px" v-if="service.attendant">{{fullNameAttendant}}</span></p>
                    </v-col>
                  </v-flex>
                  </v-layout>
                  <v-layout wrap justify-space-between>
                  <v-flex xs12 sm12 md12>
                    <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p v-if="service.transfer_reason"><span style="font-size:12px; color:grey">{{$t('reason_for_service')}}: </span>
                    <span style="font-size:12px">{{service.transfer_reason}}</span></p>
                    </v-col>
                  </v-flex>
                  <v-flex xs7 sm7 md7>
                    <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p><span style="font-size:12px; color:grey">{{$t('phone_numbers')}}: </span>
                    <span style="font-size:12px">{{getPhones}}</span></p>
                    </v-col>
                  </v-flex>
                  <v-flex xs5 sm5 md5>
                    <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p v-if="service.source"><span style="font-size:12px; color:grey">{{$t('service_request_source')}}: </span>
                    <span style="font-size:12px">{{serviceRequestSource}}</span><span v-if="service.service_type.id === 4 && service.from_private_practitioner" style="font-size:12px"> / {{$t('from_private_practitioner')}}</span></p>
                    </v-col>
                  </v-flex>
                  </v-layout>
                  <v-layout wrap justify-space-between>
                  <v-flex xs4 sm4 md4 v-if="service.prior_service">
                    <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p v-if="service.prior_service"><span style="font-size:12px; color:grey">{{$t('prior_service_message')}}: </span>
                    <span style="font-size:12px">{{servicePriorType}}</span></p>
                    </v-col>
                  </v-flex>
                  <v-flex xs8 sm8 md8 v-if="service.user.id">
                    <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p v-if="service.successive_requester !== null"><span style="font-size:12px; color:grey">{{$t('successive_requester')}}: </span>
                    <span style="font-size:12px" v-if="service.successive_requester">{{fullNameRequester}}</span></p>
                    </v-col>
                  </v-flex>
                  </v-layout>
                  <v-layout wrap justify-space-between>
                  <v-flex xs12 sm12 md12>
                    <v-col cols="12" xs="12" sm="12" md="12" align="left" v-if="(service.lab_tests !== undefined && service.lab_tests.length !== 0)">
                    <p><span style="font-size:12px; color:grey">{{$t('laboratory_exams')}}: </span>
                    <span style="font-size:12px">{{lab_test}}</span></p>
                    </v-col>
                    <v-col cols="12" xs="12" sm="12" md="12" align="left" v-if="service.comments">
                    <p><span style="font-size:12px; color:grey">{{$t('comments')}}: </span>
                    <span style="font-size:12px">{{service.comments}}</span></p>
                    </v-col>
                  </v-flex>
                  </v-layout>
                  </div>

                  <div class="border" v-if="additionalInfoPermission"><p v-if="additionalInfoPermission" style="font-size:12px"><b> {{ $t('additional_info') }} </b></p>
                  <v-layout wrap justify-space-between>
                  <v-flex xs12 sm12 md12>
                  <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p style="font-size:12px" v-if="(service.calling_questionnaires && service.calling_questionnaires.length !== 0 && service.calling_questionnaires[0].emergency_evaluation === true) ">{{$t('alarm_sign')}} {{this.service.calling_questionnaires[0].triage_questions[0].triage_question.question_type}}</p>
                  </v-col>
                  <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p style="font-size:12px" v-if="(service.calling_questionnaires && service.calling_questionnaires.length !== 0 && service.calling_questionnaires[0].emergency_evaluation === true) ">{{alarmSingQuestion}}</p>
                  </v-col>
                  </v-flex>
                  </v-layout>
                  <v-layout wrap justify-space-between>
                  <v-flex xs3 sm3 md3 v-if="service.is_pediatric && service.is_pediatric === true">
                  <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p style="font-size:12px" v-if="service.is_pediatric && service.is_pediatric === true">{{$t('pediatric_service')}}</p>
                  </v-col>
                  </v-flex>
                  <v-flex xs3 sm3 md3 v-if="service.emergency && service.emergency === true">
                  <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p style="font-size:12px" v-if="service.emergency && service.emergency === true">{{$t('emergency_service')}}</p>
                  </v-col>
                  </v-flex>
                  <v-flex xs3 sm3 md3 v-if=" service.simple_trip === false">
                  <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p style="font-size:12px" v-if=" service.simple_trip === false">{{$t('round_trip')}}</p>
                  </v-col>
                  </v-flex>
                  <v-flex xs3 sm3 md3 v-if="service.interinstitutional && service.interinstitutional === true">
                  <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p style="font-size:12px" v-if="service.interinstitutional && service.interinstitutional === true">{{$t('interinstitutional_transfer')}}</p>
                  </v-col>
                  </v-flex>
                  <v-flex xs3 sm3 md3 v-if="service.interstate && service.interstate === true">
                  <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p style="font-size:12px" v-if="service.interstate && service.interstate === true">{{$t('interstate_transfer')}}</p>
                  </v-col>
                  </v-flex>
                  <v-flex xs3 sm3 md3 v-if="service.icu && service.icu === true">
                  <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p style="font-size:12px" v-if="service.icu && service.icu === true">{{$t('icu_transfer')}}</p>
                  </v-col>
                  </v-flex>
                  </v-layout>
                  </div>

                  <div class="border" v-if="service.service_type.id !== 2 && service.destination_address"><p v-if="service.service_type.id !== 2 && service.destination_address" style="font-size:12px"><b> {{ $t('service_addresses') }} </b></p>

                  <v-layout wrap justify-space-between>
                    <v-flex xs12 sm12 md12 v-if="service.service_type.id === 3">
                    <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p><span style="font-size:12px; color:grey">{{$t('origin_address')}}: </span>
                    <span style="font-size:12px" v-if="service.origin_address">{{origin}}</span></p>
                    </v-col>
                  </v-flex>
                  <v-flex xs12 sm12 md12 v-if="service.service_type.id !== 2">
                    <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p><span style="font-size:12px; color:grey">{{$t('destination_address')}}: </span>
                    <span style="font-size:12px" v-if="service.destination_address">{{destination}}</span></p>
                    </v-col>
                  </v-flex>
                  </v-layout>
                  </div>

                  </v-flex>

                  <v-flex xs12 sm12 md12>
                  <div class="border" v-if="service.call_start || service.dispatch_datetime"><p v-if="service.call_start || service.dispatch_datetime" style="font-size:12px"><b> {{ $t('service_datetime') }} </b></p>

                  <v-layout wrap justify-space-between>
                  <!-- <v-flex xs6 sm6 md6>
                    <v-col cols="12" xs="12" sm="12" md="12" align="left" v-if="service.start">
                    <p><span style="font-size:12px; color:grey">{{$t('service_start')}}: </span>
                    <span style="font-size:12px">{{formatStart}}</span></p>
                    </v-col>
                  </v-flex> -->
                  <v-flex xs6 sm6 md6 v-if="service.call_start">
                    <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p><span style="font-size:12px; color:grey">{{$t('call_start')}}: </span>
                    <span style="font-size:12px">{{formatCallStart}}</span></p>
                    </v-col>
                  </v-flex>
                  <v-flex xs6 sm6 md6 v-if="service.call_end">
                    <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p><span style="font-size:12px; color:grey">{{$t('call_end')}}: </span>
                    <span style="font-size:12px">{{formatCallEnd}}</span></p>
                    </v-col>
                  </v-flex>
                    <v-flex xs4 sm4 md4 v-if="service.dispatch_datetime">
                    <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p><span style="font-size:12px; color:grey">{{$t('dispatch_datetime')}}: </span>
                    <span style="font-size:12px">{{formatDispatchDatetime}}</span></p>
                    </v-col>
                  </v-flex>
                  <v-flex xs4 sm4 md4 v-if="service.scheduled">
                    <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p><span style="font-size:12px; color:grey">{{$t('scheduled_date_time')}}: </span>
                    <span style="font-size:12px">{{formatScheduled}}</span></p>
                    </v-col>
                  </v-flex>
                    <v-flex xs4 sm4 md4 v-if="service.base_departure_datetime">
                    <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p><span style="font-size:12px; color:grey">{{$t('base_departure_datetime')}}: </span>
                    <span style="font-size:12px">{{formatBaseDepartureDatetime}}</span></p>
                    </v-col>
                  </v-flex>
                  <v-flex xs4 sm4 md4 v-if="service.origin_arrival_datetime">
                    <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p><span style="font-size:12px; color:grey">{{$t('origin_arrival_datetime')}}: </span>
                    <span style="font-size:12px">{{formatOriginArrivalDatetime}}</span></p>
                    </v-col>
                  </v-flex>
                  <v-flex xs4 sm4 md4 v-if="service.origin_departure_datetime">
                    <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p><span style="font-size:12px; color:grey">{{$t('origin_departure_datetime')}}: </span>
                    <span style="font-size:12px">{{formatOriginDepartureDatetime}}</span></p>
                    </v-col>
                  </v-flex>
                  <v-flex xs4 sm4 md4 v-if="service.origin_second_arrival_datetime">
                    <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p><span style="font-size:12px; color:grey">{{$t('origin_second_arrival_datetime')}}: </span>
                    <span style="font-size:12px">{{formatOriginSecondArrivalDatetime}}</span></p>
                    </v-col>
                  </v-flex>
                  <v-flex xs4 sm4 md4 v-if="service.origin_second_departure_datetime">
                    <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p><span style="font-size:12px; color:grey">{{$t('origin_second_departure_datetime')}}: </span>
                    <span style="font-size:12px">{{formatOriginSecondDepartureDatetime}}</span></p>
                    </v-col>
                  </v-flex>
                  <v-flex xs4 sm4 md4 v-if="service.destination_arrival_datetime">
                    <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p><span style="font-size:12px; color:grey">{{$t('destination_arrival_datetime')}}: </span>
                    <span style="font-size:12px">{{formatDestinationArrivalDatetime}}</span></p>
                    </v-col>
                  </v-flex>
                  <v-flex xs4 sm4 md4 v-if="service.destination_departure_datetime">
                    <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p><span style="font-size:12px; color:grey">{{$t('destination_departure_datetime')}}: </span>
                    <span style="font-size:12px">{{formatDestinationDepartureDatetime}}</span></p>
                    </v-col>
                  </v-flex>
                  <v-flex xs4 sm4 md4 v-if="service.base_arrival_datetime">
                    <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p><span style="font-size:12px; color:grey">{{$t('base_arrival_datetime')}}: </span>
                    <span style="font-size:12px">{{formatBaseArrivalDatetime}}</span></p>
                    </v-col>
                  </v-flex>
                  </v-layout>
                  </div>

                  <div class="border" v-if="service.crew && service.crew !== null"><p v-if="service.crew" style="font-size:12px"><b> {{ $t('crew_data') }} </b></p>

                  <v-layout v-if="service.crew" wrap justify-space-between>
                  <v-flex xs6 sm6 md6>
                    <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p><span style="font-size:12px; color:grey">{{$t('crew_name')}}: </span>
                    <span style="font-size:12px">{{service.crew.name}}</span></p>
                    </v-col>
                  </v-flex>
                  <v-flex xs3 sm3 md3>
                    <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p><span style="font-size:12px; color:grey">{{$t('unit')}}: </span>
                    <span style="font-size:12px">{{service.crew.mobile_unit.codename}}</span></p>
                    </v-col>
                  </v-flex>
                  <v-flex xs3 sm3 md3>
                    <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p><span style="font-size:12px; color:grey">{{$t('base')}}: </span>
                    <span style="font-size:12px">{{service.crew.base.base_name}}</span></p>
                    </v-col>
                  </v-flex>
                  <v-flex xs12 sm12 md12>
                    <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p><span style="font-size:12px">{{this.replaceCrewRoles(practitioners)}}</span></p>
                    </v-col>
                  </v-flex>
                  </v-layout>
                  </div>

                  <div class="border" v-if="service.diagnoses.length !== 0">
                  <p v-if="service.diagnoses.length !== 0 || service.other_diagnoses" style="font-size:12px"><b> {{ $t('medical_data') }} </b></p>

                  <v-layout wrap justify-space-between>
                  <v-flex xs12 sm12 md12 v-if="service.diagnoses.length !== 0">
                    <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p><span style="font-size:12px; color:grey">{{$t('diagnoses')}}: </span>
                    <span style="font-size:12px">{{diagnoses}}</span><span v-if="service.other_diagnoses" style="font-size:12px; color:grey">. {{$t('other_diagnoses')}}: </span>
                    <span style="font-size:12px">{{service.other_diagnoses}}</span></p>
                    </v-col>
                  </v-flex>
                  <v-flex xs12 sm12 md12 v-if="service.symptoms.length !== 0">
                    <v-col cols="12" xs="12" sm="12" md="12" align="left">
                    <p><span style="font-size:12px; color:grey">{{$t('symptoms')}}: </span>
                    <span style="font-size:12px">{{symptoms}}</span><span v-if="service.other_symptoms" style="font-size:12px; color:grey">. {{$t('other_symptoms')}}: </span>
                    <span style="font-size:12px">{{service.other_symptoms}}</span></p>
                    </v-col>
                  </v-flex>
                </v-layout>
                </div>
                  </v-flex>
                  </v-layout>
              </v-container>
            </v-card-text></body>
            </div>
          <v-card-actions>
            <v-btn
            color="white"
            @click="dialog = false"
            >
            {{ $t('cancel') }}
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn
            color="success"
            @click="dialog = false"
            v-print="'printService'"
            >
            {{ $t('print') }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
  </div>
</template>

<script>
import moment from 'moment'
import { mapGetters } from 'vuex'

/*
  El componente `<PrintService>` muestra e imprime la información
  contenida en los servicios.

  `<PrintService>` es hijo de `<ServiceDetails>`.

  ---

  The `<PrintService>` component displays and prints the information
  contained in the services.

  `<PrintService>` is a child of `<ServiceDetails>`.

  @author Ixhel Mejías, Adriana Tiso
*/

export default {
  data () {
    return {
      printObj: {
        id: 'printService',
        popTitle: 'Servicio',
        extraCss: 'https://www.google.com,https://www.google.com',
        extraHead: '<meta http-equiv="Content-Language"content="es-ve"/>'
      },
      symptoms: [],
      diagnoses: [],
      lab_test: [],
      labDocuments: [],
      hhcDocuments: [],
      symptomsResults: [],
      diagnosesResults: [],
      plan: '',
      isImputable: 'Si',
      origin: '',
      destination: '',
      medicament: [],
      practitioners: [],
      service: {
        attendant: '',
        attention: '',
        call_end: '',
        call_start: '',
        closing_reason: '',
        comments: '',
        diagnoses: '',
        end: '',
        id: '',
        imputable: '',
        other_diagnoses: '',
        other_symptoms: '',
        policy: [],
        scheduled: '',
        scheduled_date_time: '',
        service_type: '',
        start: '',
        status: '',
        symptoms: '',
        user: '',
        base_arrival_datetime: '',
        base_departure_datetime: '',
        crew: '',
        destination_address: '',
        destination_arrival_datetime: '',
        destination_departure_datetime: '',
        dispatch_datetime: '',
        origin_address: '',
        origin_arrival_datetime: '',
        origin_departure_datetime: '',
        transfer_reason: '',
        source: '',
        from_private_practitioner: '',
        covered: '',
        is_pediatric: ''
      },
      dialog: false,
      snackbar: false,
      text: '',
      timeout: 6000,
      color: '',
      calendarMenu: false,
      watchMenu: false,
      selection: ''
    }
  },
  computed: {
    ...mapGetters([
      'roles',
      'serviceDetails',
      'attentionDetails',
      'symptomItems',
      'diagnosisItems',
      'sourceItems',
      'cancellationReasons',
      'serviceTypes',
      'examTypes'
    ]),
    getPhones () {
      var phones = []
      phones = this.getAttentionPhoneNumbers()
      return phones
    },
    getCurrentDatetime () {
      var today = new Date(Date.UTC(new Date().getFullYear(), new Date().getMonth(),
        new Date().getDate()))
      var date = today.getUTCFullYear() + '-' + (today.getUTCMonth() + 1) + '-' + today.getUTCDate()
      return this.formatDatetime(date)
    },
    additionalInfoPermission () {
      if ((this.serviceDetails.calling_questionnaires !== undefined && this.serviceDetails.calling_questionnaires.length !== 0) || (this.serviceDetails.is_pediatric !== undefined && this.serviceDetails.is_pediatric !== false) || (this.serviceDetails.emergency !== undefined || this.serviceDetails.emergency === true) || this.serviceDetails.simple_trip !== undefined || this.serviceDetails.interinstitutional !== undefined || this.serviceDetails.interstate !== undefined || this.serviceDetails.icu !== undefined) {
        return true
      } else {
        return false
      }
    },
    permissions () {
      return this.roles.includes('Director') || this.roles.includes('Operador') || this.roles.includes('Médico') || this.roles.includes('Despachador') || this.roles.includes('Coordinador') || this.roles.includes('Gerente') || this.roles.includes('Asistente')
    },
    formatCallStart () {
      moment.locale(this.$i18n.locale)
      return this.service.call_start ? moment(this.service.call_start).format('DD/MM/YYYY h:mm a') : ''
    },
    formatCallEnd () {
      moment.locale(this.$i18n.locale)
      return this.service.call_end ? moment(this.service.call_end).format('DD/MM/YYYY h:mm a') : ''
    },
    formatStart () {
      moment.locale(this.$i18n.locale)
      return this.service.start ? moment(this.service.start).format('DD/MM/YYYY h:mm a') : ''
    },
    formatEnd () {
      moment.locale(this.$i18n.locale)
      return this.service.end ? moment(this.service.end).format('DD/MM/YYYY h:mm a') : ''
    },
    formatDispatchDatetime () {
      moment.locale(this.$i18n.locale)
      return this.service.dispatch_datetime ? moment(this.service.dispatch_datetime).format('DD/MM/YYYY h:mm a') : ''
    },
    formatOriginArrivalDatetime () {
      moment.locale(this.$i18n.locale)
      return this.service.origin_arrival_datetime ? moment(this.service.origin_arrival_datetime).format('DD/MM/YYYY h:mm a') : ''
    },
    formatOriginDepartureDatetime () {
      moment.locale(this.$i18n.locale)
      return this.service.origin_departure_datetime ? moment(this.service.origin_departure_datetime).format('DD/MM/YYYY h:mm a') : ''
    },
    formatOriginSecondArrivalDatetime () {
      moment.locale(this.$i18n.locale)
      return this.service.origin_second_arrival_datetime ? moment(this.service.origin_second_arrival_datetime).format('DD/MM/YYYY h:mm a') : ''
    },
    formatOriginSecondDepartureDatetime () {
      moment.locale(this.$i18n.locale)
      return this.service.origin_second_departure_datetime ? moment(this.service.origin_second_departure_datetime).format('DD/MM/YYYY h:mm a') : ''
    },
    formatBaseDepartureDatetime () {
      moment.locale(this.$i18n.locale)
      return this.service.base_departure_datetime ? moment(this.service.base_departure_datetime).format('DD/MM/YYYY h:mm a') : ''
    },
    formatDestinationArrivalDatetime () {
      moment.locale(this.$i18n.locale)
      return this.service.destination_arrival_datetime ? moment(this.service.destination_arrival_datetime).format('DD/MM/YYYY h:mm a') : ''
    },
    formatDestinationDepartureDatetime () {
      moment.locale(this.$i18n.locale)
      return this.service.destination_departure_datetime ? moment(this.service.destination_departure_datetime).format('DD/MM/YYYY h:mm a') : ''
    },
    formatBaseArrivalDatetime () {
      moment.locale(this.$i18n.locale)
      return this.service.base_arrival_datetime ? moment(this.service.base_arrival_datetime).format('DD/MM/YYYY h:mm a') : ''
    },
    formatScheduled () {
      moment.locale(this.$i18n.locale)
      return this.service.scheduled_date_time ? moment(this.service.scheduled_date_time).format('DD/MM/YYYY h:mm a') : ''
    },
    fullNameUser: {
      get () {
        return `${this.serviceDetails.user.first_name} ${this.serviceDetails.user.last_name}`
      },
      set (newValue) {
        const m = newValue.match(/(\S*)\s+(.*)/)

        this.serviceDetails.user.first_name = m[1]
        this.serviceDetails.user.last_name = m[2]
      }
    },
    fullNameAttendant: {
      get () {
        if (this.serviceDetails.attendant !== null) {
          return `${this.serviceDetails.attendant.first_name} ${this.serviceDetails.attendant.last_name}`
        }
      },
      set (newValue) {
        const m = newValue.match(/(\S*)\s+(.*)/)

        this.serviceDetails.attendant.first_name = m[1]
        this.serviceDetails.attendant.last_name = m[2]
      }
    },
    fullNameRequester: {
      get () {
        if (this.serviceDetails.successive_requester !== null) {
          return `${this.serviceDetails.successive_requester.first_name} ${this.serviceDetails.successive_requester.last_name}`
        }
      },
      set (newValue) {
        const m = newValue.match(/(\S*)\s+(.*)/)

        this.serviceDetails.successive_requester.first_name = m[1]
        this.serviceDetails.successive_requester.last_name = m[2]
      }
    },
    fullNamePatient: {
      get () {
        return `${this.attentionDetails.affiliate.first_name} ${this.attentionDetails.affiliate.last_name}`
      },
      set (newValue) {
        const m = newValue.match(/(\S*)\s+(.*)/)

        this.attentionDetails.affiliate.first_name = m[1]
        this.attentionDetails.affiliate.last_name = m[2]
      }
    },
    alarmSingQuestion () {
      var questions = []
      if (this.service.calling_questionnaires) {
        for (var i = 0; i < this.service.calling_questionnaires[0].triage_questions.length; i++) {
          questions.push(this.service.calling_questionnaires[0].triage_questions[i].triage_question.question_text)
        }
      }
      return questions.join()
    },
    serviceRequestSource () {
      var source = ''
      if (this.serviceDetails.source) {
        source = this.sourceItems.find(source => source.id === this.serviceDetails.source).name
      }
      return source
    },
    serviceRequestCencellationReasons () {
      var reason = ''
      if (this.serviceDetails.cancellation_reason) {
        reason = this.cancellationReasons.find(reason => reason.id === this.serviceDetails.cancellation_reason).name
      }
      return reason
    },
    servicePriorType () {
      var prior = ''
      if (this.serviceDetails.prior_service_type && this.serviceDetails.prior_service) {
        prior = this.serviceTypes.find(prior => prior.id === this.serviceDetails.prior_service_type).code
      }
      return prior + '-' + this.serviceDetails.prior_service
    }
  },
  beforeUpdate () {
    if (this.serviceDetails.service_type.id !== 2 && this.serviceDetails.crew !== null) {
      this.practitioners = this.getPractitioners()
    }
    this.symptoms = this.getSymptoms()
    this.diagnoses = this.getDiagnoses()
    if (this.serviceDetails.lab_tests !== undefined) {
      this.lab_test = this.getLabTests()
    }
    this.plan = this.getPolicyPlan()
    if (this.serviceDetails.service_type.id !== 2) {
      if (this.serviceDetails.service_type.id === 3) {
        if (this.serviceDetails.origin_address === undefined || this.serviceDetails.origin_address === null) {
          this.origin = ''
        } else {
          if (this.serviceDetails.origin_address.address_line1 !== null || this.serviceDetails.origin_address.address_line1 !== '' || this.serviceDetails.origin_address.region !== null) {
            var originAddressLine2 = this.serviceDetails.origin_address.address_line2 ? ' (' + this.serviceDetails.origin_address.address_line2 + ')' : ''
            var originRegion = this.serviceDetails.origin_address.unknown_region ? 'Parroquia Desconocida' : this.serviceDetails.origin_address.region.name
            this.origin = this.serviceDetails.origin_address.address_line1 + ', ' + originRegion + ', ' + this.serviceDetails.origin_address.region.second_level.name + ', ' + this.serviceDetails.origin_address.region.second_level.first_level.name + originAddressLine2
          }
        }
      }
      if (this.serviceDetails.destination_address === undefined || this.serviceDetails.destination_address === null) {
        this.destination = ''
      } else {
        if (this.serviceDetails.destination_address.address_line1 === null || this.serviceDetails.destination_address.address_line1 === '' || this.serviceDetails.destination_address.region === null) {
          this.destination = ''
        } else {
          var destinationAddressLine2 = this.serviceDetails.destination_address.address_line2 ? ' (' + this.serviceDetails.destination_address.address_line2 + ')' : ''
          var destinationRegion = this.serviceDetails.destination_address.unknown_region ? 'Parroquia Desconocida' : this.serviceDetails.destination_address.region.name
          this.destination = this.serviceDetails.destination_address.address_line1 + ', ' + destinationRegion + ', ' + this.serviceDetails.destination_address.region.second_level.name + ', ' + this.serviceDetails.destination_address.region.second_level.first_level.name + destinationAddressLine2
        }
      }
      if (this.serviceDetails.service_type.id === 4) {
        if (this.serviceDetails.delivery_note === undefined || this.serviceDetails.delivery_note === null) {
          this.medicament = []
        } else {
          this.medicament = this.getMedicaments()
        }
      }
    }
  },
  methods: {
    getAge () {
      var year = this.attentionDetails.affiliate.birthdate.substring(0, 4)
      var month = this.attentionDetails.affiliate.birthdate.substring(5, 7)
      var day = this.attentionDetails.affiliate.birthdate.substring(8, 10)
      var birthdate = String(year) + String(month) + String(day)
      return moment().diff(moment(birthdate, 'YYYYMMDD'), 'years')
    },
    getAffiliatePhoneNumbers () {
      var phoneNumbers = []
      if (this.affiliatePhoneNumbersItems !== undefined) {
        for (var i = 0; i < this.affiliatePhoneNumbersItems.length; i++) {
          phoneNumbers.push(this.affiliatePhoneNumbersItems[i].phone_number.replace('+58', '0'))
        }
      }
      return phoneNumbers.join()
    },
    getAttentionPhoneNumbers () {
      var phoneNumbers = []
      for (var i = 0; i < this.attentionDetails.phone_numbers.length; i++) {
        phoneNumbers.push(this.attentionDetails.phone_numbers[i].phone_number.replace('+58', '0'))
      }
      return phoneNumbers.join()
    },
    formatDatetime (datetime) {
      moment.locale(this.$i18n.locale)
      return datetime ? moment(datetime).format('DD/MM/YYYY') : ''
    },
    formatDates (date) {
      moment.locale(this.$i18n.locale)
      return date ? moment(date).format('DD/MM/YYYY h:mm a') : ''
    },
    setLABdocs (results) {
      this.labDocuments = results
    },
    setHHCdocs (results) {
      this.hhcDocuments = results
    },
    getSymptoms () {
      var symptoms = []
      if (this.serviceDetails.symptoms.length !== 0) {
        for (var i = 0; i < this.serviceDetails.symptoms.length; i++) {
          symptoms.push(' ' + this.serviceDetails.symptoms[i].term_es)
        }
      }
      return symptoms.join()
    },
    getDiagnoses () {
      var diagnoses = []
      if (this.serviceDetails.diagnoses.length !== 0) {
        for (var i = 0; i < this.serviceDetails.diagnoses.length; i++) {
          diagnoses.push(' ' + this.serviceDetails.diagnoses[i].term_es)
        }
      }
      return diagnoses.join()
    },
    getLabTests () {
      var test = []
      if (this.serviceDetails.lab_tests.length !== 0) {
        for (var i = 0; i < this.serviceDetails.lab_tests.length; i++) {
          test.push(' ' + this.serviceDetails.lab_tests[i].name)
        }
      }
      return test.join()
    },
    getPolicyPlan () {
      var name = ''
      if (this.serviceDetails.policy.plan) {
        name = this.serviceDetails.policy.plan.name
      }
      return name
    },
    getMedicaments () {
      var medicament = []
      if (this.serviceDetails.delivery_note !== null) {
        for (var i = 0; i < this.serviceDetails.delivery_note.medicinal_products.length; i++) {
          if (this.serviceDetails.delivery_note.medicinal_products[i].medicinal_product.acute_care === true) {
            medicament.push(' ' + 'Inventario Agudo: ' + this.serviceDetails.delivery_note.medicinal_products[i].medicinal_product.name + ' (' + parseInt(this.serviceDetails.delivery_note.medicinal_products[i].quantity) + ' ' + this.serviceDetails.delivery_note.medicinal_products[i].medicinal_product.delivery_unit.name + ')')
          } else if (this.serviceDetails.delivery_note.medicinal_products[i].medicinal_product.critical_care === true) {
            medicament.push(' ' + 'Inventario Cŕitico: ' + this.serviceDetails.delivery_note.medicinal_products[i].medicinal_product.name + ' (' + parseInt(this.serviceDetails.delivery_note.medicinal_products[i].quantity) + ' ' + this.serviceDetails.delivery_note.medicinal_products[i].medicinal_product.delivery_unit.name + ')')
          } else if (this.serviceDetails.delivery_note.medicinal_products[i].medicinal_product.critical_care === true && this.serviceDetails.delivery_note.medicinal_products[i].medicinal_product.acute_care === true) {
            medicament.push(' ' + 'Inventario Cŕitico y Agudo: ' + this.serviceDetails.delivery_note.medicinal_products[i].medicinal_product.name + ' (' + parseInt(this.serviceDetails.delivery_note.medicinal_products[i].quantity) + ' ' + this.serviceDetails.delivery_note.medicinal_products[i].medicinal_product.delivery_unit.name + ')')
          } else {
            medicament.push(' ' + this.serviceDetails.delivery_note.medicinal_products[i].medicinal_product.name + ' (' + parseInt(this.serviceDetails.delivery_note.medicinal_products[i].quantity) + ' ' + this.serviceDetails.delivery_note.medicinal_products[i].medicinal_product.delivery_unit.name + ')')
          }
        }
      }
      return medicament.join()
    },
    getPractitioners () {
      var practitioners = []
      if (this.serviceDetails.crew.practitioners.length !== 0) {
        for (var i = 0; i < this.serviceDetails.crew.practitioners.length; i++) {
          practitioners.push(' ' + this.serviceDetails.crew.practitioners[i].practitioner_role + ': ' + this.serviceDetails.crew.practitioners[i].practitioner.first_name + ' ' + this.serviceDetails.crew.practitioners[i].practitioner.last_name)
        }
      }
      return practitioners.join()
    },
    replaceCrewRoles (string) {
      var role = []
      role = string.replace('PRACTITIONER', 'MÉDICO')
      role = role.replace('DRIVER', 'CONDUCTOR')
      role = role.replace('PARAMEDIC', 'PARAMÉDICO')
      return role
    },
    printServiceFromButton () {
      this.dialog = true
      this.service = this.serviceDetails
    }
  }
}
</script>

<style>
.v-subheader {
  height: 30px;
}
</style>

<style type="text/css" media="print">
@page
{
    size: auto;   /* auto is the initial value */
    margin: 8mm;  /* this affects the margin in the printer settings */
}
</style>

<style scoped>
/* @page
{
    size: landscape;
} */
.border {
  border-width: 0.3px;
  border-style: solid;
}
.v-card__title {
  padding: 0px;
}
.v-application p {
  margin-bottom: 0px;
}
.col-12, .col-md-12, .col-sm-12 {
  padding-top: 0px;
  padding-right: 12px;
  padding-bottom: 0px;
  padding-left: 12px;
}
</style>
