<template>
  <v-row justify="center">
    <v-dialog v-model="show" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">{{ $t('assign_datetime') }}</span>
        </v-card-title>
        <v-card-text>
          <span style="color:orange"><b>{{ $t('programming_hint') }}</b></span>
          <v-container grid-list-md>
            <v-layout wrap justify-space-between>
                <v-flex sm4 md4 v-show="true">
                  <v-text-field
                    type="date"
                    :value="computedDateFormattedMomentjs"
                    v-model="service.date"
                    v-bind:label="$t('date')"
                    v-validate="'required'"
                    :error-messages="errors.collect('service.date')"
                    data-vv-name="service.date"
                    :data-vv-as="$t('date')"
                    dense
                    :min="today"
                    >
                  </v-text-field>
                </v-flex>
                <v-flex sm4 md4 v-show="true">
                  <v-text-field
                    type="time"
                    :value="service.time"
                    v-model="service.time"
                    v-bind:label="$t('time')"
                    v-validate="'required'"
                    :error-messages="errors.collect('service.time')"
                    data-vv-name="service.time"
                    :data-vv-as="$t('time')"
                    dense>
                  </v-text-field>
                </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-btn color="white" @click="show = false, resetForm()">{{ $t('cancel') }}</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="success" @click="assignDatetime()" :disabled="errors.any() || isDisabled" type="submit">{{ $t('save') }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { mapGetters } from 'vuex'
import moment from 'moment'

/*
  El componente `<ScheduleForm>` se utiliza generar o modificar las fechas
  de programación de un servicio.

  Se accede a `<ScheduleForm>` desde el componente `<General>` y
  de la carpeta attention > attention_details > attention_services > service_details > service_tabs.

  ---

  The component `<ScheduleForm>` is used to generate or modify dates
  of a scheduled service.

  The `<ScheduleForm>` is accessed from the component `<General>` from folder
  attention > attention_details > attention_services > service_details > service_tabs.

  @author Ixhel Mejías, Adriana Tiso
 */

export default {
  data () {
    return {
      service: {
        date: moment(new Date(this.defaultDatetime).toISOString()).isBefore(moment(new Date().toISOString()))
          ? ''
          : new Date(Date.UTC(new Date(this.defaultDatetime).getFullYear(),
            new Date(this.defaultDatetime).getMonth(), new Date(this.defaultDatetime).getDate(),
            new Date(this.defaultDatetime).getHours(), new Date(this.defaultDatetime).getMinutes(),
            new Date(this.defaultDatetime).getSeconds())).toISOString().substr(0, 10),
        time: moment(new Date(this.defaultDatetime).toISOString()).isBefore(moment(new Date().toISOString()))
          ? ''
          : String(new Date(this.defaultDatetime).getHours()).padStart(2, '0') + ':' +
            String(new Date(this.defaultDatetime).getMinutes()).padStart(2, '0')
      },
      today: new Date(Date.UTC(new Date().getFullYear(), new Date().getMonth(), new Date().getDate(), new Date().getHours(), new Date().getMinutes(), new Date().getSeconds())).toISOString().substr(0, 10)
    }
  },
  computed: {
    ...mapGetters([
      'serviceDetails'
    ]),
    show: {
      get () {
        return this.visible
      },
      set (value) {
        if (!value) {
          this.$emit('close')
        }
      }
    },
    isDisabled () {
      if (this.service.date && this.service.time) {
        var programmedDatetime = new Date(this.service.date + ' ' + this.service.time).toISOString()
        var presentDatetime = new Date().toISOString()
        return moment(programmedDatetime).isBefore(moment(presentDatetime))
      } else {
        return true
      }
    },
    computedDateFormattedMomentjs () {
      moment.locale(this.$i18n.locale)
      return this.service.date ? moment(this.service.date).format('DD/MM/YYYY') : ''
    }
  },
  methods: {
    resetForm () {
      moment.locale(this.$i18n.locale)
      this.service.date = moment(new Date(this.defaultDatetime).toISOString()).isBefore(moment(new Date().toISOString()))
        ? ''
        : new Date(Date.UTC(new Date(this.defaultDatetime).getFullYear(), new Date(this.defaultDatetime).getMonth(),
          new Date(this.defaultDatetime).getDate(), new Date(this.defaultDatetime).getHours(), new Date(this.defaultDatetime).getMinutes(),
          new Date(this.defaultDatetime).getSeconds())).toISOString().substr(0, 10)
      this.service.time = moment(new Date(this.defaultDatetime).toISOString()).isBefore(moment(new Date().toISOString()))
        ? ''
        : String(new Date(this.defaultDatetime).getHours()).padStart(2, '0') + ':' +
          String(new Date(this.defaultDatetime).getMinutes()).padStart(2, '0')

      this.$nextTick(() => {
        this.$validator.reset()
      })
    },
    assignDatetime () {
      var programmedDatetime = new Date(this.service.date + ' ' + this.service.time).toISOString()
      this.$emit('datetimeScheduled', programmedDatetime)
      this.show = false
      this.resetForm()
    }
  },
  props: {
    visible: Boolean,
    defaultDatetime: String
  }
}
</script>
