<template>
<v-app>
    <v-content>
      <v-snackbar
      v-model="snackbar"
      :color="color"
      :timeout="timeout"
      :top=true
    >
      {{ text }}
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        {{ $t('close') }}
      </v-btn>
    </v-snackbar>

      <v-container
        fluid
        fill-height>
      <v-layout
          align-center
          justify-center>
        <v-card
          class="elevation-12"
          min-width="244"
          max-width="444">
        <v-toolbar
          flat>
          <v-toolbar-title>VIDA APP</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
            <v-card-text>
            <v-form>
                  <v-text-field
                    prepend-icon="person"
                    v-model="username"
                    v-bind:label="$t('username')"
                    name="username"
                    type="text"
                  ></v-text-field>

                  <v-text-field
                    prepend-icon="lock"
                    v-model="password"
                    id="password"
                    v-bind:label="$t('password')"
                    name="password"
                    type="password"
                  ></v-text-field>
            </v-form>
            </v-card-text>
            <v-spacer></v-spacer>
            <v-card-actions>
            <router-link to="/register" class="btn btn-link">
            <v-btn text>{{ $t('register') }}</v-btn>
            </router-link>
            <v-spacer></v-spacer>
            <v-btn
              @click.prevent="authenticate"
              class="button"
              :disabled= 'isDisabled'
              type="submit">
              {{ $t('login') }}
            </v-btn>
            </v-card-actions>
        </v-card>
      </v-layout>
      </v-container>
    </v-content>
</v-app>
</template>

<script>
// import axios from 'axios'

export default {
  data () {
    return {
      username: '',
      password: '',
      snackbar: false,
      text: '',
      timeout: 6000,
      color: ''
    }
  }
//   computed: {
//     isDisabled () {
//       return !this.username || !this.password
//     }
//   },
//   methods: {
//     authenticate () {
//       const getResponseData = () => {
//         return axios.get('http://127.0.0.1:8000/api/v1/users/' + this.$store.state.pk, {
//           headers: {Authorization: 'Bearer ' + this.$store.state.jwt,
//             'Content-Type': 'application/json'
//           }
//         })
//       }

//       const getUserData = async () => {
//         const response = await getResponseData()
//         this.$store.commit('updateUser', response.data)
//         return this.$store.getters.userData
//       }

//       const setAccessRole = async () => {
//         //  TODO: include role in localStorage
//         const userData = await getUserData()
//         if (userData.is_practitioner) {
//           this.$router.push({name: 'Appointments'})
//         } else {
//           this.$router.push({name: 'AppointmentsPatient'})
//         }
//       }

//       const payload = {
//         username: this.username,
//         password: this.password
//       }
//       axios.post(this.$store.state.endpoints.obtainJWT, payload)
//         .then((response) => {
//           // this.$store.commit('updateToken', response.data.token)
//           this.$store.commit('updateToken', response.data.access)
//           // get and set auth user
//           const base = {
//             baseURL: this.$store.state.endpoints.baseUrl,
//             headers: {
//             // Set your Authorization to 'Bearer', not Bearer!!!
//               Authorization: `Bearer ${this.$store.state.jwt}`,
//               'Content-Type': 'application/json'
//               // 'Access-Control-Allow-Origin': '*'
//             },
//             xhrFields: {
//               withCredentials: true
//             }
//           }
//           // Even though the authentication returned a user object that can be
//           // decoded, we fetch it again. This way we aren't super dependant on
//           // JWT and can plug in something else.
//           const axiosInstance = axios.create(base)
//           axiosInstance({
//             url: '/rest-auth/user/',
//             method: 'get',
//             params: {}
//           })
//             .then((response) => {
//               this.$store.commit('setAuthUser',
//                 {authUser: response.data, isAuthenticated: true}
//               )
//               return response.data.pk
//             }).then((response) => {
//               setAccessRole()
//             })
//         })
//         .catch((error) => {
//           if (error.request.status === 401) {
//             this.text = this.$t('unauthorized')
//           }

//           this.color = 'red'
//           this.timeout = 8000
//           this.snackbar = true
//           this.loading = false

//           console.log(error)
//           console.debug(error)
//           console.dir(error)
//         })
//     }
//   }
}
</script>

<style lang="css">
</style>