<template>
  <v-card color="grey lighten-5">
    <v-card-text>
      <v-container fluid>
        <v-dialog v-model="dialog" max-width="800px" persistent>
          <v-card>
            <v-card-title>
              <span class="headline">{{ $t('attach_document')}}</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap justify-space-between>
                  <v-flex xs12 sm5 md5>
                    <v-combobox
                      v-model="type"
                      :items="documentTypes"
                      item-value='id'
                      item-text='name'
                      color="light-blue darken-1"
                      v-bind:label="$t('document_type')"
                      v-validate="'required'"
                      :error-messages="errors.collect('type')"
                      data-vv-name="type"
                      v-bind:data-vv-as="$t('document_type')"
                      dense
                      small-chips
                      deletable-chips
                      v-bind:hint="$t('mandatory_field')"
                      persistent-hint
                      :readonly="activatorType===2"
                    ></v-combobox>
                  </v-flex>
                  <v-flex xs12 sm7 md7>
                    <v-file-input
                      v-model="documentInput"
                      v-bind:label="$t('document')"
                      color="light-blue darken-1"
                      dense
                      @change="onDocumentSelected"
                      v-bind:hint="$t('mandatory_field')"
                      persistent-hint
                    ></v-file-input>
                  </v-flex>
                  <v-flex xs12 sm12 md12>
                    <v-text-field
                      v-model="description"
                      :counter="80"
                      v-bind:label="$t('description')"
                      color="light-blue darken-1"
                      dense
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-btn color="white" @click="close()">{{ $t('cancel') }}</v-btn>
              <v-spacer></v-spacer>
              <v-btn color="success" :disabled="errors.any() || isDisabled" @click="attachDocument()">{{ $t('attach') }}</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-data-table
          :headers="doc_headers"
          :items="data"
          dense
          :loading="loading"
          :no-results-text="$t('no_matching_records')"
          :no-data-text="$t('no_data_available')"
          hide-default-footer
          item-key="id"
          :items-per-page="-1"
        >
          <template v-slot:item.document="{ item }" v-if="activatorType === 1">
            <a> <span @click="openLink(item.document); return false">{{ getDocumentType(item.document_type) }}-{{ item.id }} </span> </a>
          </template>
          <template v-slot:item.document="{ item }" v-else-if="activatorType === 2">
            <a> <span @click="openLink(item.document); return false">{{ $t('results') }}-{{ item.id }} </span> </a>
          </template>
          <template v-slot:item.uploaded_at="{ item }">
            <span> {{ formatCreatedDate(item.uploaded_at) }} </span>
          </template>
          <template v-slot:item.actions="{ item }">
            <td class="justify-center">
              <v-icon
                small
                @click="confirmDeletingItem(item)"
              >
                delete
              </v-icon>
            </td>
          </template>
        </v-data-table>

        <v-dialog v-model="confirmDeletingItemDialog" persistent max-width="500px">
          <v-card>
            <v-card-title>
              <span class="headline">{{ $t('delete_document') }}</span>
            </v-card-title>
            <v-card-text v-show="activatorType === 2">
              {{ $t('results') }}-{{ deletedItem.id }}
              <br />
              {{ $t('delete_document_sure') }}
            </v-card-text>
            <v-card-text v-show="activatorType === 1">
              {{ getDocumentType(deletedItem.document_type) }}-{{ deletedItem.id }}
              <br />
              {{ $t('delete_document_sure') }}
            </v-card-text>
            <v-card-actions>
              <v-btn color="white" @click="confirmDeletingItemDialog = false">{{ $t('cancel') }}</v-btn>
              <v-spacer></v-spacer>
              <v-btn color="success" @click="confirmDeletingItemDialog = false, deleteItem()">{{ $t('confirm') }}</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-banner>
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
                <v-fab-transition>
                  <v-btn
                    color="#3DCB5E"
                    small
                    dark
                    button
                    right
                    fab
                    absolute
                    v-on="on"
                    style="z-index: 0"
                    @click="dialog = true"
                    v-if="attentionDetails.status !== 'Cerrada'"
                  >
                    <v-icon size="27">mdi-paperclip</v-icon>
                  </v-btn>
                </v-fab-transition>
            </template>
              <span>{{ $t('attach_document') }}</span>
          </v-tooltip>
        </v-banner>
      </v-container>
    </v-card-text>
    <v-snackbar
      v-model="snackbar"
      :color="color"
      :timeout="timeout"
      :top=true
      absolute
    >
      {{ text }}
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        {{ $t('close') }}
      </v-btn>
    </v-snackbar>
  </v-card>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import { mapGetters } from 'vuex'

/*
  El componente `<AttachedDocuments>` se utiliza para cargar documentos a la aplicación.

  Se accede a `<AttachedDocuments>` desde los componentes`<AttentionDetails>`,
  `<ServiceDetails>` y `<AttentionDetailsDialog>`.

  ---

  The `<Policy>` component is used to upload documents to the application.

  You can access `<AttachedDocuments>` from the components: `<AttentionDetails>`,
  `<ServiceDetails>` and `<AttentionDetailsDialog>`

  @author Ixhel Mejías, Adriana Tiso
 */

export default {
  name: 'AttachedDocuments',
  data () {
    return {
      loading: false,
      dialog: false,
      data: [],
      headers_open: [
        {text: this.$t('document'), sortable: false, value: 'document'},
        {text: this.$t('attached'), sortable: true, value: 'uploaded_at'},
        {text: this.$t('description'), sortable: false, value: 'description'},
        {text: this.$t('actions'), sortable: false, value: 'actions'}
      ],
      headers_closed: [
        {text: this.$t('document'), sortable: false, value: 'document'},
        {text: this.$t('attached'), sortable: true, value: 'uploaded_at'},
        {text: this.$t('description'), sortable: false, value: 'description'}
      ],
      type: '',
      description: '',
      documentInput: [],
      selectedDocument: null,
      snackbar: false,
      text: '',
      timeout: 6000,
      color: '',
      confirmDeletingItemDialog: false,
      deletedItem: {
        id: null,
        document_type: null
      }
    }
  },
  created () {
    if (this.activatorType === 1) {
      this.getMedDocuments()
    } else if (this.activatorType === 2) {
      if (this.serviceDetails.service_type && this.serviceDetails.service_type.id === 1) { // HHC service lab documents
        this.getHHCLabDocuments()
      } else if (this.serviceDetails.service_type && this.serviceDetails.service_type.id === 6) { // LAB service documents
        this.getLabDocuments()
      }
    }

    this.unwatchServiceDetails = this.$store.watch(() => this.$store.getters.serviceDetails, serviceDetails => {
      if (this.activatorType === 1) {
        this.getMedDocuments()
      } else if (this.activatorType === 2) {
        if (this.serviceDetails.service_type && this.serviceDetails.service_type.id === 1) { // HHC service lab documents
          this.getHHCLabDocuments()
        } else if (this.serviceDetails.service_type && this.serviceDetails.service_type.id === 6) { // LAB service documents
          this.getLabDocuments()
        }
      }
    })
  },
  beforeUpdate () {
    if (this.activatorType === 2) { //  To ensure that Results always appears selected
      this.type = this.documentTypes.find(document => document.id === 4) // Results
    }
  },
  beforeDestroy () {
    if (this.unwatchServiceDetails) {
      this.unwatchServiceDetails()
    }
  },
  computed: {
    ...mapGetters([
      'documentTypes',
      'serviceDetails',
      'attentionDetails'
    ]),
    isDisabled () {
      return !this.type || !this.selectedDocument
    },
    doc_headers () {
      if (this.attentionDetails.status === 'Cerrada') {
        return this.headers_closed
      } else {
        return this.headers_open
      }
    }
  },
  methods: {
    formatCreatedDate (date) {
      moment.locale(this.$i18n.locale)
      return date ? moment(date).format('D/M/YYYY h:mm a') : ''
    },
    getDocumentType (id) {
      return this.documentTypes.find(document => document.id === id) !== undefined
        ? this.documentTypes.find(document => document.id === id).name
        : id
    },
    getMedDocuments () {
      this.loading = true

      let url = `${process.env.ROOT_API}api/v1/medical_documents?attention=${sessionStorage.getItem('selectedAttention')}`
      axios.get(url, {
        headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
          'Content-Type': 'application/json'
        }
      }).then(response => {
        this.setData(response.data.results)
        this.loading = false
      })
    },
    getHHCLabDocuments () {
      this.loading = true

      if (sessionStorage.getItem('selectedService')) {
        var start = sessionStorage.getItem('selectedService').indexOf('-') + 1
        var selectedService = sessionStorage.getItem('selectedService').substr(start)

        let url = `${process.env.ROOT_API}api/v1/hhc_lab_documents?hhc=${selectedService}`
        axios.get(url, {
          headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
            'Content-Type': 'application/json'
          }
        }).then(response => {
          this.setData(response.data.results)
          this.loading = false
        })
      }
    },
    getLabDocuments () {
      this.loading = true

      if (sessionStorage.getItem('selectedService')) {
        var start = sessionStorage.getItem('selectedService').indexOf('-') + 1
        var selectedService = sessionStorage.getItem('selectedService').substr(start)

        let url = `${process.env.ROOT_API}api/v1/lab_documents?lab=${selectedService}`
        axios.get(url, {
          headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
            'Content-Type': 'application/json'
          }
        }).then(response => {
          this.setData(response.data.results)
          this.loading = false
        })
      }
    },
    setData (results) {
      this.data = results
    },
    close () {
      this.type = ''
      this.description = ''
      this.documentInput = []
      this.selectedDocument = null

      this.$nextTick(() => {
        this.$validator.reset()
      })

      this.dialog = false
    },
    onDocumentSelected (file) {
      this.selectedDocument = file
    },
    attachDocument () {
      let data = new FormData()

      var url = ''
      if (this.activatorType === 1) {
        data.append('description', this.description)
        data.append('attention', sessionStorage.getItem('selectedAttention'))
        data.append('document_type', this.type.id)
        data.append('document', this.selectedDocument)

        url = 'api/v1/medical_document_upload'
      } else if (this.activatorType === 2) {
        if (this.serviceDetails.service_type && this.serviceDetails.service_type.id === 1) { // HHC service lab documents
          data.append('description', this.description)
          data.append('hhc', this.serviceDetails.id)
          data.append('document', this.selectedDocument)

          url = 'api/v1/hhc_lab_document_upload'
        } else if (this.serviceDetails.service_type && this.serviceDetails.service_type.id === 6) { // LAB service documents
          data.append('description', this.description)
          data.append('lab', this.serviceDetails.id)
          data.append('document', this.selectedDocument)

          url = 'api/v1/lab_document_upload'
        }
      }

      axios.post(process.env.ROOT_API + url, data, {
        headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
          'Content-Type': 'multipart/form-data'
        }
      })
        .then((response) => {
          this.text = this.$t('document_attached')
          this.color = 'success'
          this.timeout = 4000
          this.snackbar = true

          this.close()

          if (this.activatorType === 1) {
            this.getMedDocuments()
          } else if (this.activatorType === 2) {
            if (this.serviceDetails.service_type && this.serviceDetails.service_type.id === 1) { // HHC service lab documents
              this.getHHCLabDocuments()
            } else if (this.serviceDetails.service_type && this.serviceDetails.service_type.id === 6) { // LAB service documents
              this.getLabDocuments()
            }
          }
        })
        .catch((error) => {
          this.text = this.$t('error_check_data')
          this.color = 'red'
          this.timeout = 4000
          this.snackbar = true

          console.log(error)
          console.debug(error)
          console.dir(error)
        })
    },
    openLink (url) {
      window.open(url, '_blank') //  Open link in new tab
    },
    confirmDeletingItem (item) {
      this.deletedItem = Object.assign({}, item)
      this.confirmDeletingItemDialog = true
    },
    deleteItem () {
      var url = ''
      if (this.activatorType === 1) {
        url = 'api/v1/medical_documents/'
      } else if (this.activatorType === 2) {
        if (this.serviceDetails.service_type && this.serviceDetails.service_type.id === 1) { // HHC service lab documents
          url = 'api/v1/hhc_lab_documents/'
        } else if (this.serviceDetails.service_type && this.serviceDetails.service_type.id === 6) { // LAB service documents
          url = 'api/v1/lab_documents/'
        }
      }

      axios.delete(process.env.ROOT_API + url + this.deletedItem.id, {
        headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
          'Content-Type': 'application/json'
        }
      }).then((response) => {
        if (this.activatorType === 1) {
          this.getMedDocuments()
        } else if (this.activatorType === 2) {
          if (this.serviceDetails.service_type && this.serviceDetails.service_type.id === 1) { // HHC service lab documents
            this.getHHCLabDocuments()
          } else if (this.serviceDetails.service_type && this.serviceDetails.service_type.id === 6) { // LAB service documents
            this.getLabDocuments()
          }
        }
        this.text = this.$t('delete_document_success')
        this.color = 'success'
        this.timeout = 4000
        this.snackbar = true
      }).catch(() => {
        this.text = this.$t('error_document_not_deleted')
        this.color = 'error'
        this.timeout = 6000
        this.snackbar = true
      })
    }
  },
  props: {
    activatorType: Number // 1: from attention details, 2: from service details (laboratory results)
  }
}
</script>
