<template>
  <v-app>
    <NavBar />
    <v-content>
    <v-container grid-list-xl fluid>
        <v-toolbar flat dense>
        <v-breadcrumbs :items="titles" large></v-breadcrumbs>
        </v-toolbar>
        <v-layout wrap row justify-space-between>
        <v-flex
          sm4 md4
        >
    <v-container
      id="scroll-target"
      style="max-height: 700px"
      class="overflow-y-auto"
    >
      <v-row
      >
        <v-card color="basil">
          <v-expansion-panels accordion v-model="panel" multiple>
            <v-expansion-panel
              v-for="item in this.tabItems()"
              :key="item"
            >
              <v-expansion-panel-header><b>{{ item }}</b>
                <v-col
                  cols="8"
                  class="text--secondary"
                >
                  <v-fade-transition leave-absolute>
                    <v-row
                      v-if="item===$t('general_attention')"
                      no-gutters
                      style="width: 100%"
                      > <v-col cols="12" xs="5" sm="5" md="5"></v-col>
                        <v-col cols="12" xs="7" sm="7" md="7"> <span style="font-size:12px">{{ $t('status') }}: </span> <v-chip small :color="getColor" text-color="white">
                          <span style="font-size:12px"> {{ attentionDetails.status }} </span>
                          </v-chip>
                        </v-col>
                    </v-row>
                    <v-row
                      v-if="item===$t('affiliate')"
                      no-gutters
                      style="width: 120%"
                      > <v-col cols="12" xs="1" sm="1" md="1"></v-col>
                      <v-col cols="12" xs="8" sm="8" md="8">
                          <span>{{fullNameUser}}</span>
                        </v-col>
                        <v-col cols="12" xs="2" sm="2" md="2" v-if="affiliateDetails.emails.length === 0">
                          <v-tooltip bottom>
                            <template v-slot:activator="{ on, attrs }">
                              <v-icon
                                color="warning"
                                dark
                                v-bind="attrs"
                                v-on="on"
                              >mdi-email-alert</v-icon>
                            </template>
                            <span>{{ $t('assign_email') }}</span>
                          </v-tooltip>
                        </v-col>
                    </v-row>
                  </v-fade-transition>
                </v-col>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-card flat color="basil">
                <v-card-text>
                  <div v-if="item===$t('general_attention')">
                    <General />
                  </div>
                  <div v-else-if="item===$t('affiliate')">
                    <Affiliate />
                  </div>
                  <div v-else-if="item===$t('policies')">
                    <Policy />
                  </div>
                  <div v-else-if="item===$t('care_history')">
                    <CareHistory :activatorType="2" />
                  </div>
                  <div v-else-if="item===$t('attached_documents')">
                    <AttachedDocuments :activatorType="1" />
                  </div>
                </v-card-text>
              </v-card>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-card>
      </v-row>
    </v-container>
        </v-flex>
        <v-flex sm8 md8>
          <AttentionServices :activatorType="2" />
        </v-flex>
        </v-layout>
      </v-container>
     </v-content>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'
import NavBar from '@/components/NavBar'
import General from '@/components/attentions/attention_details/attention_tabs/General'
import Affiliate from '@/components/attentions/attention_details/attention_tabs/Affiliate'
import Policy from '@/components/attentions/attention_details/attention_tabs/Policy'
// import PathologicalHistory from '@/components/attentions/attention_details/attention_tabs/PathologicalHistory' //  TODO: add in components
import CareHistory from '@/components/attentions/attention_details/attention_tabs/CareHistory'
import AttentionServices from '@/components/attentions/attention_details/attention_services/AttentionServices'
// import FollowUpCare from '@/components/attentions/attention_details/attention_tabs/FollowUpCare' //  TODO: add in components
import AttachedDocuments from '@/components/attentions/attention_details/AttachedDocuments'

/*
  El componente `<AttentionDetails>` se utiliza para mostrar todos
  los detalles de las atenciones integrando los componentes:
  `<General>`, `<Affiliate>`, `<Policy>`, `<CareHistory>`,
  `<AttachedDocuments>` y `<AttentionServices>` contenidos en
  la carpeta attentions > attention_details.

  Se puede acceder a este componente desde: `<SearchedAttentionList>`,
  `<OnHoldAttentionList>`, `<InVerificationAttentionList>`, `<NextScheduledAttentionList>`,
  y `<CompletedAttentionList>`.

  ---

  The `<AttentionDetails>` component is used to display all
  the details of the attentions integrating in the components:
  `<General>`, `<Affiliate>`, `<Policy>`, `<CareHistory>`,
  `<AttachedDocuments>` and `<Attention Services>` contained in
  the attentions > attention_details folder.

  You can access this component from: `<SearchedAttentionList>`,
  `<OnHoldAttentionList>`, `<InVerificationAttentionList>`, `<NextScheduledAttentionList>`,
  and `<CompletedAttentionList>`.

  @author Ixhel Mejías, Adriana Tiso
*/

export default {
  components: {NavBar, General, Affiliate, Policy, CareHistory, AttentionServices, AttachedDocuments},
  data () {
    return {
      tab: null,
      panel: [0],
      dialog: false,
      reason: {code: 1, display: this.$t('attention_done')},
      withFollowUp: false,
      titles: [
        {
          text: this.$t('attentions'),
          disabled: false,
          href: '/#/attentions'
        },
        {
          text: this.$t('attention') + ' ' + window.sessionStorage.getItem('selectedAttention'),
          disabled: true
        }
      ],
      reasonItems: [
        {code: 1, display: this.$t('attention_done')},
        {code: 2, display: this.$t('attention_cancelled')},
        {code: 3, display: this.$t('attention_entered_by_error')},
        {code: 4, display: this.$t('attention_aborted')}
      ]
    }
  },
  beforeDestroy () {
    this.$store.dispatch('deleteAffiliateDetails')
    this.$store.dispatch('deleteAttentionDetails')
    this.$store.dispatch('deleteServiceDetails')
    this.$store.dispatch('deleteAttentionHistoryItemsByAffiliate')
    window.sessionStorage.removeItem('selectedAffiliate')
    window.sessionStorage.removeItem('selectedAttention')
    window.sessionStorage.removeItem('selectedService')
  },
  computed: {
    ...mapGetters([
      // map this.attentionDetails to this.$store.getters.attentionDetails
      'attentionDetails',
      'roles',
      'affiliateDetails'
    ]),
    fullNameUser: {
      get () {
        return `${this.attentionDetails.affiliate.first_name} ${this.attentionDetails.affiliate.last_name}`
      },
      set (newValue) {
        const m = newValue.match(/(\S*)\s+(.*)/)

        this.attentionDetails.affiliate.first_name = m[1]
        this.attentionDetails.affiliate.last_name = m[2]
      }
    },
    getColor () {
      if (this.attentionDetails.status === 'Abierta') return 'orange' // OPEN
      else if (this.attentionDetails.status === 'Cerrada') return 'grey' // CLOSED
    },
    affiliateStatusColor () {
      if (this.affiliateDetails.is_active) return 'success'
      else return 'warning'
    }
  },
  methods: {
    getCurrentDatetime () {
      var today = new Date()
      var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate()
      var time = today.getHours() + ':' + today.getMinutes() + ':' + today.getSeconds()
      var datetime = new Date(date + ' ' + time).toISOString()
      return datetime
    },
    closeAttention () {
      this.dialog = true
    },
    confirm () {
      const data = {
        id: this.attentionDetails.id,
        status: 'CLOSED',
        end: this.getCurrentDatetime(),
        closing_reason: this.reason ? this.reason.display : ''
        //  follow_up: this.withFollowUp
      }
      this.$store.dispatch('editAttention', data)
    },
    tabItems () {
      var items = []
      if (this.attentionDetails.follow_up) {
        items = [ // General: 0, Affiliate: 1, Family Burden: 2, Care History: 3, Attached Documents: 4, Follow-up Care: 5
          this.$t('general_attention'), this.$t('affiliate'), this.$t('policies'), this.$t('care_history'), this.$t('attached_documents') //, this.$t('follow_up_care')
        ]
      } else {
        items = [ // General: 0, Affiliate: 1, Family Burden: 2, Care History: 3, Attached Documents: 4
          this.$t('general_attention'), this.$t('affiliate'), this.$t('policies'), this.$t('care_history'), this.$t('attached_documents')
        ]
      }
      return items
    }
  }
}
</script>

<style>
/* Helper classes */
.basil {
  background-color: #FFFFFF !important;
}
.basil--text {
  color: #039BE5 !important;
}
.v-expansion-panel-content__wrap {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.container.grid-list-xl .layout .flex {
  padding-top: 8px;
  padding-bottom: 0px;
}
.v-card__text {
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
}
</style>
