<template>
  <v-card
    class="overflow-hidden"
    color="grey lighten-5"
  >
    <v-card-text v-if="permissions">
      <v-tooltip bottom>
      <template v-slot:activator="{ on }">
      <v-fab-transition>
        <v-btn
          button
          right
          fab
          absolute
          small
          @click="isEditing = !isEditing"
          v-on="on"
          style="z-index: 0"
        >
          <v-icon v-if="isEditing">mdi-close</v-icon>
          <v-icon v-else>mdi-pencil</v-icon>
        </v-btn>
      </v-fab-transition>
      </template>
      <span v-if="isEditing">{{ $t('cancel') }}</span>
      <span v-else-if="!isEditing">{{ $t('edit') }}</span>
      </v-tooltip>
    </v-card-text>

    <v-card-title>{{ $t('trajectory') }}</v-card-title>
    <v-card-text>
      <v-container grid-list-md fluid>
        <v-layout row justify-space-between>
          <v-flex sm6 md6>
            <v-text-field
              :disabled="!isEditing"
              v-model="origin"
              color="light-blue darken-1"
              v-bind:label="$t('origin')"
              dense
            ></v-text-field>
          </v-flex>
          <v-flex sm6 md6>
            <v-text-field
              :disabled="!isEditing"
              v-model="destination"
              color="light-blue darken-1"
              v-bind:label="$t('destination')"
              dense
            ></v-text-field>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>

    <v-divider class="mx-4"></v-divider>
    <v-card-title>{{ $t('administrative') }}</v-card-title>
    <v-card-text>
      <v-container grid-list-md fluid>
        <v-layout row justify-space-between>
          <v-flex sm3 md3>
            <v-text-field
              :disabled="!isEditing"
              v-model="request"
              color="light-blue darken-1"
              v-bind:label="$t('request')"
              dense
            ></v-text-field>
          </v-flex>
          <v-flex sm3 md3>
            <v-text-field
              :disabled="!isEditing"
              v-model="control"
              color="light-blue darken-1"
              v-bind:label="$t('control')"
              dense
            ></v-text-field>
          </v-flex>
          <v-flex sm3 md3>
            <v-text-field
              :disabled="!isEditing"
              v-model="receipt"
              color="light-blue darken-1"
              v-bind:label="$t('receipt')"
              dense
            ></v-text-field>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
    <template v-if="permissions">
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          :disabled="!isEditing"
          color="success"
          @click="save"
        >
          {{ $t('save') }}
        </v-btn>
      </v-card-actions>
    </template>
    <v-snackbar
      v-model="hasSaved"
      :timeout="2000"
      absolute
      bottom
      left
    >
      {{ $t('service_additional_info_updated') }}
    </v-snackbar>
  </v-card>

</template>

<script>
import { mapGetters } from 'vuex'

/*
  El componente `<Additional>` no esta usado en el sistema, a desarrollarse a futuro

  ---
  
  The `<Additional>` component is not used in the system, to be developed in the future

  @author Ixhel Mejías, Adriana Tiso
*/

export default {
  data () {
    return {
      hasSaved: false,
      isEditing: null,
      model: null,
      origin: '',
      destination: '',
      travelReturn: '',
      kmTraveled: '',
      request: '',
      control: '',
      receipt: ''
    }
  },
  computed: {
    ...mapGetters([
      'roles'
    ]),
    permissions () {
      return this.roles.includes('Director') || this.roles.includes('Despachador')
    }
  },
  methods: {
    save () {
      this.isEditing = !this.isEditing
      this.hasSaved = true
    }
  }
}
</script>
