<template>
  <v-card
    class="overflow-hidden"
    color="grey lighten-5"
  >
    <v-card-text>
      <v-container grid-list-md fluid>
        <v-layout row justify-space-between>
          <v-flex sm12 md12 v-show="serviceDetails.service_type.id === 3">
            <v-textarea
              v-model="origin"
              :disabled="!permissions_route_edition"
              color="light-blue darken-1"
              v-bind:label="$t('origin')"
              v-validate="'required'"
              :error-messages="errors.collect('origin')"
              data-vv-name="origin"
              :data-vv-as="$t('origin')"
              dense
              @click.stop="isEditing = true, defaultAddressObject = originObject, showAddressForm = true, assignOrigin=true, assignDestination=false"
              auto-grow
              rows="1"
              row-height="15"
            ></v-textarea>
          </v-flex>
          <v-flex sm12 md12>
            <v-textarea
              v-model="destination"
              :disabled="!permissions_route_edition"
              color="light-blue darken-1"
              v-bind:label="$t('destination')"
              v-validate="'required'"
              :error-messages="errors.collect('destination')"
              data-vv-name="destination"
              :data-vv-as="$t('destination')"
              dense
              @click.stop="isEditing = true, defaultAddressObject = destinationObject, showAddressForm = true, assignOrigin=false, assignDestination=true"
              auto-grow
              rows="1"
              row-height="15"
            ></v-textarea>
          </v-flex>

          <AddressForm :visible="showAddressForm" :showAutocomplete="true" :createServiceAddress="true" :defaultAddress="defaultAddressObject" @close="showAddressForm=false" @addressAssigned="onAddressAssigned" />
        </v-layout>

        <v-layout row justify-space-between v-if="!externalProvider">
          <v-flex sm4 md4>
            <v-autocomplete
              v-model="crew.code"
              :readonly="!permissions_crew_edition"
              :items="crewTodayItems"
              item-value='id'
              item-text='name'
              color="light-blue darken-1"
              v-bind:label="$t('crew')"
              v-validate="'required'"
              :error-messages="errors.collect('crew.code')"
              data-vv-name="crew.code"
              :data-vv-as="$t('crew')"
              :no-data-text="$t('no_data_available')"
              dense
              small-chips
              @click="isEditing = true"
              v-on:change="isEditing = true, updateData()"
            >
              <template v-slot:selection="data" v-if="!permissions_crew_edition">
                <v-chip class="ma-2" small>
                  {{ data.item.name }}
                </v-chip>
              </template>
            </v-autocomplete>
          </v-flex>
          <v-flex sm4 md4>
            <v-text-field
              v-model="crew.name"
              readonly
              color="light-blue darken-1"
              v-bind:label="$t('crew_name')"
              dense
              v-if="crewDetails"
            ></v-text-field>
          </v-flex>
          <v-flex sm4 md4>
            <v-text-field
              v-model="crew.base"
              readonly
              color="light-blue darken-1"
              v-bind:label="$t('base')"
              dense
              v-if="crewDetails"
            ></v-text-field>
            <v-text-field
              readonly
              color="light-blue darken-1"
              v-bind:label="$t('base')"
              dense
              v-else
            ></v-text-field>
          </v-flex>
          <v-flex sm3 md3>
            <v-text-field
              v-model="crew.unit"
              readonly
              color="light-blue darken-1"
              v-bind:label="$t('unit')"
              dense
              v-if="crewDetails"
            ></v-text-field>
            <v-text-field
              readonly
              color="light-blue darken-1"
              v-bind:label="$t('unit')"
              dense
              v-else
            ></v-text-field>
          </v-flex>
          <v-flex sm5 md5>
            <v-text-field
              v-model="crew.driver"
              readonly
              color="light-blue darken-1"
              v-bind:label="$t('driver')"
              dense
              v-if="crewDetails"
            ></v-text-field>
            <v-text-field
              readonly
              color="light-blue darken-1"
              v-bind:label="$t('driver')"
              dense
              v-else
            ></v-text-field>
          </v-flex>
        </v-layout>

        <v-layout row justify-space-between v-if="!externalProvider">
          <v-flex sm5 md5 v-if="crew.doctor">
            <v-text-field
              v-model="crew.doctor"
              readonly
              color="light-blue darken-1"
              v-bind:label="$t('doctor')"
              dense
              v-if="crewDetails"
            ></v-text-field>
            <v-text-field
              readonly
              color="light-blue darken-1"
              v-bind:label="$t('doctor')"
              dense
              v-else
            ></v-text-field>
          </v-flex>
          <v-flex sm5 md5 v-if="crew.paramedic">
            <v-text-field
              v-model="crew.paramedic"
              readonly
              color="light-blue darken-1"
              v-bind:label="$t('paramedic')"
              dense
              v-if="crewDetails"
            ></v-text-field>
            <v-text-field
              readonly
              color="light-blue darken-1"
              v-bind:label="$t('paramedic')"
              dense
              v-else
            ></v-text-field>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
    <template
      v-if="(permissions_crew_edition || permissions_route_edition)"
    >
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          :disabled="errors.any() || isDisabled"
          color="success"
          @click="save"
        >
          {{ $t('save') }}
        </v-btn>
      </v-card-actions>
    </template>
    <v-snackbar
      v-model="snackbar"
      :color="color"
      :timeout="timeout"
      absolute
    >
      {{ text }}
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        {{ $t('close') }}
      </v-btn>
    </v-snackbar>
  </v-card>

</template>

<script>
import { mapGetters } from 'vuex'
import AddressForm from '@/components/attentions/attention_details/attention_services/AddressForm'

/*
  El componente `<Crew>` se utiliza para asignar y mostrar información
  de la tripulación que prestará apoyo dentro del servicio.

  Este componente requere de `<AddressForm>` para completar su uso.

  `<Crew>` es hijo del componente `<ServiceDetails>`.

  ---

  The `<Crew>` component is used to assign and display information
  of the crew that will provide support within the service.

  This component requires `<AddressForm>` to complete its use.

  `<Crew>` is a child of the `<ServiceDetails>` component.

  @author Ixhel Mejías, Adriana Tiso
*/

export default {
  components: {AddressForm},
  data () {
    return {
      snackbar: false,
      text: '',
      timeout: 6000,
      color: '',
      isEditing: false,
      model: null,
      origin: '',
      destination: '',
      externalProvider: null,
      providerItems: [ // TODO: hook up dynamic data
        {code: 1, display: 'Proveedor 1'},
        {code: 2, display: 'Proveedor 2'},
        {code: 3, display: 'Proveedor 3'}
      ],
      crew: {
        code: '',
        unit: '',
        base: '',
        doctor: '',
        paramedic: '',
        driver: '',
        coordinator: ''
      },
      showAddressForm: false,
      assignOrigin: false,
      assignDestination: false,
      originObject: {},
      destinationObject: {},
      defaultAddressObject: {},
      originServiceAddressId: null,
      destinationServiceAddressId: null
    }
  },
  created () {
    if (this.attentionDetails.length !== 0) {
      // TODO: check
      // this.$store.dispatch('getServiceAddressesItemsByAffiliate', this.attentionDetails.affiliate.id)
    }
    this.$store.dispatch('getTodayCrewItems')

    if (this.serviceDetails.origin_address) {
      var originAddressLine2 = this.serviceDetails.origin_address.address_line2 ? ' (' + this.serviceDetails.origin_address.address_line2 + ')' : ''
      this.origin = this.serviceDetails.origin_address.unknown_region
        ? this.serviceDetails.origin_address.address_line1 + ', ' + this.$t('unknown_region') + ', ' + this.serviceDetails.origin_address.region.second_level.name + ', ' + this.serviceDetails.origin_address.region.second_level.first_level.name + originAddressLine2
        : this.serviceDetails.origin_address.address_line1 + ', ' + this.serviceDetails.origin_address.region.name + ', ' + this.serviceDetails.origin_address.region.second_level.name + ', ' + this.serviceDetails.origin_address.region.second_level.first_level.name + originAddressLine2
      this.originObject = this.serviceDetails.origin_address
      this.originServiceAddressId = this.serviceDetails.origin_address.id
    } else {
      this.origin = ''
      this.originObject = {}
      this.$nextTick(() => {
        this.$validator.reset()
      })
    }
    if (this.serviceDetails.destination_address) {
      var destinationAddressLine2 = this.serviceDetails.destination_address.address_line2 ? ' (' + this.serviceDetails.destination_address.address_line2 + ')' : ''
      this.destination = this.serviceDetails.destination_address.unknown_region
        ? this.serviceDetails.destination_address.address_line1 + ', ' + this.$t('unknown_region') + ', ' + this.serviceDetails.destination_address.region.second_level.name + ', ' + this.serviceDetails.destination_address.region.second_level.first_level.name + destinationAddressLine2
        : this.serviceDetails.destination_address.address_line1 + ', ' + this.serviceDetails.destination_address.region.name + ', ' + this.serviceDetails.destination_address.region.second_level.name + ', ' + this.serviceDetails.destination_address.region.second_level.first_level.name + destinationAddressLine2
      this.destinationObject = this.serviceDetails.destination_address
      this.destinationServiceAddressId = this.serviceDetails.destination_address.id
    } else {
      this.destination = ''
      this.destinationObject = {}
      this.$nextTick(() => {
        this.$validator.reset()
      })
    }
    if (this.serviceDetails.crew) {
      this.crew.code = this.serviceDetails.crew.id
      this.crew.name = this.serviceDetails.crew.name
      this.$store.dispatch('getCrewDetails', this.crew.code)
    }

    this.unwatchServiceDetails = this.$store.watch(() => this.$store.getters.serviceDetails, serviceDetails => {
      if (this.attentionDetails.length !== 0) {
        // TODO: check
        // this.$store.dispatch('getServiceAddressesItemsByAffiliate', this.attentionDetails.affiliate.id)
      }

      if (this.serviceDetails.origin_address) {
        var originAddressLine2 = this.serviceDetails.origin_address.address_line2 ? ' (' + this.serviceDetails.origin_address.address_line2 + ')' : ''
        this.origin = this.serviceDetails.origin_address.unknown_region
          ? this.serviceDetails.origin_address.address_line1 + ', ' + this.$t('unknown_region') + ', ' + this.serviceDetails.origin_address.region.second_level.name + ', ' + this.serviceDetails.origin_address.region.second_level.first_level.name + originAddressLine2
          : this.serviceDetails.origin_address.address_line1 + ', ' + this.serviceDetails.origin_address.region.name + ', ' + this.serviceDetails.origin_address.region.second_level.name + ', ' + this.serviceDetails.origin_address.region.second_level.first_level.name + originAddressLine2
        this.originObject = this.serviceDetails.origin_address
        this.originServiceAddressId = this.serviceDetails.origin_address.id
      } else {
        this.origin = ''
        this.originObject = {}
        this.$nextTick(() => {
          this.$validator.reset()
        })
      }
      if (this.serviceDetails.destination_address) {
        var destinationAddressLine2 = this.serviceDetails.destination_address.address_line2 ? ' (' + this.serviceDetails.destination_address.address_line2 + ')' : ''
        this.destination = this.serviceDetails.destination_address.unknown_region
          ? this.serviceDetails.destination_address.address_line1 + ', ' + this.$t('unknown_region') + ', ' + this.serviceDetails.destination_address.region.second_level.name + ', ' + this.serviceDetails.destination_address.region.second_level.first_level.name + destinationAddressLine2
          : this.serviceDetails.destination_address.address_line1 + ', ' + this.serviceDetails.destination_address.region.name + ', ' + this.serviceDetails.destination_address.region.second_level.name + ', ' + this.serviceDetails.destination_address.region.second_level.first_level.name + destinationAddressLine2
        this.destinationObject = this.serviceDetails.destination_address
        this.destinationServiceAddressId = this.serviceDetails.destination_address.id
      } else {
        this.destination = ''
        this.destinationObject = {}
        this.$nextTick(() => {
          this.$validator.reset()
        })
      }
      if (this.serviceDetails.crew) {
        this.crew.code = this.serviceDetails.crew.id
        this.crew.name = this.serviceDetails.crew.name
        this.$store.dispatch('getCrewDetails', this.crew.code)
      } else {
        this.crew.code = null
        this.crew.name = null
        this.crew.unit = null
        this.crew.base = null
        this.crew.doctor = null
        this.crew.paramedic = null
        this.crew.driver = null
      }
    })

    this.unwatchCrew = this.$store.watch(() => this.$store.getters.crewDetails, crewDetails => {
      if (this.serviceDetails.crew) {
        this.crew.name = this.crewDetails.name
        this.crew.unit = this.crewDetails.mobile_unit.codename
        this.crew.base = this.crewDetails.base.base_name
        this.crew.doctor = this.getPractitioner('PRACTITIONER').full_name
        this.crew.paramedic = this.getPractitioner('PARAMEDIC').full_name
        this.crew.driver = this.getPractitioner('DRIVER').full_name
      }
    })
  },
  beforeDestroy () {
    if (this.unwatchServiceDetails) {
      this.unwatchServiceDetails()
    }
    if (this.unwatchCrew) {
      this.unwatchCrew()
    }
  },
  computed: {
    ...mapGetters([
      'attentionDetails',
      'serviceDetails',
      'roles',
      'crewTodayItems',
      'crewDetails'
    ]),
    isDisabled () {
      return !this.isEditing
    },
    permissions_crew_edition () {
      return (this.roles.includes('Director') || this.roles.includes('Despachador') || this.roles.includes('Coordinador')) && this.serviceDetails.status !== 'Cerrado'
    },
    permissions_route_edition () {
      return (this.roles.includes('Director') || this.roles.includes('Operador') || this.roles.includes('Despachador') || this.roles.includes('Médico') || this.roles.includes('Coordinador')) && this.serviceDetails.status !== 'Cerrado'
    }
  },
  methods: {
    save () {
      var data = {}
      //  TODO: allow saving data even if origin/destination addresses are null
      if (this.serviceDetails.service_type.id === 1 || this.serviceDetails.service_type.id === 4 || this.serviceDetails.service_type.id === 5 || this.serviceDetails.service_type.id === 6) {
        data = {
          id: this.serviceDetails.id,
          service_type: this.serviceDetails.service_type.id,
          crew: this.crew.code,
          destination_address: this.destinationServiceAddressId
        }
      } else if (this.serviceDetails.service_type.id === 3) {
        data = {
          id: this.serviceDetails.id,
          service_type: this.serviceDetails.service_type.id,
          crew: this.crew.code,
          origin_address: this.originServiceAddressId,
          destination_address: this.destinationServiceAddressId
        }
      }
      this.$store.dispatch('editService', data).then(() => {
        this.text = this.$t('service_crew_and_route_info_updated')
        this.color = 'success'
        this.timeout = 4000
        this.snackbar = true
        this.isEditing = !this.isEditing
      }).catch(() => {
        this.text = this.$t('error_check_data')
        this.color = 'red'
        this.timeout = 4000
        this.snackbar = true
      })
    },
    updateData () {
      this.crew.unit = null
      this.crew.name = null
      this.crew.base = null
      this.crew.doctor = null
      this.crew.paramedic = null
      this.crew.driver = null

      this.$nextTick(() => {
        this.$validator.reset()
      })

      this.$store.dispatch('getCrewDetails', this.crew.code)

      this.unwatchCrew = this.$store.watch(() => this.$store.getters.crewDetails, crewDetails => {
        this.crew.unit = this.crewDetails.mobile_unit.codename
        this.crew.name = this.crewDetails.name
        this.crew.base = this.crewDetails.base.base_name
        this.crew.doctor = this.getPractitioner('PRACTITIONER').full_name
        this.crew.paramedic = this.getPractitioner('PARAMEDIC').full_name
        this.crew.driver = this.getPractitioner('DRIVER').full_name
      })
    },
    getPractitioner (role) {
      for (let i = 0; i < this.crewDetails.practitioners.length; i++) {
        if (this.crewDetails.practitioners[i].practitioner_role === role) {
          var practitioner = {}
          practitioner.id = this.crewDetails.practitioners[i].practitioner.id
          practitioner.first_name = this.crewDetails.practitioners[i].practitioner.first_name
          practitioner.last_name = this.crewDetails.practitioners[i].practitioner.last_name
          practitioner.full_name = this.crewDetails.practitioners[i].practitioner.first_name + ' ' + this.crewDetails.practitioners[i].practitioner.last_name
          return practitioner
        }
      }
      return ''
    },
    onAddressAssigned (...args) {
      const [address, serviceAddressId] = args
      if (this.assignOrigin) {
        var originAddressLine2 = address.address_line2 ? ' (' + address.address_line2 + ')' : ''
        this.origin = address.unknown_region
          ? address.address_line1 + ', ' + this.$t('unknown_region') + ', ' + address.region.second_level.name + ', ' + address.region.second_level.first_level.name + originAddressLine2
          : address.address_line1 + ', ' + address.region.name + ', ' + address.region.second_level.name + ', ' + address.region.second_level.first_level.name + originAddressLine2
        this.assignOrigin = false
        this.originObject = address
        this.originServiceAddressId = serviceAddressId
      } else if (this.assignDestination) {
        var destinationAddressLine2 = address.address_line2 ? ' (' + address.address_line2 + ')' : ''
        this.destination = address.unknown_region
          ? address.address_line1 + ', ' + this.$t('unknown_region') + ', ' + address.region.second_level.name + ', ' + address.region.second_level.first_level.name + destinationAddressLine2
          : address.address_line1 + ', ' + address.region.name + ', ' + address.region.second_level.name + ', ' + address.region.second_level.first_level.name + destinationAddressLine2
        this.assignDestination = false
        this.destinationObject = address
        this.destinationServiceAddressId = serviceAddressId
      }
    }
  }
}
</script>
