<template>
  <v-card
    class="overflow-hidden"
    color="grey lighten-5"
  >
    <v-card-text>
      <v-container grid-list-md fluid>
        <v-layout row justify-space-between>
          <v-flex sm3 md3>
            <v-text-field
              v-model="formatStartDate"
              readonly
              color="light-blue darken-1"
              v-bind:label="$t('service_created')"
              dense
            ></v-text-field>
          </v-flex>
          <v-flex sm3 md3>
            <v-text-field
              v-model="fullNamePetitioner"
              readonly
              color="light-blue darken-1"
              v-bind:label="$t('petitioner')"
              dense
            ></v-text-field>
          </v-flex>
          <v-flex sm3 md3>
            <v-text-field
              v-model="fullNameAttendant"
              readonly
              color="light-blue darken-1"
              v-bind:label="$t('attendant')"
              dense
            ></v-text-field>
          </v-flex>
        </v-layout>

        <v-layout row justify-space-between>
          <v-flex sm4 md4>
            <v-text-field
              v-model="formatScheduledDatetime"
              :placeholder="serviceDetails.scheduled ? '' : $t('not_applicable')"
              readonly
              color="light-blue darken-1"
              v-bind:label="$t('scheduled')"
              dense
            >
              <template v-slot:append-outer v-if="serviceDetails.service_type.id !== 2 && (serviceDetails.status === 'Abierto' || serviceDetails.status === 'Retrasado') && permissions_service_scheduling">
                <v-slide-x-reverse-transition
                  mode="out-in"
                >
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="showScheduleForm = true"
                        v-on="on"
                        color="success"
                      >
                        mdi-calendar-clock
                      </v-icon>
                    </template>
                    <span v-if="serviceDetails.scheduled">{{ $t('reschedule') }}</span>
                    <span v-else>{{ $t('schedule') }}</span>
                  </v-tooltip>
                </v-slide-x-reverse-transition>
              </template>
            </v-text-field>
          </v-flex>
          <v-flex sm4 md4>
            <v-text-field
              v-model="serviceRequestSource"
              readonly
              color="light-blue darken-1"
              v-bind:label="$t('service_request_source')"
              dense
              v-if="this.serviceDetails.source"
            ></v-text-field>
            <v-text-field
              :placeholder="$t('not_applicable')"
              readonly
              color="light-blue darken-1"
              v-bind:label="$t('service_request_source')"
              dense
              v-else
            ></v-text-field>
          </v-flex>
        </v-layout>

        <v-layout row justify-space-between>
          <v-flex sm12 md12 v-if="(serviceDetails.service_type.id===1 && serviceDetails.lab_examination) || serviceDetails.service_type.id===6">
            <v-autocomplete
              v-model="service.labExams"
              :items="examTypes"
              item-value='id'
              item-text='name'
              :label="$t('laboratory_exams')"
              multiple
              dense
              small-chips
              readonly
            ></v-autocomplete>
          </v-flex>
          <v-flex sm6 md6>
            <v-textarea
              v-model="service.comments"
              :readonly="!permissions"
              color="light-blue darken-1"
              v-bind:label="$t('comments')"
              auto-grow
              rows="1"
              row-height="15"
              dense
              @click="isEditing = true"
            ></v-textarea>
          </v-flex>
          <v-flex sm6 md6 v-if="serviceDetails.service_type.id===1 || serviceDetails.service_type.id===3 || serviceDetails.service_type.id===4 || serviceDetails.service_type.id===5 || serviceDetails.service_type.id===6">
            <v-textarea
              v-model="service.transferReason"
              :readonly="!permissions"
              color="light-blue darken-1"
              v-bind:label="$t('reason_for_service')"
              auto-grow
              rows="1"
              row-height="15"
              dense
              @click="isEditing = true"
            ></v-textarea>
          </v-flex>
        </v-layout>

        <v-layout row justify-space-between v-if="serviceDetails.service_type.id===3">
          <v-flex sm3 md3>
            <v-checkbox
              v-model="service.intensiveCareUnit"
              v-bind:label="$t('icu')"
              color="light-blue darken-1"
              dense
              readonly
            ></v-checkbox>
          </v-flex>
          <v-flex sm4 md4>
            <v-checkbox
              v-model="service.interinstitutional"
              v-bind:label="$t('interinstitutional')"
              color="light-blue darken-1"
              dense
              readonly
            ></v-checkbox>
          </v-flex>
          <v-flex sm3 md3>
            <v-checkbox
              v-model="service.interstate"
              v-bind:label="$t('interstate')"
              color="light-blue darken-1"
              dense
              readonly
            ></v-checkbox>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
    <v-divider v-if="permissions"></v-divider>
    <v-card-actions v-if="permissions">
      <v-spacer></v-spacer>
      <v-btn
        :disabled="!isEditing"
        color="success"
        @click="save"
      >
        {{ $t('save') }}
      </v-btn>
    </v-card-actions>
    <v-snackbar
      v-model="snackbar"
      :color="color"
      :timeout="timeout"
      absolute
    >
      {{ text }}
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        {{ $t('close') }}
      </v-btn>
    </v-snackbar>
    <ScheduleForm :visible="showScheduleForm" :defaultDatetime="service.scheduledDatetime" @close="showScheduleForm=false" @datetimeScheduled="onDatetimeAssigned" />
  </v-card>

</template>

<script>
import { mapGetters } from 'vuex'
import moment from 'moment'
import ScheduleForm from '@/components/attentions/attention_details/attention_services/ScheduleForm'

/*
  El componente `<General>` se utiliza para mostrar y editar la información
  general del servicio desplegado contenido en una atención.

  Este componente puede requerir `<ScheduleForm>` para completar su uso.

  `<General>` es hijo del componente `<ServiceDetails>`.

  ---

  The `<General>` component is used to display and edit the information
  general of the service deployed content in an attention.

  This component may require `<ScheduleForm>` to complete its use.

  General>` is a child of the `<ServiceDetails>` component.

  @author Ixhel Mejías, Adriana Tiso
*/

export default {
  data () {
    return {
      snackbar: false,
      text: '',
      timeout: 6000,
      color: '',
      isEditing: false,
      model: null,
      service: {
        comments: '',
        transferReason: '',
        intensiveCareUnit: false,
        interinstitutional: false,
        interstate: false,
        labExams: '',
        scheduled: false,
        scheduledDatetime: ''
      },
      showScheduleForm: false,
      datetimeAssigned: false
    }
  },
  components: {ScheduleForm},
  created () {
    this.service.comments = this.serviceDetails.comments
    this.service.transferReason = this.serviceDetails.transfer_reason
    this.service.intensiveCareUnit = this.serviceDetails.icu
    this.service.interinstitutional = this.serviceDetails.interinstitutional
    this.service.interstate = this.serviceDetails.interstate
    this.service.labExams = this.serviceDetails.lab_tests
    this.service.scheduled = this.serviceDetails.scheduled
    this.service.scheduledDatetime = this.serviceDetails.scheduled_date_time

    this.unwatchServiceDetails = this.$store.watch(() => this.$store.getters.serviceDetails, serviceDetails => {
      this.unwatchServiceDetails()
      this.service.comments = this.$store.getters.serviceDetails.comments
      this.service.transferReason = this.$store.getters.serviceDetails.transfer_reason
      this.service.intensiveCareUnit = this.$store.getters.serviceDetails.icu
      this.service.interinstitutional = this.$store.getters.serviceDetails.interinstitutional
      this.service.interstate = this.$store.getters.serviceDetails.interstate
      this.service.labExams = this.serviceDetails.lab_tests
      this.service.scheduled = this.serviceDetails.scheduled
      this.service.scheduledDatetime = this.serviceDetails.scheduled_date_time
    })
  },
  beforeDestroy () {
    if (this.unwatchServiceDetails) {
      this.unwatchServiceDetails()
    }
  },
  computed: {
    ...mapGetters([
      // map this.serviceDetails to this.$store.getters.serviceDetails
      'serviceDetails',
      'roles',
      'sourceItems',
      'examTypes'
    ]),
    permissions () {
      return this.roles.includes('Director') || this.roles.includes('Operador') || this.roles.includes('Despachador') || this.roles.includes('Médico') || this.roles.includes('Coordinador') || this.roles.includes('Gerente')
    },
    permissions_service_scheduling () {
      return this.roles.includes('Despachador') || this.roles.includes('Coordinador') || this.roles.includes('Gerente') || this.roles.includes('Director')
    },
    getColor () {
      if (this.serviceDetails.status === 'Abierto') return 'orange' // OPEN
      else if (this.serviceDetails.status === 'Retrasado') return 'red' // DELAYED
      else if (this.serviceDetails.status === 'En progreso') return 'green' // IN_PROGRESS
      else if (this.serviceDetails.status === 'Completado') return 'blue' // COMPLETED
      else if (this.serviceDetails.status === 'Cancelado') return 'grey' // CANCELED
      else if (this.serviceDetails.status === 'Cerrado') return 'blue-grey darken-1' // CLOSED
    },
    formatStartDate () {
      moment.locale(this.$i18n.locale)
      return moment(this.serviceDetails.start).format('DD/MM/YYYY h:mm a')
    },
    formatScheduledDatetime () {
      moment.locale(this.$i18n.locale)
      return this.service.scheduledDatetime ? moment(this.service.scheduledDatetime).format('D/M/YYYY h:mm a') : ''
    },
    fullNamePetitioner: {
      get () {
        return `${this.serviceDetails.user.first_name} ${this.serviceDetails.user.last_name}`
      },
      set (newValue) {
        const m = newValue.match(/(\S*)\s+(.*)/)

        this.serviceDetails.user.first_name = m[1]
        this.serviceDetails.user.last_name = m[2]
      }
    },
    fullNameAttendant: {
      get () {
        if (this.serviceDetails.attendant) {
          return `${this.serviceDetails.attendant.first_name} ${this.serviceDetails.attendant.last_name}`
        } else {
          return ''
        }
      },
      set (newValue) {
        const m = newValue.match(/(\S*)\s+(.*)/)

        this.serviceDetails.attendant.first_name = m[1]
        this.serviceDetails.attendant.last_name = m[2]
      }
    },
    serviceRequestSource () {
      var source = ''
      if (this.serviceDetails.source) {
        source = this.sourceItems.find(source => source.id === this.serviceDetails.source).name
      }
      return source
    }
  },
  methods: {
    save () {
      var data = {}
      if (this.serviceDetails.service_type.id === 2) { // TMG
        data = {
          id: this.serviceDetails.id,
          service_type: this.serviceDetails.service_type.id,
          comments: this.service.comments
        }
      } else if (this.serviceDetails.service_type.id === 1 || this.serviceDetails.service_type.id === 3 || this.serviceDetails.service_type.id === 4 || this.serviceDetails.service_type.id === 5 || this.serviceDetails.service_type.id === 6) {
        data = {
          id: this.serviceDetails.id,
          service_type: this.serviceDetails.service_type.id,
          scheduled: this.service.scheduled,
          scheduled_date_time: this.service.scheduledDatetime,
          operation_state: this.datetimeAssigned ? 'ASLEEP' : this.serviceDetails.operation_state,
          status: this.datetimeAssigned ? 'OPEN' : this.translateStatus(this.serviceDetails.status),
          comments: this.service.comments,
          transfer_reason: this.service.transferReason
        }
      }
      this.$store.dispatch('editService', data).then(() => {
        this.text = this.$t('service_general_info')
        this.color = 'success'
        this.timeout = 4000
        this.snackbar = true
        this.isEditing = !this.isEditing
        this.datetimeAssigned = false
      }).catch(() => {
        this.text = this.$t('error_check_data')
        this.color = 'red'
        this.timeout = 4000
        this.snackbar = true
      })
    },
    onDatetimeAssigned (...args) {
      const [datetime] = args
      this.service.scheduledDatetime = datetime
      this.service.scheduled = true
      this.isEditing = true
      this.datetimeAssigned = true
    },
    translateStatus (statusES) {
      if (statusES === 'Abierto') return 'OPEN'
      else if (statusES === 'Retrasado') return 'DELAYED'
      else if (statusES === 'En progreso') return 'IN_PROGRESS'
      else if (statusES === 'Completado') return 'COMPLETED'
      else if (statusES === 'Cancelado') return 'CANCELED'
      else if (statusES === 'Cerrado') return 'CLOSED'
    }
  }
}
</script>

<style>
.v-chip--disabled {
  opacity: 1;
}
</style>
