<template>
  <v-card color="grey lighten-5">
    <v-card-text>
      <v-container fluid>
        <v-dialog v-model="dialog" max-width="800px">
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap justify-space-between>
                  <v-flex xs12 sm8 md8>
                    <v-autocomplete
                      v-model="editedItem.medicament"
                      :items="medicalItems"
                      color="light-blue darken-1"
                      item-text="name"
                      item-value="id"
                      :label="$t('medicament_or_medical_supply')"
                      v-validate="'required'"
                      :error-messages="errors.collect('editedItem.medicament')"
                      data-vv-name="editedItem.medicament"
                      :data-vv-as="$t('medicament_or_medical_supply')"
                      dense
                      small-chips
                      deletable-chips
                      return-object
                    ><template v-slot:selection="data">
                      <v-chip
                        v-bind="data.attrs"
                        :input-value="data.selected"
                        close
                        @click="data.select"
                      >
                        <v-icon left :color='medicalIconColor(data.item)'>{{ appendIconMedication(data.item.product_type) }}</v-icon>
                        {{ data.item.name }}
                      </v-chip>
                    </template>
                    <template v-slot:item="data">
                      <template v-if="typeof data.item !== 'object'">
                        <v-list-item-content v-text="data.item"></v-list-item-content>
                      </template>
                      <template v-else>
                        <v-list-item-avatar>
                          <v-icon left :color='medicalIconColor(data.item)'>{{ appendIconMedication(data.item.product_type) }}</v-icon>
                        </v-list-item-avatar>
                        <v-list-item-content>
                          <v-list-item-title v-html="data.item.name"></v-list-item-title>
                          <v-list-item-subtitle v-if="data.item.critical_care">Inventario crítico</v-list-item-subtitle>
                          <v-list-item-subtitle v-if="data.item.acute_care">Inventario agudo</v-list-item-subtitle>
                        </v-list-item-content>
                      </template>
                    </template>
                    </v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm2 md2>
                    <v-text-field
                      v-model="editedItem.deliveryQuantity"
                      :label="$t('quantity')"
                      v-validate="'required'"
                      :error-messages="errors.collect('editedItem.deliveryQuantity')"
                      data-vv-name="editedItem.deliveryQuantity"
                      :data-vv-as="$t('quantity')"
                      color="light-blue darken-1"
                      v-mask="mask"
                      dense></v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-btn color="white" @click="close()">{{ $t('cancel') }}</v-btn>
              <v-spacer></v-spacer>
              <v-btn color="success" :disabled="errors.any() || isDisabledSaveMedicament" @click="saveMedicament()">{{ saveMedicamentButtonText }}</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-dialog v-model="confirmDeletingItemDialog" persistent max-width="500px">
          <v-card>
            <v-card-title>
              <span class="headline">{{ $t('delete_medicament_or_medical_supply') }}</span>
            </v-card-title>
            <v-card-text>
              {{ deletedItem.medicament.name }} ({{ deletedItem.deliveryQuantity }})
              <br />
              {{ $t('delete_medicament_or_medical_supply_sure') }}
            </v-card-text>
            <v-card-actions>
              <v-btn color="white" @click="confirmDeletingItemDialog = false">{{ $t('cancel') }}</v-btn>
              <v-spacer></v-spacer>
              <v-btn color="success" @click="confirmDeletingItemDialog = false, deleteItem()">{{ $t('confirm') }}</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-text-field
          v-model="description"
          :readonly="!permissions"
          color="light-blue darken-1"
          v-bind:label="$t('observations')"
          v-validate="'required'"
          :error-messages="errors.collect('description')"
          data-vv-name="description"
          :data-vv-as="$t('observations')"
          dense
          @click="isEditing = true"
        ></v-text-field>

        <span class="text-uppercase">{{ $t('medicaments_and_medical_supplies') }}</span>
        <v-divider class="mx-4"></v-divider>
        <br />
        <v-data-table
          :headers="headers"
          :items="deliveryMedicaments"
          dense
          :no-data-text="$t('no_data_available')"
          hide-default-footer
          locale='es'
          :items-per-page="-1"
        >
          <template v-slot:item.medicament="{ item }">
            <v-icon
            :color='medicalIconColor(item.medicament)'
            size="20"
          >
            {{ appendIconMedication(item.medicament.type) }}
          </v-icon>
            {{ item.medicament.name }}
          </template>
          <template v-slot:item.actions="{ item }" v-if="permissions">
            <td class="justify-center">
              <v-icon
                small
                class="mr-2"
                @click="editItem(item)"
              >
                edit
              </v-icon>
              <v-icon
                small
                @click="confirmDeletingItem(item)"
              >
                delete
              </v-icon>
            </td>
          </template>
          <template v-slot:item.actions="{ }" v-else>
            {{ $t('not_available') }}
          </template>
        </v-data-table>
        <v-banner v-if="permissions">
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
                <v-fab-transition>
                  <v-btn
                    small
                    button
                    right
                    fab
                    absolute
                    v-on="on"
                    style="z-index: 0"
                    @click="dialog = true, isEditing = true, resetValidations()"
                  >
                    <v-icon color="#3DCB5E" size="50">mdi-plus-circle</v-icon>
                  </v-btn>
                </v-fab-transition>
            </template>
              <span>{{ $t('add_new_medicament_or_medical_supply') }}</span>
          </v-tooltip>
        </v-banner>
      </v-container>
    </v-card-text>
    <v-divider v-if="permissions"></v-divider>
    <v-card-actions v-if="permissions">
      <PrintMedication v-if="serviceDetails.destination_address !== null" />

      <v-spacer></v-spacer>
      <v-btn
        :disabled="!isEditing || isDisabled"
        color="success"
        @click="save"
      >
        {{ $t('save') }}
      </v-btn>
    </v-card-actions>
    <v-card-actions v-else>
      <PrintMedication />

      <v-spacer></v-spacer>
    </v-card-actions>
    <v-snackbar
      v-model="snackbar"
      :color="color"
      :timeout="timeout"
      absolute
    >
      {{ text }}
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        {{ $t('close') }}
      </v-btn>
    </v-snackbar>
  </v-card>
</template>

<script>
import { mapGetters } from 'vuex'
import { mask } from 'vue-the-mask'
import axios from 'axios'
import PrintMedication from '@/components/attentions/attention_details/attention_services/service_details/service_tabs/PrintMedication'

/*
  El componente `<Medication>` se utiliza para mostrar y editar información
  sobre los medicamentos que se despachan en el servicio contenido
  en una atención.

  Este componente requiere de `<PrinMedication>` para completar su uso.

  `<Medication>` es hijo del componente `<ServiceDetails>`.

  ---

  The `<Medication>` component is used to display and edit
  information related medication to be delivered in the service contained
  in an attention.

  This component requires `<PrinMedication>` to complete its use.

  `<Medication>` is a child of the `<ServiceDetails>` component.

  @author Ixhel Mejías, Adriana Tiso
*/

export default {
  directives: {
    mask
  },
  components: {PrintMedication},
  data () {
    return {
      mask: '##',
      dialog: false,
      confirmDeletingItemDialog: false,
      editedIndex: -1,
      editedItem: {
        medicament: null,
        deliveryQuantity: null,
        deliveryUnit: ''
      },
      deletedIndex: -1,
      deletedItem: {
        medicament: {
          name: '',
          quantity: null,
          quantity_unit: '',
          type: ''
        },
        deliveryQuantity: null,
        deliveryUnit: ''
      },
      headers: [
        { text: this.$t('medicament_or_medical_supply'), sortable: false, value: 'medicament' },
        { text: this.$t('quantity'), sortable: false, value: 'deliveryQuantity' },
        { text: this.$t('unit'), sortable: false, value: 'deliveryUnit' },
        { text: this.$t('actions'), sortable: false, value: 'actions' }
      ],
      deliveryMedicaments: [],
      isEditing: false,
      description: 'Ninguna',
      medicinalProducts: [],
      snackbar: false,
      text: '',
      timeout: 6000,
      color: '',
      acuteStock: false,
      criticalStock: false
    }
  },
  created () {
    if (this.serviceDetails.delivery_note) {
      this.description = this.serviceDetails.delivery_note.description
      this.deliveryMedicaments = this.getDeliveryMedicaments()
    }

    this.unwatchServiceDetails = this.$store.watch(() => this.$store.getters.serviceDetails, serviceDetails => {
      if (this.serviceDetails.delivery_note) {
        this.description = this.serviceDetails.delivery_note.description
        this.deliveryMedicaments = this.getDeliveryMedicaments()
      }
    })
  },
  computed: {
    ...mapGetters([
      'serviceDetails',
      'affiliateDetails',
      'roles',
      'medicalItems'
    ]),
    permissions () {
      return (this.roles.includes('Director') || this.roles.includes('Médico') || this.roles.includes('Operador') || this.roles.includes('Gerente') || this.roles.includes('Coordinador') || this.roles.includes('Despachador')) && this.serviceDetails.status !== 'Cerrado'
    },
    formTitle () {
      return this.editedIndex === -1 ? this.$t('new_medicament_or_medical_supply') : this.$t('edit_medicament_or_medical_supply')
    },
    saveMedicamentButtonText () {
      return this.editedIndex === -1 ? this.$t('add') : this.$t('edit')
    },
    isDisabled () {
      return !this.description || this.deliveryMedicaments.length === 0
    },
    isDisabledSaveMedicament () {
      return !this.editedItem.medicament || !this.editedItem.deliveryQuantity
    }
  },
  methods: {
    editItem (item) {
      this.editedIndex = this.deliveryMedicaments.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
      this.isEditing = true
    },
    confirmDeletingItem (item) {
      this.deletedIndex = this.deliveryMedicaments.indexOf(item)
      this.deletedItem = Object.assign({}, item)
      this.confirmDeletingItemDialog = true
    },
    deleteItem () {
      this.deliveryMedicaments.splice(this.deletedIndex, 1)
      this.isEditing = true
      this.save() //  TODO: add confirmation dialog
    },
    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },
    saveMedicament () {
      this.editedItem.deliveryUnit = this.editedItem.medicament.delivery_unit.name
      if (this.editedIndex > -1) {
        Object.assign(this.deliveryMedicaments[this.editedIndex], this.editedItem)
      } else {
        this.deliveryMedicaments.push(this.editedItem)
      }
      this.close()
    },
    save () {
      const setDeliveryMedicaments = () => {
        var medicaments = []
        for (var i = 0; i < this.deliveryMedicaments.length; i++) {
          medicaments.push({
            quantity: this.deliveryMedicaments[i].deliveryQuantity,
            quantity_unit: this.deliveryMedicaments[i].deliveryUnit,
            medicinal_product: this.deliveryMedicaments[i].medicament.id
          })
        }
        return medicaments
      }
      const editDeliveryNote = async () => { // TODO: add snackbar
        this.medicinalProducts = await setDeliveryMedicaments()
        const data = {
          medicinal_products: this.medicinalProducts,
          description: this.description
        }
        axios.put(process.env.ROOT_API + 'api/v1/delivery-notes-simple/' + this.serviceDetails.delivery_note.id, data, {
          headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
            'Content-Type': 'application/json'
          }
        })
          .then((response) => {
            const serviceData = {
              id: this.serviceDetails.id,
              service_type: this.serviceDetails.service_type.id
            }
            // Edit service stock details
            this.$store.dispatch('editService', serviceData).then(() => {
              this.text = this.$t('service_delivery_note_info_updated')
              this.color = 'success'
              this.timeout = 4000
              this.snackbar = true
              this.isEditing = false
            }).catch(() => {
              this.text = this.$t('error_check_data')
              this.color = 'error'
              this.timeout = 4000
              this.snackbar = true
            })
          })
          .catch((error) => {
            this.text = this.$t('error_check_data')
            this.color = 'error'
            this.timeout = 4000
            this.snackbar = true

            console.log(error)
            console.debug(error)
            console.dir(error)
          })
      }

      const createDeliveryNote = async () => {
        this.medicinalProducts = await setDeliveryMedicaments()

        const data = {
          medicinal_products: this.medicinalProducts,
          description: this.description
        }
        axios.post(process.env.ROOT_API + 'api/v1/delivery-notes-simple', data, {
          headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
            'Content-Type': 'application/json'
          }
        })
          .then((response) => {
            const serviceData = {
              id: this.serviceDetails.id,
              service_type: this.serviceDetails.service_type.id,
              delivery_note: response.data.id
            }
            // Add new delivery note to service
            this.$store.dispatch('editService', serviceData).then(() => {
              this.text = this.$t('service_delivery_note_info_updated')
              this.color = 'success'
              this.timeout = 4000
              this.snackbar = true
              this.isEditing = false
            }).catch(() => {
              this.text = this.$t('error_check_data')
              this.color = 'error'
              this.timeout = 4000
              this.snackbar = true
            })
          })
          .catch((error) => {
            this.text = this.$t('error_check_data')
            this.color = 'error'
            this.timeout = 4000
            this.snackbar = true

            console.log(error)
            console.debug(error)
            console.dir(error)
          })
      }

      if (this.serviceDetails.delivery_note) { // Delivery note edition
        editDeliveryNote()
      } else { // Delivery note creation
        createDeliveryNote()
      }
    },
    appendIconMedication (type) {
      if (type === 'MEDICINE') return 'mdi-pill'
      else if (type === 'MEDICAL_EQUIPMENT') return 'mdi-stethoscope'
      else if (type === 'MEDICAL_SUPPLY') return 'mdi-needle'
    },
    medicalIconColor (item) {
      if (item.acute_care) return 'warning'
      else if (item.critical_care) return 'error'
      else return 'primary'
    },
    getDeliveryMedicaments () {
      var medicaments = []
      if (this.serviceDetails.delivery_note !== null && this.serviceDetails.delivery_note.medicinal_products.length !== 0) {
        for (var i = 0; i < this.serviceDetails.delivery_note.medicinal_products.length; i++) {
          medicaments.push({
            id: this.serviceDetails.delivery_note.medicinal_products[i].id,
            medicament:
            {
              id: this.serviceDetails.delivery_note.medicinal_products[i].medicinal_product.id,
              name: this.serviceDetails.delivery_note.medicinal_products[i].medicinal_product.name,
              quantity: Number(this.serviceDetails.delivery_note.medicinal_products[i].medicinal_product.quantity),
              quantity_unit: this.serviceDetails.delivery_note.medicinal_products[i].medicinal_product.quantity_unit,
              delivery_unit: this.serviceDetails.delivery_note.medicinal_products[i].medicinal_product.delivery_unit,
              type: this.serviceDetails.delivery_note.medicinal_products[i].medicinal_product.product_type,
              acute_care: this.serviceDetails.delivery_note.medicinal_products[i].medicinal_product.acute_care,
              critical_care: this.serviceDetails.delivery_note.medicinal_products[i].medicinal_product.critical_care
            },
            deliveryQuantity: Number(this.serviceDetails.delivery_note.medicinal_products[i].quantity),
            deliveryUnit: this.serviceDetails.delivery_note.medicinal_products[i].medicinal_product.delivery_unit.name
          })
        }
      }
      return medicaments
    },
    // fullMedicamentDisplay: item => item.name + ' ' + Number(item.quantity) + ' ' + item.quantity_unit,
    resetValidations () {
      this.$nextTick(() => {
        this.$validator.reset()
      })
    }
  }
}
</script>
