<template>
  <v-card
    class="overflow-hidden"
    color="grey lighten-5"
  >
    <v-card-text>
      <v-container grid-list-md fluid>
        <v-layout row justify-space-between>
          <v-flex sm6 md6 v-show="serviceDetails.service_type.id !== 4 && serviceDetails.service_type.id !== 5">
            <v-autocomplete
              v-model="symptoms"
              :readonly="!permissions_medical_details_edition"
              :items="symptomItems"
              color="light-blue darken-1"
              hide-no-data
              hide-selected
              :item-text="fullTerm"
              item-value="id"
              v-bind:label="$t('symptoms')"
              :placeholder="$t('start_typing_to_search')"
              v-validate="!other_symptoms ? 'required': ''"
              :error-messages="errors.collect('symptoms')"
              data-vv-name="symptoms"
              :data-vv-as="$t('symptoms')"
              :hint="$t('symptoms_not_found_hint')"
              multiple
              dense
              small-chips
              deletable-chips
              return-object
              @click="isEditing = true"
              @change="updateMainCallReasonItems"
            >
              <template v-slot:selection="data" v-if="!permissions_medical_details_edition">
                <v-chip class="ma-2" small>
                  {{ fullTerm(data.item) }}
                </v-chip>
              </template>
            </v-autocomplete>
          </v-flex>
          <v-flex sm6 md6 v-show="serviceDetails.service_type.id !== 4 && serviceDetails.service_type.id !== 5">
            <v-text-field
              v-model="other_symptoms"
              :readonly="!permissions_medical_details_edition"
              color="light-blue darken-1"
              v-bind:label="$t('other_symptoms')"
              v-bind:hint="$t('separate_symptoms_by_comma')"
              dense
              @click="isEditing = true"
            ></v-text-field>
          </v-flex>
          <v-flex sm6 md6>
            <v-autocomplete
              v-model="diagnoses"
              :readonly="!permissions_medical_details_edition"
              :items="diagnosisItems"
              color="light-blue darken-1"
              hide-no-data
              hide-selected
              :item-text="fullTerm"
              item-value="id"
              v-bind:label="$t('diagnoses')"
              :placeholder="$t('start_typing_to_search')"
              v-validate="!other_diagnoses ? 'required': ''"
              :error-messages="errors.collect('diagnoses')"
              data-vv-name="diagnoses"
              :data-vv-as="$t('diagnoses')"
              :hint="$t('diagnoses_not_found_hint')"
              multiple
              dense
              small-chips
              deletable-chips
              return-object
              @click="isEditing = true"
              @change="updateMainCallReasonItems"
            >
              <template v-slot:selection="data" v-if="!permissions_medical_details_edition">
                <v-chip class="ma-2" small>
                  {{ fullTerm(data.item) }}
                </v-chip>
              </template>
            </v-autocomplete>
          </v-flex>
          <v-flex sm6 md6>
            <v-text-field
              v-model="other_diagnoses"
              :readonly="!permissions_medical_details_edition"
              color="light-blue darken-1"
              v-bind:label="$t('other_diagnoses')"
              v-bind:hint="$t('separate_diagnoses_by_comma')"
              dense
              @click="isEditing = true"
            ></v-text-field>
          </v-flex>
        </v-layout>
        <small>* Tiene correspondencia con la clasificación interna</small>
        <template v-if="serviceDetails.service_type.id === 2 && (this.symptoms.length !== 0 || this.diagnoses.length !== 0)">
          <v-divider></v-divider>
          <v-subheader> {{ $t('triage_questionnaire') }} </v-subheader>
          <v-layout wrap justify-space-between>
            <v-flex xs6 sm6 md6>
              <v-combobox
                v-model="mainCallReason"
                :items="mainCallReasonItems"
                item-value='id'
                :item-text="fullMainCallReasonTerm"
                color="light-blue darken-1"
                v-bind:label="$t('main_call_reason')"
                dense
                small-chips
                deletable-chips
                @click="isEditing = true"
                @change="isEditing = true"
                :readonly="!permissions_reason_selection"
                return-object
              >
                <template v-slot:no-data>
                  <v-list-item>
                    <v-list-item-content>
                      <v-list-item-title>
                        {{ $t('no_data_available') }}
                      </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </template>
                <template v-slot:selection="data" v-if="!permissions_reason_selection">
                  <v-chip class="ma-2" small>
                    {{ fullMainCallReasonTerm(data.item) }}
                  </v-chip>
                </template>
              </v-combobox>
            </v-flex>
            <v-flex xs12 sm12 md12>
              <v-alert
                dense
                v-model="emergencyAlert"
                type="error"
                border="left"
                dark
                v-if="mainCallReason"
              >
                <strong>{{ $t('urgent_evaluation') }}</strong>
              </v-alert>
            </v-flex>
          </v-layout>
          <template v-if="mainCallReason">
            <span class="text-uppercase">{{ $t('mandatory_questions') }}</span>
            <v-divider class="mx-4"></v-divider>
            <br />
            <v-data-table
              v-model="selectedMandatoryQuestions"
              :headers="headers"
              :items="mandatoryQuestionItems"
              item-key="id"
              class="elevation-1"
              show-select
              hide-default-footer
              dense
              :no-data-text="$t('no_data_available')"
              @item-selected="isEditing = true"
            >
              <template v-slot:header.data-table-select></template>
              <template v-slot:item.data-table-select="{ item, isSelected, select }">
                <v-simple-checkbox
                  :value="isSelected"
                  :disabled="!permissions_reason_selection"
                  @input="select($event)"
                ></v-simple-checkbox>
              </template>
            </v-data-table>
            <br />
          </template>
          <template v-if="mainCallReason && optionalQuestionItems.length > 0">
            <span class="text-uppercase">{{ $t('optional_questions') }}</span>
            <v-divider class="mx-4"></v-divider>
            <br />
            <v-data-table
              v-model="selectedOptionalQuestions"
              :headers="headers"
              :items="optionalQuestionItems"
              item-key="id"
              class="elevation-1"
              show-select
              hide-default-footer
              dense
              :no-data-text="$t('no_data_available')"
              @item-selected="isEditing = true"
            >
              <template v-slot:header.data-table-select></template>
              <template v-slot:item.data-table-select="{ item, isSelected, select }">
                <v-simple-checkbox
                  :value="isSelected"
                  :disabled="!permissions_reason_selection"
                  @input="select($event)"
                ></v-simple-checkbox>
              </template>
            </v-data-table>
            <br />
          </template>
          <v-layout wrap justify-space-between>
          <v-flex xs12 sm12 md12>
              <v-alert
                dense
                v-model="emergencyAlert"
                type="error"
                border="left"
                dark
                v-if="mainCallReason"
              >
                <strong>{{ $t('urgent_evaluation') }}</strong>
              </v-alert>
            </v-flex>
          </v-layout>
          <v-layout wrap justify-space-between>
            <v-flex sm6 md6>
              <v-textarea
                v-model="recommendations"
                readonly
                background-color="white"
                color="light-blue darken-1"
                v-bind:label="$t('general_recommendations')"
                filled
                dense
                auto-grow
                rows="1"
                row-height="15"
                @click="isEditing = true"
                v-if="mainCallReason"
              ></v-textarea>
            </v-flex>
            <v-flex sm6 md6>
              <v-textarea
                v-model="alarmSigns"
                readonly
                background-color="white"
                color="light-blue darken-1"
                v-bind:label="$t('alarm_signs')"
                filled
                dense
                auto-grow
                rows="1"
                row-height="15"
                @click="isEditing = true"
                v-if="mainCallReason"
              ></v-textarea>
            </v-flex>
          </v-layout>
        </template>
      </v-container>
    </v-card-text>
    <!--
      The edition option is available only in these cases:
      - The user practitioner role is Doctor and the service type is TMG.
      - The user practitioner role is Dispatcher and the service type is HHC or Transfer.
    -->
    <template v-if="permissions_medical_details_edition">
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          :disabled="errors.any() || isDisabled"
          color="success"
          @click="save"
        >
          {{ $t('save') }}
        </v-btn>
      </v-card-actions>
    </template>
    <v-snackbar
      v-model="snackbar"
      :color="color"
      :timeout="timeout"
      absolute
    >
      {{ text }}
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        {{ $t('close') }}
      </v-btn>
    </v-snackbar>
    <!-- <v-snackbar
      v-model="snackbarAlert"
      color="error"
      timeout=10000
      top
      absolute
      v-if="mainCallReason"
    >
      {{ textAlarm }}
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        {{ $t('close') }}
      </v-btn>
    </v-snackbar> -->
  </v-card>

</template>

<script>
import { mapGetters } from 'vuex'
import axios from 'axios'

/*
  El componente `<Medical>` se utiliza para mostrar y editar información
  la médica relacionada con sintomas y diagnosticos del servicio contenido
  en una atención.

  `<Medical>` es hijo del componente `<ServiceDetails>`.

  ---

  The `<Medical>` component is used to display and edit medical
  information related to symptoms and diagnosis of the service contained
  in an attention.

  `<Medical>` is a child of the `<ServiceDetails>` component.

  @author Ixhel Mejías, Adriana Tiso
*/

export default {
  data () {
    return {
      snackbar: false,
      snackbarAlert: false,
      text: '',
      textAlarm: 'Evaluación urgente. Se sugiere AMD o Traslado.',
      timeout: 6000,
      color: '',
      isEditing: false,
      symptoms: [],
      other_symptoms: '',
      diagnoses: [],
      other_diagnoses: '',
      symptomsResults: [],
      diagnosesResults: [],
      emergencyAlert: false,
      recommendations: '',
      alarmSigns: '',
      mainCallReason: '',
      mainCallReasonItems: [],
      selectedMandatoryQuestions: [],
      selectedOptionalQuestions: [],
      headers: [
        {
          text: 'Pregunta',
          align: 'left',
          sortable: false,
          value: 'question_text'
        }
      ],
      mandatoryQuestionItems: [],
      optionalQuestionItems: []
    }
  },
  created () {
    this.symptoms = this.getSymptoms()
    this.diagnoses = this.getDiagnoses()
    this.other_symptoms = this.serviceDetails.other_symptoms
    this.other_diagnoses = this.serviceDetails.other_diagnoses

    if (this.serviceDetails.service_type.id === 2) { // Questionnaire only for TMG service
      this.mainCallReasonItems = this.getMainCallReasonItems()
      this.mainCallReason = this.getMainCallReason()
    }

    this.$nextTick(() => {
      this.$validator.reset()
    })

    this.unwatchServiceDetails = this.$store.watch(() => this.$store.getters.serviceDetails, serviceDetails => {
      this.symptoms = this.getSymptoms()
      this.diagnoses = this.getDiagnoses()
      this.other_symptoms = this.serviceDetails.other_symptoms
      this.other_diagnoses = this.serviceDetails.other_diagnoses

      if (this.serviceDetails.service_type.id === 2) { // Questionnaire only for TMG service
        this.mainCallReasonItems = this.getMainCallReasonItems()
        this.mainCallReason = this.getMainCallReason()
      }

      this.$nextTick(() => {
        this.$validator.reset()
      })
    })
  },
  beforeDestroy () {
    if (this.unwatchServiceDetails) {
      this.unwatchServiceDetails()
    }
  },
  computed: {
    ...mapGetters([
      // map this.serviceDetails to this.$store.getters.serviceDetails
      'serviceDetails',
      'roles',
      'symptomItems',
      'diagnosisItems',
      'getMessageByICD10Code',
      'getDiagnosisByICD10Code',
      'getSymptomByICD10Code'
    ]),
    permissions_practitioner () {
      return this.roles.includes('Director') || this.roles.includes('Médico')
    },
    permissions_dispatcher () {
      return this.roles.includes('Director') || this.roles.includes('Despachador') || this.roles.includes('Médico') || this.roles.includes('Coordinador')
    },
    permissions_dispatcher_operador () {
      return this.roles.includes('Director') || this.roles.includes('Despachador') || this.roles.includes('Médico') || this.roles.includes('Operador') || this.roles.includes('Coordinador')
    },
    permissions_reason_selection () {
      return this.roles.includes('Director') || this.roles.includes('Médico')
    },
    permissions_medical_details_edition () {
      return ((this.permissions_practitioner && this.serviceDetails.service_type.id === 2) ||
        (this.permissions_dispatcher && (this.serviceDetails.service_type.id === 1 || this.serviceDetails.service_type.id === 3 || this.serviceDetails.service_type.id === 5)) ||
        (this.permissions_dispatcher_operador && (this.serviceDetails.service_type.id === 4))) && this.serviceDetails.status !== 'Cerrado'
    },
    isDisabled () {
      return !this.isEditing || (!this.symptoms && !this.other_symptoms) || (!this.diagnoses && !this.other_diagnoses)
    }
  },
  methods: {
    fullTerm (item) {
      return this.getMessageByICD10Code(item.code) === undefined ? item.term_es : item.term_es + ' *'
    },
    fullMainCallReasonTerm (item) {
      return (item.term_es !== this.getMessageByICD10Code(item.code).question_type_message)
        ? item.term_es + ' (' + this.getMessageByICD10Code(item.code).question_type_message + ')' : item.term_es
    },
    getSymptoms () {
      var symptoms = []
      if (this.serviceDetails.symptoms) {
        for (var i = 0; i < this.serviceDetails.symptoms.length; i++) {
          symptoms.push({
            id: this.serviceDetails.symptoms[i].id,
            term_es: this.serviceDetails.symptoms[i].term_es,
            code: this.serviceDetails.symptoms[i].code
          })
        }
      }
      return symptoms
    },
    getDiagnoses () {
      var diagnoses = []
      if (this.serviceDetails.diagnoses) {
        for (var i = 0; i < this.serviceDetails.diagnoses.length; i++) {
          diagnoses.push({
            id: this.serviceDetails.diagnoses[i].id,
            term_es: this.serviceDetails.diagnoses[i].term_es,
            code: this.serviceDetails.diagnoses[i].code
          })
        }
      }
      return diagnoses
    },
    getMainCallReasonItems () {
      var mainCallReasons = []
      if (this.symptoms) {
        for (var i = 0; i < this.symptoms.length; i++) {
          if (this.getMessageByICD10Code(this.symptoms[i].code) !== undefined) {
            mainCallReasons.push({
              id: 'S-' + this.symptoms[i].code,
              code: this.symptoms[i].code,
              term_es: this.symptoms[i].term_es,
              message: this.getMessageByICD10Code(this.symptoms[i].code)
            })
          }
        }
      }
      if (this.diagnoses) {
        for (var j = 0; j < this.diagnoses.length; j++) {
          if (this.getMessageByICD10Code(this.diagnoses[j].code) !== undefined) {
            mainCallReasons.push({
              id: 'D-' + this.diagnoses[j].code,
              code: this.diagnoses[j].code,
              term_es: this.diagnoses[j].term_es,
              message: this.getMessageByICD10Code(this.diagnoses[j].code)
            })
          }
        }
      }
      return mainCallReasons
    },
    getMainCallReason () {
      var mainCallReason = ''

      if (this.serviceDetails.calling_questionnaires.length > 0 && this.serviceDetails.calling_questionnaires[0].main_condition) {
        mainCallReason = {
          id: this.serviceDetails.calling_questionnaires[0].main_condition,
          code: this.serviceDetails.calling_questionnaires[0].main_condition.substr(2),
          term_es: (this.serviceDetails.calling_questionnaires[0].main_condition.charAt(0) === 'D')
            ? this.getDiagnosisByICD10Code(this.serviceDetails.calling_questionnaires[0].main_condition.substr(2)).term_es
            : this.getSymptomByICD10Code(this.serviceDetails.calling_questionnaires[0].main_condition.substr(2)).term_es,
          message: this.getMessageByICD10Code(this.serviceDetails.calling_questionnaires[0].main_condition.substr(2))
        }
      }
      return mainCallReason
    },
    getSelectedMandatoryQuestions () {
      var selectedMandatoryQuestions = []
      if (this.serviceDetails.calling_questionnaires.length > 0 && this.serviceDetails.calling_questionnaires[0].triage_questions) {
        for (var i = 0; i < this.serviceDetails.calling_questionnaires[0].triage_questions.length; i++) {
          selectedMandatoryQuestions.push(this.serviceDetails.calling_questionnaires[0].triage_questions[i].triage_question)
        }
      }
      return selectedMandatoryQuestions
    },
    getSelectedOptionalQuestions () {
      var selectedOptionalQuestions = []
      if (this.serviceDetails.calling_questionnaires.length > 0 && this.serviceDetails.calling_questionnaires[0].optional_triage_questions) {
        for (var i = 0; i < this.serviceDetails.calling_questionnaires[0].optional_triage_questions.length; i++) {
          selectedOptionalQuestions.push(this.serviceDetails.calling_questionnaires[0].optional_triage_questions[i].triage_question)
        }
      }
      return selectedOptionalQuestions
    },
    getMessages () {
      if (this.mainCallReason) {
        var mainCallReasonInfo = this.getMessageByICD10Code(this.mainCallReason.code)
        this.recommendations = mainCallReasonInfo.advices
        this.alarmSigns = mainCallReasonInfo.warning_signs
      } else {
        this.recommendations = ''
        this.alarmSigns = ''
      }
    },
    getQuestions () {
      if (this.mainCallReason) {
        this.selectedMandatoryQuestions = []
        this.selectedOptionalQuestions = []
        this.emergencyAlert = false

        const getMandatoryTriageQuestionsByType = () => {
          var mainCallReasonInfo = this.getMessageByICD10Code(this.mainCallReason.code)
          //  Search for mandatory triage questions by question type
          return axios.get(process.env.ROOT_API + 'api/v1/triage-questions?question_type=' + mainCallReasonInfo.question_type_target, {
            headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
              'Content-Type': 'application/json'
            }
          })
            .then(response => response.data.results)
        }
        const getMandatoryTriageQuestionnaire = async () => {
          var results = await getMandatoryTriageQuestionsByType()
          this.mandatoryQuestionItems = results
        }
        getMandatoryTriageQuestionnaire()

        const getOptionalTriageQuestionsByType = () => {
          var mainCallReasonInfo = this.getMessageByICD10Code(this.mainCallReason.code)
          //  Search for optional triage questions by question type
          return axios.get(process.env.ROOT_API + 'api/v1/optional-triage-questions?question_type=' + mainCallReasonInfo.question_type_target, {
            headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
              'Content-Type': 'application/json'
            }
          })
            .then(response => response.data.results)
        }
        const getOptionalTriageQuestionnaire = async () => {
          var results = await getOptionalTriageQuestionsByType()
          this.optionalQuestionItems = results
        }
        getOptionalTriageQuestionnaire()

        if (this.serviceDetails.calling_questionnaires.length > 0 && this.serviceDetails.calling_questionnaires[0].main_condition) {
          if (this.mainCallReason.id === this.serviceDetails.calling_questionnaires[0].main_condition) {
            this.selectedMandatoryQuestions = this.getSelectedMandatoryQuestions() // Get selected mandatory questions
            this.selectedOptionalQuestions = this.getSelectedOptionalQuestions() // Get selected optional questions
          }
        }
      }
    },
    updateMainCallReasonItems () {
      this.mainCallReasonItems = this.getMainCallReasonItems()
      // Checking if previously selected main call reason is still found in mainCallReasonItems
      var found = this.mainCallReasonItems.find(reason => reason.code === this.mainCallReason.code)
      if (found === undefined) { // If it's not found, it will be deleted
        this.mainCallReason = ''
      }
    },
    save () {
      const setSymptomsId = () => {
        var symptomsId = []
        for (var i = 0; i < this.symptoms.length; i++) {
          symptomsId.push(this.symptoms[i].id)
        }
        return symptomsId
      }

      const setDiagnosesId = () => {
        var diagnosesId = []
        for (var i = 0; i < this.diagnoses.length; i++) {
          diagnosesId.push(this.diagnoses[i].id)
        }
        return diagnosesId
      }

      const saveServiceData = async () => {
        var symptomsId = await setSymptomsId()
        var diagnosesId = await setDiagnosesId()

        const serviceData = {
          id: this.serviceDetails.id,
          service_type: this.serviceDetails.service_type.id,
          symptoms: symptomsId,
          other_symptoms: this.other_symptoms,
          diagnoses: diagnosesId,
          other_diagnoses: this.other_diagnoses
        }

        this.$store.dispatch('editService', serviceData).then(() => {
          this.text = this.$t('service_diagnoses_info_updated')
          this.color = 'success'
          this.timeout = 4000
          this.snackbar = true
          this.isEditing = !this.isEditing
        }).catch(() => {
          this.text = this.$t('error_check_data')
          this.color = 'red'
          this.timeout = 4000
          this.snackbar = true
        })
      }
      saveServiceData()

      if (this.mainCallReason && this.serviceDetails.service_type.id === 2) { //  Only for TMG service
        var questionnaireId = null

        const setTriageMandatoryQuestions = () => {
          var questions = []
          for (var i = 0; i < this.selectedMandatoryQuestions.length; i++) {
            questions.push(
              {
                triage_question: {
                  id: this.selectedMandatoryQuestions[i].id
                },
                affirmative_answer: true
              }
            )
          }
          return questions
        }
        const setTriageOptionalQuestions = () => {
          var questions = []
          for (var i = 0; i < this.selectedOptionalQuestions.length; i++) {
            questions.push(
              {
                triage_question: {
                  id: this.selectedOptionalQuestions[i].id
                },
                affirmative_answer: true
              }
            )
          }
          return questions
        }
        const saveTriageData = async () => {
          var triageMandatoryQuestions = await setTriageMandatoryQuestions()
          var triageOptionalQuestions = await setTriageOptionalQuestions()

          const triageData = {
            triage_questions: triageMandatoryQuestions,
            optional_triage_questions: triageOptionalQuestions,
            tmg: this.serviceDetails.id,
            main_condition: this.mainCallReason.id
          }

          if (this.serviceDetails.calling_questionnaires.length === 0) { // Create questionnaire
            axios.post(process.env.ROOT_API + 'api/v1/calling-questionnaires-simple', triageData, {
              headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
                'Content-Type': 'application/json'
              }
            })
              .then((response) => {
                console.log(response)
              })
              .catch((error) => {
                console.log(error)
                console.debug(error)
                console.dir(error)
              })
          } else { // Edit questionnaire
            questionnaireId = this.serviceDetails.calling_questionnaires[0].id

            axios.patch(process.env.ROOT_API + 'api/v1/calling-questionnaires-simple/' + questionnaireId, triageData, {
              headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
                'Content-Type': 'application/json'
              }
            })
              .then((response) => {
                console.log(response)
              })
              .catch((error) => {
                console.log(error)
                console.debug(error)
                console.dir(error)
              })
          }
        }
        saveTriageData()
      } else if (!this.mainCallReason && this.serviceDetails.service_type.id === 2) { // Delete questionnaire (if it exists)
        if (this.serviceDetails.calling_questionnaires.length > 0) {
          questionnaireId = this.serviceDetails.calling_questionnaires[0].id

          axios.delete(process.env.ROOT_API + 'api/v1/calling-questionnaires-simple/' + questionnaireId, {
            headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
              'Content-Type': 'application/json'
            }
          })
            .then((response) => {
              console.log(response)
            })
            .catch((error) => {
              console.log(error)
              console.debug(error)
              console.dir(error)
            })
        }
      }
    }
  },
  watch: {
    selectedMandatoryQuestions: function () { //  Watch for changes in selected mandatory questions
      this.selectedMandatoryQuestions.length > 0 ? this.emergencyAlert = true : this.emergencyAlert = false
      this.selectedMandatoryQuestions.length > 0 ? this.snackbarAlert = true : this.snackbarAlert = false
    },
    mainCallReason: function () { //  Watch for changes in mainCallReason
      this.getMessages()
      this.getQuestions()
    }
  }
}
</script>

<style>
.v-chip--disabled {
  opacity: 1;
}
</style>
