<template>
  <div>
    <v-row>
      <v-tooltip bottom>
      <template v-slot:activator="{ on }">
        <v-fab-transition>
          <v-btn
        style="z-index: 0"
        class="ma-2"
        small
        v-on="on"
        @click.stop="printMedicationFromButton()"
      >
        <v-icon>
        print
        </v-icon>
      </v-btn>
        </v-fab-transition>
      </template>
      <span>{{ $t('print_medication') }}</span>
    </v-tooltip>
    </v-row>

    <v-dialog v-model="dialog" persistent max-width="1200px">
      <v-form @submit.prevent="handleSubmit">
        <v-card>
          <div id="printMedication">
            <head>
                   <div class="row">
                    <div class="column-1">
                      <img src="@/assets/ven.jpg" width="70px"/>
                    </div>
                    <div class="column">
                      <div><span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif">VENEMERGENCIA AG, C.A.</span></div>
                      <div><span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif">J-31162445-7. www.grupov.com.ve</span></div>
                      <div><span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif">Calle Cecilio Acosta, entre Paez y Sucre, Edificio BTU, Chacao. 0800-8363633</span></div>
                    </div>
                  </div>
                  <span style="font-family: 'Avenir', Helvetica, Arial, sans-serif">{{ $t('delivery_note_document') }}</span>
              </head>
              <body>
          <v-card-text>
            <v-card-title v-if="dialog === true"><span style="font-family: 'Avenir', Helvetica, Arial, sans-serif">{{ $t('delivery_note_document') }}</span></v-card-title>
                  <div class="page-wrap">
                  <v-layout wrap justify-start>
                   <v-flex xs5 sm5 md5>
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif" align="left">ORIGEN DEL SERVICIO:</span>
                    <span style="font-size:12px">{{this.getSource(serviceDetails.source)}}</span>
                  </v-flex>
                   <v-flex xs3 sm3 md3>
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif" align="left">FECHA:</span>
                    <span style="font-size:12px">{{this.dateFormat(serviceDetails.start)}}</span>
                  </v-flex>
                  <v-flex xs4 sm4 md4>
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif">Nª DE TICKET:</span>
                    <span style="font-size:12px">{{attentionDetails.id}}-{{serviceDetails.service_type.code}}-{{serviceDetails.id}}</span>
                  </v-flex>
                 </v-layout>
                 <v-layout wrap justify-start>
                   <v-flex xs6 sm6 md6>
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif" align="left">TITULAR:</span>
                     <span style="font-size:12px">{{this.getInsuranceHolderName(this.serviceDetails.policy.id)}}</span>
                  </v-flex>
                  <v-flex xs6 sm6 md6>
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif">C.I. DE TITULAR:</span>
                    <span style="font-size:12px">{{this.getInsuranceHolderDni(this.serviceDetails.policy.id)}}</span>
                  </v-flex>
                 </v-layout>
                 <v-layout wrap justify-start>
                   <v-flex xs6 sm6 md6>
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif" align="left">PACIENTE:</span>
                    <span style="font-size:12px">{{affiliateDetails.first_name}} {{affiliateDetails.last_name}}</span>
                  </v-flex>
                  <v-flex align-self: start xs6 sm6 md6>
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif">C.I. DE PACIENTE:</span>
                    <span style="font-size:12px">{{affiliateDetails.dni}}</span>
                  </v-flex>
                 </v-layout>
                 <v-layout wrap justify-start>
                   <v-flex align-self: start xs6 sm6 md6>
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif" align="left">ASEGURADORA:</span>
                    <span style="font-size:12px">{{serviceDetails.policy.plan.organization.name}}</span>
                  </v-flex>
                  <v-flex xs6 sm6 md6>
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif" align="left">PLAN:</span>
                    <span style="font-size:12px">{{serviceDetails.policy.plan.name}}</span>
                  </v-flex>
                  </v-layout>
                  <v-layout>
                  <v-flex xs12 sm12 md12>
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif" align="left">UBICACIÓN:</span>
                    <span style="font-size:12px" v-if="serviceDetails.destination_address.unknown_region === true">{{serviceDetails.destination_address.address_line1}}, Parroquia Desconocida, {{serviceDetails.destination_address.region.second_level.name}}, {{serviceDetails.destination_address.region.second_level.first_level.name}}</span>
                    <span style="font-size:12px" v-else>{{serviceDetails.destination_address.address_line1}}, {{serviceDetails.destination_address.region.name}}, {{serviceDetails.destination_address.region.second_level.name}}, {{serviceDetails.destination_address.region.second_level.first_level.name}}</span>
                    <span style="font-size:10px" v-if="serviceDetails.destination_address.address_line2">({{serviceDetails.destination_address.address_line2}})</span>
                  </v-flex>
                  </v-layout>
                  <v-layout>
                  <v-flex xs12 sm12 md12>
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif" align="left">DIAGNÓSTICO:</span>
                    <span style="font-size:12px">{{this.getDiagnoses()}}</span>
                  </v-flex>
                  </v-layout>
                  <v-layout>
                  <v-flex xs12 sm12 md12>
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif" align="left">TELÉFONOS:</span>
                    <span style="font-size:12px">{{this.getPhones()}}</span>
                  </v-flex>
                 </v-layout>
              <v-container grid-list-md>
                <span class="text-uppercase" style="font-family: 'Avenir', Helvetica, Arial, sans-serif">{{ $t('medicaments_and_medical_supplies_note') }}</span>
                  <v-divider class="mx-4"></v-divider>
                <v-layout wrap justify-space-between v-if="service.service_type.id === 4">
                <v-flex xs12 sm12 md12>
                <v-data-table
                  :headers="headers"
                  :items="deliveryMedicaments"
                  dense
                  :no-data-text="$t('no_data_available')"
                  hide-default-footer
                  locale='es'
                  disable-pagination
                >
                  <template v-slot:item.medicament="{ item }">
                    {{ item.medicament.name }}
                  </template>
                </v-data-table>
                </v-flex>
                <v-divider class="mx-4"></v-divider>
                <br />
                <v-flex xs12 sm12 md12 v-if="service.delivery_note !== null">
                  <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif">OBSERVACIONES: {{service.delivery_note.description}}</span>
                </v-flex>
                </v-layout>
                </v-container>
                </div>

                <v-container grid-list-md>
                <div class="footer">
                  <v-layout wrap justify-space-between>
                  <v-divider class="mx-4"></v-divider>
                  <v-flex xs12 sm12 md12>
                    <span style="font-size:10px">A través de la firma de este documento, hago constar que el dia de hoy recibi los medicamentos arriba mencionados como parte del sercivio de entrega de medicamentos de mi empresa seguradora. De igual forma acepto que el tratamiento indicado es el adecuado a los dias de mi poliza (7 o 14 dias) y los medicamentos que no fueron entregados no estaban en el listado de mi empresa aseguradora.</span>
                  </v-flex>
                  </v-layout>
                  <v-divider class="mx-4"></v-divider>
                  <br />
                  <v-layout>
                   <v-flex xs2 sm2 md2 align="left">
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif" align="left">RECIBIDO POR:</span>
                  </v-flex>
                  <v-flex xs4 sm4 md4>
                    <span style="font-size:12px">__________________________________</span>
                  </v-flex>
                  <v-flex xs2 sm2 md2 align="left">
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif">N° DE IDENTIFICACIÓN:</span>
                  </v-flex>
                  <v-flex xs4 sm4 md4>
                    <span style="font-size:12px">__________________________________</span>
                  </v-flex>
                 </v-layout>
                 <v-layout>
                   <v-flex xs2 sm2 md2 align="left">
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif" align="left">FECHA:</span>
                  </v-flex>
                  <v-flex xs4 sm4 md4>
                    <span style="font-size:12px">__________________________________</span>
                  </v-flex>
                  <v-flex xs2 sm2 md2 align="left">
                    <span  style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif" align="left">HORA:</span>
                  </v-flex>
                  <v-flex xs4 sm4 md4>
                    <span style="font-size:12px">__________________________________</span>
                  </v-flex>
                  </v-layout>
                  <v-divider class="mx-4"></v-divider>
                  <br />
                  <v-layout>
                   <v-flex xs2 sm2 md2>
                  </v-flex>
                  <v-flex xs4 sm4 md4>
                    <span style="font-size:12px">__________________________________</span>
                  </v-flex>
                  <v-flex xs4 sm4 md4>
                    <span style="font-size:12px">__________________________________</span>
                  </v-flex>
                  <v-flex xs2 sm2 md2>
                  </v-flex>
                  </v-layout>
                  <v-layout justify-space-between>
                   <v-flex xs2 sm2 md2>
                  </v-flex>
                  <v-flex xs4 sm4 md4>
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif">FIRMA RECEPCIÓN</span>
                  </v-flex>
                  <v-flex xs4 sm4 md4>
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif">FIRMA RESPONSABLE ENTREGA</span>
                  </v-flex>
                  <v-flex xs2 sm2 md2>
                  </v-flex>
                  </v-layout>
                </div>
              </v-container>
            </v-card-text>
              </body>
                <p style="page-break-after: always;"></p>
              <head>
                   <div class="row">
                    <div class="column-1">
                      <img src="@/assets/ven.jpg" width="70px"/>
                    </div>
                    <div class="column">
                      <div><span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif">VENEMERGENCIA AG, C.A.</span></div>
                      <div><span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif">J-31162445-7. www.grupov.com.ve</span></div>
                      <div><span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif">Calle Cecilio Acosta, entre Paez y Sucre, Edificio BTU, Chacao. 0800-8363633</span></div>
                    </div>
                  </div>
                  <span style="font-family: 'Avenir', Helvetica, Arial, sans-serif">{{ $t('delivery_note_document') }}</span>
              </head>
              <body>
          <v-card-text>
            <v-card-title v-if="dialog === true"><span style="font-family: 'Avenir', Helvetica, Arial, sans-serif">{{ $t('delivery_note_document') }}</span></v-card-title>
                  <div class="page-wrap">
                  <v-layout wrap justify-start>
                   <v-flex xs5 sm5 md5>
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif" align="left">ORIGEN DEL SERVICIO:</span>
                    <span style="font-size:12px">{{this.getSource(serviceDetails.source)}}</span>
                  </v-flex>
                   <v-flex xs3 sm3 md3>
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif" align="left">FECHA:</span>
                    <span style="font-size:12px">{{this.dateFormat(serviceDetails.start)}}</span>
                  </v-flex>
                  <v-flex xs4 sm4 md4>
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif">Nª DE TICKET:</span>
                    <span style="font-size:12px">{{attentionDetails.id}}-{{serviceDetails.service_type.code}}-{{serviceDetails.id}}</span>
                  </v-flex>
                 </v-layout>
                 <v-layout wrap justify-start>
                   <v-flex xs6 sm6 md6>
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif" align="left">TITULAR:</span>
                     <span style="font-size:12px">{{this.getInsuranceHolderName(this.serviceDetails.policy.id)}}</span>
                  </v-flex>
                  <v-flex xs6 sm6 md6>
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif">C.I. DE TITULAR:</span>
                    <span style="font-size:12px">{{this.getInsuranceHolderDni(this.serviceDetails.policy.id)}}</span>
                  </v-flex>
                 </v-layout>
                 <v-layout wrap justify-start>
                   <v-flex xs6 sm6 md6>
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif" align="left">PACIENTE:</span>
                    <span style="font-size:12px">{{affiliateDetails.first_name}} {{affiliateDetails.last_name}}</span>
                  </v-flex>
                  <v-flex align-self: start xs6 sm6 md6>
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif">C.I. DE PACIENTE:</span>
                    <span style="font-size:12px">{{affiliateDetails.dni}}</span>
                  </v-flex>
                 </v-layout>
                 <v-layout wrap justify-start>
                   <v-flex align-self: start xs6 sm6 md6>
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif" align="left">ASEGURADORA:</span>
                    <span style="font-size:12px">{{serviceDetails.policy.plan.organization.name}}</span>
                  </v-flex>
                  <v-flex xs6 sm6 md6>
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif" align="left">PLAN:</span>
                    <span style="font-size:12px">{{serviceDetails.policy.plan.name}}</span>
                  </v-flex>
                  </v-layout>
                  <v-layout>
                  <v-flex xs12 sm12 md12>
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif" align="left">UBICACIÓN:</span>
                    <span style="font-size:12px" v-if="serviceDetails.destination_address.unknown_region === true">{{serviceDetails.destination_address.address_line1}}, Parroquia Desconocida, {{serviceDetails.destination_address.region.second_level.name}}, {{serviceDetails.destination_address.region.second_level.first_level.name}}</span>
                    <span style="font-size:12px" v-else>{{serviceDetails.destination_address.address_line1}}, {{serviceDetails.destination_address.region.name}}, {{serviceDetails.destination_address.region.second_level.name}}, {{serviceDetails.destination_address.region.second_level.first_level.name}}</span>
                    <span style="font-size:10px" v-if="serviceDetails.destination_address.address_line2">({{serviceDetails.destination_address.address_line2}})</span>
                  </v-flex>
                  </v-layout>
                  <v-layout>
                  <v-flex xs12 sm12 md12>
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif" align="left">DIAGNÓSTICO:</span>
                    <span style="font-size:12px">{{this.getDiagnoses()}}</span>
                  </v-flex>
                  </v-layout>
                  <v-layout>
                  <v-flex xs12 sm12 md12>
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif" align="left">TELÉFONOS:</span>
                    <span style="font-size:12px">{{this.getPhones()}}</span>
                  </v-flex>
                 </v-layout>
              <v-container grid-list-md>
                <span class="text-uppercase" style="font-family: 'Avenir', Helvetica, Arial, sans-serif">{{ $t('medicaments_and_medical_supplies_note') }}</span>
                  <v-divider class="mx-4"></v-divider>
                <v-layout wrap justify-space-between v-if="service.service_type.id === 4">
                <v-flex xs12 sm12 md12>
                <v-data-table
                  :headers="headers"
                  :items="deliveryMedicaments"
                  dense
                  :no-data-text="$t('no_data_available')"
                  hide-default-footer
                  locale='es'
                  disable-pagination
                >
                  <template v-slot:item.medicament="{ item }">
                    {{ item.medicament.name }}
                  </template>
                </v-data-table>
                </v-flex>
                <v-divider class="mx-4"></v-divider>
                <br />
                <v-flex xs12 sm12 md12 v-if="service.delivery_note !== null">
                  <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif">OBSERVACIONES: {{service.delivery_note.description}}</span>
                </v-flex>
                </v-layout>
                </v-container>
                </div>

                <v-container grid-list-md>
                <div class="footer">
                  <v-layout wrap justify-space-between>
                  <v-divider class="mx-4"></v-divider>
                  <v-flex xs12 sm12 md12>
                    <span style="font-size:10px">A través de la firma de este documento, hago constar que el dia de hoy recibi los medicamentos arriba mencionados como parte del sercivio de entrega de medicamentos de mi empresa seguradora. De igual forma acepto que el tratamiento indicado es el adecuado a los dias de mi poliza (7 o 14 dias) y los medicamentos que no fueron entregados no estaban en el listado de mi empresa aseguradora.</span>
                  </v-flex>
                  </v-layout>
                  <v-divider class="mx-4"></v-divider>
                  <br />
                  <v-layout>
                   <v-flex xs2 sm2 md2 align="left">
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif" align="left">RECIBIDO POR:</span>
                  </v-flex>
                  <v-flex xs4 sm4 md4>
                    <span style="font-size:12px">__________________________________</span>
                  </v-flex>
                  <v-flex xs2 sm2 md2 align="left">
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif">N° DE IDENTIFICACIÓN:</span>
                  </v-flex>
                  <v-flex xs4 sm4 md4>
                    <span style="font-size:12px">__________________________________</span>
                  </v-flex>
                 </v-layout>
                 <v-layout>
                   <v-flex xs2 sm2 md2 align="left">
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif" align="left">FECHA:</span>
                  </v-flex>
                  <v-flex xs4 sm4 md4>
                    <span style="font-size:12px">__________________________________</span>
                  </v-flex>
                  <v-flex xs2 sm2 md2 align="left">
                    <span  style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif" align="left">HORA:</span>
                  </v-flex>
                  <v-flex xs4 sm4 md4>
                    <span style="font-size:12px">__________________________________</span>
                  </v-flex>
                  </v-layout>
                  <v-divider class="mx-4"></v-divider>
                  <br />
                  <v-layout>
                   <v-flex xs2 sm2 md2>
                  </v-flex>
                  <v-flex xs4 sm4 md4>
                    <span style="font-size:12px">__________________________________</span>
                  </v-flex>
                  <v-flex xs4 sm4 md4>
                    <span style="font-size:12px">__________________________________</span>
                  </v-flex>
                  <v-flex xs2 sm2 md2>
                  </v-flex>
                  </v-layout>
                  <v-layout justify-space-between>
                   <v-flex xs2 sm2 md2>
                  </v-flex>
                  <v-flex xs4 sm4 md4>
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif">FIRMA RECEPCIÓN</span>
                  </v-flex>
                  <v-flex xs4 sm4 md4>
                    <span style="font-size:12px;font-family: 'Avenir', Helvetica, Arial, sans-serif">FIRMA RESPONSABLE ENTREGA</span>
                  </v-flex>
                  <v-flex xs2 sm2 md2>
                  </v-flex>
                  </v-layout>
                </div>
              </v-container>
            </v-card-text>
              </body>
            </div>
          <v-card-actions>
            <v-btn
            color="white"
            @click="dialog = false"
            >
            {{ $t('cancel') }}
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn
            color="success"
            @click="dialog = false"
            v-print="'printMedication'"
            >
            {{ $t('print') }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import moment from 'moment'

/*
  El componente `<PrintMedication>` se utiliza para mostrar e imprimir
  la información sobre los medicamentos que se despachan en el servicio contenido
  en una atención.

  `<PrintMedication>` es hijo del componente `<Medication>`.

  ---

  The `<PrintMedication>` component is used to display and print
  information related medication to be delivered in the service contained
  in an attention.

  `<PrintMedication>` is a child of the `<Medication>` component.

  @author Ixhel Mejías, Adriana Tiso
*/

export default {
  data () {
    return {
      printObj: {
        id: 'printMedication',
        popTitle: 'Medicaión',
        extraCss: 'https://www.google.com,https://www.google.com',
        extraHead: '<meta http-equiv="Content-Language"content="es-ve"/>'
      },
      medicament: [],
      service: {
        id: '',
        scheduled_date_time: '',
        service_type: ''
      },
      dialog: false,
      deliveryMedicaments: [],
      headers: [
        { text: this.$t('quantity'), sortable: false, value: 'deliveryQuantity' },
        { text: this.$t('unit'), sortable: false, value: 'deliveryUnit' },
        { text: this.$t('description'), sortable: false, value: 'medicament' },
        { text: this.$t('delivered'), sortable: false, value: 'delivered' }
      ]
    }
  },
  created () {
    if (this.serviceDetails.delivery_note) {
      this.deliveryMedicaments = this.getDeliveryMedicaments()
    }

    this.unwatchServiceDetails = this.$store.watch(() => this.$store.getters.serviceDetails, serviceDetails => {
      if (this.serviceDetails.delivery_note) {
        this.deliveryMedicaments = this.getDeliveryMedicaments()
      }
    })
  },
  computed: {
    ...mapGetters([
      'roles',
      'serviceDetails',
      'attentionDetails',
      'affiliateDetails',
      'sourceItems'
    ]),
    permissions () {
      return this.roles.includes('Director') || this.roles.includes('Operador') || this.roles.includes('Médico') || this.roles.includes('Despachador') || this.roles.includes('Coordinador') || this.roles.includes('Gerente') || this.roles.includes('Asistente')
    },
    fullNameUser: {
      get () {
        return `${this.serviceDetails.user.first_name} ${this.serviceDetails.user.last_name}`
      },
      set (newValue) {
        const m = newValue.match(/(\S*)\s+(.*)/)

        this.serviceDetails.user.first_name = m[1]
        this.serviceDetails.user.last_name = m[2]
      }
    }
  },
  beforeUpdate () {
    if (this.serviceDetails.service_type.id === 4) {
      if (this.serviceDetails.delivery_note === undefined || this.serviceDetails.delivery_note === null) {
        this.medicament = []
      } else {
        this.medicament = this.getMedicaments()
      }
    }
  },
  methods: {
    dateFormat (date) {
      moment.locale(this.$i18n.locale)
      return moment(date).format('DD/MM/YY')
    },
    getMedicaments () {
      var medicament = []
      if (this.serviceDetails.delivery_note !== null && this.serviceDetails.delivery_note.medicinal_products !== null) {
        for (var i = 0; i < this.serviceDetails.delivery_note.medicinal_products.length; i++) {
          medicament.push(' ' + this.serviceDetails.delivery_note.medicinal_products[i].medicinal_product.name + ': (' + this.serviceDetails.delivery_note.medicinal_products[i].medicinal_product.manufacturer.name + ') ' + parseInt(this.serviceDetails.delivery_note.medicinal_products[i].quantity) + ' ' + this.serviceDetails.delivery_note.medicinal_products[i].quantity_unit)
        }
      }
      return medicament
    },
    getDeliveryMedicaments () {
      var medicaments = []
      if (this.serviceDetails.delivery_note !== null && this.serviceDetails.delivery_note.medicinal_products.length !== 0) {
        for (var i = 0; i < this.serviceDetails.delivery_note.medicinal_products.length; i++) {
          medicaments.push({
            id: this.serviceDetails.delivery_note.medicinal_products[i].id,
            medicament:
            {
              id: this.serviceDetails.delivery_note.medicinal_products[i].medicinal_product.id,
              name: this.serviceDetails.delivery_note.medicinal_products[i].medicinal_product.name,
              quantity: Number(this.serviceDetails.delivery_note.medicinal_products[i].medicinal_product.quantity),
              quantity_unit: this.serviceDetails.delivery_note.medicinal_products[i].medicinal_product.quantity_unit,
              form: this.serviceDetails.delivery_note.medicinal_products[i].medicinal_product.form,
              type: this.serviceDetails.delivery_note.medicinal_products[i].medicinal_product.product_type,
              acute_care: this.serviceDetails.delivery_note.medicinal_products[i].medicinal_product.acute_care,
              critical_care: this.serviceDetails.delivery_note.medicinal_products[i].medicinal_product.critical_care
            },
            deliveryQuantity: Number(this.serviceDetails.delivery_note.medicinal_products[i].quantity),
            deliveryUnit: this.serviceDetails.delivery_note.medicinal_products[i].medicinal_product.delivery_unit.name,
            delivered: 'Si'
          })
        }
      }
      return medicaments
    },
    printMedicationFromButton () {
      this.dialog = true
      this.service = this.serviceDetails
    },
    getSource (sourceId) {
      var source = ''
      if (this.serviceDetails.source !== null) {
        for (var i = 0; i < this.sourceItems.length; i++) {
          if (this.sourceItems[i].id === sourceId) {
            source = this.sourceItems[i].name
          }
        }
      }
      return source
    },
    getInsuranceHolderName (policyId) {
      var holder = ''
      for (var i = 0; i < this.affiliateDetails.policies.length; i++) {
        if (this.affiliateDetails.policies[i].policy.id === policyId) {
          for (var j = 0; j < this.affiliateDetails.policies[i].policy.affiliates.length; j++) {
            if (this.affiliateDetails.policies[i].policy.affiliates[j].kinship === 'HOLDER') {
              holder = this.affiliateDetails.policies[i].policy.affiliates[j].affiliate.first_name + ' ' + this.affiliateDetails.policies[i].policy.affiliates[j].affiliate.last_name
            }
          }
        }
      }
      return holder
    },
    getInsuranceHolderDni (policyId) {
      var holderDni = ''
      for (var i = 0; i < this.affiliateDetails.policies.length; i++) {
        if (this.affiliateDetails.policies[i].policy.id === policyId) {
          for (var j = 0; j < this.affiliateDetails.policies[i].policy.affiliates.length; j++) {
            if (this.affiliateDetails.policies[i].policy.affiliates[j].kinship === 'HOLDER') {
              holderDni = this.affiliateDetails.policies[i].policy.affiliates[j].affiliate.dni
            }
          }
        }
      }
      return holderDni
    },
    getDiagnoses () {
      var diagnoses = []
      if (this.serviceDetails.diagnoses.length !== 0) {
        for (var i = 0; i < this.serviceDetails.diagnoses.length; i++) {
          diagnoses.push(' ' + this.serviceDetails.diagnoses[i].term_es)
        }
        if (this.serviceDetails.other_diagnoses !== null) {
          diagnoses.push(' ' + this.serviceDetails.other_diagnoses)
        }
      }
      return diagnoses.join()
    },
    getPhones () {
      var phones = []
      for (var i = 0; i < this.attentionDetails.phone_numbers.length; i++) {
        phones.push(' ' + this.attentionDetails.phone_numbers[i].phone_number.replace('+58', '0'))
      }
      if (this.affiliateDetails.phone_numbers) {
        for (var j = 0; j < this.affiliateDetails.phone_numbers.length; j++) {
          phones.push(' ' + this.affiliateDetails.phone_numbers[j].phone_number.replace('+58', '0'))
        }
      }
      return phones.join()
    }
  }
}
</script>

<style>
.column {
  width: 50%;
  padding: 30px;
}
.column-1 {
  width: 15%;
  padding: 30px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
}
.page-wrap {
  max-height: 100%;
}

@media screen {
  div.footer {
    display: none;
  }
}
@media print {
  div.footer {
    position: fixed;
    bottom: 0;
    margin-top: auto;
    height: 275px;
    font-size: small;
  }
  div.page-wrap {
  max-height: 100%;
  /* equal to footer height */
  margin-bottom: -280px;
}
}
</style>
