<template>
  <v-card
    class="overflow-hidden"
    color="grey lighten-5"
  >
    <v-card-text v-if="permissions">
      <v-tooltip bottom>
      <template v-slot:activator="{ on }">
      <v-fab-transition>
        <v-btn
          button
          right
          fab
          absolute
          small
          @click="discardChanges(), isEditing = !isEditing"
          v-on="on"
          style="z-index: 0"
        >
          <v-icon v-if="isEditing">mdi-close</v-icon>
          <v-icon v-else>mdi-pencil</v-icon>
        </v-btn>
      </v-fab-transition>
      </template>
      <span v-if="isEditing">{{ $t('cancel') }}</span>
      <span v-else-if="!isEditing">{{ $t('edit') }}</span>
      </v-tooltip>
    </v-card-text>
    <v-card-text>
      <v-container fluid>
        <v-data-table
            :headers="headers"
            :items="questionItems"
            item-key="code"
            hide-default-footer
            dense
        >
          <template v-slot:item.answer="{ item }" v-if="!isEditing">
              {{ formatAnswer(item.answer) }}
          </template>
          <template v-slot:item.answer="{ item }" v-else-if="isEditing">
              <v-switch
                v-model="item.answer"
                v-bind:label="$t('yes')"
                color="light-blue darken-1"
                height="1"
              ></v-switch>
          </template>
        </v-data-table>
      </v-container>
    </v-card-text>
    <v-divider class="mx-4"></v-divider>
    <v-card-text>
      <v-container grid-list-xl fluid>
        <v-layout row justify-space-between>
          <v-flex sm6 md6>
            <v-textarea
              disabled
              background-color="white"
              color="light-blue darken-1"
              v-bind:label="$t('recommendations')"
              v-bind:hint="$t('recommendations')"
              filled
              auto-grow
              rows="1"
              row-height="15"
              dense
            ></v-textarea>
          </v-flex>
          <v-flex sm6 md6>
            <v-textarea
              disabled
              background-color="white"
              color="light-blue darken-1"
              v-bind:label="$t('alarm_signs')"
              v-bind:hint="$t('alarm_signs')"
              filled
              auto-grow
              rows="1"
              row-height="15"
              dense
            ></v-textarea>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
    <template v-if="permissions">
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          :disabled="!isEditing"
          color="success"
          @click="save"
        >
          {{ $t('save') }}
        </v-btn>
      </v-card-actions>
    </template>
    <v-snackbar
      v-model="hasSaved"
      :timeout="2000"
      absolute
      bottom
      left
    >
      {{ $t('tmg_answers_updated') }}
    </v-snackbar>
  </v-card>

</template>

<script>
import { mapGetters } from 'vuex'

/*
  El componente `<Questions>` no esta usado en el sistema, a desarrollarse a futuro

  ---
  
  The `<Questions>` component is not used in the system, to be developed in the future

  @author Ixhel Mejías, Adriana Tiso
*/

export default {
  data () {
    return {
      hasSaved: false,
      isEditing: null,
      model: null,
      singleSelect: false,
      selected: [],
      headers: [
        {
          text: 'Código',
          align: 'left',
          sortable: false,
          value: 'code'
        },
        {
          text: 'Pregunta',
          align: 'left',
          sortable: false,
          value: 'text'
        },
        {
          text: 'Respuesta',
          align: 'left',
          sortable: false,
          value: 'answer'
        }
      ],
      questionItems: [
        {
          code: '001',
          text: '¿Expulsa sangre cuando tose?',
          answer: false
        },
        {
          code: '002',
          text: '¿Siente dificultad para respirar o respira más de 30 veces en 1 minuto?',
          answer: true
        },
        {
          code: '003',
          text: '¿Tiene los labios o los dedos de color azul?',
          answer: false
        },
        {
          code: '004',
          text: '¿Se "Ahoga" con la tos?',
          answer: false
        },
        {
          code: '005',
          text: '¿Al presentarse el ataque de tos tiene vómitos?',
          answer: false
        }
      ]
    }
  },
  computed: {
    ...mapGetters([
      'roles'
    ]),
    permissions () {
      return this.roles.includes('Director') || this.roles.includes('Médico')
    }
  },
  methods: {
    save () {
      this.isEditing = !this.isEditing
      this.hasSaved = true
    },
    discardChanges () {
      if (this.isEditing) {
        alert('¿Seguro que desea cancelar? Los cambios serán descartados...')
        //  TODO: descartar cambios
      }
    },
    formatAnswer (booleanAnswer) {
      if (booleanAnswer === true) {
        return this.$t('yes')
      } else { return this.$t('no') }
    }
  }
}
</script>

<style>
.v-input .v-label {
    font-size: 14px;
}
</style>
