<template>
  <v-card
    class="overflow-hidden"
    color="grey lighten-5"
  >
  <div id="printRequest1">
    <head>
      <div>
      <img src="@/assets/header.jpg" width="300px"/>
      <h2 style="font-family: Roboto,sans-serif;">Récipe e Indicaciones</h2>
      </div>
     <br />
     <v-row>
     <v-col cols="6" xs="6" sm="6" md="6">
     <span style="font-family: 'Avenir', Helvetica, Arial, sans-serif;color:rgb(76, 78, 78)">Paciente: {{affiliateDetails.first_name + ' ' + affiliateDetails.last_name}}</span><br />
     <span style="font-family: 'Avenir', Helvetica, Arial, sans-serif;color:rgb(76, 78, 78)">C.I. paciente: {{affiliateDetails.dni}}</span><br />
     <span style="font-family: 'Avenir', Helvetica, Arial, sans-serif;color:rgb(76, 78, 78)">Cliente: {{serviceDetails.policy.plan.organization.name}}</span></v-col>
     <v-col cols="6" xs="6" sm="6" md="6">
     <span style="font-family: 'Avenir', Helvetica, Arial, sans-serif;color:rgb(76, 78, 78)">Plan: {{serviceDetails.policy.plan.name}}</span><br />
     <span style="font-family: 'Avenir', Helvetica, Arial, sans-serif;color:rgb(76, 78, 78)" v-if="serviceDetails.attendant !== null">Médico: {{serviceDetails.attendant.first_name + ' ' + serviceDetails.attendant.last_name}}</span><br />
     <span style="font-family: 'Avenir', Helvetica, Arial, sans-serif;color:rgb(76, 78, 78)">Fecha: {{this.dateFormattedMomentjs(serviceDetails.start)}}</span></v-col>
     </v-row>
    </head>
    <v-card-text>
      <v-container grid-list-xl fluid>
        <v-layout row justify-space-between>
          <v-flex sm6 md6>
            <v-textarea
              v-model="request.medications"
              :readonly="!((permissions_practitioner && serviceDetails.service_type.id === 2) || (permissions_dispatcher && (serviceDetails.service_type.id === 1)))"
              background-color="white"
              color="light-blue darken-1"
              v-bind:label="$t('medications')"
              v-bind:hint="$t('requests_hints')"
              filled
              dense
              auto-grow
              rows="1"
              row-height="15"
              @click="isEditing = true"
            ></v-textarea>
          </v-flex>
          <v-flex sm6 md6>
            <v-textarea
              v-model="request.indications"
              :readonly="!((permissions_practitioner && serviceDetails.service_type.id === 2) || (permissions_dispatcher && (serviceDetails.service_type.id === 1)))"
              background-color="white"
              color="light-blue darken-1"
              v-bind:label="$t('indications')"
              v-bind:hint="$t('requests_hints')"
              filled
              dense
              auto-grow
              rows="1"
              row-height="15"
              @click="isEditing = true"
            ></v-textarea>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
  </div>
  <v-tooltip bottom>
    <template v-slot:activator="{ on }">
      <v-fab-transition>
        <v-btn
        v-if="!roles.includes('Asistente')"
        v-print="'printRequest1'"
        style="z-index: 0"
        class="ma-2"
        small
        v-on="on"
      >
      <v-icon>
      print
      </v-icon>
    </v-btn>
      </v-fab-transition>
    </template>
    <span>{{ $t('print_request1') }}</span>
  </v-tooltip>

  <div id="printRequest2">
    <head>
      <div>
      <img src="@/assets/header.jpg" width="300px"/>
      <h2 style="font-family: Roboto,sans-serif;">Recomendaciones Generales</h2>
      </div>
     <br />
     <v-row>
     <v-col cols="6" xs="6" sm="6" md="6">
     <span style="font-family: 'Avenir', Helvetica, Arial, sans-serif;color:rgb(76, 78, 78)">Paciente: {{affiliateDetails.first_name + ' ' + affiliateDetails.last_name}}</span><br />
     <span style="font-family: 'Avenir', Helvetica, Arial, sans-serif;color:rgb(76, 78, 78)">C.I. paciente: {{affiliateDetails.dni}}</span><br />
     <span style="font-family: 'Avenir', Helvetica, Arial, sans-serif;color:rgb(76, 78, 78)">Cliente: {{serviceDetails.policy.plan.organization.name}}</span></v-col>
     <v-col cols="6" xs="6" sm="6" md="6">
     <span style="font-family: 'Avenir', Helvetica, Arial, sans-serif;color:rgb(76, 78, 78)">Plan: {{serviceDetails.policy.plan.name}}</span><br />
     <span style="font-family: 'Avenir', Helvetica, Arial, sans-serif;color:rgb(76, 78, 78)" v-if="serviceDetails.attendant !== null">Médico: {{serviceDetails.attendant.first_name + ' ' + serviceDetails.attendant.last_name}}</span><br />
     <span style="font-family: 'Avenir', Helvetica, Arial, sans-serif;color:rgb(76, 78, 78)">Fecha: {{this.dateFormattedMomentjs(serviceDetails.start)}}</span></v-col>
     </v-row>
    </head>
    <v-card-text>
      <v-container grid-list-xl fluid>
        <v-layout row justify-space-between>
          <v-flex sm12 md12>
            <v-textarea
              v-model="request.recommendations"
              :readonly="!((permissions_practitioner && serviceDetails.service_type.id === 2) || (permissions_dispatcher && (serviceDetails.service_type.id === 1)))"
              background-color="white"
              color="light-blue darken-1"
              v-bind:label="$t('recommendations')"
              v-bind:hint="$t('recommendations')"
              filled
              dense
              auto-grow
              rows="1"
              row-height="15"
              @click="isEditing = true"
            ></v-textarea>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
    </div>
    <v-tooltip bottom>
      <template v-slot:activator="{ on }">
        <v-fab-transition>
          <v-btn
          v-if="!roles.includes('Asistente')"
          v-print="'printRequest2'"
          style="z-index: 0"
          class="ma-2"
          small
          v-on="on"
        >
        <v-icon>
        print
        </v-icon>
      </v-btn>
        </v-fab-transition>
      </template>
      <span>{{ $t('print_request2') }}</span>
    </v-tooltip>

      <div id="printRequest3">
    <head>
      <div>
      <img src="@/assets/header.jpg" width="300px"/>
      <h2 style="font-family: Roboto,sans-serif;">Solicitud de Laboratorio y Paraclíinicos</h2>
      </div>
     <br />
     <v-row>
     <v-col cols="6" xs="6" sm="6" md="6">
     <span style="font-family: 'Avenir', Helvetica, Arial, sans-serif;color:rgb(76, 78, 78)">Paciente: {{affiliateDetails.first_name + ' ' + affiliateDetails.last_name}}</span><br />
     <span style="font-family: 'Avenir', Helvetica, Arial, sans-serif;color:rgb(76, 78, 78)">C.I. paciente: {{affiliateDetails.dni}}</span><br />
     <span style="font-family: 'Avenir', Helvetica, Arial, sans-serif;color:rgb(76, 78, 78)">Cliente: {{serviceDetails.policy.plan.organization.name}}</span></v-col>
     <v-col cols="6" xs="6" sm="6" md="6">
     <span style="font-family: 'Avenir', Helvetica, Arial, sans-serif;color:rgb(76, 78, 78)">Plan: {{serviceDetails.policy.plan.name}}</span><br />
     <span style="font-family: 'Avenir', Helvetica, Arial, sans-serif;color:rgb(76, 78, 78)" v-if="serviceDetails.attendant !== null">Médico: {{serviceDetails.attendant.first_name + ' ' + serviceDetails.attendant.last_name}}</span><br />
     <span style="font-family: 'Avenir', Helvetica, Arial, sans-serif;color:rgb(76, 78, 78)">Fecha: {{this.dateFormattedMomentjs(serviceDetails.start)}}</span></v-col>
     </v-row>
    </head>
    <v-card-text>
      <v-container grid-list-xl fluid>
        <v-layout row justify-space-between>
          <v-flex sm12 md12>
            <v-textarea
              v-model="request.external_services"
              :readonly="!((permissions_practitioner && serviceDetails.service_type.id === 2) || (permissions_dispatcher && (serviceDetails.service_type.id === 1)))"
              background-color="white"
              color="light-blue darken-1"
              v-bind:label="$t('paraclinical_exams')"
              v-bind:hint="$t('requests_hints')"
              filled
              dense
              auto-grow
              rows="1"
              row-height="15"
              @click="isEditing = true"
            ></v-textarea>
          </v-flex>
          <v-flex sm12 md12>
            <v-textarea
              v-model="request.lab_exam"
              :readonly="!((permissions_practitioner && serviceDetails.service_type.id === 2) || (permissions_dispatcher && (serviceDetails.service_type.id === 1)))"
              background-color="white"
              color="light-blue darken-1"
              v-bind:label="$t('external_lab_exams')"
              v-bind:hint="$t('requests_hints')"
              filled
              dense
              auto-grow
              rows="1"
              row-height="15"
              @click="isEditing = true"
            ></v-textarea>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
    </div>
    <v-tooltip bottom>
      <template v-slot:activator="{ on }">
        <v-fab-transition>
          <v-btn
          v-if="!roles.includes('Asistente')"
          v-print="'printRequest3'"
          style="z-index: 0"
          class="ma-2"
          small
          v-on="on"
        >
        <v-icon>
        print
        </v-icon>
      </v-btn>
        </v-fab-transition>
      </template>
      <span>{{ $t('print_request3') }}</span>
    </v-tooltip>
    <div id="printRequest4">
    <head>
      <div>
      <img src="@/assets/header.jpg" width="300px"/>
      <h2 style="font-family: Roboto,sans-serif;">Referencia médica a especialista</h2>
      </div>
     <br />
     <v-row>
     <v-col cols="6" xs="6" sm="6" md="6">
     <span style="font-family: 'Avenir', Helvetica, Arial, sans-serif;color:rgb(76, 78, 78)">Paciente: {{affiliateDetails.first_name + ' ' + affiliateDetails.last_name}}</span><br />
     <span style="font-family: 'Avenir', Helvetica, Arial, sans-serif;color:rgb(76, 78, 78)">C.I. paciente: {{affiliateDetails.dni}}</span><br />
     <span style="font-family: 'Avenir', Helvetica, Arial, sans-serif;color:rgb(76, 78, 78)">Cliente: {{serviceDetails.policy.plan.organization.name}}</span></v-col>
     <v-col cols="6" xs="6" sm="6" md="6">
     <span style="font-family: 'Avenir', Helvetica, Arial, sans-serif;color:rgb(76, 78, 78)">Plan: {{serviceDetails.policy.plan.name}}</span><br />
     <span style="font-family: 'Avenir', Helvetica, Arial, sans-serif;color:rgb(76, 78, 78)" v-if="serviceDetails.attendant !== null">Médico: {{serviceDetails.attendant.first_name + ' ' + serviceDetails.attendant.last_name}}</span><br />
     <span style="font-family: 'Avenir', Helvetica, Arial, sans-serif;color:rgb(76, 78, 78)">Fecha: {{this.dateFormattedMomentjs(serviceDetails.start)}}</span></v-col>
     </v-row>
    </head>
    <v-card-text>
      <v-container grid-list-xl fluid>
        <v-layout row justify-space-between>
          <v-flex sm12 md12>
            <v-textarea
              v-model="request.medical_specialist"
              :readonly="!((permissions_practitioner && serviceDetails.service_type.id === 2) || (permissions_dispatcher && (serviceDetails.service_type.id === 1)))"
              background-color="white"
              color="light-blue darken-1"
              v-bind:label="$t('medical_reference')"
              v-bind:hint="$t('medical_reference')"
              filled
              dense
              auto-grow
              rows="1"
              row-height="15"
              @click="isEditing = true"
            ></v-textarea>
          </v-flex>
        </v-layout>
        </v-container>
    </v-card-text>
    </div>
    <v-tooltip bottom>
      <template v-slot:activator="{ on }">
        <v-fab-transition>
          <v-btn
          v-if="!roles.includes('Asistente')"
          v-print="'printRequest4'"
          style="z-index: 0"
          class="ma-2"
          small
          v-on="on"
        >
        <v-icon>
        print
        </v-icon>
      </v-btn>
        </v-fab-transition>
      </template>
      <span>{{ $t('print_request4') }}</span>
    </v-tooltip>
<!--
      The edition option is available only in these cases:
      - The user practitioner role is Doctor and the service type is TMG.
      - The user practitioner role is Dispatcher and the service type is HHC.
    -->
    <template
      v-if="(permissions_practitioner && serviceDetails.service_type.id === 2) ||
            (permissions_dispatcher && (serviceDetails.service_type.id === 1))"
    >
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          :disabled="isDisabled"
          color="success"
          @click="save"
        >
          {{ $t('save') }}
        </v-btn>
      </v-card-actions>
    </template>
    <v-snackbar
      v-model="snackbar"
      :color="color"
      :timeout="timeout"
      absolute
    >
      {{ text }}
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        {{ $t('close') }}
      </v-btn>
    </v-snackbar>
  </v-card>
</template>

<script>
import { mapGetters } from 'vuex'
import moment from 'moment'

/*
  El componente `<Requests>` se utiliza para mostrar y editar información
  sobre las solicitudes que se realicen a partir del progreso del servicio
  contenido en una atención.

  `<Requests>` es hijo del componente `<ServiceDetails>`.

  ---

  The `<Requests>` component is used to display and edit information
  about the requests made from the progress of the service contained in
  an attention.

  `<Requests>` is a child of the `<ServiceDetails>` component.

  @author Ixhel Mejías, Adriana Tiso
*/

export default {
  data () {
    return {
      request: {
        medications: '',
        indications: '',
        external_services: '',
        medical_specialist: '',
        recommendations: '',
        lab_exam: ''
      },
      snackbar: false,
      text: '',
      timeout: 6000,
      color: '',
      isEditing: false,
      model: null,
      printObj1: {
        id: 'printRequest1',
        popTitle: 'Solicitudes',
        extraCss: 'https://www.google.com,https://www.google.com',
        extraHead: '<meta http-equiv="Content-Language"content="es-ve"/>'
      },
      printObj2: {
        id: 'printRequest2',
        popTitle: 'Solicitudes',
        extraCss: 'https://www.google.com,https://www.google.com',
        extraHead: '<meta http-equiv="Content-Language"content="es-ve"/>'
      },
      printObj3: {
        id: 'printRequest3',
        popTitle: 'Solicitudes',
        extraCss: 'https://www.google.com,https://www.google.com',
        extraHead: '<meta http-equiv="Content-Language"content="es-ve"/>'
      },
      printObj4: {
        id: 'printRequest4',
        popTitle: 'Solicitudes',
        extraCss: 'https://www.google.com,https://www.google.com',
        extraHead: '<meta http-equiv="Content-Language"content="es-ve"/>'
      }
    }
  },
  created () {
    this.request.medications = this.serviceDetails.request_medicine
    this.request.indications = this.serviceDetails.request_medical_indication
    this.request.external_services = this.serviceDetails.request_external_service
    this.request.medical_specialist = this.serviceDetails.request_medical_specialist
    this.request.recommendations = this.serviceDetails.request_advice
    this.request.lab_exam = this.serviceDetails.request_lab_exam
  },
  computed: {
    ...mapGetters([
      'serviceDetails',
      'affiliateDetails',
      'roles'
    ]),
    isDisabled () {
      return !this.isEditing || this.serviceDetails.status === 'Cerrado'
    },
    permissions_practitioner () {
      return (this.roles.includes('Director') || this.roles.includes('Médico')) && this.serviceDetails.status !== 'Cerrado'
    },
    permissions_dispatcher () {
      return (this.roles.includes('Director') || this.roles.includes('Despachador') || this.roles.includes('Médico')) && this.serviceDetails.status !== 'Cerrado'
    }
  },
  methods: {
    dateFormattedMomentjs (date) {
      moment.locale(this.$i18n.locale)
      return date ? moment(date).format('DD-MM-YYYY') : ''
    },
    save () {
      const data = {
        id: this.serviceDetails.id,
        service_type: this.serviceDetails.service_type.id,
        request_medicine: this.request.medications,
        request_medical_indication: this.request.indications,
        request_external_service: this.request.external_services,
        request_medical_specialist: this.request.medical_specialist,
        request_advice: this.request.recommendations,
        request_lab_exam: this.request.lab_exam
      }

      this.$store.dispatch('editService', data).then(() => {
        this.text = this.$t('service_requests_info')
        this.color = 'success'
        this.timeout = 4000
        this.snackbar = true
        this.isEditing = !this.isEditing
      }).catch(() => {
        this.text = this.$t('error_check_data')
        this.color = 'red'
        this.timeout = 4000
        this.snackbar = true
      })
    }
  }
}

</script>

<style type="text/css" media="print">
    @page
    {
        size: auto;   /* auto is the initial value */
        margin: 8mm;  /* this affects the margin in the printer settings */
    }
</style>
