<template>
  <v-card
    class="overflow-hidden"
    color="grey lighten-5"
  >
    <v-card-text v-if="permissions">
      <v-tooltip bottom>
      <template v-slot:activator="{ on }">
      <v-fab-transition>
        <v-btn
          button
          right
          fab
          absolute
          small
          @click="isEditing = !isEditing"
          v-on="on"
          style="z-index: 0"
        >
          <v-icon v-if="isEditing">mdi-close</v-icon>
          <v-icon v-else>mdi-pencil</v-icon>
        </v-btn>
      </v-fab-transition>
      </template>
      <span v-if="isEditing">{{ $t('cancel') }}</span>
      <span v-else-if="!isEditing">{{ $t('edit') }}</span>
      </v-tooltip>
    </v-card-text>
    <v-card-text>
      <v-container grid-list-xl fluid>
        <v-layout row justify-space-between>
          <v-flex sm4 md4>
            <v-radio-group v-model="service.transferType" column :disabled="!isEditing">
            <template v-slot:label>
                <div>{{ $t('transfer_type') }}</div>
            </template>
            <v-radio v-bind:label="$t('simple')" value="simple-transfer"></v-radio>
            <v-radio v-bind:label="$t('double')" value="double-transfer"></v-radio>
            </v-radio-group>
          </v-flex>

          <v-flex sm4 md4>
            <v-radio-group v-model="service.level" column :disabled="!isEditing">
            <template v-slot:label>
                <div>{{ $t('medical_care_level') }}</div>
            </template>
            <v-radio v-bind:label="$t('basic')" value="basic-level"></v-radio>
            <v-radio v-bind:label="$t('advanced')" value="advanced-level"></v-radio>
            </v-radio-group>
          </v-flex>

          <v-flex sm4 md4>
            <v-radio-group v-model="service.oxygen" column :disabled="!isEditing">
            <template v-slot:label>
                <div>{{ $t('oxygen_requirement') }}</div>
            </template>
            <v-radio v-bind:label="$t('no')" value="without-oxygen"></v-radio>
            <v-radio v-bind:label="$t('yes')" value="with-oxygen"></v-radio>
            </v-radio-group>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
    <template v-if="permissions">
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          :disabled="!isEditing"
          color="success"
          @click="save"
        >
          {{ $t('save') }}
        </v-btn>
      </v-card-actions>
    </template>
    <v-snackbar
      v-model="hasSaved"
      :timeout="2000"
      absolute
      bottom
      left
    >
      {{ $t('service_surcharges_info_updated') }}
    </v-snackbar>
  </v-card>

</template>

<script>
import { mapGetters } from 'vuex'

/*
  El componente `<Surcharges>` no esta usado en el sistema, a desarrollarse a futuro

  ---
  
  The `<Surcharges>` component is not used in the system, to be developed in the future

  @author Ixhel Mejías, Adriana Tiso
*/

export default {
  data () {
    return {
      hasSaved: false,
      isEditing: null,
      model: null,
      service: {
        transferType: 'simple-transfer',
        level: 'basic-level',
        oxygen: 'without-oxygen'
      }
    }
  },
  computed: {
    ...mapGetters([
      'roles'
    ]),
    permissions () {
      return this.roles.includes('Director') || this.roles.includes('Despachador')
    }
  },
  methods: {
    save () {
      this.isEditing = !this.isEditing
      this.hasSaved = true
    }
  }
}
</script>
