<template>
  <v-card>
    <v-card-text>
      <v-container fluid>
        <v-data-table
          :headers="headers"
          :items="data"
          dense
          :loading="loading"
          :options.sync="pagination"
          :no-results-text="$t('no_matching_records')"
          :no-data-text="$t('no_data_available')"
          hide-default-footer
          :single-expand="singleExpand"
          :expanded.sync="expanded"
          item-key="id"
          show-expand
        >
          <template v-slot:item.birthdate="{ item }">
            <span> {{ dateFormattedMomentjs(item.birthdate) }} </span>
          </template>

          <template v-slot:item.age="{ item }">
            <span> {{ getAge(item.birthdate) }} </span>
          </template>

          <template v-slot:item.is_active="{ item }">
            <span> {{ item.is_active ? 'Si' : 'No' }} </span>
          </template>

          <template v-slot:expanded-item="{ headers, item }">
            <td :colspan="headers.length">
              <br />
              <v-card flat>
                <v-container grid-list-md>
                  <v-layout wrap justify-space-between>
                    <v-flex xs12 sm6 md6>
                      <v-subheader> {{ $t('phone_numbers') }} </v-subheader>
                      <template v-if="item.phone_numbers.length > 0">
                        <v-list flat>
                          <v-list-item-group color="primary">
                            <v-list-item
                              v-for="(item, i) in item.phone_numbers"
                              :key="i"
                            >
                              <v-list-item-icon>
                                <v-icon v-if="i === 0"> mdi-phone </v-icon>
                              </v-list-item-icon>
                              <v-list-item-content class="text-left align-self-start">
                                <v-list-item-title v-text="item.phone_number"></v-list-item-title>
                              </v-list-item-content>
                            </v-list-item>
                          </v-list-item-group>
                        </v-list>
                      </template>
                      <template v-else>
                        <p class="text-left margin"> {{ $t('no_data_available') }} </p>
                      </template>
                    </v-flex>
                    <v-flex xs12 sm6 md6>
                      <v-subheader>{{ $t('emails') }}</v-subheader>
                      <template v-if="item.emails.length > 0">
                        <v-list flat>
                          <v-list-item-group color="primary">
                            <v-list-item
                              v-for="(item, i) in item.emails"
                              :key="i"
                            >
                              <v-list-item-icon>
                                <v-icon v-if="i === 0"> mdi-email </v-icon>
                              </v-list-item-icon>
                              <v-list-item-content class="text-left align-self-start">
                                <v-list-item-title v-text="item.email"></v-list-item-title>
                              </v-list-item-content>
                            </v-list-item>
                          </v-list-item-group>
                        </v-list>
                      </template>
                      <template v-else>
                        <p class="text-left margin"> {{ $t('no_data_available') }} </p>
                      </template>
                    </v-flex>
                  </v-layout>
                  <v-divider></v-divider>
                  <v-layout>
                    <v-flex xs12 sm12 md12>
                      <v-subheader>{{ $t('addresses') }}</v-subheader>
                      <template v-if="item.affiliate_addresses.length > 0">
                        <v-list flat>
                          <v-list-item-group color="primary">
                            <v-list-item
                              v-for="(item, i) in item.affiliate_addresses"
                              :key="i"
                            >
                              <v-list-item-icon>
                                <v-icon v-if="i === 0"> mdi-map-marker </v-icon>
                              </v-list-item-icon>
                              <v-list-item-content class="text-left align-self-start">
                                <v-list-item-title>
                                  <span v-if="item.organization"> {{ item.organization.name }}, {{ item.address_line1 }} </span>
                                  <span v-else> {{ item.address_line1 }} </span>
                                </v-list-item-title>
                                <v-list-item-subtitle v-if="item.region">
                                  <span v-if="item.unknown_region"> {{ $t('unknown_region') }}, {{ item.region.second_level.name }}, {{ item.region.second_level.first_level.name }} </span>
                                  <span v-else> {{ item.region.name }}, {{ item.region.second_level.name }}, {{ item.region.second_level.first_level.name }} </span>
                                </v-list-item-subtitle>
                                <v-list-item-subtitle v-if="item.address_line2 && item.address_line2.length <= 256">
                                  <span style="font-size:12px">({{ item.address_line2.substr(0, item.address_line2.length) }}) </span>
                                </v-list-item-subtitle>
                                <v-list-item-subtitle v-if="item.address_line2 && item.address_line2.length > 256">
                                  <span style="font-size:12px">({{ item.address_line2.substr(0, 256) }}</span>
                                </v-list-item-subtitle>
                                <v-list-item-subtitle v-if="item.address_line2 && item.address_line2.length > 256">
                                  <span style="font-size:12px">{{ item.address_line2.substr(256) }}) </span>
                                </v-list-item-subtitle>
                              </v-list-item-content>
                            </v-list-item>
                          </v-list-item-group>
                        </v-list>
                      </template>
                      <template v-else>
                        <p class="text-left margin"> {{ $t('no_data_available') }} </p>
                      </template>
                    </v-flex>
                  </v-layout>
                  <v-divider></v-divider>
                  <v-layout>
                    <v-flex xs12 sm12 md12>
                      <v-subheader>{{ $t('care_history') }}</v-subheader>
                      <template>
                        <CareHistory :activatorType="1" />
                      </template>
                    </v-flex>
                  </v-layout>
                  <br />
                  <v-divider></v-divider>
                  <v-layout>
                    <v-flex xs12 sm12 md12>
                      <v-subheader>{{ $t('policies') }}</v-subheader>
                      <template v-if="item.policies.length > 0">
                        <Policies :policies="item.policies"/>
                      </template>
                      <template v-else>
                        <p class="text-left margin"> {{ $t('no_data_available') }} </p>
                      </template>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card>
              <br />
            </td>
          </template>
        </v-data-table>

        <div class="text-xs-center pt-2 md4 lg4" v-if="pages>1">
          <v-pagination
            @input="paginationChangeHandler"
            :value="pagination.page"
            :length="pages"
            :total-visible="7"
            circle
            color="light-blue darken-1"
          ></v-pagination>
        </div>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import { mapGetters } from 'vuex'
import Policies from '@/components/Policies'
import CareHistory from '@/components/attentions/attention_details/attention_tabs/CareHistory'

/*
  El componente `<AffiliatesTable>` se utiliza para mostrar un listado de
  afiliados resultantes de una búsqueda, en forma tabular. La tabla permite la
  paginación, mostrando hasta cinco filas por página.

  Cada fila contendrá información relevante sobre el afiliado: nombre, apellido,
  documento de identidad, fecha de nacimiento, edad, sexo y estado
  (activo/inactivo). Si se expande la fila, el usuario puede visualizar más
  información: números telefónicos, correos electrónicos, direcciones, pólizas
  e historial de atenciones.

  `<AffiliatesTable>` es hijo del componente `<Affiliates>`, y será renderizado
  si se encuentra el término buscado.

  ---

  The `<AffiliatesTable>` component is used to display a list of the affiliates
  resulting from a search, in a tabular form. The table enables pagination,
  showing up to five rows per page.

  Each row will contain relevant information about the affiliate: first name,
  last name, DNI, birthdate, age, gender, and status (active/inactive). If the
  row is expanded, the user can visualize more information: phone numbers,
  emails, addresses, policies, and care history.

  `<AffiliatesTable>` is child of the `<Affiliates>` component, and will be
  rendered if the searched term is found.

  @author Ixhel Mejías, Adriana Tiso
 */
export default {
  name: 'AffiliatesTable',
  components: {Policies, CareHistory},
  data () {
    return {
      /*
        Controls whether the loading status is active or not, passed to the
        `loading` property of the `v-data-table` component. It is used to
        indicate that data in the table is currently loading, displaying a
        progress bar and a message.
       */
      loading: false,
      /*
        Indicates total items, rows per page, and current page; used for
        pagination handling. It is passed to the `options` property of the
        `v-data-table` component (used with `.sync` modifier).
       */
      pagination: { totalItems: this.$store.getters.affiliatePages.count, rowsPerPage: 5, page: 1 },
      /*
        The array of objects passed to the `items` property of the
        `v-data-table` component, resulting from the affiliates search query.
       */
      data: [],
      /*
        The array of objects that each describe a header column, passed to the
        `headers` property of the `v-data-table` component.
       */
      headers: [
        {text: this.$t('first_name'), value: 'first_name'},
        {text: this.$t('last_name'), value: 'last_name'},
        {text: this.$t('id'), value: 'dni'},
        {text: this.$t('birthdate'), value: 'birthdate'},
        {text: this.$t('age') + ' (' + this.$t('years') + ')', value: 'age'},
        {text: this.$t('gender'), value: 'gender'},
        {text: this.$t('active'), value: 'is_active'},
        { text: '', value: 'data-table-expand' }
      ],
      /*
        The array of expanded items, passed to the `expanded` property of the
        `v-data-table` component (used with `.sync` modifier).

        This data property is watched in order to obtain complete information
        (including updated care history) about the expanded item's
        corresponding affiliate, by dispatching the `getAffiliateDetails`
        action.
       */
      expanded: [],
      /*
        Indicates the table's expansion mode, passed to the `single-expand`
        property of the `v-data-table` component.
       */
      singleExpand: true
    }
  },
  created () {
    this.getData()
  },
  beforeDestroy () {
    this.$store.dispatch('deleteAffiliateDetails')
    this.$store.dispatch('deleteAttentionDetails')
    this.$store.dispatch('deleteServiceDetails')
    this.$store.dispatch('deleteAttentionHistoryItemsByAffiliate')
    window.sessionStorage.removeItem('selectedAffiliate')
    window.sessionStorage.removeItem('selectedAttention')
    window.sessionStorage.removeItem('selectedService')
  },
  watch: {
    expanded: function () {
      if (this.expanded.length > 0) { // If the item is expanded
        window.sessionStorage.setItem('selectedAffiliate', String(this.expanded[0].id))
        this.$store.dispatch('getAffiliateDetails', window.sessionStorage.getItem('selectedAffiliate'))
      } else { // If the item is closed
        this.$store.dispatch('deleteAffiliateDetails')
        this.$store.dispatch('deleteAttentionDetails')
        this.$store.dispatch('deleteServiceDetails')
        this.$store.dispatch('deleteAttentionHistoryItemsByAffiliate')
        window.sessionStorage.removeItem('selectedAffiliate')
        window.sessionStorage.removeItem('selectedAttention')
        window.sessionStorage.removeItem('selectedService')
      }
    }
  },
  computed: {
    ...mapGetters([
      'affiliatePages'
    ]),
    /*
      The `pages` computed property calculates the number of pages to display,
      based on the total items (`pagination.totalItems`) and the rows per page
      (`pagination.rowsPerPage`).
     */
    pages () {
      if (
        this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      ) {
        return 0
      }

      return Math.ceil(
        this.pagination.totalItems / this.pagination.rowsPerPage
      )
    }
  },
  methods: {
    /*
      The `dateFormattedMomentjs` method assigns the 'MMMM Do YYYY' format to
      the given date with the external library Moment.js.

      It is used for formatting the affiliate's birthdate.

      @param {string} date - Date to format
      @returns {string} Formatted date
     */
    dateFormattedMomentjs (date) {
      moment.locale(this.$i18n.locale)
      return moment(date).format('MMMM Do YYYY')
    },
    /*
      The `paginationChangeHandler` method assigns the new page number to
      `pagination.page` and then calls the method `getData` to update the table's
      items.

      @param {number} pageNumber - New page number
     */
    paginationChangeHandler (pageNumber) {
      this.pagination.page = pageNumber
      this.getData()
    },
    /*
      The `getData` method executes a query search for affiliates and then
      calls the `setData` method to save the results.

      This method is called when the `created` lifecycle hook is run and on
      page change (through the `paginationChangeHandler` method).
     */
    getData () {
      let url = `${process.env.ROOT_API}api/v1/affiliates?search=${this.searchTerm}&limit=${this.pagination.rowsPerPage}&offset=${(this.pagination.page - 1) * this.pagination.rowsPerPage}`
      axios.get(url, {
        headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
          'Content-Type': 'application/json'
        }
      }).then(response => {
        this.setData(response.data.results)
      })
    },
    /*
      The `setData` method assigns the query results to the data property `data`.

      @param {array} results - Query results
     */
    setData (results) {
      this.data = results
    },
    /*
      The `getAge` method calculates the affiliate's age based on the given
      birthdate, by using the function `diff` from the external library
      Moment.js.

      @param {string} birthdate - Affiliate's birthdate
      @returns {number} Affiliate's age (years)
     */
    getAge (birthdate) {
      var year = birthdate.substring(0, 4)
      var month = birthdate.substring(5, 7)
      var day = birthdate.substring(8, 10)
      var date = String(year) + String(month) + String(day)
      return moment().diff(moment(date, 'YYYYMMDD'), 'years')
    }
  },
  props: {
    /*
      The text that represents the search term (affiliate first name, last name
      or DNI).
     */
    searchTerm: String
  }
}
</script>

<style>
.container {
  max-width: 1600px;
}

p.margin {
  margin-left: 1em;
}
</style>
