<template>
  <v-app>
    <NavBar />
    <v-content>
      <v-container>
        <v-breadcrumbs :items="titles" large></v-breadcrumbs>
          <v-card color="grey lighten-5">
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap justify-space-between>
                  <v-flex xs12 sm2 md2></v-flex>
                  <v-flex xs12 sm8 md8>
                    <v-text-field
                      v-model="searchTerm"
                      color="light-blue darken-1"
                      v-bind:label="$t('id_or_name')"
                      v-bind:placeholder="$t('search')"
                      dense
                      outlined
                      @keyup.enter="affiliateSearch(searchTerm)"
                      append-icon="mdi-magnify"
                      @click:append="affiliateSearch(searchTerm)"
                    >
                    </v-text-field>
                    <v-alert type="error" v-if="showErrorAlert">
                      {{ $t('invalid_search_term') }}
                    </v-alert>
                    <v-alert type="warning" v-if="showNotFoundAlert">
                      {{ $t('search_term_not_found') }}
                    </v-alert>
                  </v-flex>
                  <v-flex xs12 sm2 md2></v-flex>
                </v-layout>
                <AffiliatesTable v-if="found === true" :searchTerm="searchTerm"/>
              </v-container>
            </v-card-text>
          </v-card>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import NavBar from '@/components/NavBar'
import AffiliatesTable from '@/components/AffiliatesTable'

/*
  El componente `<Affiliates>` permite buscar afiliados a través de un cuadro
  de búsqueda y visualizar los resultados. La búsqueda se puede realizar por
  nombre, apellido o documento de identidad del afiliado.

  Es padre del componente `<AffiliatesTable>`, el cual se renderiza si se
  encuentra el término buscado.

  Si el término buscado no es válido o no se encuentra, se muestran mensajes de
  alerta de error o advertencia, respectivamente.

  ---

  The `<Affiliates>` component enables searching for affiliates through a
  search box, and visualizing the results. The search can be done by the
  affiliate's first name, last name or DNI.

  It is parent of the `<AffiliatesTable>` component, which is rendered if the
  searched term is found.

  If the searched term is invalid or not found, error or warning alert messages
  are shown, respectively.

  @author Ixhel Mejías, Adriana Tiso
 */
export default {
  components: {NavBar, AffiliatesTable},
  data () {
    return {
      /*
        The array of objects passed to the `items` property of the
        `v-breadcrumbs` component.
       */
      titles: [
        {
          text: this.$t('affiliates'),
          disabled: true,
          href: '/#/affiliates'
        }
      ],
      /*
        The text that represents the search term (affiliate first name, last
        name or DNI).
      */
      searchTerm: '',
      /*
        Indicates if the search term is found.
      */
      found: false,
      /*
        Controls whether the invalid term error alert is shown or not.
      */
      showErrorAlert: false,
      /*
        Controls whether the term not found warning alert is shown or not.
      */
      showNotFoundAlert: false
    }
  },
  beforeDestroy () {
    if (this.unwatchAffiliateItems) {
      this.unwatchAffiliateItems()
    }
  },
  methods: {
    /*
      The `affiliateSearch` method searches for the term indicated by the
      user. If the search term is an empty string, the invalid term alert
      message is displayed. Otherwise, the `getAffiliateItems` action is
      dispatched, which searches for the term within the list of registered
      affiliates and updates the `affiliateItems` array in the Vuex store.
      A watcher is activated in order to detect a change in this array.

      If a change is detected and the array has elements, `found` is set to
      true and then the child component `<AffiliatesTable>` is rendered. The
      `<AffiliatesTable>` component shows a list of the affiliates resulting
      from the search. If the array is empty, `found` is set to false and the
      not found alert message is displayed.

      When the `beforeDestroy` lifecycle hook is run, `affiliateItems` watching
      is stopped.

      @param {string} term - Term to search
     */
    affiliateSearch (term) {
      this.found = null
      this.showErrorAlert = null
      this.showNotFoundAlert = null

      if (this.unwatchAffiliateItems) {
        this.unwatchAffiliateItems()
      }

      if (term === '') {
        this.showErrorAlert = true
      } else {
        this.$store.dispatch('getAffiliateItems', term)
        this.unwatchAffiliateItems = this.$store.watch(() => this.$store.getters.affiliateItems, affiliateItems => {
          if (this.$store.getters.affiliateItems.length > 0) {
            this.found = true
          } else {
            this.showNotFoundAlert = true
            this.found = false
          }
        })
      }
    }
  }
}
</script>

<style>
.container {
  max-width: 1600px;
}
</style>
