<template>
  <v-app>
    <NavBar />
    <v-content>
      <v-container id="search">
        <v-breadcrumbs :items="titles" large></v-breadcrumbs>
        <SearchedAttention />
        <br id="onhold"/>
        <v-layout justify-space-between>
          <v-flex>
          <h5><v-icon color="warning" size="22">mdi-circle</v-icon> {{ $t('open_service') }}</h5>
          </v-flex>
          <v-flex>
           <h5><v-icon color="green" size="22">mdi-circle</v-icon> {{ $t('ongoing_service') }}</h5>
          </v-flex>
          <v-flex>
           <h5><v-icon color="blue" size="22">mdi-circle</v-icon> {{ $t('completed_service') }}</h5>
          </v-flex>
          <v-flex>
           <h5><v-icon color="blue-grey darken-1" size="22">mdi-circle</v-icon> {{ $t('closed_service') }}</h5>
          </v-flex>
          <v-flex>
           <h5><v-icon color="grey" size="22">mdi-circle</v-icon> {{ $t('cancelled_service') }}</h5>
          </v-flex>
          <v-flex>
           <h5><v-icon color="error" size="22">mdi-alert-circle</v-icon> {{ $t('delayed_service') }}</h5>
          </v-flex>
        </v-layout>
        <v-navigation-drawer stateless permanent floating fixed right
            color="transparent"
            :width="'120px'"
            :height="'500px'"
            class="pa-6"
            style="top:230px"
            >
            <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-fab-transition>
                <v-btn
                  v-if="permissions_attention_creation"
                  size="70"
                  fab
                  v-on="on"
                  class="ma-2"
                  @click="goToNewAttention()"
                >
                  <v-icon color="#3DCB5E" size="70">mdi-plus-circle</v-icon>
                </v-btn>
              </v-fab-transition>
            </template>
              <span>{{ $t('create_new_attention') }}</span>
          </v-tooltip>
            <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-fab-transition>
            <v-btn small fab dark color="grey darken-1" class="mb-2" v-on="on" @click="scroll_search">
                <v-icon>search</v-icon>
            </v-btn>
            </v-fab-transition>
            </template>
              <span>{{ $t('search_attention_list') }}</span>
          </v-tooltip>
            <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-fab-transition>
            <v-btn small fab dark color="grey darken-1" class="mb-2" v-on="on" @click="scroll_onhold">
                <v-icon>mdi-timer-sand</v-icon>
            </v-btn>
            </v-fab-transition>
            </template>
              <span>{{ $t('on_hold_attention_list') }}</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-fab-transition>
            <v-btn small fab dark color="grey darken-1" class="mb-2" v-on="on" @click="scroll_inverification">
                <v-icon>mdi-dots-horizontal</v-icon>
            </v-btn>
              </v-fab-transition>
            </template>
              <span>{{ $t('in_verification_attention_list') }}</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-fab-transition>
            <v-btn small fab dark color="grey darken-1" class="mb-2" v-on="on" @click="scroll_scheduled">
                <v-icon>mdi-calendar-clock</v-icon>
            </v-btn>
              </v-fab-transition>
            </template>
              <span>{{ $t('scheduled_attentioon_list') }}</span>
          </v-tooltip>
            <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-fab-transition>
            <v-btn small fab dark color="grey darken-1" class="mb-2" v-on="on" @click="scroll_inprogress">
                <v-icon>mdi-timelapse</v-icon>
            </v-btn>
            </v-fab-transition>
            </template>
              <span>{{ $t('in_progress_attention_list') }}</span>
          </v-tooltip>
            <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-fab-transition>
            <v-btn small fab dark color="grey darken-1" v-on="on" @click="scroll_completed">
                <v-icon>mdi-checkbox-marked-circle-outline</v-icon>
            </v-btn>
            </v-fab-transition>
            </template>
              <span>{{ $t('completed_attention_list') }}</span>
          </v-tooltip>
          </v-navigation-drawer>
          <OnHoldAttentionList />
          <br id="inverification" /><br />
          <InVerificationAttentionList />
          <br id="scheduled" /><br />
          <NextScheduledAttentionList />
          <br id="inprogress" /><br />
          <InProgressAttentionList />
          <br id="completed" /><br />
          <CompletedAttentionList />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import NavBar from '@/components/NavBar'
import InProgressAttentionList from '@/components/attentions/InProgressAttentionList'
import OnHoldAttentionList from '@/components/attentions/OnHoldAttentionList'
import CompletedAttentionList from '@/components/attentions/CompletedAttentionList'
import NextScheduledAttentionList from '@/components/attentions/NextScheduledAttentionList'
import InVerificationAttentionList from '@/components/attentions/InVerificationAttentionList'
import SearchedAttention from '@/components/attentions/SearchedAttention'
import { mapGetters } from 'vuex'

/*
  El componente `<Attentions>` se utiliza para mostrar los listados de
  atenciones y su correspondiente leyenda de color.

  Representa la página principal de la aplicación Atención-1. Una vez que ha
  iniciado sesión, el usuario es dirigido a esta interfaz de listados de atenciones.

  ---

  The `<Attentions>` component is used to display the lists of attentions and
  their corresponding color legend.

  It represents the main page of the application `Atención-1` for a logged in
  user. Once logged in, the user is directed to this attentions lists interface.

  @author Ixhel Mejías, Adriana Tiso
 */
export default {
  components: {NavBar, SearchedAttention, InProgressAttentionList, OnHoldAttentionList, CompletedAttentionList, NextScheduledAttentionList, InVerificationAttentionList},
  data () {
    return {
      /*
        The array of objects passed to the `items` property of the
        `v-breadcrumbs` component.
       */
      titles: [
        {
          text: this.$t('attentions'),
          disabled: true,
          href: '/#/attentions'
        }
      ]
    }
  },
  computed: {
    ...mapGetters([
      'roles'
    ]),
    permissions_attention_creation () {
      return this.roles.includes('Operador') || this.roles.includes('Despachador') || this.roles.includes('Coordinador') || this.roles.includes('Gerente') || this.roles.includes('Director')
    }
  },
  methods: {
    goToNewAttention () {
      if (this.$route.path !== '/new_attention') {
        this.$router.push({name: 'NewAttention'})
      }
    },
    scroll_search () {
      const element = document.getElementById('search')
      element.scrollIntoView({ behavior: 'smooth' })
    },
    scroll_onhold () {
      const element = document.getElementById('onhold')
      element.scrollIntoView({ behavior: 'smooth' })
    },
    scroll_inverification () {
      const element = document.getElementById('inverification')
      element.scrollIntoView({ behavior: 'smooth' })
    },
    scroll_scheduled () {
      const element = document.getElementById('scheduled')
      element.scrollIntoView({ behavior: 'smooth' })
    },
    scroll_inprogress () {
      const element = document.getElementById('inprogress')
      element.scrollIntoView({ behavior: 'smooth' })
    },
    scroll_completed () {
      const element = document.getElementById('completed')
      element.scrollIntoView({ behavior: 'smooth' })
    }
  }
}
</script>

<style>
.container {
  max-width: 1600px;
}
</style>
