<template>
  <v-app>
    <NavBar />
    <v-content>
      <v-container>
        <v-breadcrumbs :items="titles" large></v-breadcrumbs>
        <v-snackbar
          v-model="snackbar"
          :color="color"
          :timeout="timeout"
          :top=true
        >
          {{ text }}
          <v-btn
            color="white"
            text
            @click="snackbar = false"
          >
            {{ $t('close') }}
          </v-btn>
        </v-snackbar>
  <v-card
    class="overflow-hidden"
    color="grey lighten-5"
  >
    <v-card-title> {{ $t('today_crews') }} {{ formatDatetime(this.getCurrentDatetime) }}
      <v-spacer></v-spacer>
      <v-text-field
          v-model="search"
          append-icon="search"
          :label="$t('search')"
          single-line
          hide-details
      ></v-text-field>
    </v-card-title>
    <v-card-text>
      <v-container fluid>
        <v-dialog v-model="dialog" max-width="650px">
          <v-card>
            <div id="printCrew">
              <head>
                <div>
                <img src="@/assets/header.jpg" width="300px"/>
                </div>
              </head>
            <v-card-title>
              <span class="headline">{{ $t('crew_details') }}</span>
            </v-card-title>

            <v-card-text>
              <v-subheader> {{ $t('watch') }} </v-subheader>
              <v-container grid-list-md>
                <v-layout wrap justify-space-between>
                  <v-flex xs12 sm12 md12>
                    <v-text-field v-model="editedItem.name" :label="$t('crew_name')" readonly color="light-blue darken-1"> </v-text-field>
                  </v-flex>
                  <v-flex xs4 sm3 md3>
                    <v-text-field v-model="computedStartDateFormattedMomentjs" :label="$t('start_date')" readonly color="light-blue darken-1"> </v-text-field>
                  </v-flex>
                  <v-flex xs2 sm2 md2>
                    <v-text-field v-model="editedItem.start_time" :label="$t('time')" readonly color="light-blue darken-1"></v-text-field>
                  </v-flex>
                  <v-flex xs4 sm3 md3>
                    <v-text-field v-model="computedEndDateFormattedMomentjs" :label="$t('end_date')" readonly color="light-blue darken-1"></v-text-field>
                  </v-flex>
                  <v-flex xs2 sm2 md2>
                    <v-text-field v-model="editedItem.end_time" :label="$t('time')" readonly color="light-blue darken-1"></v-text-field>
                  </v-flex>
                  <v-flex xs6 sm4 md4>
                    <v-text-field v-model="editedItem.base.base_name" :label="$t('base')" readonly color="light-blue darken-1"></v-text-field>
                  </v-flex>
                  <v-flex xs6 sm3 md3>
                    <v-text-field v-model="editedItem.mobile_unit.codename" :label="$t('unit')" readonly color="light-blue darken-1"></v-text-field>
                  </v-flex>
                </v-layout>
                  <v-divider></v-divider>
                <v-subheader> {{ $t('crew_members') }} </v-subheader>
                <v-layout wrap justify-space-between>
                  <v-flex xs6 sm5 md5>
                    <v-text-field v-if="editedItem.practitioner" v-model="editedItem.practitioner.full_name" :label="$t('doctor')" readonly color="light-blue darken-1"></v-text-field>
                    <v-text-field v-else :label="$t('doctor')" readonly color="light-blue darken-1"></v-text-field>
                  </v-flex>
                  <v-flex xs6 sm5 md5>
                    <v-text-field v-if="editedItem.paramedic_crew" v-model="editedItem.paramedic_crew.full_name" :label="$t('paramedic')" readonly color="light-blue darken-1"></v-text-field>
                    <v-text-field v-else :label="$t('paramedic')" readonly color="light-blue darken-1"></v-text-field>
                  </v-flex>
                  <v-flex xs6 sm5 md5>
                    <v-text-field v-if="editedItem.paramedic_driver" v-model="editedItem.paramedic_driver.full_name" :label="$t('driver')" readonly color="light-blue darken-1"></v-text-field>
                    <v-text-field v-else :label="$t('driver')" readonly color="light-blue darken-1"></v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
            </div>
            <v-card-actions>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-fab-transition>
                    <v-btn
                    v-print="'printCrew'"
                    style="z-index: 0"
                    class="ma-2"
                    small
                    v-on="on"
                  >
                  <v-icon>
                  print
                  </v-icon>
                </v-btn>
                  </v-fab-transition>
                </template>
                <span>{{ $t('print_crew') }}</span>
              </v-tooltip>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-dialog v-model="editDialog" max-width="650px">
          <v-card>
            <v-card-title>
              <span class="headline">{{ $t('edit_crews') }}</span>
            </v-card-title>

            <v-card-text>
              <v-subheader> {{ $t('watch') }} </v-subheader>
              <v-container grid-list-md>
                <v-layout wrap justify-space-between>
                  <v-flex xs12 sm12 md12>
                  <v-text-field
                      v-model="editedItem.name"
                      v-bind:label="$t('crew_name')"
                      v-validate="'required'"
                      :error-messages="errors.collect('editedItem.name')"
                      data-vv-name="editedItem.name"
                      :data-vv-as="$t('crew_name')"
                      dense>
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm3 md3>
                  <v-text-field
                      type="date"
                      v-model="editedItem.start_date"
                      v-bind:label="$t('start_date')"
                      v-validate="'required'"
                      :error-messages="errors.collect('editedItem.start_date')"
                      data-vv-name="editedItem.start_date"
                      :data-vv-as="$t('start_date')"
                      dense>
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm2 md2>
                     <v-text-field
                      type="time"
                      v-model="editedItem.start_time"
                      v-bind:label="$t('time')"
                      v-validate="'required'"
                      :error-messages="errors.collect('editedItem.start_time')"
                      data-vv-name="editedItem.start_time"
                      :data-vv-as="$t('time')"
                      dense>
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm3 md3>
                  <v-text-field
                      type="date"
                      :value="computedEndDateFormattedMomentjs"
                      v-model="editedItem.end_date"
                      v-bind:label="$t('end_date')"
                      v-validate="'required'"
                      :error-messages="errors.collect('editedItem.end_date')"
                      data-vv-name="editedItem.end_date"
                      :data-vv-as="$t('end_date')"
                      dense>
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm2 md2>
                    <v-text-field
                      type="time"
                      v-model="editedItem.end_time"
                      v-bind:label="$t('time')"
                      v-validate="'required'"
                      :error-messages="errors.collect('editedItem.end_time')"
                      data-vv-name="editedItem.end_time"
                      :data-vv-as="$t('time')"
                      dense>
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4 md4>
                    <v-combobox
                      v-model="editedItem.base"
                      :items="baseItems"
                      item-value='id'
                      item-text='base_name'
                      color="light-blue darken-1"
                      v-bind:label="$t('base')"
                      :disabled="!editDialog"
                      v-validate="'required'"
                      :error-messages="errors.collect('editedItem.base')"
                      data-vv-name="editedItem.base"
                      :data-vv-as="$t('base')"
                      dense
                      small-chips
                    ></v-combobox>
                  </v-flex>
                  <v-flex xs12 sm3 md3>
                    <v-combobox
                      v-model="editedItem.mobile_unit"
                      :items="mobileUnitItems"
                      item-value='id'
                      item-text='codename'
                      color="light-blue darken-1"
                      v-bind:label="$t('unit')"
                      :disabled="!editDialog"
                      v-validate="'required'"
                      :error-messages="errors.collect('editedItem.mobile_unit')"
                      data-vv-name="editedItem.mobile_unit"
                      :data-vv-as="$t('unit')"
                      dense
                      small-chips
                    ></v-combobox>
                  </v-flex>
                </v-layout>
                  <v-divider></v-divider>
                <v-subheader> {{ $t('crew_members') }} </v-subheader>
                <v-layout wrap justify-space-between>
                  <v-flex xs12 sm5 md5>
                    <v-combobox
                      v-model="editedItem.practitioner"
                      :items="doctorItems"
                      item-value='id'
                      :item-text='fullNamePractitioner'
                      color="light-blue darken-1"
                      v-bind:label="$t('doctor')"
                      :disabled="!editDialog"
                      v-validate ="{ rules: { required: editedItem.paramedic_crew?false:true} }"
                      :error-messages="errors.collect('editedItem.practitioner')"
                      data-vv-name="editedItem.practitioner"
                      :data-vv-as="$t('doctor')"
                      dense
                      small-chips
                      deletable-chips
                    ></v-combobox>
                  </v-flex>
                  <v-flex xs12 sm5 md5>
                    <v-combobox
                      v-model="editedItem.paramedic_crew"
                      :items="paramedicItems"
                      item-value='id'
                      :item-text='fullNamePractitioner'
                      color="light-blue darken-1"
                      v-bind:label="$t('paramedic')"
                      :disabled="!editDialog"
                      v-validate ="{ rules: { required: editedItem.practitioner?false:true} }"
                      :error-messages="errors.collect('editedItem.paramedic_crew')"
                      data-vv-name="editedItem.paramedic_crew"
                      :data-vv-as="$t('paramedic')"
                      dense
                      small-chips
                      deletable-chips
                    ></v-combobox>
                  </v-flex>
                  <v-flex xs12 sm5 md5>
                    <v-combobox
                      v-model="editedItem.paramedic_driver"
                      :items="driverItems"
                      item-value='id'
                      :item-text='fullNamePractitioner'
                      color="light-blue darken-1"
                      v-bind:label="$t('driver')"
                      :disabled="!editDialog"
                      v-validate="'required'"
                      :error-messages="errors.collect('editedItem.paramedic_driver')"
                      data-vv-name="editedItem.paramedic_driver"
                      :data-vv-as="$t('driver')"
                      dense
                      small-chips
                      deletable-chips
                    ></v-combobox>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
             <v-card-actions>
              <v-btn color="white" @click="close()">{{ $t('cancel') }}</v-btn>
              <v-spacer></v-spacer>
              <v-btn color="success" @click="save()" type="submit">{{ $t('save') }}</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-dialog v-model="deleteDialog" max-width="300px">
          <v-card>
            <v-card-text>
              <v-card-title>
              <span class="headline">{{ $t('warning') }}</span>
            </v-card-title>
              <v-layout wrap justify-space-between>
              <v-subheader> {{ $t('delete_crew_message') }} {{this.editedItem.name}} {{$t('which_unit')}} {{this.editedItem.mobile_unit.codename}}?</v-subheader>
              </v-layout>
            </v-card-text>
            <v-card-actions>
              <v-btn color="white" @click="close()">{{ $t('cancel') }}</v-btn>
              <v-spacer></v-spacer>
              <v-btn color="success" @click="deletion()" type="submit">{{ $t('delete') }}</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-banner v-if="permissions">
          <NewCrew :chips="false" v-on:updateCrewList="onCrewCreation" />
        </v-banner>
        <v-data-table
          dense
          locale='es'
          :headers="getHeaders"
          :items="data"
          :search="search"
          :loading="loading"
          :options.sync="pagination"
          :no-results-text="$t('no_matching_records')"
          :no-data-text="$t('no_data_available')"
          @click:row="showDetails"
          hide-default-footer
        >
          <template v-slot:item.crew_code="{ item }">
            {{ item.name }}
          </template>
          <template v-slot:item.unit="{ item }">
            {{ item.mobile_unit.codename }}
          </template>
          <template v-slot:item.paramedic_driver="{ item }">
            <span v-if="getPractitioner(item, 'DRIVER').id"> {{ getPractitioner(item, 'DRIVER').full_name }} </span>
          </template>
          <template v-slot:item.paramedic_crew="{ item }">
            <span v-if="getPractitioner(item, 'PARAMEDIC').id"> {{ getPractitioner(item, 'PARAMEDIC').full_name }} </span>
          </template>
          <template v-slot:item.practitioner="{ item }">
            <span v-if="getPractitioner(item, 'PRACTITIONER').id"> {{ getPractitioner(item, 'PRACTITIONER').full_name }} </span>
          </template>
          <template v-slot:item.actions="{ item }" v-if="permissions">
            <td class="justify-center">
              <v-icon
                small
                class="mr-2"
                @click="editItem(item)"
              >
                edit
              </v-icon>
              <v-icon
                small
                @click="deleteItem(item)"
              >
                delete
              </v-icon>
            </td>
          </template>
        </v-data-table>
          <div class="text-xs-center pt-2 md4 lg4" v-if="pages>1">
            <v-pagination
              @input="paginationChangeHandler"
              :value="pagination.page"
              :length="pages"
              :total-visible="7"
              circle
              color="light-blue darken-1"
            ></v-pagination>
          </div>
      </v-container>
    </v-card-text>
  </v-card>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'
import NavBar from '@/components/NavBar'
import NewCrew from '@/components/create_crew/NewCrew'
import moment from 'moment'
import axios from 'axios'

/*
  El componente `<CrewList>` es usado para desplegar el listado de
  tripulaciones que estan disponibles para ser asignados a servicios.

  Representa la página que aparece an seleccionar Tripulaciones en el menú
  principal.

  ---

  The `<CrewList>` component is used to display the
  crews that are available for assignment to services.

  Represents the page that appears when you select Crew from the menu
  main.

  @author Ixhel Mejías, Adriana Tiso
 */

export default {
  components: {NavBar, NewCrew},
  data () {
    return {
      printObj: {
        id: 'printCrew',
        popTitle: 'Solicitudes',
        extraCss: 'https://www.google.com,https://www.google.com',
        extraHead: '<meta http-equiv="Content-Language"content="es-ve"/>'
      },
      snackbar: false,
      text: '',
      timeout: 6000,
      color: '',
      editedIndex: -1,
      pagination: { totalItems: this.$store.getters.crewTodayPages.count, rowsPerPage: 10, page: 1 },
      search: '',
      loading: false,
      dialog: false,
      editDialog: false,
      deleteDialog: false,
      calendarMenuStart: false,
      calendarMenuEnd: false,
      watchMenuStart: false,
      watchMenuEnd: false,
      titles: [
        {
          text: this.$t('crews'),
          disabled: true
        }
      ],
      editedItem: {
        start_date: this.getCurrentDatetime,
        start_time: String(new Date().getHours()).padStart(2, '0') + ':' +
          String(new Date().getMinutes()).padStart(2, '0'),
        end_date: this.getCurrentDatetime,
        end_time: String(new Date().getHours()).padStart(2, '0') + ':' +
          String(new Date().getMinutes()).padStart(2, '0'),
        mobile_unit: '',
        base: '',
        practitioner: '',
        paramedic_crew: '',
        paramedic_driver: ''
      },
      headers: [
        {text: this.$t('crew_name'), sortable: false, value: 'crew_code'},
        {text: this.$t('unit'), sortable: false, value: 'unit'},
        {text: this.$t('paramedic_driver'), align: 'left', sortable: false, value: 'paramedic_driver'},
        {text: this.$t('paramedic_crew'), sortable: false, value: 'paramedic_crew'},
        {text: this.$t('doctor'), sortable: false, value: 'practitioner'},
        {text: this.$t('actions'), sortable: false, value: 'actions'}
      ],
      headers_permissions: [
        {text: this.$t('crew_name'), sortable: false, value: 'crew_code'},
        {text: this.$t('unit'), sortable: false, value: 'unit'},
        {text: this.$t('paramedic_driver'), align: 'left', sortable: false, value: 'paramedic_driver'},
        {text: this.$t('paramedic_crew'), sortable: false, value: 'paramedic_crew'},
        {text: this.$t('doctor'), sortable: false, value: 'practitioner'}
      ],
      data: []
    }
  },
  created () {
    this.$store.dispatch('getCrewItems')
    this.$store.dispatch('getTodayCrewItems')
    this.$store.dispatch('getMobileUnitItems')
    this.$store.dispatch('getBaseItems')
    this.$store.dispatch('getParamedicItems')
    this.$store.dispatch('getDoctorItems')
    this.$store.dispatch('getDriverItems')
    this.$store.dispatch('getCoordinatorItems')
    this.getData()
  },
  computed: {
    ...mapGetters([
      'roles',
      'mobileUnitItems',
      'baseItems',
      'paramedicItems',
      'doctorItems',
      'driverItems'
    ]),
    permissions () {
      return this.roles.includes('Despachador') || this.roles.includes('Director') || this.roles.includes('Gerente')
    },
    getHeaders () {
      if (this.permissions) {
        return this.headers
      } else {
        return this.headers_permissions
      }
    },
    getCurrentDatetime () {
      var today = new Date()
      return today
    },
    pages () {
      if (
        this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      ) {
        return 0
      }

      return Math.ceil(
        this.pagination.totalItems / this.pagination.rowsPerPage
      )
    },
    computedStartDateFormattedMomentjs () {
      moment.locale(this.$i18n.locale)
      return this.editedItem.start_date ? moment(this.editedItem.start_date).format('DD/MM/YYYY') : ''
    },
    computedEndDateFormattedMomentjs () {
      moment.locale(this.$i18n.locale)
      return this.editedItem.end_date ? moment(this.editedItem.end_date).format('DD/MM/YYYY') : ''
    }
  },
  methods: {
    // Triggered when event is emitted by the child.
    onCrewCreation () {
      this.getData()
    },
    fullNamePractitioner: item => item.first_name + ' ' + item.last_name,
    formatDatetime (datetime) {
      moment.locale(this.$i18n.locale)
      return datetime ? moment(datetime).format('D/M/YYYY') : ''
    },
    dateTimeFormat (date, time) {
      var formatString = date + ' ' + time
      return formatString ? moment(formatString, 'YYYY-MM-DD HH:mm:ss').toISOString() : ''
    },
    showDetails (item) {
      this.editedItem = Object.assign({}, item)
      this.editedItem.practitioner = this.getPractitioner(item, 'PRACTITIONER')
      this.editedItem.paramedic_crew = this.getPractitioner(item, 'PARAMEDIC')
      this.editedItem.paramedic_driver = this.getPractitioner(item, 'DRIVER')
      this.editedItem.start_date = this.getDate(item.start)
      this.editedItem.end_date = this.getDate(item.end)
      this.editedItem.start_time = this.getTime(item.start)
      this.editedItem.end_time = this.getTime(item.end)
      if (this.editDialog === true) {
        this.dialog = false
      } else if (this.deleteDialog === true) {
        this.dialog = false
      } else {
        this.dialog = true
      }
    },
    paginationChangeHandler (pageNumber) {
      this.pagination.page = pageNumber
      this.getData()
    },
    editItem (item) {
      this.editedIndex = this.data.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.editedItem.practitioner = this.getPractitioner(item, 'PRACTITIONER')
      this.editedItem.paramedic_crew = this.getPractitioner(item, 'PARAMEDIC')
      this.editedItem.paramedic_driver = this.getPractitioner(item, 'DRIVER')
      this.editedItem.start_date = this.getDate(item.start)
      this.editedItem.end_date = this.getDate(item.end)
      this.editedItem.start_time = this.getTime(item.start)
      this.editedItem.end_time = this.getTime(item.end)
      this.editDialog = true
    },
    deleteItem (item) {
      this.dialog = false
      this.editedIndex = this.data.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.editedItem.practitioner = this.getPractitioner(item, 'PRACTITIONER')
      this.editedItem.paramedic_crew = this.getPractitioner(item, 'PARAMEDIC')
      this.editedItem.paramedic_driver = this.getPractitioner(item, 'DRIVER')
      this.editedItem.start_date = this.getDate(item.start)
      this.editedItem.end_date = this.getDate(item.end)
      this.editedItem.start_time = this.getTime(item.start)
      this.editedItem.end_time = this.getTime(item.end)
      this.deleteDialog = true
    },
    deletion () {
      axios.delete(process.env.ROOT_API + 'api/v1/crews/' + this.editedItem.id, {
        headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
          'Content-Type': 'application/json'
        }
      }).then((response) => {
        this.getData()
        this.data.splice(this.editedItem.id, 1)
        this.$store.dispatch('getCrewItems')
        this.text = this.$t('delete_crew_success')
        this.color = 'success'
        this.timeout = 4000
        this.snackbar = true
        this.dialog = false
        this.close()
      }).catch((error) => {
        if (error.request.status === 500) {
          this.text = this.$t('error_check_crew')
          this.color = 'error'
          this.timeout = 6000
          this.snackbar = true
          this.close()
        } else {
          this.text = this.$t('error_check_data')
          this.color = 'error'
          this.timeout = 6000
          this.snackbar = true
        }
      })
    },
    close () {
      this.editDialog = false
      this.deleteDialog = false
    },
    getPractitioners () {
      var practitioners = []

      if (this.editedItem.practitioner !== undefined && this.editedItem.practitioner !== '') {
        practitioners.push({
          practitioner: {
            id: this.editedItem.practitioner.id
          },
          practitioner_role: 'PRACTITIONER'
        })
      }
      if (this.editedItem.paramedic_crew !== undefined && this.editedItem.paramedic_crew !== '') {
        practitioners.push({
          practitioner: {
            id: this.editedItem.paramedic_crew.id
          },
          practitioner_role: 'PARAMEDIC'
        })
      }
      if (this.editedItem.paramedic_driver !== undefined && this.editedItem.paramedic_driver !== '') {
        practitioners.push({
          practitioner: {
            id: this.editedItem.paramedic_driver.id
          },
          practitioner_role: 'DRIVER'
        })
      }
      return practitioners
    },
    save () {
      const data = {
        name: this.editedItem.name,
        start: this.dateTimeFormat(this.editedItem.start_date, this.editedItem.start_time),
        end: this.dateTimeFormat(this.editedItem.end_date, this.editedItem.end_time),
        base: this.editedItem.base.id,
        mobile_unit: this.editedItem.mobile_unit.id,
        practitioners: this.getPractitioners()
      }
      axios.put(process.env.ROOT_API + 'api/v1/crews-simple/' + this.editedItem.id, data, {
        headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
          'Content-Type': 'application/json'
        }
      }).then((response) => {
        if (response === undefined) {
          console.log('response is undefined')
        } else {
          this.getData()
          this.$store.dispatch('getCrewItems')
          this.text = this.$t('edit_crew_success')
          this.color = 'success'
          this.timeout = 4000
          this.snackbar = true
          this.dialog = false
          this.close()
        }
      })
        .catch((error) => {
          this.text = error.request.statusText
          this.color = 'error'
          this.timeout = 8000
          this.snackbar = true

          console.log(error)
          console.debug(error)
          console.dir(error)
        })
    },
    getData () {
      let url = `${process.env.ROOT_API}api/v1/crews-today?limit=${this.pagination.rowsPerPage}&offset=${(this.pagination.page - 1) * this.pagination.rowsPerPage}`
      axios.get(url, {
        headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
          'Content-Type': 'application/json'
        }
      }).then(response => {
        this.setData(response.data.results)
      })
    },
    setData (results) {
      this.data = results
    },
    getPractitioner (item, role) {
      for (let i = 0; i < item.practitioners.length; i++) {
        if (item.practitioners[i].practitioner_role === role) {
          var practitioner = {}
          practitioner.id = item.practitioners[i].practitioner.id
          practitioner.first_name = item.practitioners[i].practitioner.first_name
          practitioner.last_name = item.practitioners[i].practitioner.last_name
          practitioner.full_name = item.practitioners[i].practitioner.first_name + ' ' + item.practitioners[i].practitioner.last_name
          if (practitioner !== null) {
            return practitioner
          }
        }
      }
      return ''
    },
    getDate (date) {
      moment.locale(this.$i18n.locale)
      return date ? moment(date).format('YYYY-MM-DD') : ''
    },
    getTime (time) {
      moment.locale(this.$i18n.locale)
      return time ? moment(time).format('HH:mm') : ''
    }
  }
}

</script>

<style>
.container {
  max-width: 1600px;
}
</style>

<style type="text/css" media="print">
@page
{
    size: auto;   /* auto is the initial value */
    margin: 8mm;  /* this affects the margin in the printer settings */
}
</style>
