<template>
  <v-app>
    <NavBar />
    <v-content>
      <v-container>
        <v-breadcrumbs :items="titles" large></v-breadcrumbs>
  <v-card
    class="overflow-hidden"
    color="grey lighten-5"
  >
    <v-card-title> {{ $t('services') }} </v-card-title>
    <v-card-text>
      <v-container fluid>
        <v-data-table
        dense
        locale='es'
        :headers="headers"
        :items="services"
        @click:row="showDetails"
        hide-default-footer
        :no-data-text="$t('no_data_available')"
        >
        </v-data-table>
      </v-container>
    </v-card-text>
  </v-card>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import NavBar from '@/components/NavBar'

export default {
  components: {NavBar},
  data () {
    return {
      titles: [
        {
          text: this.$t('declined_services'),
          disabled: true
        }
      ],
      headers: [
        {text: this.$t('code'), align: 'left', sortable: false, value: 'code'},
        {text: this.$t('type'), sortable: false, value: 'type.display'},
        {text: this.$t('sector'), sortable: false, value: 'sector'},
        {text: this.$t('status'), sortable: false, value: 'status'}
      ],
      services: [
        {
          code: 1913381,
          type: {code: 2, display: 'OMT'},
          sector: 'Montalban',
          status: 'Finished',
          attention: this.attentionId
        },
        {
          code: 1913382,
          type: {code: 1, display: 'AMD'},
          sector: 'Montalban',
          status: 'Finished',
          attention: this.attentionId
        },
        {
          code: 1913383,
          type: {code: 3, display: 'Traslado'},
          sector: 'Montalban',
          status: 'In Progress',
          attention: this.attentionId
        }
      ]
    }
  },
  methods: {
    showDetails (item) {
      this.$router.push({name: 'ServiceDetails', params: { id: String(item.code), type: item.type.code, attentionId: String(item.attention) }})
    }
  },
  props: {
    attentionId: String
  }
}
</script>
