<template>
<v-app>
    <v-content>
      <v-snackbar
      v-model="snackbar"
      :color="color"
      :timeout="timeout"
      :top=true
    >
      {{ text }}
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        {{ $t('close') }}
      </v-btn>
    </v-snackbar>
      <v-container
        fluid
        fill-height>
      <v-layout
          align-center
          justify-center>
          <!-- <img backgroundImage src="@/assets/landing_image.png" width="600"> -->
        <v-card
          min-width="244"
          max-width="444">
          <br />
          <v-layout justify-center="true">
          <img src="@/assets/ven.jpg" width="110" />
          </v-layout>
          <v-card-title  class="text-uppercase grey--text justify-center">
            <span class="font-weight-dark">Atención-1</span>
          </v-card-title>
            <v-card-text>
            <v-form>
                  <v-text-field
                    prepend-icon="person"
                    v-model="username"
                    v-validate="'required'"
                    :error-messages="errors.collect('username')"
                    data-vv-name="username"
                    :data-vv-as="$t('username')"
                    v-bind:label="$t('username')"
                    type="text"
                    required
                  ></v-text-field>

                  <v-text-field
                    prepend-icon="lock"
                    v-model="password"
                    v-validate="'required'"
                    :error-messages="errors.collect('password')"
                    id="password"
                    v-bind:label="$t('password')"
                    data-vv-name="password"
                    :data-vv-as="$t('password')"
                    type="password"
                    required
                    @keyup.enter="authenticate"
                  ></v-text-field>
            </v-form>
            </v-card-text>
            <v-spacer></v-spacer>
            <v-card-actions>
              <v-spacer></v-spacer>
            <v-btn
              @click.prevent="authenticate"
              class="button"
              :disabled= 'isDisabled'
              type="submit"
              color="success">
              {{ $t('login') }}
            </v-btn>
            </v-card-actions>
        </v-card>
      </v-layout>
      </v-container>
    </v-content>
</v-app>
</template>

<script>
import axios from 'axios'

/*
  El componente `<Login>` se usa para permitir el ingreso de usuarios a la aplicación.

  Representa la página principal de la aplicación cuando se muestra en el navegador.

  En este componente se hace el llamado de las variables globales usando vuex, con
  la finalidad de tener precargada la información necesaria para inciar procesos
  dentro de la aplicación.

  Al ingresar por login a la aplicación, conduce al componente `<Attentions>`.

  ---

  The `<Login>` component is used to allow users to enter the application.

  It represents the main page of the application when it is displayed in the browser.

  In this component the call of the global variables is done using vuex, with
  the purpose of having the necessary information preloaded to start processes
  within the application.

  When you login to the application, it leads to the `<Attentions>` component.

  @author Ixhel Mejías, Adriana Tiso
*/

export default {
  data () {
    return {
      username: '',
      password: '',
      snackbar: false,
      text: '',
      timeout: 6000,
      color: ''
    }
  },
  computed: {
    isDisabled () {
      return !this.username || !this.password
    }
  },
  methods: {
    authenticate () {
      window.localStorage.clear()
      window.sessionStorage.clear()
      localStorage.removeItem('vuex')

      const payload = {
        username: this.username,
        password: this.password
      }

      axios.post(this.$store.state.login.endpoints.obtainJWT, payload)
        .then((response) => {
          this.$store.commit('SET_AUTHENTICATION', true)
          this.$store.commit('UPDATE_TOKEN', response.data.access)
          // get and set auth user
          const base = {
            baseURL: this.$store.state.login.endpoints.baseUrl,
            headers: {
            // Set your Authorization to 'Bearer', not Bearer!!!
              Authorization: `Bearer ${this.$store.state.login.jwt}`,
              'Content-Type': 'application/json'
              // 'Access-Control-Allow-Origin': '*'
            },
            xhrFields: {
              withCredentials: true
            }
          }
          // Even though the authentication returned a user object that can be
          // decoded, we fetch it again. This way we aren't super dependant on
          // JWT and can plug in something else.
          const axiosInstance = axios.create(base)
          axiosInstance({
            url: '/rest-auth/user/',
            method: 'get',
            params: {}
          })
            .then((response) => {
              this.$store.commit('SET_AUTH_USER', response.data)
              this.$store.dispatch('getUserData')
              this.$store.dispatch('getServiceTypes')
              this.$store.dispatch('getAdminFirstLevelItems')
              this.$store.dispatch('getAdminSecondLevelItems')
              this.$store.dispatch('getAdminThirdLevelItems')
              this.$store.dispatch('getHealthcareProviderAddressesItems')
              this.$store.dispatch('getTodayCrewItems')
              this.$store.dispatch('getOrganizationItems')
              this.$store.dispatch('getOrganizationWithPlanItems')
              this.$store.dispatch('getOrganizationTypeItems')
              this.$store.dispatch('getMedicalItems')
              this.$store.dispatch('getSymptomItems')
              this.$store.dispatch('getDiagnosisItems')
              this.$store.dispatch('getMessageItems')
              this.$store.dispatch('getSourceItems')
              this.$store.dispatch('getDocumentTypes')
              this.$store.dispatch('getCancellationReasons')
              this.$store.dispatch('getUserItems')
              this.$store.dispatch('getExamTypes')
              this.$store.dispatch('getValidatorPlanMappingItems')
              this.$store.dispatch('getPlans')
            }).then((response) => {
              if (this.$route.path !== '/attentions') {
                this.$router.replace({ name: 'Attentions' })
              }
            })
        })
        .catch((error) => {
          this.$store.commit('SET_AUTHENTICATION', false)
          localStorage.removeItem('token') // if the request fails, remove any possible token
          console.log('error: ', error)
          if (error.request.status === 401) {
            this.text = this.$t('unauthorized')
          } else if (error.message === 'Network Error') {
            this.text = this.$t('network_error')
          } else {
            this.text = error.request.statusText
          }

          this.color = 'red'
          this.timeout = 6000
          this.snackbar = true
          this.loading = false

          console.log(error)
          console.debug(error)
          console.dir(error)
        })
    }
  }
}

</script>

<style scoped>
.container {
  justify-content: auto;
  height: 740px;
  width: 1500px;
  background-image: url('~@/assets/landing_image.png');
  background-position: center center;
}
</style>
