<template>
  <nav>
    <v-app-bar app :clipped-left="$vuetify.breakpoint.lgAndUp" clipped-right color="grey darken-1" dark>
    <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
    <v-toolbar-title app class="text-uppercase white--text">
        <span class="font-weight-light">Atención-1</span>
    </v-toolbar-title>
    <v-spacer></v-spacer>

    <v-toolbar-items app>
    <v-menu
    v-model="menu"
    :close-on-content-click="false"
    :nudge-width="200"
    offset-y
    >
    <template v-slot:activator="{ on }">
        <v-btn text icon color="white" v-on="on">
        <v-avatar size="48px" v-if="$store.state.login.userData.photo !== null">
          <img
          :src="$store.state.login.userData.photo"
          />
        </v-avatar>
        <v-avatar size="48px" color="red" v-else>
          <v-icon dark>mdi-account</v-icon>
        </v-avatar>
        </v-btn>
    </template>

    <v-card class="mx-auto" max-width="250">
        <v-list>
        <v-list-item>
            <v-list-item-avatar size="62px" v-if="$store.state.login.userData.photo !== null">
              <img :src="$store.state.login.userData.photo" />
            </v-list-item-avatar>
            <v-list-item-avatar size="62px" v-else>
              <v-icon class="red white--text">mdi-account</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
            <v-list-item-title>{{ this.$store.state.login.authUser.first_name }} {{ this.$store.state.login.authUser.last_name }}</v-list-item-title>
            <v-list-item-subtitle>@{{ this.$store.state.login.authUser.username }}</v-list-item-subtitle>
            <br />
            <v-list-item-subtitle v-for="role in roles" :key="role">
              <v-chip pill> <b>{{ role }}</b> </v-chip>
            </v-list-item-subtitle>
            </v-list-item-content>
        </v-list-item>
        </v-list>
        <v-divider></v-divider>
        <v-list>
        <v-list-item @click="goToProfile">
            <v-list-item-icon>
            <v-icon class="grey--text">mdi-account</v-icon>
            </v-list-item-icon>
            <v-list-item-title> {{ this.$t('profile') }} </v-list-item-title>
        </v-list-item>
        <v-divider></v-divider>
        <v-list-item @click="logout">
            <v-list-item-icon>
            <v-icon class="grey--text">mdi-exit-to-app</v-icon>
            </v-list-item-icon>
            <v-list-item-title> {{ this.$t('sign_out') }} </v-list-item-title>
        </v-list-item>
        </v-list>
    </v-card>
    </v-menu>
        </v-toolbar-items>
    </v-app-bar>

    <v-navigation-drawer
      v-model="drawer"
      :clipped="$vuetify.breakpoint.lgAndUp"
      app
    >
      <br /><br />
      <v-list nav dense>
        <v-list-item
          v-for="([icon, text, path], i) in this.menuItems()"
          :key="i"
          router :to="path"
        >
        <v-list-item-icon>
          <v-icon class="grey--text">{{ icon }}</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title class="grey--text">{{ text }}</v-list-item-title>
        </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </nav>
</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex'

/*
  El componente `<NavBar>` es el responsable de desplegar la barra de
  cabecera que se muestra una vez el usuario esté loggeado dentro de
  la aplicación.

  Contiene el menú principal de la aplicación.

  Despliega la información básica del usuario. Conduce al componente
  `<Profile>` y `<Logout>`

  ---

  The `<NavBar>` component is responsible for displaying the
  header that is showed once the user is logged in within
  the application.

  It contains the main menu of the application.

  Displays basic user information. It leads to the component
  `<Profile>` and `<Logout>`.

  @author Ixhel Mejías, Adriana Tiso
*/

export default {
  data () {
    return {
      notificationsLength: 1,
      drawer: false,
      menu: false,
      items: []
    }
  },
  created () {
    this.drawer = false
  },
  computed: {
    ...mapGetters([
      'roles'
    ])
  },
  methods: {
    goToProfile () {
      if (this.$route.path !== '/profile') {
        this.$router.push({name: 'Profile'})
      }
    },
    logout () {
      const auth = {
        headers: {Authorization: `Bearer ${this.$store.state.jwt}`,
          'Content-Type': 'application/json'
          // 'Access-Control-Allow-Origin': '*'
        },
        xhrFields: {
          withCredentials: true
        }
      }

      axios.post(this.$store.state.login.endpoints.baseUrl + 'rest-auth/logout/', auth)
        .then((response) => {
          window.localStorage.clear()
          window.sessionStorage.clear()
          this.$store.commit('REMOVE_TOKEN')
          this.$store.commit('SET_AUTHENTICATION', false)
          localStorage.removeItem('vuex')

          if (this.$route.path !== '/') {
            this.$router.push({name: 'Login'})
          }
        })
        .catch((error) => {
          console.log(error)
          console.debug(error)
          console.dir(error)
        })
    },
    menuItems () {
      if (this.roles.includes('Despachador')) {
        var items = [
          [
            'mdi-medical-bag', this.$t('attentions'), '/attentions'
          ],
          [
            'mdi-ambulance', this.$t('crews'), '/crews'
          ],
          [
            'mdi-account-multiple', this.$t('affiliates'), '/affiliates'
          ]
        ]
      } else if (this.roles.includes('Operador')) {
        items = [
          [
            'mdi-medical-bag', this.$t('attentions'), '/attentions'
          ],
          [
            'mdi-account-multiple', this.$t('affiliates'), '/affiliates'
          ]
        ]
      } else if (this.roles.includes('Médico')) {
        items = [
          [
            'mdi-medical-bag', this.$t('attentions'), '/attentions'
          ],
          [
            'mdi-account-multiple', this.$t('affiliates'), '/affiliates'
          ]
        ]
      } else if (this.roles.includes('Gerente')) {
        items = [
          [
            'mdi-medical-bag', this.$t('attentions'), '/attentions'
          ],
          [
            'mdi-ambulance', this.$t('crews'), '/crews'
          ],
          [
            'mdi-file-chart', this.$t('reports'), '/reports'
          ],
          [
            'mdi-account-multiple', this.$t('affiliates'), '/affiliates'
          ]
        ]
      } else if (this.roles.includes('Coordinador')) {
        items = [
          [
            'mdi-medical-bag', this.$t('attentions'), '/attentions'
          ],
          [
            'mdi-ambulance', this.$t('crews'), '/crews'
          ],
          [
            'mdi-file-chart', this.$t('reports'), '/reports'
          ],
          [
            'mdi-account-multiple', this.$t('affiliates'), '/affiliates'
          ]
        ]
      } else if (this.roles.includes('Director')) {
        items = [
          [
            'mdi-medical-bag', this.$t('attentions'), '/attentions'
          ],
          [
            'mdi-ambulance', this.$t('crews'), '/crews'
          ],
          [
            'mdi-file-chart', this.$t('reports'), '/reports'
          ],
          [
            'mdi-account-multiple', this.$t('affiliates'), '/affiliates'
          ]
        ]
      } else if (this.roles.includes('Asistente')) {
        items = [
          [
            'mdi-medical-bag', this.$t('attentions'), '/attentions'
          ],
          [
            'mdi-ambulance', this.$t('crews'), '/crews'
          ],
          [
            'mdi-file-chart', this.$t('reports'), '/reports'
          ],
          [
            'mdi-account-multiple', this.$t('affiliates'), '/affiliates'
          ]
        ]
      }
      return items
    }
  }
}

</script>
