<template>
  <v-app>
    <v-content>
      <v-container>
<br /><br /><br /><br />
            <v-card
                class="mx-auto"
                max-width="1000"
                hover
            >
                <br />
                <br />
            <img class="white--text align-end" src="@/assets/header.jpg" height="200px" />
                <v-card-text class="text--primary">
                <!-- <div><h1 style="color:grey">Error 404</h1></div> -->
                <br />
                <br />
                <div><h2 style="color:grey">Error 404: {{text}}</h2></div>
                <br />
                <br />
                </v-card-text>
            </v-card>

      </v-container>
    </v-content>
  </v-app>
</template>

<script>

/*
  El componente `<NotFound>` se usa como enlace que conduce al
  "dead link" (enlace muerto).

  Surge en el momento que se escriba una dirección url que no esté construida.

  ---

  The `<NotFound>` component is used as a link that leads to
  "dead link".

  It arises at the time of writing a url address that is not built.

  @author Ixhel Mejías, Adriana Tiso
*/

export default {
  data () {
    return {
      text: this.$t('not_found')
    }
  }
}
</script>

<style>
.container {
  max-width: 1600px;
}
</style>
