<template>
  <div>
    <v-tabs
      class="elevation-2"
      color="light-blue darken-1"
    >
      <v-tabs-slider hide-slider></v-tabs-slider>
      <v-tab
        v-for="i in policies.length"
        :key="i"
        :href="`#tab-${i}`"
      >
        {{ policies[i-1].policy.code }}
      </v-tab>
      <v-tab-item
        v-for="i in policies.length"
        :key="i"
        :value="'tab-' + i"
      >
        <v-card
          class="overflow-hidden"
          color="grey lighten-5"
        >
          <v-card-text>
            <v-container grid-list-md fluid>
              <v-layout row justify-space-between>
                <v-flex sm12 md12>
                  <v-text-field
                    v-model="policies[i-1].policy.plan.organization.name"
                    readonly
                    color="light-blue darken-1"
                    v-bind:label="$t('organization')"
                    data-vv-name="organization"
                    dense
                  ></v-text-field>
                </v-flex>
                <v-flex sm12 md12>
                  <v-text-field
                    v-model="policies[i-1].policy.plan.name"
                    readonly
                    color="light-blue darken-1"
                    v-bind:label="$t('plan')"
                    data-vv-name="plan"
                    dense
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
            {{ $t('policy_beneficiary') }}
            <v-divider class="mx-4"></v-divider>
            <br />
            <v-data-table
              :headers="headers"
              :items="policies[i-1].policy.affiliates"
              dense
              :loading="loading"
              :no-results-text="$t('no_matching_records')"
              :no-data-text="$t('no_data_available')"
              hide-default-footer
            >
            <template v-slot:item.kinship="{ item }">
            {{ getKinship(item.kinship) }}
          </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs>
  </div>
</template>

<script>
import moment from 'moment'

/*
  El componente `<Policies>` se utiliza para mostrar información acerca de las
  pólizas de un afiliado: organización, plan y beneficiarios.

  `<Policies>` es hijo del componente `<AffiliatesTable>`.

  ---

  The `<Policies>` component is used to display information about an
  affiliate's policies: organization, plan and beneficiaries.

  `<Policies>` is child of the `<AffiliatesTable>` component.

  @author Ixhel Mejías, Adriana Tiso
 */

export default {
  data () {
    return {
      loading: false,
      headers: [
        { text: this.$t('first_name'), value: 'affiliate.first_name' },
        { text: this.$t('last_name'), value: 'affiliate.last_name' },
        { text: this.$t('idnumber'), value: 'affiliate.dni' },
        { text: this.$t('linkage'), align: 'center', value: 'kinship' }
      ],
      data: [],
      isEditing: null,
      model: null,
      genderItems: [
        'Masculino',
        'Femenino'
      ]
    }
  },
  computed: {
    fullNameAffiliate: {
      get () {
        return `${this.policies.affiliate.first_name} ${this.policies.affiliate.last_name}`
      },
      set (newValue) {
        const m = newValue.match(/(\S*)\s+(.*)/)

        this.policies.affiliate.first_name = m[1]
        this.policies.affiliate.last_name = m[2]
      }
    },
    affiliateStatusColor () {
      if (this.policies.affiliate.is_active) return 'success'
      else return 'warning'
    },
    dateFormattedMomentjs () {
      moment.locale(this.$i18n.locale)
      return moment(this.policies.affiliate.birthdate).format('MMMM Do YYYY')
    }
  },
  methods: {
    /*
      The `getKinship` method translates the kinship to be displayed (from
      english to spanish).

      @param {string} kinship - Kinship to translate
      @returns {string} Translated kinship
     */
    getKinship (kinship) {
      if (kinship === 'HOLDER') return 'Titular'
      else if (kinship === 'OFFSPRING') return 'Hijo'
      else if (kinship === 'COUSIN') return 'Primo'
      else if (kinship === 'BROTHER_IN_LAW') return 'Cuñado'
      else if (kinship === 'INLAW') return 'Suegro'
      else if (kinship === 'POLITICAL_CHILD') return 'Hijo político'
      else if (kinship === 'GRANDPARENT') return 'Abuelo'
      else if (kinship === 'PAYER') return 'Pagador'
      else if (kinship === 'NEPHEW') return 'Sobrino'
      else if (kinship === 'SIBLING') return 'Hermano'
      else if (kinship === 'UNCLE') return 'Tío'
      else if (kinship === 'PARENT') return 'Padre'
      else if (kinship === 'SPOUSE') return 'Cónyuge'
      else if (kinship === 'GRANDCHILD') return 'Nieto'
      else if (kinship === 'OTHER') return 'Otro'
    }
  },
  props: {
    /*
      The array of objects with information for each policy corresponding to the
      selected affiliate from the `<AffiliatesTable>` component.
     */
    policies: Array
  }
}
</script>
