<template>
  <v-app>
    <NavBar />
    <v-content>
  <v-container>
    <v-row justify="center">
      <v-card
        min-width="344"
        max-width="464"
      >
      <v-row>
        <v-col>
          <v-avatar
          size="185"
          v-if="$store.state.login.userData.photo !== null"
          >
          <img
            :src="this.$store.state.login.userData.photo"
          />
          </v-avatar>
        <v-avatar size="185" color="red" v-else>
          <v-icon size="100" dark>mdi-account</v-icon>
        </v-avatar>
        </v-col>
      </v-row>
        <v-card-title class="justify-center">  <b>{{ this.$store.state.login.authUser.first_name }} {{ this.$store.state.login.authUser.last_name }} </b> </v-card-title>
                                              <v-chip pill v-for="role in roles" :key="role"> <b>{{ role }}</b> </v-chip>
        <v-card-text
        >
          <v-tooltip bottom>
          <template v-slot:activator="{ on }">
          <v-fab-transition>
            <v-btn
              button
              right
              fab
              absolute
              small
              @click="isEditing = !isEditing, editProfile()"
              v-on="on"
              style="z-index: 0"
              disabled
            >
              <v-icon>mdi-pencil</v-icon>
            </v-btn>
          </v-fab-transition>
          </template>
          <span>{{ $t('edit_profile') }}</span>
          </v-tooltip>
          <v-tooltip bottom>
          <template v-slot:activator="{ on }">
          <v-fab-transition>
            <v-btn
              button
              left
              fab
              absolute
              small
              @click="pwEditing = !pwEditing"
              v-on="on"
              style="z-index: 0"
            >
              <v-icon>mdi-lock-outline</v-icon>
            </v-btn>
          </v-fab-transition>
          </template>
          <span>{{ $t('change_password') }}</span>
          </v-tooltip>
        </v-card-text>
        <v-card-text>
          <p style="color:black"> <b>{{ $t('username') }}:</b> {{ this.$store.state.login.authUser.username }} </p>
          <p style="color:black"> <b>{{ $t('email') }}:</b> {{ this.$store.state.login.authUser.email }} </p>
          <p style="color:black"> <b>{{ $t('birthdate') }}:</b> {{ dateFormattedMomentjs(this.$store.state.login.userData.birth_date) }} </p>
          <p style="color:black"> <b>{{ $t('id_number') }}:</b> {{ this.$store.state.login.userData.dni }} </p>
          <p style="color:black"> <b>{{ $t('phone') }}:</b> {{ getPhoneNumbers(this.$store.state.login.userData.phone_number) }} </p>
        </v-card-text>
      </v-card>
    </v-row>
  </v-container>
  <v-dialog
      v-model="isEditing"
      max-width="400px"
    >
      <v-card>
        <v-card-title>
          <span class="headline">{{ $t('edit_profile') }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-layout>
              <v-flex xs12 sm12 md12>
                <v-text-field
                  v-model="first_name"
                  :label="$t('first_name')"
                  dense
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex xs12 sm12 md12>
                <v-text-field
                  v-model="last_name"
                  :label="$t('last_name')"
                  dense
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex xs12 sm12 md12>
                <v-text-field
                  v-model="email"
                  :label="$t('email')"
                  dense
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex xs2 sm2 md2>
                <v-select
                  v-model="dni_type"
                  :items="dniTypeItems"
                  item-text="display"
                  item-value="code"
                  v-bind:label="$t('dni_type')"
                  dense
                ></v-select>
              </v-flex>
              <v-flex xs1 sm1 md1></v-flex>
              <v-flex xs9 sm9 md9>
                <v-text-field
                  v-model="dni"
                  :label="$t('id_number')"
                  dense
                ></v-text-field>
              </v-flex>
              </v-layout>
            <v-layout>
              <v-flex xs12 sm12 md12>
                <v-text-field
                  type="date"
                  v-model="birthdate"
                  :label="$t('birthdate')"
                  dense
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex xs12 sm12 md12>
                <v-text-field
                  v-model="phoneNumbers"
                  :label="$t('phone')"
                  dense
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-btn
            color="white"
            @click.stop="isEditing = !isEditing"
          >
            {{ $t('cancel') }}
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            color="success"
            @click.stop="saveProfileEdition()"
            type="submit"
          >
            {{ $t('save') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="pwEditing"
      max-width="400px"
    >
      <v-card>
        <v-card-title>
          <span class="headline">{{ $t('change_password') }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-layout>
              <v-flex xs12 sm12 md12>
                <v-text-field
                  v-model="newPassword1"
                  :label="$t('new_password')"
                  :error-messages="errors.collect('newPassword1')"
                  id="newPassword1"
                  data-vv-name="newPassword1"
                  :data-vv-as="$t('new_password')"
                  type="password"
                  v-validate="'required: true|min: 8|verify_password'"
                  dense
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex xs12 sm12 md12>
                <v-text-field
                  v-model="newPassword2"
                  :label="$t('confirm_password')"
                  dense
                  :error-messages="errors.collect('newPassword2')"
                  id="newPassword2"
                  data-vv-name="newPassword2"
                  :data-vv-as="$t('confirm_password')"
                  type="password"
                  v-validate="{required : true, confirmed: newPassword1}"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-btn
            color="white"
            @click.stop="pwEditing = !pwEditing, resetNewPassword()"
          >
            {{ $t('cancel') }}
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            color="success"
            @click.stop="saveNewPassword()"
            type="submit"
            :disabled="isDisabled"
          >
            {{ $t('save') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar
          v-model="snackbar"
          :color="color"
          :timeout="timeout"
          :top=true
        >
          {{ text }}
          <v-btn
            color="white"
            text
            @click="snackbar = false"
          >
            {{ $t('close') }}
          </v-btn>
        </v-snackbar>
    </v-content>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'
import NavBar from '@/components/NavBar'
import moment from 'moment'
import axios from 'axios'

/*
  El componente `<Profile>` se usa para mostrar la información del usuario.

  En el componente se permite el cambio de contraseña del usuario para ingresar
  a la aplicación.

  Se puede acceder a este componente mediante el menú principal en `<NavBar>`.

  ---

  The `<Profile>` component is used to display the user information.

  The component allows to change the user's password to log in the application.

  This component can be accessed through the main menu at `<NavBar>`.

  @author Ixhel Mejías, Adriana Tiso
*/

export default {
  data: () => ({
    text: '',
    color: '',
    timeout: 0,
    snackbar: '',
    selected: '',
    focusable: true,
    isEditing: false,
    pwEditing: false,
    newPassword1: '',
    newPassword2: '',
    first_name: '',
    last_name: '',
    email: '',
    dni_type: '',
    dni: '',
    birthdate: '',
    phoneNumbers: '',
    dniTypeItems: [
      'V',
      'E'
    ]
  }),
  components: {NavBar},
  computed: {
    ...mapGetters([
      // map this.userData to this.$store.getters.userData
      'userData',
      'roles'
    ]),
    isDisabled () {
      return !this.newPassword1 || !this.newPassword2 || this.newPassword1 !== this.newPassword2
    }
  },
  methods: {
    dateFormattedMomentjs (date) {
      moment.locale(this.$i18n.locale)
      return moment(date).format('MMMM Do YYYY')
    },
    getPhoneNumbers (phoneNumbers) {
      return phoneNumbers.replace('+58', '0')
    },
    editProfile () {
      this.first_name = this.$store.state.login.authUser.first_name
      this.last_name = this.$store.state.login.authUser.last_name
      this.email = this.$store.state.login.authUser.email
      this.dni_type = this.$store.state.login.userData.dni.charAt(0)
      this.dni = this.$store.state.login.userData.dni.substring(1)
      this.birthdate = this.$store.state.login.userData.birth_date
      this.phoneNumbers = this.$store.state.login.userData.phone_number
    },
    saveProfileEdition () {
      console.log('prueba')
    },
    saveNewPassword () {
      var data = {
        new_password1: this.newPassword1,
        new_password2: this.newPassword2
      }

      axios.post(process.env.ROOT_API + 'rest-auth/password/change/', data, {
        headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
          'Content-Type': 'application/json'
        }
      }).then((response) => {
        this.text = this.$t('password_changed')
        this.color = 'success'
        this.timeout = 4000
        this.snackbar = true
        this.pwEditing = false
      })
        .catch((error) => {
          this.text = this.$t('error_check_data')
          this.color = 'error'
          this.timeout = 4000
          this.snackbar = true

          console.log(error)
          console.debug(error)
          console.dir(error)
        })
    },
    resetNewPassword: function () {
      this.newPassword1 = ''
      this.newPassword2 = ''
      this.$nextTick(() => {
        this.$validator.reset()
      })
    }
  }
}
</script>

<style lang="css">
</style>
