<template>
  <v-app>
    <NavBar />
    <v-content>
      <v-container>
        <v-breadcrumbs :items="titles" large></v-breadcrumbs>
        <v-snackbar
          v-model="snackbar"
          :color="color"
          :timeout="timeout"
          :top=true
        >
          {{ text }}
          <v-btn
            color="white"
            text
            @click="snackbar = false"
          >
            {{ $t('close') }}
          </v-btn>
        </v-snackbar>
        <v-tabs vertical>
          <v-tab
          @click="reset()">
            <v-icon left>description</v-icon>
            {{ $t('attentions')}}
          </v-tab>
          <v-tab
          @click="reset()">
            <v-icon left>description</v-icon>
            {{ $t('tmg_services')}}
          </v-tab>
          <v-tab
          @click="reset()">
            <v-icon left>description</v-icon>
            {{ $t('hhc_services')}}
          </v-tab>
          <v-tab
          @click="reset()">
            <v-icon left>description</v-icon>
            {{ $t('lab_services')}}
          </v-tab>
          <v-tab
          @click="reset()">
            <v-icon left>description</v-icon>
            {{ $t('transfer_services')}}
          </v-tab>
          <v-tab
          @click="reset()">
            <v-icon left>description</v-icon>
            {{ $t('hmd_services')}}
          </v-tab>
          <v-tab
          @click="reset()">
            <v-icon left>description</v-icon>
            {{ $t('hhp_services')}}
          </v-tab>
      <v-tab-item>
        <v-card
            class="mx-auto text-center"
          >
            <v-card-text>
              <v-sheet color="rgba(0, 0, 0, 0)">
              </v-sheet>
            </v-card-text>
            <v-card-text>
              <div>{{ $t('attention_report') }}</div>
            </v-card-text>
            <v-container grid-list-xs fluid>
              <v-layout row justify-space-around>
                <v-flex sm1 md1>
                  <v-subheader>{{ $t('from') }}:</v-subheader>
                </v-flex>
                <v-flex sm2 md2>
                  <v-text-field
                    type="date"
                    :value="computedStartDateFormattedMomentjs"
                    v-model="start_date"
                    v-bind:label="$t('start_date')"
                    v-validate="'required'"
                    :error-messages="errors.collect('start_date')"
                    data-vv-name="start_date"
                    :data-vv-as="$t('start_date')"
                    :max="end_date"
                    ref="afterTarget"
                    dense>
                </v-text-field>
                </v-flex>
                  <v-flex sm1 md1>
                    <v-subheader>{{ $t('to') }}:</v-subheader>
                  </v-flex>
                <v-flex sm2 md2>
                  <v-text-field
                    type="date"
                    :value="computedEndDateFormattedMomentjs"
                    v-model="end_date"
                    v-bind:label="$t('end_date')"
                    v-validate="'required|date_format:yyyy-MM-dd|after:afterTarget,true'"
                    :error-messages="errors.collect('end_date')"
                    data-vv-name="end_date"
                    :data-vv-as="$t('end_date')"
                    :min="start_date"
                    dense>
                  </v-text-field>
                </v-flex>
                <v-flex sm5 md5>
                  <v-autocomplete
                    v-model="client"
                    :items="organizationWithPlanItems"
                    item-value='id'
                    item-text='name'
                    v-bind:label="$t('client')"
                    dense
                    :error-messages="errors.collect('client')"
                    data-vv-name="client"
                    :placeholder="$t('empty_message')"
                    :data-vv-as="$t('client')"
                    :no-data-text="$t('no_data_available')"
                    clearable
                  ></v-autocomplete>
                </v-flex>
              </v-layout>
            </v-container>
            <v-divider></v-divider>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-flex class="text-right">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-fab-transition>
                      <v-btn
                      color="gray"
                      @click="viewAttentionReport()"
                      :disabled="errors.any() || isDisabled"
                      v-on="on">
                      {{ $t('view') }}
                      </v-btn>
                    </v-fab-transition>
                  </template>
                  <span>{{ $t('view_report') }}</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-fab-transition>
                      <v-btn
                      color="success"
                      @click="buildAttentionReport()"
                      :disabled="errors.any() || isDisabled"
                      v-on="on">
                      {{ $t('generate') }}
                      </v-btn>
                    </v-fab-transition>
                  </template>
                  <span>{{ $t('generate_report') }}</span>
                </v-tooltip>
              </v-flex>
            </v-card-actions>
          </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card
            class="mx-auto text-center"
          >
            <v-card-text>
              <v-sheet color="rgba(0, 0, 0, 0)">
              </v-sheet>
            </v-card-text>
            <v-card-text>
              <div>{{ $t('tmg_services_report') }}</div>
            </v-card-text>
            <v-container grid-list-xs fluid>
              <v-layout row justify-space-around>
                <v-flex sm1 md1>
                  <v-subheader>{{ $t('from') }}:</v-subheader>
                </v-flex>
                <v-flex sm2 md2>
                  <v-text-field
                    type="date"
                    :value="computedStartDateFormattedMomentjs"
                    v-model="start_date"
                    v-bind:label="$t('start_date')"
                    v-validate="'required'"
                    :error-messages="errors.collect('start_date')"
                    data-vv-name="start_date"
                    :data-vv-as="$t('start_date')"
                    :max="end_date"
                    ref="afterTarget"
                    dense>
                </v-text-field>
                </v-flex>
                  <v-flex sm1 md1>
                    <v-subheader>{{ $t('to') }}:</v-subheader>
                  </v-flex>
                <v-flex sm2 md2>
                  <v-text-field
                    type="date"
                    :value="computedEndDateFormattedMomentjs"
                    v-model="end_date"
                    v-bind:label="$t('end_date')"
                    v-validate="'required|date_format:yyyy-MM-dd|after:afterTarget,true'"
                    :error-messages="errors.collect('end_date')"
                    data-vv-name="end_date"
                    :data-vv-as="$t('end_date')"
                    :min="start_date"
                    dense>
                  </v-text-field>
                </v-flex>
                <v-flex sm5 md5>
                  <v-autocomplete
                    v-model="client"
                    :items="organizationWithPlanItems"
                    item-value='id'
                    item-text='name'
                    v-bind:label="$t('client')"
                    dense
                    :error-messages="errors.collect('client')"
                    data-vv-name="client"
                    :placeholder="$t('empty_message')"
                    :data-vv-as="$t('client')"
                    :no-data-text="$t('no_data_available')"
                    clearable
                  ></v-autocomplete>
                </v-flex>
              </v-layout>
            </v-container>
            <v-divider></v-divider>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-flex class="text-right">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-fab-transition>
                      <v-btn
                      color="gray"
                      @click="viewTMGServiceReport()"
                      :disabled="errors.any() || isDisabled"
                      v-on="on">
                      {{ $t('view') }}
                      </v-btn>
                    </v-fab-transition>
                  </template>
                  <span>{{ $t('view_report') }}</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-fab-transition>
                      <v-btn
                      color="success"
                      @click="buildTMGServiceReport()"
                      :disabled="errors.any() || isDisabled"
                      v-on="on">
                      {{ $t('generate') }}
                      </v-btn>
                    </v-fab-transition>
                  </template>
                  <span>{{ $t('generate_report') }}</span>
                </v-tooltip>
              </v-flex>
            </v-card-actions>
          </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card
            class="mx-auto text-center"
          >
            <v-card-text>
              <v-sheet color="rgba(0, 0, 0, 0)">
              </v-sheet>
            </v-card-text>
            <v-card-text>
              <div>{{ $t('hhc_services_report') }}</div>
            </v-card-text>
            <v-container grid-list-xs fluid>
              <v-layout row justify-space-around>
                <v-flex sm1 md1>
                  <v-subheader>{{ $t('from') }}:</v-subheader>
                </v-flex>
                <v-flex sm2 md2>
                  <v-text-field
                    type="date"
                    :value="computedStartDateFormattedMomentjs"
                    v-model="start_date"
                    v-bind:label="$t('start_date')"
                    v-validate="'required'"
                    :error-messages="errors.collect('start_date')"
                    data-vv-name="start_date"
                    :data-vv-as="$t('start_date')"
                    :max="end_date"
                    ref="afterTarget"
                    dense>
                </v-text-field>
                </v-flex>
                  <v-flex sm1 md1>
                    <v-subheader>{{ $t('to') }}:</v-subheader>
                  </v-flex>
                <v-flex sm2 md2>
                  <v-text-field
                    type="date"
                    :value="computedEndDateFormattedMomentjs"
                    v-model="end_date"
                    v-bind:label="$t('end_date')"
                    v-validate="'required|date_format:yyyy-MM-dd|after:afterTarget,true'"
                    :error-messages="errors.collect('end_date')"
                    data-vv-name="end_date"
                    :data-vv-as="$t('end_date')"
                    :min="start_date"
                    dense>
                  </v-text-field>
                </v-flex>
                <v-flex sm5 md5>
                  <v-autocomplete
                    v-model="client"
                    :items="organizationWithPlanItems"
                    item-value='id'
                    item-text='name'
                    v-bind:label="$t('client')"
                    dense
                    :error-messages="errors.collect('client')"
                    data-vv-name="client"
                    :placeholder="$t('empty_message')"
                    :data-vv-as="$t('client')"
                    :no-data-text="$t('no_data_available')"
                    clearable
                  ></v-autocomplete>
                </v-flex>
              </v-layout>
            </v-container>
            <v-divider></v-divider>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-flex class="text-right">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-fab-transition>
                      <v-btn
                      color="gray"
                      @click="viewHHCServiceReport()"
                      :disabled="errors.any() || isDisabled"
                      v-on="on">
                      {{ $t('view') }}
                      </v-btn>
                    </v-fab-transition>
                  </template>
                  <span>{{ $t('view_report') }}</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-fab-transition>
                      <v-btn
                      color="success"
                      @click="buildHHCServiceReport()"
                      :disabled="errors.any() || isDisabled"
                      v-on="on">
                      {{ $t('generate') }}
                      </v-btn>
                    </v-fab-transition>
                  </template>
                  <span>{{ $t('generate_report') }}</span>
                </v-tooltip>
              </v-flex>
            </v-card-actions>
          </v-card>
      </v-tab-item>
            <v-tab-item>
        <v-card
            class="mx-auto text-center"
          >
            <v-card-text>
              <v-sheet color="rgba(0, 0, 0, 0)">
              </v-sheet>
            </v-card-text>
            <v-card-text>
              <div>{{ $t('lab_services_report') }}</div>
            </v-card-text>
            <v-container grid-list-xs fluid>
              <v-layout row justify-space-around>
                <v-flex sm1 md1>
                  <v-subheader>{{ $t('from') }}:</v-subheader>
                </v-flex>
                <v-flex sm2 md2>
                  <v-text-field
                    type="date"
                    :value="computedStartDateFormattedMomentjs"
                    v-model="start_date"
                    v-bind:label="$t('start_date')"
                    v-validate="'required'"
                    :error-messages="errors.collect('start_date')"
                    data-vv-name="start_date"
                    :data-vv-as="$t('start_date')"
                    :max="end_date"
                    ref="afterTarget"
                    dense>
                </v-text-field>
                </v-flex>
                  <v-flex sm1 md1>
                    <v-subheader>{{ $t('to') }}:</v-subheader>
                  </v-flex>
                <v-flex sm2 md2>
                  <v-text-field
                    type="date"
                    :value="computedEndDateFormattedMomentjs"
                    v-model="end_date"
                    v-bind:label="$t('end_date')"
                    v-validate="'required|date_format:yyyy-MM-dd|after:afterTarget,true'"
                    :error-messages="errors.collect('end_date')"
                    data-vv-name="end_date"
                    :data-vv-as="$t('end_date')"
                    :min="start_date"
                    dense>
                  </v-text-field>
                </v-flex>
                <v-flex sm5 md5>
                  <v-autocomplete
                    v-model="client"
                    :items="organizationWithPlanItems"
                    item-value='id'
                    item-text='name'
                    v-bind:label="$t('client')"
                    dense
                    :error-messages="errors.collect('client')"
                    data-vv-name="client"
                    :placeholder="$t('empty_message')"
                    :data-vv-as="$t('client')"
                    :no-data-text="$t('no_data_available')"
                    clearable
                  ></v-autocomplete>
                </v-flex>
              </v-layout>
            </v-container>
            <v-divider></v-divider>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-flex class="text-right">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-fab-transition>
                      <v-btn
                      color="gray"
                      @click="viewLABServiceReport()"
                      :disabled="errors.any() || isDisabled"
                      v-on="on">
                      {{ $t('view') }}
                      </v-btn>
                    </v-fab-transition>
                  </template>
                  <span>{{ $t('view_report') }}</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-fab-transition>
                      <v-btn
                      color="success"
                      @click="buildLABServiceReport()"
                      :disabled="errors.any() || isDisabled"
                      v-on="on">
                      {{ $t('generate') }}
                      </v-btn>
                    </v-fab-transition>
                  </template>
                  <span>{{ $t('generate_report') }}</span>
                </v-tooltip>
              </v-flex>
            </v-card-actions>
          </v-card>
      </v-tab-item>
            <v-tab-item>
        <v-card
            class="mx-auto text-center"
          >
            <v-card-text>
              <v-sheet color="rgba(0, 0, 0, 0)">
              </v-sheet>
            </v-card-text>
            <v-card-text>
              <div>{{ $t('transfer_services_report') }}</div>
            </v-card-text>
            <v-container grid-list-xs fluid>
              <v-layout row justify-space-around>
                <v-flex sm1 md1>
                  <v-subheader>{{ $t('from') }}:</v-subheader>
                </v-flex>
                <v-flex sm2 md2>
                  <v-text-field
                    type="date"
                    :value="computedStartDateFormattedMomentjs"
                    v-model="start_date"
                    v-bind:label="$t('start_date')"
                    v-validate="'required'"
                    :error-messages="errors.collect('start_date')"
                    data-vv-name="start_date"
                    :data-vv-as="$t('start_date')"
                    :max="end_date"
                    ref="afterTarget"
                    dense>
                </v-text-field>
                </v-flex>
                  <v-flex sm1 md1>
                    <v-subheader>{{ $t('to') }}:</v-subheader>
                  </v-flex>
                <v-flex sm2 md2>
                  <v-text-field
                    type="date"
                    :value="computedEndDateFormattedMomentjs"
                    v-model="end_date"
                    v-bind:label="$t('end_date')"
                    v-validate="'required|date_format:yyyy-MM-dd|after:afterTarget,true'"
                    :error-messages="errors.collect('end_date')"
                    data-vv-name="end_date"
                    :data-vv-as="$t('end_date')"
                    :min="start_date"
                    dense>
                  </v-text-field>
                </v-flex>
                <v-flex sm5 md5>
                  <v-autocomplete
                    v-model="client"
                    :items="organizationWithPlanItems"
                    item-value='id'
                    item-text='name'
                    v-bind:label="$t('client')"
                    dense
                    :error-messages="errors.collect('client')"
                    data-vv-name="client"
                    :placeholder="$t('empty_message')"
                    :data-vv-as="$t('client')"
                    :no-data-text="$t('no_data_available')"
                    clearable
                  ></v-autocomplete>
                </v-flex>
              </v-layout>
            </v-container>
            <v-divider></v-divider>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-flex class="text-right">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-fab-transition>
                      <v-btn
                      color="gray"
                      @click="viewTransferServiceReport()"
                      :disabled="errors.any() || isDisabled"
                      v-on="on">
                      {{ $t('view') }}
                      </v-btn>
                    </v-fab-transition>
                  </template>
                  <span>{{ $t('view_report') }}</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-fab-transition>
                      <v-btn
                      color="success"
                      @click="buildTransferServiceReport()"
                      :disabled="errors.any() || isDisabled"
                      v-on="on">
                      {{ $t('generate') }}
                      </v-btn>
                    </v-fab-transition>
                  </template>
                  <span>{{ $t('generate_report') }}</span>
                </v-tooltip>
              </v-flex>
            </v-card-actions>
          </v-card>
      </v-tab-item>
     <v-tab-item>
        <v-card
            class="mx-auto text-center"
          >
            <v-card-text>
              <v-sheet color="rgba(0, 0, 0, 0)">
              </v-sheet>
            </v-card-text>
            <v-card-text>
              <div>{{ $t('hmd_services_report') }}</div>
            </v-card-text>
            <v-container grid-list-xs fluid>
              <v-layout row justify-space-around>
                <v-flex sm1 md1>
                  <v-subheader>{{ $t('from') }}:</v-subheader>
                </v-flex>
                <v-flex sm2 md2>
                  <v-text-field
                    type="date"
                    :value="computedStartDateFormattedMomentjs"
                    v-model="start_date"
                    v-bind:label="$t('start_date')"
                    v-validate="'required'"
                    :error-messages="errors.collect('start_date')"
                    data-vv-name="start_date"
                    :data-vv-as="$t('start_date')"
                    :max="end_date"
                    ref="afterTarget"
                    dense>
                </v-text-field>
                </v-flex>
                  <v-flex sm1 md1>
                    <v-subheader>{{ $t('to') }}:</v-subheader>
                  </v-flex>
                <v-flex sm2 md2>
                  <v-text-field
                    type="date"
                    :value="computedEndDateFormattedMomentjs"
                    v-model="end_date"
                    v-bind:label="$t('end_date')"
                    v-validate="'required|date_format:yyyy-MM-dd|after:afterTarget,true'"
                    :error-messages="errors.collect('end_date')"
                    data-vv-name="end_date"
                    :data-vv-as="$t('end_date')"
                    :min="start_date"
                    dense>
                  </v-text-field>
                </v-flex>
                <v-flex sm5 md5>
                  <v-autocomplete
                    v-model="client"
                    :items="organizationWithPlanItems"
                    item-value='id'
                    item-text='name'
                    v-bind:label="$t('client')"
                    dense
                    :error-messages="errors.collect('client')"
                    data-vv-name="client"
                    :placeholder="$t('empty_message')"
                    :data-vv-as="$t('client')"
                    :no-data-text="$t('no_data_available')"
                    clearable
                  ></v-autocomplete>
                </v-flex>
              </v-layout>
            </v-container>
            <v-divider></v-divider>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-flex class="text-right">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-fab-transition>
                      <v-btn
                      color="gray"
                      @click="viewHMDServiceReport()"
                      :disabled="errors.any() || isDisabled"
                      v-on="on">
                      {{ $t('view') }}
                      </v-btn>
                    </v-fab-transition>
                  </template>
                  <span>{{ $t('view_report') }}</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-fab-transition>
                      <v-btn
                      color="success"
                      @click="buildHMDServiceReport()"
                      :disabled="errors.any() || isDisabled"
                      v-on="on">
                      {{ $t('generate') }}
                      </v-btn>
                    </v-fab-transition>
                  </template>
                  <span>{{ $t('generate_report') }}</span>
                </v-tooltip>
              </v-flex>
            </v-card-actions>
          </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card
            class="mx-auto text-center"
          >
            <v-card-text>
              <v-sheet color="rgba(0, 0, 0, 0)">
              </v-sheet>
            </v-card-text>
            <v-card-text>
              <div>{{ $t('hhp_services_report') }}</div>
            </v-card-text>
            <v-container grid-list-xs fluid>
              <v-layout row justify-space-around>
                <v-flex sm1 md1>
                  <v-subheader>{{ $t('from') }}:</v-subheader>
                </v-flex>
                <v-flex sm2 md2>
                  <v-text-field
                    type="date"
                    :value="computedStartDateFormattedMomentjs"
                    v-model="start_date"
                    v-bind:label="$t('start_date')"
                    v-validate="'required'"
                    :error-messages="errors.collect('start_date')"
                    data-vv-name="start_date"
                    :data-vv-as="$t('start_date')"
                    :max="end_date"
                    ref="afterTarget"
                    dense>
                </v-text-field>
                </v-flex>
                  <v-flex sm1 md1>
                    <v-subheader>{{ $t('to') }}:</v-subheader>
                  </v-flex>
                <v-flex sm2 md2>
                  <v-text-field
                    type="date"
                    :value="computedEndDateFormattedMomentjs"
                    v-model="end_date"
                    v-bind:label="$t('end_date')"
                    v-validate="'required|date_format:yyyy-MM-dd|after:afterTarget,true'"
                    :error-messages="errors.collect('end_date')"
                    data-vv-name="end_date"
                    :data-vv-as="$t('end_date')"
                    :min="start_date"
                    dense>
                  </v-text-field>
                </v-flex>
                <v-flex sm5 md5>
                  <v-autocomplete
                    v-model="client"
                    :items="organizationWithPlanItems"
                    item-value='id'
                    item-text='name'
                    v-bind:label="$t('client')"
                    dense
                    :error-messages="errors.collect('client')"
                    data-vv-name="client"
                    :placeholder="$t('empty_message')"
                    :data-vv-as="$t('client')"
                    :no-data-text="$t('no_data_available')"
                    clearable
                  ></v-autocomplete>
                </v-flex>
              </v-layout>
            </v-container>
            <v-divider></v-divider>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-flex class="text-right">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-fab-transition>
                      <v-btn
                      color="gray"
                      @click="viewHHPServiceReport()"
                      :disabled="errors.any() || isDisabled"
                      v-on="on">
                      {{ $t('view') }}
                      </v-btn>
                    </v-fab-transition>
                  </template>
                  <span>{{ $t('view_report') }}</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-fab-transition>
                      <v-btn
                      color="success"
                      @click="buildHHPServiceReport()"
                      :disabled="errors.any() || isDisabled"
                      v-on="on">
                      {{ $t('generate') }}
                      </v-btn>
                    </v-fab-transition>
                  </template>
                  <span>{{ $t('generate_report') }}</span>
                </v-tooltip>
              </v-flex>
            </v-card-actions>
          </v-card>
      </v-tab-item>
    </v-tabs>
        <v-card>
          <v-card-title v-if="view_attention">
            <v-spacer></v-spacer>
            <v-text-field
              v-model="searchAttention"
              prepend-inner-icon="search"
              :label="$t('search')"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
          <v-container
          grid-list-xs
          fluid
          id="scroll-target"
          style="max-width:1500px"
          class="overflow-y-auto"
          v-if="view_attention">
            <v-data-table
              height="300"
              fixed-header
              :search="searchAttention"
              :headers="headers_attention"
              :items="attentionReport"
              :options.sync="paginationAttentions"
              item-key="id"
              hide-default-footer
              dense
              locale='es'
              :no-results-text="$t('no_matching_records')"
              :no-data-text="$t('no_data_available')"
              :loading="loading"
              :loading-text="$t('loading')"
            >
              <template v-slot:item.created="{ item }">
                {{ formatDatetime(item.created) }}
              </template>
              <template v-slot:item.end="{ item }">
                {{ formatDatetime(item.end) }}
              </template>
            </v-data-table>
          </v-container>
          <div class="text-xs-center pt-2 md4 lg4" v-if="attentionPages>1 && view_attention">
          <v-pagination
            @input="paginationAttentionChangeHandler"
            :value="paginationAttentions.page"
            :length="attentionPages"
            :total-visible="7"
            circle
            color="light-blue darken-1"
          ></v-pagination>
        </div>
        </v-card>
        <v-card>
          <v-card-title v-if="view_tmg">
            <v-spacer></v-spacer>
            <v-text-field
              v-model="searchTMG"
              prepend-inner-icon="search"
              :label="$t('search')"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
          <v-container
          grid-list-xs
          fluid
          id="scroll-target"
          style="max-width:1500px"
          class="overflow-y-auto"
          v-if="view_tmg">
            <v-data-table
              height="300"
              fixed-header
              :search="searchTMG"
              :headers="headers_TMGservices"
              :items="TMGServiceReport"
              :options.sync="paginationTMG"
              item-key="id"
              hide-default-footer
              dense
              locale='es'
              :no-results-text="$t('no_matching_records')"
              :no-data-text="$t('no_data_available')"
              :loading="loading"
              :loading-text="$t('loading')"
            >
              <template v-slot:item.scheduled_date_time="{ item }">
                {{ formatDatetime(item.scheduled_date_time) }}
              </template>
              <template v-slot:item.start="{ item }">
                {{ formatDatetime(item.start) }}
              </template>
              <template v-slot:item.call_start="{ item }">
                {{ formatDatetime(item.call_start) }}
              </template>
              <template v-slot:item.call_end="{ item }">
                {{ formatDatetime(item.call_end) }}
              </template>
              <template v-slot:item.end="{ item }">
                {{ formatDatetime(item.end) }}
              </template>
            </v-data-table>
          </v-container>
          <div class="text-xs-center pt-2 md4 lg4" v-if="TMGpages>1 && view_tmg">
          <v-pagination
            @input="paginationTMGChangeHandler"
            :value="paginationTMG.page"
            :length="TMGpages"
            :total-visible="7"
            circle
            color="light-blue darken-1"
          ></v-pagination>
        </div>
        </v-card>
        <v-card>
          <v-card-title v-if="view_hhc">
            <v-spacer></v-spacer>
            <v-text-field
              v-model="searchHHC"
              prepend-inner-icon="search"
              :label="$t('search')"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
        <v-container
          grid-list-xs
          fluid
          id="scroll-target"
          style="max-width:1500px"
          class="overflow-y-auto"
          v-if="view_hhc">
            <v-data-table
              height="300"
              fixed-header
              :headers="headers_HHCservices"
              :items="this.HHCServiceReport"
              item-key="id"
              :search="searchHHC"
              :options.sync="paginationHHC"
              hide-default-footer
              dense
              locale='es'
              :no-results-text="$t('no_matching_records')"
              :no-data-text="$t('no_data_available')"
              :loading="loading"
              :loading-text="$t('loading')"
            >
              <template v-slot:item.scheduled_date_time="{ item }">
                {{ formatDatetime(item.scheduled_date_time) }}
              </template>
              <template v-slot:item.start="{ item }">
                {{ formatDatetime(item.start) }}
              </template>
              <template v-slot:item.dispatch_datetime="{ item }">
                {{ formatDatetime(item.dispatch_datetime) }}
              </template>
              <template v-slot:item.base_departure_datetime="{ item }">
                {{ formatDatetime(item.base_departure_datetime) }}
              </template>
              <template v-slot:item.destination_arrival_datetime="{ item }">
                {{ formatDatetime(item.destination_arrival_datetime) }}
              </template>
              <template v-slot:item.destination_departure_datetime="{ item }">
                {{ formatDatetime(item.destination_departure_datetime) }}
              </template>
              <template v-slot:item.base_arrival_datetime="{ item }">
                {{ formatDatetime(item.base_arrival_datetime) }}
              </template>
              <template v-slot:item.end="{ item }">
                {{ formatDatetime(item.end) }}
              </template>
            </v-data-table>
          </v-container>
          <div class="text-xs-center pt-2 md4 lg4" v-if="HHCpages>1 && view_hhc">
          <v-pagination
            @input="paginationHHCChangeHandler"
            :value="paginationHHC.page"
            :length="HHCpages"
            :total-visible="7"
            circle
            color="light-blue darken-1"
          ></v-pagination>
        </div>
        </v-card>
        <v-card>
          <v-card-title v-if="view_lab">
            <v-spacer></v-spacer>
            <v-text-field
              v-model="searchLAB"
              prepend-inner-icon="search"
              :label="$t('search')"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
        <v-container
          grid-list-xs
          fluid
          id="scroll-target"
          style="max-width:1500px"
          class="overflow-y-auto"
          v-if="view_lab">
            <v-data-table
              height="300"
              fixed-header
              :headers="headers_LABservices"
              :items="this.LABServiceReport"
              :options.sync="paginationLAB"
              item-key="id"
              :search="searchLAB"
              hide-default-footer
              dense
              locale='es'
              :no-results-text="$t('no_matching_records')"
              :no-data-text="$t('no_data_available')"
              :loading="loading"
              :loading-text="$t('loading')"
            >
              <template v-slot:item.scheduled_date_time="{ item }">
                {{ formatDatetime(item.scheduled_date_time) }}
              </template>
              <template v-slot:item.start="{ item }">
                {{ formatDatetime(item.start) }}
              </template>
              <template v-slot:item.dispatch_datetime="{ item }">
                {{ formatDatetime(item.dispatch_datetime) }}
              </template>
              <template v-slot:item.base_departure_datetime="{ item }">
                {{ formatDatetime(item.base_departure_datetime) }}
              </template>
              <template v-slot:item.destination_arrival_datetime="{ item }">
                {{ formatDatetime(item.destination_arrival_datetime) }}
              </template>
              <template v-slot:item.destination_departure_datetime="{ item }">
                {{ formatDatetime(item.destination_departure_datetime) }}
              </template>
              <template v-slot:item.base_arrival_datetime="{ item }">
                {{ formatDatetime(item.base_arrival_datetime) }}
              </template>
              <template v-slot:item.end="{ item }">
                {{ formatDatetime(item.end) }}
              </template>
            </v-data-table>
          </v-container>
          <div class="text-xs-center pt-2 md4 lg4" v-if="LABpages>1 && view_lab">
          <v-pagination
            @input="paginationLABChangeHandler"
            :value="paginationLAB.page"
            :length="LABpages"
            :total-visible="7"
            circle
            color="light-blue darken-1"
          ></v-pagination>
        </div>
        </v-card>
        <v-card>
          <v-card-title v-if="view_transfer">
            <v-spacer></v-spacer>
            <v-text-field
              v-model="searchTLD"
              prepend-inner-icon="search"
              :label="$t('search')"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
          <v-container
          grid-list-xs
          fluid
          id="scroll-target"
          style="max-width:1500px"
          class="overflow-y-auto"
          v-if="view_transfer">
            <v-data-table
              height="300"
              fixed-header
              :headers="headers_transfersservices"
              :items="this.transferServiceReport"
              item-key="id"
              :search="searchTLD"
              :options.sync="paginationTLD"
              hide-default-footer
              dense
              locale='es'
              :no-results-text="$t('no_matching_records')"
              :no-data-text="$t('no_data_available')"
              :loading="loading"
              :loading-text="$t('loading')"
            >
              <template v-slot:item.scheduled_date_time="{ item }">
                {{ formatDatetime(item.scheduled_date_time) }}
              </template>
              <template v-slot:item.start="{ item }">
                {{ formatDatetime(item.start) }}
              </template>
              <template v-slot:item.dispatch_datetime="{ item }">
                {{ formatDatetime(item.dispatch_datetime) }}
              </template>
              <template v-slot:item.base_departure_datetime="{ item }">
                {{ formatDatetime(item.base_departure_datetime) }}
              </template>
              <template v-slot:item.origin_arrival_datetime="{ item }">
                {{ formatDatetime(item.origin_arrival_datetime) }}
              </template>
              <template v-slot:item.origin_departure_datetime="{ item }">
                {{ formatDatetime(item.origin_departure_datetime) }}
              </template>
              <template v-slot:item.destination_arrival_datetime="{ item }">
                {{ formatDatetime(item.destination_arrival_datetime) }}
              </template>
              <template v-slot:item.destination_departure_datetime="{ item }">
                {{ formatDatetime(item.destination_departure_datetime) }}
              </template>
              <template v-slot:item.origin_second_arrival_datetime="{ item }">
                {{ formatDatetime(item.origin_second_arrival_datetime) }}
              </template>
              <template v-slot:item.origin_second_departure_datetime="{ item }">
                {{ formatDatetime(item.origin_second_departure_datetime) }}
              </template>
              <template v-slot:item.base_arrival_datetime="{ item }">
                {{ formatDatetime(item.base_arrival_datetime) }}
              </template>
              <template v-slot:item.end="{ item }">
                {{ formatDatetime(item.end) }}
              </template>
            </v-data-table>
          </v-container>
          <div class="text-xs-center pt-2 md4 lg4" v-if="TLDpages>1 && view_transfer">
          <v-pagination
            @input="paginationTLDChangeHandler"
            :value="paginationTLD.page"
            :length="TLDpages"
            :total-visible="7"
            circle
            color="light-blue darken-1"
          ></v-pagination>
        </div>
        </v-card>
        <v-card>
          <v-card-title v-if="view_hmd">
            <v-spacer></v-spacer>
            <v-text-field
              v-model="searchHMD"
              prepend-inner-icon="search"
              :label="$t('search')"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
           <v-container
          grid-list-xs
          fluid
          id="scroll-target"
          style="max-width:1500px"
          class="overflow-y-auto"
          v-if="view_hmd">
            <v-data-table
              height="300"
              fixed-header
              :headers="headers_HMDservices"
              :items="this.HMDServiceReport"
              item-key="id"
              :search="searchHMD"
              :options.sync="paginationHMD"
              hide-default-footer
              dense
              locale='es'
              :no-results-text="$t('no_matching_records')"
              :no-data-text="$t('no_data_available')"
              :loading="loading"
              :loading-text="$t('loading')"
            >
              <template v-slot:item.scheduled_date_time="{ item }">
                {{ formatDatetime(item.scheduled_date_time) }}
              </template>
              <template v-slot:item.start="{ item }">
                {{ formatDatetime(item.start) }}
              </template>
              <template v-slot:item.dispatch_datetime="{ item }">
                {{ formatDatetime(item.dispatch_datetime) }}
              </template>
              <template v-slot:item.base_departure_datetime="{ item }">
                {{ formatDatetime(item.base_departure_datetime) }}
              </template>
              <template v-slot:item.destination_arrival_datetime="{ item }">
                {{ formatDatetime(item.destination_arrival_datetime) }}
              </template>
              <template v-slot:item.destination_departure_datetime="{ item }">
                {{ formatDatetime(item.destination_departure_datetime) }}
              </template>
              <template v-slot:item.base_arrival_datetime="{ item }">
                {{ formatDatetime(item.base_arrival_datetime) }}
              </template>
              <template v-slot:item.end="{ item }">
                {{ formatDatetime(item.end) }}
              </template>
            </v-data-table>
          </v-container>
          <div class="text-xs-center pt-2 md4 lg4" v-if="HMDpages>1 && view_hmd">
          <v-pagination
            @input="paginationHMDChangeHandler"
            :value="paginationHMD.page"
            :length="HMDpages"
            :total-visible="7"
            circle
            color="light-blue darken-1"
          ></v-pagination>
        </div>
        </v-card>
        <v-card>
          <v-card-title v-if="view_hhp">
            <v-spacer></v-spacer>
            <v-text-field
              v-model="searchHHP"
              prepend-inner-icon="search"
              :label="$t('search')"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
          <v-container
          grid-list-xs
          fluid
          id="scroll-target"
          style="max-width: 1500px; max-height: 600px"
          class="overflow-y-auto"
          v-if="view_hhp">
            <v-data-table
              height="300"
              fixed-header
              :headers="headers_HHPservices"
              :items="this.HHPServiceReport"
              item-key="id"
              :search="searchHHP"
              :options.sync="paginationHHP"
              hide-default-footer
              dense
              locale='es'
              :no-results-text="$t('no_matching_records')"
              :no-data-text="$t('no_data_available')"
              :loading="loading"
              :loading-text="$t('loading')"
            >
              <template v-slot:item.scheduled_date_time="{ item }">
                {{ formatDatetime(item.scheduled_date_time) }}
              </template>
              <template v-slot:item.start="{ item }">
                {{ formatDatetime(item.start) }}
              </template>
              <template v-slot:item.dispatch_datetime="{ item }">
                {{ formatDatetime(item.dispatch_datetime) }}
              </template>
              <template v-slot:item.base_departure_datetime="{ item }">
                {{ formatDatetime(item.base_departure_datetime) }}
              </template>
              <template v-slot:item.destination_arrival_datetime="{ item }">
                {{ formatDatetime(item.destination_arrival_datetime) }}
              </template>
              <template v-slot:item.destination_departure_datetime="{ item }">
                {{ formatDatetime(item.destination_departure_datetime) }}
              </template>
              <template v-slot:item.base_arrival_datetime="{ item }">
                {{ formatDatetime(item.base_arrival_datetime) }}
              </template>
              <template v-slot:item.end="{ item }">
                {{ formatDatetime(item.end) }}
              </template>
            </v-data-table>
          </v-container>
          <div class="text-xs-center pt-2 md4 lg4" v-if="HHPpages>1 && view_hhp">
          <v-pagination
            @input="paginationHHPChangeHandler"
            :value="paginationHHP.page"
            :length="HHPpages"
            :total-visible="7"
            circle
            color="light-blue darken-1"
          ></v-pagination>
        </div>
        </v-card>

        <v-dialog v-model="showProgressDialog" persistent max-width="300px">
          <v-card>
            <v-card-text>
              <br />
              <span>{{ $t('generating_report') }}</span>
              <br /> <br />
              <v-progress-linear
                indeterminate
                color="light-blue darken-1"
              ></v-progress-linear>
            </v-card-text>
          </v-card>
        </v-dialog>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import NavBar from '@/components/NavBar'
import moment from 'moment'
import axios from 'axios'
import { mapGetters } from 'vuex'

/*
  El componente `<Reports>` es el responsable ofrecer la generación
  de reportes de atenciones y servicios, filtrados por fecha y por cliente.

  Se puede acceder a este componente mediante el menú principal en `<NavBar>`.

  ---

  The `<Reports>` component is responsible for providing the generation
  of attention and service reports, filtered by date and by client.

  This component can be accessed through the main menu at `<NavBar>`.

  @author Ixhel Mejías, Adriana Tiso
*/

export default {
  components: {NavBar},
  data () {
    return {
      paginationAttentions: { totalItems: 0, rowsPerPage: 10, page: 1 },
      paginationTMG: { totalItems: 0, rowsPerPage: 10, page: 1 },
      paginationHHC: { totalItems: 0, rowsPerPage: 10, page: 1 },
      paginationLAB: { totalItems: 0, rowsPerPage: 10, page: 1 },
      paginationTLD: { totalItems: 0, rowsPerPage: 10, page: 1 },
      paginationHMD: { totalItems: 0, rowsPerPage: 10, page: 1 },
      paginationHHP: { totalItems: 0, rowsPerPage: 10, page: 1 },
      client: '',
      start_date: new Date(Date.UTC(new Date().getFullYear(), new Date().getMonth(),
        new Date().getDate() - 1, new Date().getHours(), new Date().getMinutes(),
        new Date().getSeconds())).toISOString().substr(0, 10),
      end_date: new Date(Date.UTC(new Date().getFullYear(), new Date().getMonth(),
        new Date().getDate(), new Date().getHours(), new Date().getMinutes(),
        new Date().getSeconds())).toISOString().substr(0, 10),
      view_attention: false,
      view_tmg: false,
      view_hhc: false,
      view_lab: false,
      view_transfer: false,
      view_hmd: false,
      view_hhp: false,
      search: '',
      searchAttention: '',
      searchHHC: '',
      searchHHP: '',
      searchHMD: '',
      searchLAB: '',
      searchTLD: '',
      searchTMG: '',
      attentionReport: [],
      TMGServiceReport: [],
      HHCServiceReport: [],
      transferServiceReport: [],
      HMDServiceReport: [],
      HHPServiceReport: [],
      LABServiceReport: [],
      titles: [
        {
          text: this.$t('reports'),
          disabled: true,
          href: '/#/reports'
        }
      ],
      headers_attention: [
        {text: this.$t('number'), value: 'id'},
        {text: this.$t('client'), value: 'clients'},
        {text: this.$t('sponsor'), value: 'sponsors'},
        {text: this.$t('attention_created'), value: 'created'},
        {text: this.$t('end'), value: 'end'},
        {text: this.$t('status'), value: 'status'},
        {text: this.$t('operator'), value: 'operator'},
        {text: this.$t('first_name'), value: 'first_name'},
        {text: this.$t('last_name'), value: 'last_name'},
        {text: this.$t('idnumber'), value: 'dni'},
        {text: this.$t('birthdate'), value: 'birthdate'},
        {text: this.$t('gender'), value: 'gender'},
        {text: this.$t('attention_phone'), value: 'affiliate_phonenumbers'},
        {text: this.$t('affiliate_phone'), value: 'attention_phonenumbers'},
        {text: this.$t('reason_for_care'), value: 'reason_for_care'},
        {text: this.$t('observations'), value: 'observations'},
        {text: this.$t('tmg_services'), value: 'tmgs'},
        {text: this.$t('hhc_services'), value: 'hhcs'},
        {text: this.$t('transfer_services'), value: 'transfers'},
        {text: this.$t('hmd_services'), value: 'hmds'},
        {text: this.$t('hhp_services'), value: 'hhps'},
        {text: this.$t('lab_services'), value: 'labs'}
      ],
      headers_TMGservices: [
        {text: this.$t('number'), value: 'id'},
        {text: this.$t('client'), value: 'client'},
        {text: this.$t('sponsor'), value: 'sponsor'},
        {text: this.$t('start'), value: 'start'},
        {text: this.$t('call_start'), value: 'call_start'},
        {text: this.$t('call_end'), value: 'call_end'},
        {text: this.$t('end'), value: 'end'},
        {text: this.$t('status'), value: 'status'},
        {text: this.$t('in_charge'), value: 'in_charge'},
        {text: this.$t('attendant'), value: 'attendant'},
        {text: this.$t('first_name'), value: 'first_name'},
        {text: this.$t('last_name'), value: 'last_name'},
        {text: this.$t('idnumber'), value: 'dni'},
        {text: this.$t('birthdate'), value: 'birthdate'},
        {text: this.$t('gender'), value: 'gender'},
        {text: this.$t('scheduled'), value: 'scheduled'},
        {text: this.$t('scheduled_date_time'), value: 'scheduled_date_time'},
        {text: this.$t('imputable'), value: 'imputable'},
        {text: this.$t('symptoms'), value: 'symptoms'},
        {text: this.$t('other_symptoms'), value: 'other_symptoms'},
        {text: this.$t('diagnoses'), value: 'diagnoses'},
        {text: this.$t('other_diagnoses'), value: 'other_diagnoses'},
        {text: this.$t('cancellation_reason'), value: 'cancellation_reason'},
        {text: this.$t('closing_reason'), value: 'closing_reason'},
        {text: this.$t('comments'), value: 'comments'},
        {text: this.$t('request_medicine'), value: 'request_medicine'},
        {text: this.$t('request_medical_indication'), value: 'request_medical_indication'},
        {text: this.$t('request_external_service'), value: 'request_external_service'},
        {text: this.$t('medical_reference'), value: 'request_medical_specialist'},
        {text: this.$t('request_advice'), value: 'request_advice'},
        {text: this.$t('laboratory_exams'), value: 'request_lab_exam'}
      ],
      headers_HHCservices: [
        {text: this.$t('number'), value: 'id'},
        {text: this.$t('client'), value: 'client'},
        {text: this.$t('sponsor'), value: 'sponsor'},
        {text: this.$t('start'), value: 'start'},
        {text: this.$t('dispatch_datetime'), value: 'dispatch_datetime'},
        {text: this.$t('base_departure_datetime'), value: 'base_departure_datetime'},
        {text: this.$t('destination_arrival_datetime'), value: 'destination_arrival_datetime'},
        {text: this.$t('destination_departure_datetime'), value: 'destination_departure_datetime'},
        {text: this.$t('base_arrival_datetime'), value: 'base_arrival_datetime'},
        {text: this.$t('end'), value: 'end'},
        {text: this.$t('status'), value: 'status'},
        {text: this.$t('in_charge'), value: 'in_charge'},
        {text: this.$t('attendant'), value: 'attendant'},
        {text: this.$t('first_name'), value: 'first_name'},
        {text: this.$t('last_name'), value: 'last_name'},
        {text: this.$t('idnumber'), value: 'dni'},
        {text: this.$t('birthdate'), value: 'birthdate'},
        {text: this.$t('gender'), value: 'gender'},
        {text: this.$t('scheduled'), value: 'scheduled'},
        {text: this.$t('scheduled_date_time'), value: 'scheduled_date_time'},
        {text: this.$t('imputable'), value: 'imputable'},
        {text: this.$t('symptoms'), value: 'symptoms'},
        {text: this.$t('other_symptoms'), value: 'other_symptoms'},
        {text: this.$t('diagnoses'), value: 'diagnoses'},
        {text: this.$t('other_diagnoses'), value: 'other_diagnoses'},
        {text: this.$t('cancellation_reason'), value: 'cancellation_reason'},
        {text: this.$t('closing_reason'), value: 'closing_reason'},
        {text: this.$t('comments'), value: 'comments'},
        {text: this.$t('destination_address'), value: 'destination_address'},
        {text: this.$t('region'), value: 'destination_region'},
        {text: this.$t('crew'), value: 'crew'},
        {text: this.$t('transfer_reason'), value: 'transfer_reason'},
        {text: this.$t('request_medicine'), value: 'request_medicine'},
        {text: this.$t('request_external_service'), value: 'request_external_service'},
        {text: this.$t('medical_reference'), value: 'request_medical_specialist'},
        {text: this.$t('request_advice'), value: 'request_advice'},
        {text: this.$t('laboratory_exams'), value: 'request_lab_exam'},
        {text: this.$t('request_medical_indication'), value: 'request_medical_indication'},
        {text: this.$t('lab_examination'), value: 'lab_examination'},
        {text: this.$t('lab_tests'), value: 'lab_tests'}
      ],
      headers_LABservices: [
        {text: this.$t('number'), value: 'id'},
        {text: this.$t('client'), value: 'client'},
        {text: this.$t('sponsor'), value: 'sponsor'},
        {text: this.$t('start'), value: 'start'},
        {text: this.$t('dispatch_datetime'), value: 'dispatch_datetime'},
        {text: this.$t('base_departure_datetime'), value: 'base_departure_datetime'},
        {text: this.$t('destination_arrival_datetime'), value: 'destination_arrival_datetime'},
        {text: this.$t('destination_departure_datetime'), value: 'destination_departure_datetime'},
        {text: this.$t('base_arrival_datetime'), value: 'base_arrival_datetime'},
        {text: this.$t('end'), value: 'end'},
        {text: this.$t('status'), value: 'status'},
        {text: this.$t('in_charge'), value: 'in_charge'},
        {text: this.$t('attendant'), value: 'attendant'},
        {text: this.$t('first_name'), value: 'first_name'},
        {text: this.$t('last_name'), value: 'last_name'},
        {text: this.$t('idnumber'), value: 'dni'},
        {text: this.$t('birthdate'), value: 'birthdate'},
        {text: this.$t('gender'), value: 'gender'},
        {text: this.$t('scheduled'), value: 'scheduled'},
        {text: this.$t('scheduled_date_time'), value: 'scheduled_date_time'},
        {text: this.$t('imputable'), value: 'imputable'},
        {text: this.$t('symptoms'), value: 'symptoms'},
        {text: this.$t('other_symptoms'), value: 'other_symptoms'},
        {text: this.$t('diagnoses'), value: 'diagnoses'},
        {text: this.$t('other_diagnoses'), value: 'other_diagnoses'},
        {text: this.$t('cancellation_reason'), value: 'cancellation_reason'},
        {text: this.$t('closing_reason'), value: 'closing_reason'},
        {text: this.$t('comments'), value: 'comments'},
        {text: this.$t('destination_address'), value: 'destination_address'},
        {text: this.$t('region'), value: 'destination_region'},
        {text: this.$t('crew'), value: 'crew'},
        {text: this.$t('transfer_reason'), value: 'transfer_reason'},
        {text: this.$t('lab_tests'), value: 'lab_tests'}
      ],
      headers_transfersservices: [
        {text: this.$t('number'), value: 'id'},
        {text: this.$t('client'), value: 'client'},
        {text: this.$t('sponsor'), value: 'sponsor'},
        {text: this.$t('start'), value: 'start'},
        {text: this.$t('dispatch_datetime'), value: 'dispatch_datetime'},
        {text: this.$t('base_departure_datetime'), value: 'base_departure_datetime'},
        {text: this.$t('origin_arrival_datetime'), value: 'origin_arrival_datetime'},
        {text: this.$t('origin_departure_datetime'), value: 'origin_departure_datetime'},
        {text: this.$t('destination_arrival_datetime'), value: 'destination_arrival_datetime'},
        {text: this.$t('destination_departure_datetime'), value: 'destination_departure_datetime'},
        {text: this.$t('origin_second_arrival_datetime'), value: 'origin_second_arrival_datetime'},
        {text: this.$t('origin_second_departure_datetime'), value: 'origin_second_departure_datetime'},
        {text: this.$t('end'), value: 'end'},
        {text: this.$t('status'), value: 'status'},
        {text: this.$t('in_charge'), value: 'in_charge'},
        {text: this.$t('attendant'), value: 'attendant'},
        {text: this.$t('first_name'), value: 'first_name'},
        {text: this.$t('last_name'), value: 'last_name'},
        {text: this.$t('idnumber'), value: 'dni'},
        {text: this.$t('birthdate'), value: 'birthdate'},
        {text: this.$t('gender'), value: 'gender'},
        {text: this.$t('scheduled'), value: 'scheduled'},
        {text: this.$t('scheduled_date_time'), value: 'scheduled_date_time'},
        {text: this.$t('imputable'), value: 'imputable'},
        {text: this.$t('symptoms'), value: 'symptoms'},
        {text: this.$t('other_symptoms'), value: 'other_symptoms'},
        {text: this.$t('diagnoses'), value: 'diagnoses'},
        {text: this.$t('other_diagnoses'), value: 'other_diagnoses'},
        {text: this.$t('cancellation_reason'), value: 'cancellation_reason'},
        {text: this.$t('closing_reason'), value: 'closing_reason'},
        {text: this.$t('comments'), value: 'comments'},
        {text: this.$t('origin_address'), value: 'origin_address'},
        {text: this.$t('origin_region'), value: 'origin_region'},
        {text: this.$t('destination_address'), value: 'destination_address'},
        {text: this.$t('destination_region'), value: 'destination_region'},
        {text: this.$t('crew'), value: 'crew'},
        {text: this.$t('base_arrival_datetime'), value: 'base_arrival_datetime'},
        {text: this.$t('transfer_reason'), value: 'transfer_reason'},
        {text: this.$t('emergency'), value: 'emergency'},
        {text: this.$t('simple_trip'), value: 'simple_trip'},
        {text: this.$t('interinstitutional'), value: 'interinstitutional'},
        {text: this.$t('interstate'), value: 'interstate'},
        {text: this.$t('icu'), value: 'icu'},
        {text: this.$t('covered'), value: 'covered'}
      ],
      headers_HMDservices: [
        {text: this.$t('number'), value: 'id'},
        {text: this.$t('client'), value: 'client'},
        {text: this.$t('sponsor'), value: 'sponsor'},
        {text: this.$t('start'), value: 'start'},
        {text: this.$t('dispatch_datetime'), value: 'dispatch_datetime'},
        {text: this.$t('base_departure_datetime'), value: 'base_departure_datetime'},
        {text: this.$t('destination_arrival_datetime'), value: 'destination_arrival_datetime'},
        {text: this.$t('destination_departure_datetime'), value: 'destination_departure_datetime'},
        {text: this.$t('base_arrival_datetime'), value: 'base_arrival_datetime'},
        {text: this.$t('end'), value: 'end'},
        {text: this.$t('status'), value: 'status'},
        {text: this.$t('in_charge'), value: 'in_charge'},
        {text: this.$t('attendant'), value: 'attendant'},
        {text: this.$t('first_name'), value: 'first_name'},
        {text: this.$t('last_name'), value: 'last_name'},
        {text: this.$t('idnumber'), value: 'dni'},
        {text: this.$t('birthdate'), value: 'birthdate'},
        {text: this.$t('gender'), value: 'gender'},
        {text: this.$t('scheduled'), value: 'scheduled'},
        {text: this.$t('scheduled_date_time'), value: 'scheduled_date_time'},
        {text: this.$t('imputable'), value: 'imputable'},
        {text: this.$t('symptoms'), value: 'symptoms'},
        {text: this.$t('other_symptoms'), value: 'other_symptoms'},
        {text: this.$t('diagnoses'), value: 'diagnoses'},
        {text: this.$t('other_diagnoses'), value: 'other_diagnoses'},
        {text: this.$t('cancellation_reason'), value: 'cancellation_reason'},
        {text: this.$t('closing_reason'), value: 'closing_reason'},
        {text: this.$t('comments'), value: 'comments'},
        {text: this.$t('destination_address'), value: 'destination_address'},
        {text: this.$t('region'), value: 'destination_region'},
        {text: this.$t('crew'), value: 'crew'},
        {text: this.$t('transfer_reason'), value: 'transfer_reason'},
        {text: this.$t('delivery_note'), value: 'delivery_note'},
        {text: this.$t('critical_inventory'), value: 'critical_inventory'},
        {text: this.$t('acute_inventory'), value: 'acute_inventory'},
        {text: this.$t('medical_equipment'), value: 'medical_equipment'},
        {text: this.$t('lab_examination'), value: 'lab_examination'},
        {text: this.$t('from_private_practitioner'), value: 'from_private_practitioner'},
        {text: this.$t('service_request_source'), value: 'source'}
      ],
      headers_HHPservices: [
        {text: this.$t('number'), value: 'id'},
        {text: this.$t('client'), value: 'client'},
        {text: this.$t('sponsor'), value: 'sponsor'},
        {text: this.$t('start'), value: 'start'},
        {text: this.$t('dispatch_datetime'), value: 'dispatch_datetime'},
        {text: this.$t('base_departure_datetime'), value: 'base_departure_datetime'},
        {text: this.$t('destination_arrival_datetime'), value: 'destination_arrival_datetime'},
        {text: this.$t('destination_departure_datetime'), value: 'destination_departure_datetime'},
        {text: this.$t('base_arrival_datetime'), value: 'base_arrival_datetime'},
        {text: this.$t('end'), value: 'end'},
        {text: this.$t('status'), value: 'status'},
        {text: this.$t('in_charge'), value: 'in_charge'},
        {text: this.$t('attendant'), value: 'attendant'},
        {text: this.$t('first_name'), value: 'first_name'},
        {text: this.$t('last_name'), value: 'last_name'},
        {text: this.$t('idnumber'), value: 'dni'},
        {text: this.$t('birthdate'), value: 'birthdate'},
        {text: this.$t('gender'), value: 'gender'},
        {text: this.$t('scheduled'), value: 'scheduled'},
        {text: this.$t('scheduled_date_time'), value: 'scheduled_date_time'},
        {text: this.$t('imputable'), value: 'imputable'},
        {text: this.$t('symptoms'), value: 'symptoms'},
        {text: this.$t('other_symptoms'), value: 'other_symptoms'},
        {text: this.$t('diagnoses'), value: 'diagnoses'},
        {text: this.$t('other_diagnoses'), value: 'other_diagnoses'},
        {text: this.$t('cancellation_reason'), value: 'cancellation_reason'},
        {text: this.$t('closing_reason'), value: 'closing_reason'},
        {text: this.$t('comments'), value: 'comments'},
        {text: this.$t('destination_address'), value: 'destination_address'},
        {text: this.$t('region'), value: 'destination_region'},
        {text: this.$t('crew'), value: 'crew'},
        {text: this.$t('transfer_reason'), value: 'transfer_reason'},
        {text: this.$t('service_request_source'), value: 'source'}
      ],
      loading: false,
      showProgressDialog: false,
      snackbar: false,
      text: '',
      timeout: 6000,
      color: ''
    }
  },
  computed: {
    ...mapGetters([
      'organizationWithPlanItems'
    ]),
    getClient () {
      for (var i = 0; i < this.organizationWithPlanItems.length; i++) {
        if (this.client === this.organizationWithPlanItems[i].id) {
          return this.organizationWithPlanItems[i].name
        } else if (this.client === '') {
          return ''
        }
      }
    },
    computedStartDateFormattedMomentjs () {
      moment.locale(this.$i18n.locale)
      return this.start_date ? moment(this.start_date).format('MMMM Do YYYY') : ''
    },
    computedEndDateFormattedMomentjs () {
      moment.locale(this.$i18n.locale)
      return this.end_date ? moment(this.end_date).format('MMMM Do YYYY') : ''
    },
    isDisabled () {
      return !this.start_date || !this.end_date || moment(this.start_date).isAfter(this.end_date)
    },
    attentionPages () {
      if (
        this.paginationAttentions.rowsPerPage == null ||
        this.paginationAttentions.totalItems == null
      ) {
        return 0
      }

      return Math.ceil(
        this.paginationAttentions.totalItems / this.paginationAttentions.rowsPerPage
      )
    },
    TMGpages () {
      if (
        this.paginationTMG.rowsPerPage == null ||
        this.paginationTMG.totalItems == null
      ) {
        return 0
      }

      return Math.ceil(
        this.paginationTMG.totalItems / this.paginationTMG.rowsPerPage
      )
    },
    HHCpages () {
      if (
        this.paginationHHC.rowsPerPage == null ||
        this.paginationHHC.totalItems == null
      ) {
        return 0
      }

      return Math.ceil(
        this.paginationHHC.totalItems / this.paginationHHC.rowsPerPage
      )
    },
    LABpages () {
      if (
        this.paginationLAB.rowsPerPage == null ||
        this.paginationLAB.totalItems == null
      ) {
        return 0
      }

      return Math.ceil(
        this.paginationLAB.totalItems / this.paginationLAB.rowsPerPage
      )
    },
    TLDpages () {
      if (
        this.paginationTLD.rowsPerPage == null ||
        this.paginationTLD.totalItems == null
      ) {
        return 0
      }

      return Math.ceil(
        this.paginationTLD.totalItems / this.paginationTLD.rowsPerPage
      )
    },
    HMDpages () {
      if (
        this.paginationHMD.rowsPerPage == null ||
        this.paginationHMD.totalItems == null
      ) {
        return 0
      }

      return Math.ceil(
        this.paginationHMD.totalItems / this.paginationHMD.rowsPerPage
      )
    },
    HHPpages () {
      if (
        this.paginationHHP.rowsPerPage == null ||
        this.paginationHHP.totalItems == null
      ) {
        return 0
      }

      return Math.ceil(
        this.paginationHHP.totalItems / this.paginationHHP.rowsPerPage
      )
    }
  },
  methods: {
    reset: function () {
      this.client = ''
      this.start_date = new Date(Date.UTC(new Date().getFullYear(), new Date().getMonth(),
        new Date().getDate() - 1, new Date().getHours(), new Date().getMinutes(),
        new Date().getSeconds())).toISOString().substr(0, 10)
      this.end_date = new Date(Date.UTC(new Date().getFullYear(), new Date().getMonth(),
        new Date().getDate(), new Date().getHours(), new Date().getMinutes(),
        new Date().getSeconds())).toISOString().substr(0, 10)
      this.view_attention = false
      this.view_tmg = false
      this.view_hhc = false
      this.view_lab = false
      this.view_transfer = false
      this.view_hmd = false
      this.view_hhp = false
      this.attentionReport = []
      this.TMGServiceReport = []
      this.HHCServiceReport = []
      this.transferServiceReport = []
      this.HMDServiceReport = []
      this.HHPServiceReport = []
      this.LABServiceReport = []
      this.$nextTick(() => {
        this.$validator.reset()
      })
    },
    formatDate (datetime) {
      moment.locale(this.$i18n.locale)
      return datetime ? moment(datetime).format('DD-MM-YYYY') : ''
    },
    buildAttentionReport () {
      this.showProgressDialog = true
      axios.get(process.env.ROOT_API + 'api/v1/attentions-report?format=xlsx&end_after=' + this.start_date + '&end_before=' + this.end_date + '&client=' + this.getClient + '&limit=1000', {
        responseType: 'blob',
        headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
          'Content-Type': 'application/xlsx'
        }
      }).then((response) => {
        const link = document.createElement('a')
        let blob = new Blob([response.data], {type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'})
        link.style.display = 'none'
        link.href = URL.createObjectURL(blob)
        link.setAttribute('download', 'reporte_atenciones_' + this.formatDate(this.start_date) + '_' + this.formatDate(this.end_date) + '_' + this.getClient + '.xlsx')
        document.body.appendChild(link)
        link.click()
        this.showProgressDialog = false
      }).catch(() => {
        this.showProgressDialog = false
        this.text = this.$t('error_report_not_generated')
        this.color = 'error'
        this.timeout = 6000
        this.snackbar = true
      })
    },
    viewAttentionReport () {
      this.view_attention = true
      this.loading = true
      this.getAttentionData()
    },
    buildTMGServiceReport () {
      this.showProgressDialog = true
      axios.get(process.env.ROOT_API + 'api/v1/TMGs-report?format=xlsx&end_after=' + this.start_date + '&end_before=' + this.end_date + '&client=' + this.getClient + '&limit=1000', {
        responseType: 'blob',
        headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
          'Content-Type': 'application/xlsx'
        }
      }).then((response) => {
        const link = document.createElement('a')
        let blob = new Blob([response.data], {type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'})
        link.style.display = 'none'
        link.href = URL.createObjectURL(blob)
        link.setAttribute('download', 'reporte_servicios_omt_' + this.formatDate(this.start_date) + '_' + this.formatDate(this.end_date) + '_' + this.getClient + '.xlsx')
        document.body.appendChild(link)
        link.click()
        this.showProgressDialog = false
      }).catch(() => {
        this.showProgressDialog = false
        this.text = this.$t('error_report_not_generated')
        this.color = 'error'
        this.timeout = 6000
        this.snackbar = true
      })
    },
    viewTMGServiceReport () {
      this.view_tmg = true
      this.loading = true
      this.getTMGData()
    },
    buildHHCServiceReport () {
      this.showProgressDialog = true
      axios.get(process.env.ROOT_API + 'api/v1/HHCs-report?format=xlsx&end_after=' + this.start_date + '&end_before=' + this.end_date + '&client=' + this.getClient + '&limit=1000', {
        responseType: 'blob',
        headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
          'Content-Type': 'application/xlsx'
        }
      }).then((response) => {
        const link = document.createElement('a')
        let blob = new Blob([response.data], {type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'})
        link.style.display = 'none'
        link.href = URL.createObjectURL(blob)
        link.setAttribute('download', 'reporte_servicios_amd_' + this.formatDate(this.start_date) + '_' + this.formatDate(this.end_date) + '_' + this.getClient + '.xlsx')
        document.body.appendChild(link)
        link.click()
        this.showProgressDialog = false
      }).catch(() => {
        this.showProgressDialog = false
        this.text = this.$t('error_report_not_generated')
        this.color = 'error'
        this.timeout = 6000
        this.snackbar = true
      })
    },
    viewHHCServiceReport () {
      this.view_hhc = true
      this.loading = true
      this.getHHCData()
    },
    buildTransferServiceReport () {
      this.showProgressDialog = true
      axios.get(process.env.ROOT_API + 'api/v1/transfers-report?format=xlsx&end_after=' + this.start_date + '&end_before=' + this.end_date + '&client=' + this.getClient + '&limit=1000', {
        responseType: 'blob',
        headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
          'Content-Type': 'application/xlsx'
        }
      }).then((response) => {
        const link = document.createElement('a')
        let blob = new Blob([response.data], {type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'})
        link.style.display = 'none'
        link.href = URL.createObjectURL(blob)
        link.setAttribute('download', 'reporte_servicios_traslado_' + this.formatDate(this.start_date) + '_' + this.formatDate(this.end_date) + '_' + this.getClient + '.xlsx')
        document.body.appendChild(link)
        link.click()
        this.showProgressDialog = false
      }).catch(() => {
        this.showProgressDialog = false
        this.text = this.$t('error_report_not_generated')
        this.color = 'error'
        this.timeout = 6000
        this.snackbar = true
      })
    },
    viewTransferServiceReport () {
      this.view_transfer = true
      this.loading = true
      this.getTLDData()
    },
    buildHMDServiceReport () {
      this.showProgressDialog = true
      axios.get(process.env.ROOT_API + 'api/v1/HMDs-report?format=xlsx&end_after=' + this.start_date + '&end_before=' + this.end_date + '&client=' + this.getClient + '&limit=1000', {
        responseType: 'blob',
        headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
          'Content-Type': 'application/xlsx'
        }
      }).then((response) => {
        const link = document.createElement('a')
        let blob = new Blob([response.data], {type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'})
        link.style.display = 'none'
        link.href = URL.createObjectURL(blob)
        link.setAttribute('download', 'reporte_servicios_emd_' + this.formatDate(this.start_date) + '_' + this.formatDate(this.end_date) + '_' + this.getClient + '.xlsx')
        document.body.appendChild(link)
        link.click()
        this.showProgressDialog = false
      }).catch(() => {
        this.showProgressDialog = false
        this.text = this.$t('error_report_not_generated')
        this.color = 'error'
        this.timeout = 6000
        this.snackbar = true
      })
    },
    viewHMDServiceReport () {
      this.view_hmd = true
      this.loading = true
      this.getHMDData()
    },
    buildHHPServiceReport () {
      this.showProgressDialog = true
      axios.get(process.env.ROOT_API + 'api/v1/HHPs-report?format=xlsx&end_after=' + this.start_date + '&end_before=' + this.end_date + '&client=' + this.getClient + '&limit=1000', {
        responseType: 'blob',
        headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
          'Content-Type': 'application/xlsx'
        }
      }).then((response) => {
        const link = document.createElement('a')
        let blob = new Blob([response.data], {type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'})
        link.style.display = 'none'
        link.href = URL.createObjectURL(blob)
        link.setAttribute('download', 'reporte_servicios_phd_' + this.formatDate(this.start_date) + '_' + this.formatDate(this.end_date) + '_' + this.getClient + '.xlsx')
        document.body.appendChild(link)
        link.click()
        this.showProgressDialog = false
      }).catch(() => {
        this.showProgressDialog = false
        this.text = this.$t('error_report_not_generated')
        this.color = 'error'
        this.timeout = 6000
        this.snackbar = true
      })
    },
    viewHHPServiceReport () {
      this.view_hhp = true
      this.loading = true
      this.getHHPData()
    },
    buildLABServiceReport () {
      this.showProgressDialog = true
      axios.get(process.env.ROOT_API + 'api/v1/LABs-report?format=xlsx&end_after=' + this.start_date + '&end_before=' + this.end_date + '&client=' + this.getClient + '&limit=1000', {
        responseType: 'blob',
        headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
          'Content-Type': 'application/xlsx'
        }
      }).then((response) => {
        const link = document.createElement('a')
        let blob = new Blob([response.data], {type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'})
        link.style.display = 'none'
        link.href = URL.createObjectURL(blob)
        link.setAttribute('download', 'reporte_servicios_lab_' + this.formatDate(this.start_date) + '_' + this.formatDate(this.end_date) + '_' + this.getClient + '.xlsx')
        document.body.appendChild(link)
        link.click()
        this.showProgressDialog = false
      }).catch(() => {
        this.showProgressDialog = false
        this.text = this.$t('error_report_not_generated')
        this.color = 'error'
        this.timeout = 6000
        this.snackbar = true
      })
    },
    viewLABServiceReport () {
      this.view_lab = true
      this.loading = true
      this.getLABData()
    },
    formatDatetime (datetime) {
      moment.locale(this.$i18n.locale)
      return datetime ? moment(datetime).format('D/M/YYYY h:mm a') : ''
    },
    paginationAttentionChangeHandler (pageNumber) {
      this.paginationAttentions.page = pageNumber
      this.getAttentionData()
    },
    paginationTMGChangeHandler (pageNumber) {
      this.paginationTMG.page = pageNumber
      this.getTMGData()
    },
    paginationHHCChangeHandler (pageNumber) {
      this.paginationHHC.page = pageNumber
      this.getHHCData()
    },
    paginationLABChangeHandler (pageNumber) {
      this.paginationLAB.page = pageNumber
      this.getLABData()
    },
    paginationTLDChangeHandler (pageNumber) {
      this.paginationTLD.page = pageNumber
      this.getTLDData()
    },
    paginationHMDChangeHandler (pageNumber) {
      this.paginationHMD.page = pageNumber
      this.getHMDData()
    },
    paginationHHPChangeHandler (pageNumber) {
      this.paginationHHP.page = pageNumber
      this.getHHPData()
    },
    getAttentionData () {
      let url = `${process.env.ROOT_API}api/v1/attentions-report?format=json&end_after=${this.start_date}&end_before=${this.end_date}&client=${this.getClient}&limit=${this.paginationAttentions.rowsPerPage}&offset=${(this.paginationAttentions.page - 1) * this.paginationAttentions.rowsPerPage}`
      axios.get(url, {
        headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
          'Content-Type': 'application/json'
        }
      }).then(response => {
        this.paginationAttentions.totalItems = response.data.count
        this.setAttentionData(response.data.results)
      })
    },
    setAttentionData (results) {
      this.loading = false
      this.attentionReport = results
    },
    getTMGData () {
      let url = `${process.env.ROOT_API}api/v1/TMGs-report?format=json&end_after=${this.start_date}&end_before=${this.end_date}&client=${this.getClient}&limit=${this.paginationTMG.rowsPerPage}&offset=${(this.paginationTMG.page - 1) * this.paginationTMG.rowsPerPage}`
      axios.get(url, {
        headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
          'Content-Type': 'application/json'
        }
      }).then(response => {
        this.paginationTMG.totalItems = response.data.count
        this.setTMGData(response.data.results)
      })
    },
    setTMGData (results) {
      this.loading = false
      this.TMGServiceReport = results
    },
    getHHCData () {
      let url = `${process.env.ROOT_API}api/v1/HHCs-report?format=json&end_after=${this.start_date}&end_before=${this.end_date}&client=${this.getClient}&limit=${this.paginationHHC.rowsPerPage}&offset=${(this.paginationHHC.page - 1) * this.paginationHHC.rowsPerPage}`
      axios.get(url, {
        headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
          'Content-Type': 'application/json'
        }
      }).then(response => {
        this.paginationHHC.totalItems = response.data.count
        this.setHHCData(response.data.results)
      })
    },
    setHHCData (results) {
      this.loading = false
      this.HHCServiceReport = results
    },
    getLABData () {
      let url = `${process.env.ROOT_API}api/v1/LABs-report?format=json&end_after=${this.start_date}&end_before=${this.end_date}&client=${this.getClient}&limit=${this.paginationLAB.rowsPerPage}&offset=${(this.paginationLAB.page - 1) * this.paginationLAB.rowsPerPage}`
      axios.get(url, {
        headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
          'Content-Type': 'application/json'
        }
      }).then(response => {
        this.paginationLAB.totalItems = response.data.count
        this.setLABData(response.data.results)
      })
    },
    setLABData (results) {
      this.loading = false
      this.LABServiceReport = results
    },
    getTLDData () {
      let url = `${process.env.ROOT_API}api/v1/transfers-report?format=json&end_after=${this.start_date}&end_before=${this.end_date}&client=${this.getClient}&limit=${this.paginationTLD.rowsPerPage}&offset=${(this.paginationTLD.page - 1) * this.paginationTLD.rowsPerPage}`
      axios.get(url, {
        headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
          'Content-Type': 'application/json'
        }
      }).then(response => {
        this.paginationTLD.totalItems = response.data.count
        this.setTLDData(response.data.results)
      })
    },
    setTLDData (results) {
      this.loading = false
      this.transferServiceReport = results
    },
    getHMDData () {
      let url = `${process.env.ROOT_API}api/v1/HMDs-report?format=json&end_after=${this.start_date}&end_before=${this.end_date}&client=${this.getClient}&limit=${this.paginationHMD.rowsPerPage}&offset=${(this.paginationHMD.page - 1) * this.paginationHMD.rowsPerPage}`
      axios.get(url, {
        headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
          'Content-Type': 'application/json'
        }
      }).then(response => {
        this.paginationHMD.totalItems = response.data.count
        this.setHMDData(response.data.results)
      })
    },
    setHMDData (results) {
      this.loading = false
      this.HMDServiceReport = results
    },
    getHHPData () {
      let url = `${process.env.ROOT_API}api/v1/HHPs-report?format=json&end_after=${this.start_date}&end_before=${this.end_date}&client=${this.getClient}&limit=${this.paginationHHP.rowsPerPage}&offset=${(this.paginationHHP.page - 1) * this.paginationHHP.rowsPerPage}`
      axios.get(url, {
        headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
          'Content-Type': 'application/json'
        }
      }).then(response => {
        this.paginationHHP.totalItems = response.data.count
        this.setHHPData(response.data.results)
      })
    },
    setHHPData (results) {
      this.loading = false
      this.HHPServiceReport = results
    }
  }
}
</script>

<style scoped>
.v-tab {
  justify-content: left;
}
</style>
