<template>
  <v-row justify="center">
    <v-dialog
      v-model="show"
      max-width="500px"
    >
      <v-card>
        <v-card-title class="headline"> {{ this.$t('about') }} </v-card-title>

        <v-card-text>
          <p class="text-left margin">
            Atención-1 es una aplicación web del Grupo Venemergencia que tiene como finalidad gestionar servicios de atención y emergencias médicas: Orientación Médica Telefónica (OMT), Atención Médica Domiciliaria (AMD), Traslados en Ambulancia, entre otros.
          </p>
          <p class="text-left margin">
            Atención-1 funciona utilizando:
          </p>
          <p class="text-left margin">
            <ul id="example-1">
              <li v-for="item in technologies" :key="item.id">
                {{ item.text }}
              </li>
            </ul>
          </p>
          <br />
          <p class="text-center"> <strong> Atención-1 v0.5 </strong>
            <br />
            <v-icon small> mdi-email </v-icon> <span> notificaciones@venedigital.com </span>
          </p>
        </v-card-text>
        <v-card-actions>
          <v-btn color="white" @click="show = false">{{ $t('close') }}</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
/*
  El componente `<About>` se utiliza para mostrar información importante sobre
  la aplicación `Atención-1`, como descripción, versión y tecnologías.

  ---

  The `<About>` component is used to display important information about the
  application `Atención-1`, such as description, version and technologies.

  @author Ixhel Mejías, Adriana Tiso
 */
export default {
  data () {
    return {
      /*
        The technologies used in the development of the application, to be
        listed in the dialog.
       */
      technologies: [
        { id: 1, text: 'Django v2.1.1' },
        { id: 2, text: 'Django REST Framework v3.10.3' },
        { id: 3, text: 'PostgreSQL v.11.2' },
        { id: 4, text: 'Vue v.2.5.2' },
        { id: 5, text: 'Node.js v.6.0.0' }
      ]
    }
  },
  computed: {
    /*
      The `show` computed property uses a getter and a setter to manage dialog
      visibility.
     */
    show: {
      get () {
        return this.visible
      },
      set (value) {
        if (!value) {
          /*
            When the dialog's close button is clicked, it triggers the `set`
            function which emits a `close` event to the parent component to
            close the dialog.
           */
          this.$emit('close')
        }
      }
    }
  },
  props: {
    /*
      Controls whether the dialog is visible or hidden.
     */
    visible: Boolean
  }
}
</script>

<style>

p.margin {
  margin-left: 1em;
}

</style>
