<template>
  <div>
    <div v-if="serviceDetails.length === 0">
      <v-progress-circular
        indeterminate
        color="light-blue darken-1"
      ></v-progress-circular>
    </div>
    <div v-else>
      <v-snackbar
          v-model="snackbar"
          :color="color"
          :timeout="timeout"
          :top=true
        >
          {{ text }}
          <v-btn
            color="white"
            text
            @click="snackbar = false"
          >
            {{ $t('close') }}
          </v-btn>
        </v-snackbar>
    <v-row dense>
      <v-col cols=12>
          <v-card color="basil" v-if="serviceDetails.service_type.id===1">
           <v-expansion-panels accordion v-model="panel" multiple>
            <v-expansion-panel
              v-for="hhcItem in hhcTabs"
                :key="hhcItem.id"
            >
              <v-expansion-panel-header>
                <v-col cols="12" xs="3" sm="3" md="3" v-if="hhcItem.id !== 0">
                  <span> <b>{{ hhcItem.title }}</b> </span>
                </v-col>
                <v-col
                  cols="12" xs="9" sm="9" md="9"
                  class="text--secondary"
                >
                  <v-fade-transition leave-absolute>
                    <v-row
                      v-if="hhcItem.id===0"
                      no-gutters
                      style="width: 100%">
                      <v-col cols="12" sm="3" md="3" v-if="permissions_service_creation  && (attentionDetails.status !== 'Cerrada') && (attentionDetails.services_hhp_attention.length === 0)">
                        <NewService :activatorType="4" />
                      </v-col>
                      <v-col cols="12" sm="3" md="3" v-if="permissions_service_closure">
                        <v-tooltip bottom :disabled="!hhcCloseServiceButtonIsDisabled">
                          <template v-slot:activator="{ on }">
                            <div v-on="on">
                              <v-fab-transition>
                                <v-btn
                                  style="z-index: 0"
                                  :disabled="hhcCloseServiceButtonIsDisabled"
                                  class="ma-2"
                                  color="warning"
                                  small
                                  v-if="permissions_service_closure"
                                  @click.stop="closeService"
                                >
                                  <span class="d-none d-lg-flex">{{ $t('close_service') }}</span>
                                  <span class="d-flex d-lg-none">{{ $t('close') }}</span>
                                </v-btn>
                              </v-fab-transition>
                            </div>
                          </template>
                          <span v-if="serviceDetails.status === 'En progreso'">
                            {{ $t('in_progress_close_message') }}
                            <br />
                            {{ hhcCloseMessage }}
                          </span>
                          <span v-else-if="serviceDetails.status === 'Cerrado'">
                            {{ $t('service_closed') }}
                          </span>
                          <span v-else>{{ hhcCloseMessage }}</span>
                        </v-tooltip>
                      </v-col>
                      <v-col cols="12" sm="3" md="3"
                        v-if="permissions_service_cancellation"
                      >
                        <v-btn
                          style="z-index: 0"
                          :disabled="serviceDetails.status === 'Completado' || serviceDetails.status === 'Cancelado' || serviceDetails.status === 'Cerrado'"
                          class="ma-2"
                          color="error"
                          small
                          v-if="permissions_service_cancellation"
                          @click.stop="cancelService"
                        >
                          <span class="d-none d-lg-flex">{{ $t('cancel_service') }}</span>
                          <span class="d-flex d-lg-none">{{ $t('cancel') }}</span>
                        </v-btn>
                      </v-col>
                      <v-col cols="12" sm="1" md="1">
                      </v-col>
                      <v-col cols="12" sm="1" md="1" v-if="permissions_service_printing">
                        <PrintService />
                      </v-col>
                      <v-col cols="12" sm="1" md="1"
                      >
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <v-fab-transition>
                          <v-btn
                          style="z-index: 0"
                          small
                          class="ma-2"
                          v-on="on"
                          v-if="email_permission"
                          :disabled="sendEmailValidation"
                          @click="sendEmail()"
                        >
                        <v-icon>mdi-email</v-icon>
                        </v-btn>
                          </v-fab-transition>
                        </template>
                        <span>{{ $t('send_email') }}</span>
                      </v-tooltip>
                      </v-col>
                    </v-row>
                    <v-row
                      v-if="hhcItem.id===1"
                      no-gutters
                      style="width: 100%"
                      > <v-col cols="12" xs="5" sm="5" md="5"></v-col>
                      <v-col cols="12" xs="6" sm="6" md="6"> <span style="font-size:12px">{{ $t('status') }}:</span> <v-chip small :color="getColor" text-color="white">
                        <span style="font-size:12px"> {{ serviceDetails.status }} </span>
                        </v-chip>
                      </v-col>
                      <v-col cols="12" xs="1" sm="1" md="1" v-if="serviceDetails.lab_examination === true">
                        <v-tooltip bottom>
                          <template v-slot:activator="{ on, attrs }">
                            <v-icon
                              color="info"
                              dark
                              v-bind="attrs"
                              v-on="on"
                            >mdi-flask-outline</v-icon>
                          </template>
                          <span>{{ $t('includes_laboratory_testing') }}</span>
                        </v-tooltip>
                      </v-col>
                    </v-row>
                    <v-row
                      v-if="hhcItem.id===2"
                      no-gutters
                      style="width: 100%"
                      > <v-col cols="12" xs="5" sm="5" md="5"></v-col>
                        <v-col cols="12" xs="7" sm="7" md="7" v-if="serviceDetails.crew === null || serviceDetails.destination_address === null">
                          <v-icon class="mr-2 blink" color="warning">mdi-alert</v-icon> <span style="font-size:12px">{{ $t('assign_crew_and_route') }}</span>
                        </v-col>
                        <v-col cols="12" xs="7" sm="7" md="7" v-else-if="serviceDetails.crew !== null"> {{ $t('unit') }}:
                          <span> {{ serviceDetails.crew.mobile_unit.codename }} </span>
                        </v-col>
                    </v-row>
                    <v-row
                      v-if="hhcItem.id===3"
                      no-gutters
                      style="width: 100%"
                    >
                      <v-col cols="12" xs="5" sm="5" md="5"></v-col>
                      <v-col cols="12" xs="7" sm="7" md="7" v-if="serviceDetails.diagnoses.length === 0  && (serviceDetails.other_diagnoses === null || serviceDetails.other_diagnoses === '')">
                        <v-icon class="mr-2 blink" color="warning">mdi-alert</v-icon> <span style="font-size:12px">{{ $t('add_diagnosis') }}</span>
                      </v-col>
                    </v-row>
                    <v-row
                      v-if="hhcItem.id===5"
                      no-gutters
                      style="width: 100%"
                      > <v-col cols="12" xs="5" sm="5" md="5"></v-col>
                        <v-col cols="12" xs="7" sm="7" md="7" v-if="hhcLabDocumentsCount === 0">
                          <v-icon class="mr-2 blink" color="warning">mdi-alert</v-icon> <span style="font-size:12px">{{ $t('attach_results') }}</span>
                        </v-col>
                    </v-row>
                  </v-fade-transition>
                </v-col>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-card flat color="basil">
                <v-card-text>
                  <div v-if="hhcItem.id===0">
                    <v-alert
                      dense
                      color="grey"
                      dark
                      v-if="gotCancelled"
                    >
                      {{ $t('service_cancelled_by') }} {{cancellationReasonAlert}}
                    </v-alert>
                    <ServiceWorkflowHHC />
                  </div>
                  <div v-else-if="hhcItem.id===1">
                    <General />
                  </div>
                  <div v-else-if="hhcItem.id===2">
                    <Crew />
                  </div>
                  <div v-else-if="hhcItem.id===3">
                    <Medical />
                  </div>
                  <div v-else-if="hhcItem.id===4">
                    <Requests />
                  </div>
                  <div v-else-if="hhcItem.id===5">
                    <AttachedDocuments :activatorType="2" />
                  </div>
                </v-card-text>
              </v-card>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
          </v-card>

          <v-card v-else-if="serviceDetails.service_type.id===2">
           <v-expansion-panels accordion v-model="panel" multiple>
            <v-expansion-panel
              v-for="tmgItem in tmgTabs"
                :key="tmgItem.id"
            >
              <v-expansion-panel-header>
                <v-col cols="12" xs="3" sm="3" md="3" v-if="tmgItem.id !== 0">
                  <span> <b>{{ tmgItem.title }}</b></span>
                </v-col>
                <v-col
                  cols="12" xs="9" sm="9" md="9"
                  class="text--secondary"
                >
                  <v-fade-transition leave-absolute>
                    <v-row
                      v-if="tmgItem.id===0"
                      no-gutters
                      style="width: 100%">
                       <v-col cols="12" sm="3" md="3" v-if="permissions_service_creation && (attentionDetails.status !== 'Cerrada') && (attentionDetails.services_hhp_attention.length === 0)">
                        <NewService :activatorType="4" />
                      </v-col>
                      <v-col cols="12" sm="3" md="3" v-if="permissions_service_closure">
                      <v-tooltip bottom :disabled="!tmgCloseServiceButtonIsDisabled">
                        <template v-slot:activator="{ on }">
                          <div v-on="on">
                          <v-fab-transition>
                            <v-btn
                              style="z-index: 0"
                              :disabled="tmgCloseServiceButtonIsDisabled"
                              class="ma-2"
                              color="warning"
                              small
                              v-if="permissions_service_closure"
                              @click.stop="closeService"
                            >
                              <span class="d-none d-lg-flex">{{ $t('close_service') }}</span>
                              <span class="d-flex d-lg-none">{{ $t('close') }}</span>
                            </v-btn>
                          </v-fab-transition>
                          </div>
                        </template>
                        <span v-if="serviceDetails.status === 'En progreso'">
                          {{ $t('in_progress_close_message') }}
                          <br />
                          {{ $t('tmg_close_message') }}
                        </span>
                        <span v-else-if="serviceDetails.status === 'Cerrado'">
                          {{ $t('service_closed') }}
                        </span>
                        <span v-else>{{ $t('tmg_close_message') }}</span>
                      </v-tooltip>
                      </v-col>
                      <v-col cols="12" sm="3" md="3"
                        v-if="permissions_service_cancellation"
                      >
                        <v-btn
                          style="z-index: 0"
                          :disabled="serviceDetails.status === 'Completado' || serviceDetails.status === 'Cancelado' || serviceDetails.status === 'Cerrado'"
                          class="ma-2"
                          color="error"
                          small
                          v-if="permissions_service_cancellation"
                          @click.stop="cancelService"
                        >
                          <span class="d-none d-lg-flex">{{ $t('cancel_service') }}</span>
                          <span class="d-flex d-lg-none">{{ $t('cancel') }}</span>
                        </v-btn>
                      </v-col>
                      <v-col cols="12" sm="1" md="1">
                      </v-col>
                      <v-col cols="12" sm="1" md="1" v-if="permissions_service_printing">
                        <PrintService />
                      </v-col>
                      <v-col cols="12" sm="1" md="1"
                      >
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <v-fab-transition>
                          <v-btn
                          style="z-index: 0"
                          small
                          class="ma-2"
                          v-on="on"
                          v-if="email_permission"
                          :disabled="sendEmailValidation"
                          @click="sendEmail()"
                        >
                        <v-icon>mdi-email</v-icon>
                        </v-btn>
                          </v-fab-transition>
                        </template>
                        <span>{{ $t('send_email') }}</span>
                      </v-tooltip>
                      </v-col>
                    </v-row>
                    <v-row
                      v-if="tmgItem.id===1"
                      no-gutters
                      style="width: 100%"
                      > <v-col cols="12" xs="4" sm="4" md="4"></v-col>
                        <v-col cols="12" xs="7" sm="7" md="7"> <span style="font-size:12px">{{ $t('status') }}:</span> <v-chip small :color="getColor" text-color="white">
                          <span style="font-size:12px"> {{ serviceDetails.status }} </span>
                          </v-chip>
                        </v-col>
                        <v-col cols="12" xs="1" sm="1" md="1" v-if="serviceDetails.is_pediatric === true">
                        <v-tooltip bottom>
                          <template v-slot:activator="{ on, attrs }">
                            <v-icon
                              color="info"
                              dark
                              size=30
                              v-bind="attrs"
                              v-on="on"
                            >mdi-baby-face-outline</v-icon>
                          </template>
                          <span>{{ $t('pediatric_service') }}</span>
                        </v-tooltip>
                      </v-col>
                    </v-row>
                    <v-row
                      v-if="tmgItem.id===2"
                      no-gutters
                      style="width: 100%"
                    >
                      <v-col cols="12" xs="5" sm="5" md="5"></v-col>
                      <v-col cols="12" xs="7" sm="7" md="7" v-if="serviceDetails.diagnoses.length === 0  && (serviceDetails.other_diagnoses === null || serviceDetails.other_diagnoses === '')">
                        <v-icon class="mr-2 blink" color="warning">mdi-alert</v-icon> <span style="font-size:12px">{{ $t('add_diagnosis') }}</span>
                      </v-col>
                      <v-col cols="12" xs="8" sm="8" md="8" v-if="serviceDetails.calling_questionnaires && serviceDetails.calling_questionnaires.length !== 0">
                        <v-icon class="mr-2 blink" v-if="serviceDetails.calling_questionnaires[0].emergency_evaluation === true" color="error">mdi-alert</v-icon> <span v-if="serviceDetails.calling_questionnaires[0].emergency_evaluation === true" style="font-size:12px; color:error">{{ $t('urgent_evaluation') }}</span>
                      </v-col>
                    </v-row>
                  </v-fade-transition>
                </v-col>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-card flat color="basil">
                <v-card-text>
                  <div v-if="tmgItem.id===0">
                    <v-alert
                      dense
                      color="grey"
                      dark
                      v-if="gotCancelled"
                    >
                      {{ $t('service_cancelled_by') }} {{cancellationReasonAlert}}
                    </v-alert>
                    <v-alert
                      dense
                      type="warning"
                      border="left"
                      dark
                      v-if="hasHDM && serviceDetails.status === 'Completado' && serviceDetails.request_medicine !== ''"
                    >
                      <strong>{{ $t('review_closing_tmg') }}</strong>
                    </v-alert>
                    <ServiceWorkflowTMG />
                  </div>
                  <div v-else-if="tmgItem.id===1">
                    <General />
                  </div>
                  <div v-else-if="tmgItem.id===2">
                    <Medical />
                  </div>
                  <div v-else-if="tmgItem.id===3">
                    <Requests />
                  </div>
                </v-card-text>
              </v-card>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
          </v-card>

          <v-card v-else-if="serviceDetails.service_type.id===3">
            <v-expansion-panels accordion v-model="panel" multiple>
            <v-expansion-panel
              v-for="transferItem in transferTabs"
                :key="transferItem.id"
            >
              <v-expansion-panel-header>
                <v-col cols="12" xs="3" sm="3" md="3" v-if="transferItem.id !== 0">
                  <span> <b>{{ transferItem.title }}</b> </span>
                </v-col>
                <v-col
                  cols="12" xs="9" sm="9" md="9"
                  class="text--secondary"
                >
                  <v-fade-transition leave-absolute>
                    <v-row
                      v-if="transferItem.id===0"
                      no-gutters
                      style="width: 100%">
                      <v-col cols="12" sm="3" md="3" v-if="permissions_service_creation && (attentionDetails.status !== 'Cerrada') && (attentionDetails.services_hhp_attention.length === 0)">
                        <NewService :activatorType="4" />
                      </v-col>
                      <v-col cols="12" sm="3" md="3" v-if="permissions_service_closure">
                        <v-tooltip bottom :disabled="!transferCloseServiceButtonIsDisabled">
                          <template v-slot:activator="{ on }">
                            <div v-on="on">
                              <v-fab-transition>
                                <v-btn
                                  style="z-index: 0"
                                  :disabled="transferCloseServiceButtonIsDisabled"
                                  class="ma-2"
                                  color="warning"
                                  small
                                  v-if="permissions_service_closure"
                                  @click.stop="closeService"
                                >
                                  <span class="d-none d-lg-flex">{{ $t('close_service') }}</span>
                                  <span class="d-flex d-lg-none">{{ $t('close') }}</span>
                                </v-btn>
                              </v-fab-transition>
                            </div>
                          </template>
                          <span v-if="serviceDetails.status === 'En progreso'">
                            {{ $t('in_progress_close_message') }}
                            <br />
                            {{ $t('transfer_close_message') }}
                          </span>
                          <span v-else-if="serviceDetails.status === 'Cerrado'">
                            {{ $t('service_closed') }}
                          </span>
                          <span v-else>{{ $t('transfer_close_message') }}</span>
                        </v-tooltip>
                      </v-col>
                      <v-col cols="12" sm="3" md="3"
                        v-if="permissions_service_cancellation"
                      >
                        <v-btn
                          style="z-index: 0"
                          :disabled="serviceDetails.status === 'Completado' || serviceDetails.status === 'Cancelado' || serviceDetails.status === 'Cerrado'"
                          class="ma-2"
                          color="error"
                          small
                          v-if="permissions_service_cancellation"
                          @click.stop="cancelService"
                        >
                          <span class="d-none d-lg-flex">{{ $t('cancel_service') }}</span>
                          <span class="d-flex d-lg-none">{{ $t('cancel') }}</span>
                        </v-btn>
                      </v-col>
                      <v-col cols="12" sm="1" md="1">
                      </v-col>
                      <v-col cols="12" sm="1" md="1" v-if="permissions_service_printing">
                        <PrintService />
                      </v-col>
                      <v-col cols="12" sm="1" md="1"
                      >
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <v-fab-transition>
                          <v-btn
                          style="z-index: 0"
                          small
                          class="ma-2"
                          v-on="on"
                          v-if="email_permission"
                          :disabled="sendEmailValidation"
                          @click="sendEmail()"
                        >
                        <v-icon>mdi-email</v-icon>
                        </v-btn>
                          </v-fab-transition>
                        </template>
                        <span>{{ $t('send_email') }}</span>
                      </v-tooltip>
                      </v-col>
                    </v-row>
                    <v-row
                      v-if="transferItem.id===1"
                      no-gutters
                      style="width: 100%"
                      > <v-col cols="12" xs="5" sm="5" md="5"></v-col>
                        <v-col cols="12" xs="6" sm="6" md="6"> <span style="font-size:12px">{{ $t('status') }}:</span> <v-chip small :color="getColor" text-color="white">
                          <span style="font-size:12px"> {{ serviceDetails.status }} </span>
                          </v-chip>
                        </v-col>
                        <v-col cols="12" xs="1" sm="1" md="1" v-if="serviceDetails.emergency === true">
                          <v-tooltip bottom>
                            <template v-slot:activator="{ on, attrs }">
                              <v-icon
                                color="error"
                                dark
                                v-bind="attrs"
                                v-on="on"
                              >mdi-alarm-light</v-icon>
                            </template>
                            <span class="text-uppercase">{{ $t('emergency') }}</span>
                          </v-tooltip>
                        </v-col>
                    </v-row>
                    <v-row
                      v-if="transferItem.id===2"
                      no-gutters
                      style="width: 100%"
                      > <v-col cols="12" xs="5" sm="5" md="5"></v-col>
                        <v-col cols="12" xs="7" sm="7" md="7" v-if="serviceDetails.crew === null || serviceDetails.origin_address === null || serviceDetails.destination_address === null">
                          <v-icon class="mr-2 blink" color="warning">mdi-alert</v-icon> <span style="font-size:12px">{{ $t('assign_crew_and_route') }}</span>
                        </v-col>
                        <v-col cols="12" xs="7" sm="7" md="7" v-else-if="serviceDetails.crew !== null"> {{ $t('unit') }}:
                          <span> {{ serviceDetails.crew.mobile_unit.codename }} </span>
                        </v-col>
                    </v-row>
                    <v-row
                      v-if="transferItem.id===3"
                      no-gutters
                      style="width: 100%"
                    >
                      <v-col cols="12" xs="5" sm="5" md="5"></v-col>
                      <v-col cols="12" xs="7" sm="7" md="7" v-if="serviceDetails.diagnoses.length === 0  && (serviceDetails.other_diagnoses === null || serviceDetails.other_diagnoses === '')">
                        <v-icon class="mr-2 blink" color="warning">mdi-alert</v-icon> <span style="font-size:12px">{{ $t('add_diagnosis') }}</span>
                      </v-col>
                    </v-row>
                  </v-fade-transition>
                </v-col>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-card flat color="basil">
                <v-card-text>
                  <div v-if="transferItem.id===0">
                    <v-alert
                      dense
                      color="grey"
                      dark
                      v-if="gotCancelled"
                    >
                      {{ $t('service_cancelled_by') }} {{cancellationReasonAlert}}
                    </v-alert>
                    <ServiceWorkflowSimpleTripTransfer v-if="serviceDetails.simple_trip" />
                    <ServiceWorkflowRoundTripTransfer v-else-if="!serviceDetails.simple_trip" />
                  </div>
                  <div v-else-if="transferItem.id===1">
                    <General />
                  </div>
                  <div v-else-if="transferItem.id===2">
                    <Crew />
                  </div>
                  <div v-else-if="transferItem.id===3">
                    <Medical />
                  </div>
                </v-card-text>
              </v-card>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
          </v-card>

          <v-card color="basil" v-if="serviceDetails.service_type.id===4">
            <v-expansion-panels accordion v-model="panel" multiple>
            <v-expansion-panel
              v-for="hmdItem in hmdTabs"
                :key="hmdItem.id"
            >
              <v-expansion-panel-header>
                <v-col cols="12" xs="3" sm="3" md="3" v-if="hmdItem.id !== 0">
                  <span> <b>{{ hmdItem.title }}</b> </span>
                </v-col>
                <v-col
                  cols="12" xs="9" sm="9" md="9"
                  class="text--secondary"
                >
                  <v-fade-transition leave-absolute>
                    <v-row
                      v-if="hmdItem.id===0"
                      no-gutters
                      style="width: 100%">
                      <v-col cols="12" sm="3" md="3" v-if="permissions_service_creation && (attentionDetails.status !== 'Cerrada') && (attentionDetails.services_hhp_attention.length === 0)">
                        <NewService :activatorType="4" />
                      </v-col>
                      <v-col cols="12" sm="3" md="3" v-if="permissions_service_closure">
                        <v-tooltip bottom :disabled="!hmdCloseServiceButtonIsDisabled">
                          <template v-slot:activator="{ on }">
                            <div v-on="on">
                              <v-fab-transition>
                                <v-btn
                                  style="z-index: 0"
                                  :disabled="hmdCloseServiceButtonIsDisabled"
                                  class="ma-2"
                                  color="warning"
                                  small
                                  v-if="permissions_service_closure"
                                  @click.stop="closeService"
                                >
                                  <span class="d-none d-lg-flex">{{ $t('close_service') }}</span>
                                  <span class="d-flex d-lg-none">{{ $t('close') }}</span>
                                </v-btn>
                              </v-fab-transition>
                            </div>
                          </template>
                          <span v-if="serviceDetails.status === 'En progreso'">
                            {{ $t('in_progress_close_message') }}
                            <br />
                            {{ $t('hmd_close_message') }}
                          </span>
                          <span v-else-if="serviceDetails.status === 'Cerrado'">
                            {{ $t('service_closed') }}
                          </span>
                          <span v-else>{{ $t('hmd_close_message') }}</span>
                        </v-tooltip>
                      </v-col>
                      <v-col cols="12" sm="3" md="3"
                        v-if="permissions_service_cancellation"
                      >
                        <v-btn
                          style="z-index: 0"
                          :disabled="serviceDetails.status === 'Completado' || serviceDetails.status === 'Cancelado' || serviceDetails.status === 'Cerrado'"
                          class="ma-2"
                          color="error"
                          small
                          v-if="permissions_service_cancellation"
                          @click.stop="cancelService"
                        >
                          <span class="d-none d-lg-flex">{{ $t('cancel_service') }}</span>
                          <span class="d-flex d-lg-none">{{ $t('cancel') }}</span>
                        </v-btn>
                      </v-col>
                      <v-col cols="12" sm="1" md="1">
                      </v-col>
                      <v-col cols="12" sm="1" md="1" v-if="permissions_service_printing">
                        <PrintService />
                      </v-col>
                      <v-col cols="12" sm="1" md="1"
                      >
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <v-fab-transition>
                          <v-btn
                          style="z-index: 0"
                          small
                          class="ma-2"
                          v-on="on"
                          v-if="email_permission"
                          :disabled="sendEmailValidation"
                          @click="sendEmail()"
                        >
                        <v-icon>mdi-email</v-icon>
                        </v-btn>
                          </v-fab-transition>
                        </template>
                        <span>{{ $t('send_email') }}</span>
                      </v-tooltip>
                      </v-col>
                    </v-row>
                    <v-row
                      v-if="hmdItem.id===1"
                      no-gutters
                      style="width: 100%"
                      > <v-col cols="12" xs="5" sm="5" md="5"></v-col>
                        <v-col cols="12" xs="7" sm="7" md="7"> <span style="font-size:12px">{{ $t('status') }}:</span> <v-chip small :color="getColor" text-color="white">
                          <span style="font-size:12px"> {{ serviceDetails.status }} </span>
                          </v-chip>
                        </v-col>
                    </v-row>
                    <v-row
                      v-if="hmdItem.id===2"
                      no-gutters
                      style="width: 100%"
                      > <v-col cols="12" xs="5" sm="5" md="5"></v-col>
                        <v-col cols="12" xs="7" sm="7" md="7" v-if="serviceDetails.crew === null || serviceDetails.destination_address === null">
                          <v-icon class="mr-2 blink" color="warning">mdi-alert</v-icon> <span style="font-size:12px">{{ $t('assign_crew_and_route') }}</span>
                        </v-col>
                        <v-col cols="12" xs="7" sm="7" md="7" v-else-if="serviceDetails.crew !== null"> {{ $t('unit') }}:
                          <span> {{ serviceDetails.crew.mobile_unit.codename }} </span>
                        </v-col>
                    </v-row>
                    <v-row
                      v-if="hmdItem.id===3"
                      no-gutters
                      style="width: 100%"
                    >
                      <v-col cols="12" xs="5" sm="5" md="5"></v-col>
                      <v-col cols="12" xs="7" sm="7" md="7" v-if="serviceDetails.diagnoses.length === 0  && (serviceDetails.other_diagnoses === null || serviceDetails.other_diagnoses === '')">
                        <v-icon class="mr-2 blink" color="warning">mdi-alert</v-icon> <span style="font-size:12px">{{ $t('add_diagnosis') }}</span>
                      </v-col>
                    </v-row>
                    <v-row
                      v-if="hmdItem.id===4"
                      no-gutters
                      style="width: 100%"
                    >
                      <v-col cols="12" xs="5" sm="5" md="5"></v-col>
                      <v-col cols="12" xs="7" sm="7" md="7" v-if="serviceDetails.delivery_note !== null && serviceDetails.delivery_note.medicinal_products.length > 0 && hasEquipment">
                        <v-tooltip bottom>
                          <template v-slot:activator="{ on, attrs }">
                            <v-icon
                              color="info"
                              dark
                              v-bind="attrs"
                              v-on="on"
                            >mdi-stethoscope</v-icon>
                          </template>
                          <span>{{ $t('has_equipment') }}</span>
                        </v-tooltip>
                      </v-col>
                      <v-col cols="12" xs="7" sm="7" md="7" v-else-if="serviceDetails.delivery_note === null || serviceDetails.delivery_note.medicinal_products.length === 0">
                        <v-icon class="mr-2 blink" color="warning">mdi-alert</v-icon> <span style="font-size:12px">{{ $t('complete_delivery_note') }}</span>
                      </v-col>
                    </v-row>
                  </v-fade-transition>
                </v-col>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-card flat color="basil">
                <v-card-text>
                  <div v-if="hmdItem.id===0">
                    <v-alert
                      dense
                      color="grey"
                      dark
                      v-if="gotCancelled"
                    >
                      {{ $t('service_cancelled_by') }} {{cancellationReasonAlert}}
                    </v-alert>
                    <v-alert
                      dense
                      type="warning"
                      border="left"
                      dark
                      v-if="hasEquipment && !hasScheduledEquipmentServiceHMD"
                    >
                      <strong>{{ $t('has_equipment_alert') }}</strong>
                    </v-alert>
                    <ServiceWorkflowHMD />
                  </div>
                  <div v-else-if="hmdItem.id===1">
                    <General />
                  </div>
                  <div v-else-if="hmdItem.id===2">
                    <Crew />
                  </div>
                  <div v-else-if="hmdItem.id===3">
                    <Medical />
                  </div>
                  <div v-else-if="hmdItem.id===4">
                    <Medication />
                  </div>
                </v-card-text>
              </v-card>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
          </v-card>
          <v-card color="basil" v-if="serviceDetails.service_type.id===5">
            <v-expansion-panels accordion v-model="panel" multiple>
              <v-expansion-panel
                v-for="hhpItem in hhpTabs"
                  :key="hhpItem.id"
              >
                <v-expansion-panel-header>
                  <v-col cols="12" xs="3" sm="3" md="3" v-if="hhpItem.id !== 0">
                    <span> <b>{{ hhpItem.title }}</b> </span>
                  </v-col>
                  <v-col
                    cols="12" xs="9" sm="9" md="9"
                    class="text--secondary"
                  >
                    <v-fade-transition leave-absolute>
                      <v-row
                        v-if="hhpItem.id===0"
                        no-gutters
                        style="width: 100%">
                        <v-col cols="12" sm="3" md="3" v-if="permissions_service_creation && (attentionDetails.services_hhp_attention.length === 0)">
                          <NewService :activatorType="4" />
                        </v-col>
                        <v-col cols="12" sm="3" md="3" v-if="permissions_service_closure">
                          <v-tooltip bottom :disabled="!hhpCloseServiceButtonIsDisabled">
                            <template v-slot:activator="{ on }">
                              <div v-on="on">
                                <v-fab-transition>
                                  <v-btn
                                    style="z-index: 0"
                                    :disabled="hhpCloseServiceButtonIsDisabled"
                                    class="ma-2"
                                    color="warning"
                                    small
                                    v-if="permissions_service_closure"
                                    @click.stop="closeService"
                                  >
                                    <span class="d-none d-lg-flex">{{ $t('close_service') }}</span>
                                    <span class="d-flex d-lg-none">{{ $t('close') }}</span>
                                  </v-btn>
                                </v-fab-transition>
                              </div>
                            </template>
                            <span v-if="serviceDetails.status === 'En progreso'">
                              {{ $t('in_progress_close_message') }}
                              <br />
                              {{ $t('hhp_close_message') }}
                            </span>
                            <span v-else-if="serviceDetails.status === 'Cerrado'">
                              {{ $t('service_closed') }}
                            </span>
                            <span v-else>{{ $t('hhp_close_message') }}</span>
                          </v-tooltip>
                        </v-col>
                        <v-col cols="12" sm="3" md="3"
                          v-if="permissions_service_cancellation"
                        >
                          <v-btn
                            style="z-index: 0"
                            :disabled="serviceDetails.status === 'Completado' || serviceDetails.status === 'Cancelado' || serviceDetails.status === 'Cerrado'"
                            class="ma-2"
                            color="error"
                            small
                            v-if="permissions_service_cancellation"
                            @click.stop="cancelService"
                          >
                            <span class="d-none d-lg-flex">{{ $t('cancel_service') }}</span>
                            <span class="d-flex d-lg-none">{{ $t('cancel') }}</span>
                          </v-btn>
                        </v-col>
                        <v-col cols="12" sm="1" md="1">
                        </v-col>
                        <v-col cols="12" sm="1" md="1" v-if="permissions_service_creation">
                          <PrintService />
                        </v-col>
                        <v-col cols="12" sm="1" md="1"
                      >
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <v-fab-transition>
                          <v-btn
                          style="z-index: 0"
                          small
                          class="ma-2"
                          v-on="on"
                          v-if="email_permission"
                          :disabled="sendEmailValidation"
                          @click="sendEmail()"
                        >
                        <v-icon>mdi-email</v-icon>
                        </v-btn>
                          </v-fab-transition>
                        </template>
                        <span>{{ $t('send_email') }}</span>
                      </v-tooltip>
                      </v-col>
                      </v-row>
                      <v-row
                        v-if="hhpItem.id===1"
                        no-gutters
                        style="width: 100%"
                        > <v-col cols="12" xs="5" sm="5" md="5"></v-col>
                        <v-col cols="12" xs="7" sm="7" md="7"> {{ $t('status') }}: <v-chip small :color="getColor" text-color="white">
                          <span> {{ serviceDetails.status }} </span>
                          </v-chip>
                        </v-col>
                      </v-row>
                      <v-row
                        v-if="hhpItem.id===2"
                        no-gutters
                        style="width: 100%"
                        > <v-col cols="12" xs="5" sm="5" md="5"></v-col>
                          <v-col cols="12" xs="7" sm="7" md="7" v-if="serviceDetails.crew === null || serviceDetails.destination_address === null">
                            <v-icon class="mr-2 blink" color="warning">mdi-alert</v-icon> {{ $t('assign_crew_and_route') }}
                          </v-col>
                          <v-col cols="12" xs="7" sm="7" md="7" v-else-if="serviceDetails.crew !== null"> {{ $t('unit') }}:
                            <span> {{ serviceDetails.crew.mobile_unit.codename }} </span>
                          </v-col>
                      </v-row>
                      <v-row
                        v-if="hhpItem.id===3"
                        no-gutters
                        style="width: 100%"
                      >
                        <v-col cols="12" xs="5" sm="5" md="5"></v-col>
                        <v-col cols="12" xs="7" sm="7" md="7" v-if="serviceDetails.diagnoses.length === 0  && (serviceDetails.other_diagnoses === null || serviceDetails.other_diagnoses === '')">
                          <v-icon class="mr-2 blink" color="warning">mdi-alert</v-icon> {{ $t('add_diagnosis') }}
                        </v-col>
                      </v-row>
                    </v-fade-transition>
                  </v-col>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-card flat color="basil">
                  <v-card-text>
                    <div v-if="hhpItem.id===0">
                      <v-alert
                      dense
                      color="grey"
                      dark
                      v-if="gotCancelled"
                    >
                      {{ $t('service_cancelled_by') }} {{cancellationReasonAlert}}
                    </v-alert>
                      <ServiceWorkflowHHP />
                    </div>
                    <div v-else-if="hhpItem.id===1">
                      <General />
                    </div>
                    <div v-else-if="hhpItem.id===2">
                      <Crew />
                    </div>
                    <div v-else-if="hhpItem.id===3">
                      <Medical />
                    </div>
                    <!-- <div v-else-if="hhpItem.id===4">
                      <Medication />
                    </div> -->
                  </v-card-text>
                </v-card>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-card>
          <v-card color="basil" v-if="serviceDetails.service_type.id===6">
            <v-expansion-panels accordion v-model="panel" multiple>
              <v-expansion-panel
                v-for="labItem in labTabs"
                  :key="labItem.id"
              >
                <v-expansion-panel-header>
                  <v-col cols="12" xs="3" sm="3" md="3" v-if="labItem.id !== 0">
                    <span> <b>{{ labItem.title }}</b> </span>
                  </v-col>
                  <v-col
                    cols="12" xs="9" sm="9" md="9"
                    class="text--secondary"
                  >
                    <v-fade-transition leave-absolute>
                      <v-row
                        v-if="labItem.id===0"
                        no-gutters
                        style="width: 100%">
                        <v-col cols="12" sm="3" md="3" v-if="permissions_service_creation  && (attentionDetails.status !== 'Cerrada') && (attentionDetails.services_hhp_attention.length === 0)">
                          <NewService :activatorType="4" />
                        </v-col>
                        <v-col cols="12" sm="3" md="3" v-if="permissions_service_closure">
                          <v-tooltip bottom :disabled="!labCloseServiceButtonIsDisabled">
                            <template v-slot:activator="{ on }">
                              <div v-on="on">
                                <v-fab-transition>
                                  <v-btn
                                    style="z-index: 0"
                                    :disabled="labCloseServiceButtonIsDisabled"
                                    class="ma-2"
                                    color="warning"
                                    small
                                    v-if="permissions_service_closure"
                                    @click.stop="closeService"
                                  >
                                    <span class="d-none d-lg-flex">{{ $t('close_service') }}</span>
                                    <span class="d-flex d-lg-none">{{ $t('close') }}</span>
                                  </v-btn>
                                </v-fab-transition>
                              </div>
                            </template>
                            <span v-if="serviceDetails.status === 'En progreso'">
                              {{ $t('in_progress_close_message') }}
                              <br />
                              {{ $t('lab_close_message') }}
                            </span>
                            <span v-else-if="serviceDetails.status === 'Cerrado'">
                              {{ $t('service_closed') }}
                            </span>
                            <span v-else>{{ $t('lab_close_message') }}</span>
                          </v-tooltip>
                        </v-col>
                        <v-col cols="12" sm="3" md="3"
                          v-if="permissions_service_cancellation"
                        >
                          <v-btn
                            style="z-index: 0"
                            :disabled="serviceDetails.status === 'Completado' || serviceDetails.status === 'Cancelado' || serviceDetails.status === 'Cerrado'"
                            class="ma-2"
                            color="error"
                            small
                            v-if="permissions_service_cancellation"
                            @click.stop="cancelService"
                          >
                            <span class="d-none d-lg-flex">{{ $t('cancel_service') }}</span>
                            <span class="d-flex d-lg-none">{{ $t('cancel') }}</span>
                          </v-btn>
                        </v-col>
                        <v-col cols="12" sm="1" md="1">
                        </v-col>
                        <v-col cols="12" sm="1" md="1" v-if="permissions_service_printing">
                          <PrintService />
                        </v-col>
                        <v-col cols="12" sm="1" md="1"
                      >
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <v-fab-transition>
                          <v-btn
                          style="z-index: 0"
                          small
                          class="ma-2"
                          v-on="on"
                          v-if="email_permission"
                          :disabled="sendEmailValidation"
                          @click="sendEmail()"
                        >
                        <v-icon>mdi-email</v-icon>
                        </v-btn>
                          </v-fab-transition>
                        </template>
                        <span>{{ $t('send_email') }}</span>
                      </v-tooltip>
                      </v-col>
                      </v-row>
                      <v-row
                        v-if="labItem.id===1"
                        no-gutters
                        style="width: 100%"
                        > <v-col cols="12" xs="5" sm="5" md="5"></v-col>
                        <v-col cols="12" xs="6" sm="6" md="6"> <span style="font-size:12px">{{ $t('status') }}:</span> <v-chip small :color="getColor" text-color="white">
                          <span style="font-size:12px"> {{ serviceDetails.status }} </span>
                          </v-chip>
                        </v-col>
                      </v-row>
                      <v-row
                        v-if="labItem.id===2"
                        no-gutters
                        style="width: 100%"
                        > <v-col cols="12" xs="5" sm="5" md="5"></v-col>
                          <v-col cols="12" xs="7" sm="7" md="7" v-if="serviceDetails.crew === null || serviceDetails.destination_address === null">
                            <v-icon class="mr-2 blink" color="warning">mdi-alert</v-icon> <span style="font-size:12px">{{ $t('assign_crew_and_route') }}</span>
                          </v-col>
                          <v-col cols="12" xs="7" sm="7" md="7" v-else-if="serviceDetails.crew !== null"> {{ $t('unit') }}:
                            <span> {{ serviceDetails.crew.mobile_unit.codename }} </span>
                          </v-col>
                      </v-row>
                      <v-row
                        v-if="labItem.id===3"
                        no-gutters
                        style="width: 100%"
                        > <v-col cols="12" xs="5" sm="5" md="5"></v-col>
                          <v-col cols="12" xs="7" sm="7" md="7" v-if="labDocumentsCount === 0 ">
                            <v-icon class="mr-2 blink" color="warning">mdi-alert</v-icon> <span style="font-size:12px">{{ $t('attach_results') }}</span>
                          </v-col>
                      </v-row>
                    </v-fade-transition>
                  </v-col>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-card flat color="basil">
                    <v-card-text>
                      <div v-if="labItem.id===0">
                        <v-alert
                          dense
                          color="grey"
                          dark
                          v-if="gotCancelled"
                        >
                          {{ $t('service_cancelled_by') }} {{cancellationReasonAlert}}
                        </v-alert>
                        <ServiceWorkflowLAB />
                      </div>
                      <div v-else-if="labItem.id===1">
                        <General />
                      </div>
                      <div v-else-if="labItem.id===2">
                        <Crew />
                      </div>
                      <div v-else-if="labItem.id===3">
                        <AttachedDocuments :activatorType="2" />
                      </div>
                    </v-card-text>
                  </v-card>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-card>
      </v-col>

      <v-dialog v-model="closeDialog" persistent max-width="500px">
        <v-card>
          <v-card-title>
            <span class="headline">{{ $t('close_service') }}</span>
          </v-card-title>
          <v-card-text>
            <v-alert
            dense
            border="left"
            dark
            color="error"
          >
            <strong><h3>{{ $t('closing_alert') }}</h3></strong>
          </v-alert>
            <v-container>
              <v-layout wrap justify-space-between>
                <v-flex xs6 sm6 md6>
                  <v-autocomplete
                    v-model="reason"
                    :items="reasonItems"
                    item-value='code'
                    item-text='display'
                    color="light-blue darken-1"
                    v-bind:label="$t('reason')"
                    dense
                    small-chips
                    required
                    v-validate="'required'"
                    :error-messages="errors.collect('reason')"
                    data-vv-name="reason"
                    return-object
                    item-disabled="isDisabled"
                  ></v-autocomplete>
                </v-flex>
                <v-flex xs4 sm4 md4 v-if="reason.code === 1 && serviceDetails.service_type.id === 3">
                  <v-switch color="light-blue darken-1" v-model="covered" :label="$t('covered')" dense></v-switch>
                </v-flex>
                <v-flex xs4 sm4 md4 v-if="reason.code === 3">
                  <v-switch color="light-blue darken-1" v-model="switch1" :label="$t('imputable')" dense></v-switch>
                </v-flex>
                <v-flex xs12 sm12 md12 v-if="reason.code === 3 && serviceDetails.cancellation_reason">
                  <v-icon color="info">mdi-information</v-icon>
                  <span style="font-size:12px"> {{ $t('cancellation_reason') }}:
                    {{ this.cancellationReasons.find(reason => reason.id === serviceDetails.cancellation_reason).name }}
                  </span>
                  <br /><br />
                </v-flex>
                <v-flex xs12 sm12 md12>
                  <v-textarea
                    v-model="comments"
                    color="light-blue darken-1"
                    v-bind:label="$t('comments')"
                    rows="1"
                    row-height="15"
                    auto-grow
                    dense
                  ></v-textarea>
                </v-flex>
                <v-flex v-if="serviceDetails.send_email && attentionDetails.affiliate.emails.length === 0 && this.reason.code === 1 && serviceDetails.service_type.id !== 2">
                  <br />
                  <v-alert
                    dense
                    type="warning"
                    border="left"
                    dark
                  >
                    {{ $t('email_not_assigned') }}
                  </v-alert>
                </v-flex>
                <v-flex v-else-if="serviceDetails.send_email && attentionDetails.affiliate.emails.length > 0 && this.reason.code === 1 && serviceDetails.service_type.id !== 2">
                  <br />
                  <v-alert
                    dense
                    type="info"
                    border="left"
                    dark
                  >
                    {{ $t('send_service_summary') }}
                  </v-alert>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-btn color="white" @click="closeDialog = false">{{ $t('cancel') }}</v-btn>
            <v-spacer></v-spacer>
            <v-btn color="success" @click="closeDialog = false, confirmClosing()" :disabled="errors.any() || isDisabled">{{ $t('confirm') }}</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="cancelDialog" persistent max-width="400px">
        <v-card>
          <v-card-title>
            <span class="headline">{{ $t('cancel_service') }}</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-layout wrap justify-space-between>
                <v-flex xs12 sm12 md12>
                  <v-autocomplete
                    v-model="cancellationReason"
                    :items="cancellationReasons"
                    item-value='id'
                    item-text='name'
                    color="light-blue darken-1"
                    v-bind:label="$t('cancellation_reason')"
                    dense
                    small-chips
                    required
                    v-validate="'required'"
                    :error-messages="errors.collect('cancellationReason')"
                    data-vv-name="cancellation_reason"
                    return-object
                  ></v-autocomplete>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-btn color="white" @click="cancelDialog = false">{{ $t('go_back') }}</v-btn>
            <v-spacer></v-spacer>
            <v-btn color="success" @click="cancelDialog = false, confirmCancellation()" :disabled="!cancellationReason">{{ $t('confirm') }}</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="showProgressDialog" persistent max-width="300px">
        <v-card>
          <v-card-text>
            <br />
            <span>{{ $t('sending_email') }}</span>
            <br /> <br />
            <v-progress-linear
              indeterminate
              color="light-blue darken-1"
            ></v-progress-linear>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-row>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import axios from 'axios'
import NavBar from '@/components/NavBar'
import General from '@/components/attentions/attention_details/attention_services/service_details/service_tabs/General'
import Medical from '@/components/attentions/attention_details/attention_services/service_details/service_tabs/Medical'
import Crew from '@/components/attentions/attention_details/attention_services/service_details/service_tabs/Crew'
import Requests from '@/components/attentions/attention_details/attention_services/service_details/service_tabs/Requests'
// import Questions from '@/components/attentions/attention_details/attention_services/service_details/service_tabs/Questions'
// import Surcharges from '@/components/attentions/attention_details/attention_services/service_details/service_tabs/Surcharges'
// import Additional from '@/components/attentions/attention_details/attention_services/service_details/service_tabs/Additional'
import Medication from '@/components/attentions/attention_details/attention_services/service_details/service_tabs/Medication'
import ServiceWorkflowHHC from '@/components/attentions/attention_details/attention_services/service_details/service_workflows/ServiceWorkflowHHC'
import ServiceWorkflowSimpleTripTransfer from '@/components/attentions/attention_details/attention_services/service_details/service_workflows/ServiceWorkflowSimpleTripTransfer'
import ServiceWorkflowRoundTripTransfer from '@/components/attentions/attention_details/attention_services/service_details/service_workflows/ServiceWorkflowRoundTripTransfer'
import ServiceWorkflowTMG from '@/components/attentions/attention_details/attention_services/service_details/service_workflows/ServiceWorkflowTMG'
import ServiceWorkflowHMD from '@/components/attentions/attention_details/attention_services/service_details/service_workflows/ServiceWorkflowHMD'
import ServiceWorkflowHHP from '@/components/attentions/attention_details/attention_services/service_details/service_workflows/ServiceWorkflowHHP'
import ServiceWorkflowLAB from '@/components/attentions/attention_details/attention_services/service_details/service_workflows/ServiceWorkflowLAB'
import NewService from '@/components/attentions/attention_details/attention_services/NewService'
import PrintService from '@/components/attentions/attention_details/attention_services/PrintService'
import AttachedDocuments from '@/components/attentions/attention_details/AttachedDocuments'

/*
  El componente `<ServiceDetails>` se utiliza para mostrar todos
  los detalles del proceso de avance de los servicios contenidos
  en las atenciones. En conjunto, este componente integra los componentes:
  `<General>`, `<Medical>`, `<Crew>`, `<Requests>` y
  `<Medication>` contenidos en la carpeta:
  attentions > attention_details > attention_services > service_details > service_tabs,
  `<ServiceWorkflowHHC>`, `<ServiceWorkflowSimpleTripTransfer>`,
  `<ServiceWorkflowRoundTripTransfer>`, `<ServiceWorkflowTMG>`,
  `<ServiceWorkflowHMD>`, `<ServiceWorkflowHHP>` y `<ServiceWorkflowLAB>` contenidos en la carpeta:
  attentions > attention_details > attention_services > service_details > service_workflows,
  `<NewService>` y `<PrintService>` de la carpeta: attentions > attention_details > attention_services.

  Segun el tipo de servicio, las combinaciones de componentes interados varian.

  Se puede acceder a este componente desde: `<AttentionServices>`.

  ---

  The `<ServiceDetails>` component is used to display all
  the details of the process of advance the contained services
  in attentions. As a whole, this component integrates the components:
  General>`, `<Medical>`, `<Crew>`, `<Requests>`, `<Questions>` and
  Medication>` contained in the folder:
  attentions > attention_details > attention_services > service_details > service_tabs,
  ServiceWorkflowHHC>`, ServiceWorkflowSimpleTripTransfer>`,
  ServiceWorkflowRoundTripTransfer>`, ServiceWorkflowTMG>`,
  ServiceWorkflowHMD>`, ServiceWorkflowHHP>` and ServiceWorkflowLAB>` contained in the folder:
  attentions > attention_details > attention_services > service_details > service_workflows,
  `<NewService>` and `<PrintService>` from the folder: attentions > attention_details > attention_services.

  Depending on the type of service, the combinations of components involved vary.

  You can access this component from: `<AttentionServices>`.

  @author Ixhel Mejías, Adriana Tiso
*/

export default {
  components: {NavBar, General, Medical, Crew, Requests, Medication, ServiceWorkflowHHC, ServiceWorkflowSimpleTripTransfer, ServiceWorkflowRoundTripTransfer, ServiceWorkflowTMG, ServiceWorkflowHMD, ServiceWorkflowHHP, ServiceWorkflowLAB, NewService, PrintService, AttachedDocuments},
  data () {
    return {
      switch1: false,
      covered: false,
      snackbar: false,
      text: '',
      timeout: 6000,
      color: '',
      panel: [0, 1, 2],
      attentionId: '',
      hhcTab: null,
      tmgTab: null,
      transferTab: null,
      hmdTab: null,
      hhpTab: null,
      hhcTabs: [],
      tmgTabs: [ // General: 0, Diagnosis: 1, Requests: 2
        { id: 0, title: '' },
        { id: 1, title: this.$t('general') },
        { id: 2, title: this.$t('diagnoses') },
        { id: 3, title: this.$t('requests') }
      ],
      transferTabs: [ // General: 0, Medical: 1, Crew: 2, Surcharges: 3,  Additional (Trajectory & Administrative): 4
        { id: 0, title: '' },
        { id: 1, title: this.$t('general') },
        { id: 2, title: this.$t('crew_and_route') },
        { id: 3, title: this.$t('diagnoses') }
      ],
      hmdTabs: [ // Workflow: 0, General: 1, Crew: 2, Diagnosis: 3, Delivery Note: 4
        { id: 0, title: '' },
        { id: 1, title: this.$t('general') },
        { id: 2, title: this.$t('crew_and_route') },
        { id: 3, title: this.$t('diagnoses') },
        { id: 4, title: this.$t('delivery_note') }
      ],
      hhpTabs: [ // General: 1, Crew: 2, Diagnosis: 3, Delivery Note: 4
        { id: 0, title: '' },
        { id: 1, title: this.$t('general') },
        { id: 2, title: this.$t('crew_and_route') },
        { id: 3, title: this.$t('diagnoses') }
        // { id: 4, title: this.$t('delivery_note') }
      ],
      labTabs: [ // Workflow: 0, General: 1, Crew: 2, Results: 3
        { id: 0, title: '' },
        { id: 1, title: this.$t('general') },
        { id: 2, title: this.$t('crew_and_route') },
        { id: 3, title: this.$t('results') }
      ],
      titles: [
        {
          text: this.$t('attentions'),
          disabled: false,
          href: '/#/attentions'
        },
        {
          text: this.$t('attention') + ' ' + window.sessionStorage.getItem('selectedAttention'),
          disabled: true,
          href: '/#/attention_details/' + window.sessionStorage.getItem('selectedAttention')
        },
        {
          text: this.$t('service') + ' ' + window.sessionStorage.getItem('selectedService'),
          disabled: true
        }
      ],
      closeDialog: false,
      cancelDialog: false,
      reason: '',
      comments: '',
      cancellationReason: '',
      labDocumentsCount: null,
      hhcLabDocumentsCount: null,
      showProgressDialog: false
    }
  },
  created () {
    this.comments = this.serviceDetails.comments
    this.getHHCTabs()

    this.unwatchServiceDetails = this.$store.watch(() => this.$store.getters.serviceDetails, serviceDetails => {
      this.comments = this.$store.getters.serviceDetails.comments
      this.getHHCTabs()
    })
  },
  beforeUpdate () {
    if (this.serviceDetails.service_type && this.serviceDetails.service_type.id === 6) {
      this.getLabDocumentsCount()
    }
    if (this.serviceDetails.service_type && this.serviceDetails.service_type.id === 1 && this.serviceDetails.lab_examination) {
      this.getHHCLabDocumentsCount()
    }
  },
  beforeDestroy () {
    window.sessionStorage.removeItem('selectedService')

    if (this.unwatchServiceDetails) {
      this.unwatchServiceDetails()
    }
  },
  computed: {
    ...mapGetters([
      // map this.serviceDetails to this.$store.getters.serviceDetails
      'serviceDetails',
      'roles',
      'attentionDetails',
      'cancellationReasons',
      'affiliateDetails'
    ]),
    sendEmailValidation () {
      return !(this.serviceDetails.send_email && this.attentionDetails.affiliate.emails.length > 0 && ((this.serviceDetails.status === 'Cerrado' && this.serviceDetails.service_type.id !== 2) || ((this.serviceDetails.status === 'Completado' || this.serviceDetails.status === 'Cerrado') && this.serviceDetails.service_type.id === 2)))
    },
    email_permission () {
      return this.roles.includes('Director') || this.roles.includes('Coordinador') || this.roles.includes('Gerente')
    },
    getColor () {
      if (this.serviceDetails.status === 'Abierto') return 'orange' // OPEN
      else if (this.serviceDetails.status === 'Retrasado') return 'red' // DELAYED
      else if (this.serviceDetails.status === 'En progreso') return 'green' // IN_PROGRESS
      else if (this.serviceDetails.status === 'Completado') return 'blue' // COMPLETED
      else if (this.serviceDetails.status === 'Cancelado') return 'grey' // CANCELED
      else if (this.serviceDetails.status === 'Cerrado') return 'blue-grey darken-1' // CLOSED
    },
    hasEquipment () {
      if (this.serviceDetails.delivery_note !== null && this.serviceDetails.delivery_note.medicinal_products.length > 0) {
        for (var i = 0; i < this.serviceDetails.delivery_note.medicinal_products.length; i++) {
          if (this.hasScheduledEquipmentServiceHMD || this.serviceDetails.delivery_note.medicinal_products[i].medicinal_product.product_type === 'MEDICAL_EQUIPMENT') {
            return true
          }
        }
      } else return false
    },
    hasScheduledEquipmentServiceHMD () {
      if (this.attentionDetails.services_hmd_attention.length > 1) {
        for (var i = 0; i < this.attentionDetails.services_hmd_attention.length; i++) {
          if (this.attentionDetails.services_hmd_attention[i].delivery_note !== null && this.attentionDetails.services_hmd_attention[i].delivery_note.medicinal_products.length > 0) {
            for (var j = 0; j < this.attentionDetails.services_hmd_attention[i].delivery_note.medicinal_products.length; j++) {
              if (this.attentionDetails.services_hmd_attention[i].delivery_note.medicinal_products[j].medicinal_product.product_type === 'MEDICAL_EQUIPMENT' && this.attentionDetails.services_hmd_attention[i].scheduled) {
                return true
              }
            }
          }
        }
      } else return false
    },
    hasHDM () {
      for (var i = 0; i < this.affiliateDetails.policies.length; i++) {
        for (var j = 0; j < this.affiliateDetails.policies[i].policy.plan.service_types.length; j++) {
          if (this.affiliateDetails.policies[i].policy.plan.service_types[j].code === 'EMD') {
            return true
          } else {
            return false
          }
        }
      }
    },
    gotCancelled () {
      if (this.serviceDetails.cancellation_reason !== null) {
        return true
      } else {
        return false
      }
    },
    cancellationReasonAlert () {
      for (var i = 0; i < this.cancellationReasons.length; i++) {
        if (this.cancellationReasons[i].id === this.serviceDetails.cancellation_reason) {
          return this.cancellationReasons[i].name
        }
      }
    },
    isDisabled () {
      return !this.reason
    },
    tmgCloseServiceButtonIsDisabled () {
      return (this.serviceDetails.status === 'En progreso' || this.serviceDetails.status === 'Cerrado' ||
      (this.serviceDetails.diagnoses.length === 0 && (this.serviceDetails.other_diagnoses === null || this.serviceDetails.other_diagnoses === '') &&
      this.serviceDetails.status !== 'Cancelado' && this.serviceDetails.status !== 'Abierto' && this.serviceDetails.status !== 'Retrasado'))
    },
    hhcCloseServiceButtonIsDisabled () {
      return (this.serviceDetails.status === 'En progreso' || this.serviceDetails.status === 'Cerrado' ||
      (((this.serviceDetails.diagnoses.length === 0 && (this.serviceDetails.other_diagnoses === null || this.serviceDetails.other_diagnoses === '')) ||
      (this.serviceDetails.lab_examination && this.hhcLabDocumentsCount === 0)) &&
      this.serviceDetails.status !== 'Cancelado' && this.serviceDetails.status !== 'Abierto' && this.serviceDetails.status !== 'Retrasado'))
    },
    transferCloseServiceButtonIsDisabled () {
      return (this.serviceDetails.status === 'En progreso' || this.serviceDetails.status === 'Cerrado' ||
      ((this.serviceDetails.diagnoses.length === 0 && (this.serviceDetails.other_diagnoses === null || this.serviceDetails.other_diagnoses === '')) &&
      this.serviceDetails.status !== 'Cancelado' && this.serviceDetails.status !== 'Abierto' && this.serviceDetails.status !== 'Retrasado'))
    },
    hmdCloseServiceButtonIsDisabled () {
      return (this.serviceDetails.status === 'En progreso' || this.serviceDetails.status === 'Cerrado' ||
      (((this.serviceDetails.diagnoses.length === 0 && (this.serviceDetails.other_diagnoses === null || this.serviceDetails.other_diagnoses === '')) ||
      this.serviceDetails.delivery_note === null || this.serviceDetails.delivery_note.medicinal_products.length === 0) &&
      this.serviceDetails.status !== 'Cancelado' && this.serviceDetails.status !== 'Abierto' && this.serviceDetails.status !== 'Retrasado'))
    },
    hhpCloseServiceButtonIsDisabled () {
      return (this.serviceDetails.status === 'En progreso' || this.serviceDetails.status === 'Cerrado' ||
      ((this.serviceDetails.diagnoses.length === 0 && (this.serviceDetails.other_diagnoses === null || this.serviceDetails.other_diagnoses === '')) &&
      this.serviceDetails.status !== 'Cancelado' && this.serviceDetails.status !== 'Abierto' && this.serviceDetails.status !== 'Retrasado'))
    },
    labCloseServiceButtonIsDisabled () {
      return (this.serviceDetails.status === 'En progreso' || this.serviceDetails.status === 'Cerrado' ||
      ((this.labDocumentsCount === 0) &&
      this.serviceDetails.status !== 'Cancelado' && this.serviceDetails.status !== 'Abierto' && this.serviceDetails.status !== 'Retrasado'))
    },
    permissions_service_closure () {
      return this.roles.includes('Director') || this.roles.includes('Coordinador') || this.roles.includes('Gerente')
    },
    permissions_practitioner () {
      return this.roles.includes('Director') || this.roles.includes('Médico')
    },
    permissions_dispatcher () {
      return this.roles.includes('Director') || this.roles.includes('Despachador')
    },
    permissions_service_creation () {
      return this.roles.includes('Director') || this.roles.includes('Operador') || this.roles.includes('Médico') || this.roles.includes('Despachador') || this.roles.includes('Coordinador') || this.roles.includes('Gerente')
    },
    permissions_service_printing () {
      return this.roles.includes('Director') || this.roles.includes('Despachador') || this.roles.includes('Coordinador') || this.roles.includes('Gerente') || this.roles.includes('Asistente')
    },
    permissions_service_cancellation () {
      // return (this.permissions_practitioner && this.serviceDetails.service_type.id === 2) ||
      //   (this.permissions_dispatcher && (this.serviceDetails.service_type.id === 1 || this.serviceDetails.service_type.id === 3 || this.serviceDetails.service_type.id === 4 || this.serviceDetails.service_type.id === 5))
      return this.roles.includes('Director') || this.roles.includes('Despachador') || this.roles.includes('Coordinador') || this.roles.includes('Gerente')
    },
    hhcCloseMessage () {
      return this.serviceDetails.lab_examination ? this.$t('hhc_lab_close_message') : this.$t('hhc_close_message')
    },
    reasonItems () {
      return [
        {code: 1, display: this.$t('service_done'), isDisabled: this.serviceDetails.status !== 'Completado'},
        {code: 2, display: this.$t('service_entered_by_error'), isDisabled: this.serviceDetails.status === 'Completado'},
        {code: 3, display: this.$t('service_cancelled'), isDisabled: this.serviceDetails.status !== 'Cancelado'}
      ]
    }
  },
  methods: {
    getCurrentDatetime () {
      var today = new Date()
      var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate()
      var time = today.getHours() + ':' + today.getMinutes() + ':' + today.getSeconds()
      var datetime = new Date(date + ' ' + time).toISOString()
      return datetime
    },
    closeService () {
      this.closeDialog = true
      //  Setting default closing reason according to service status
      this.reason = this.serviceDetails.status === 'Completado' ? {code: 1, display: this.$t('service_done')} : (this.serviceDetails.status === 'Cancelado' ? {code: 3, display: this.$t('service_cancelled')} : '')
    },
    confirmClosing () {
      const data = {
        id: this.serviceDetails.id,
        status: 'CLOSED',
        service_type: this.serviceDetails.service_type.id,
        end: this.getCurrentDatetime(),
        closing_reason: this.reason.display,
        imputable: this.switch1,
        covered: this.covered,
        comments: this.comments
      }
      this.$store.dispatch('editService', data).then(() => {
        // Send email only if it was requested, if the affiliate has at least one email assigned, if the service was completed and if the service type is not TMG
        if (this.serviceDetails.send_email && this.attentionDetails.affiliate.emails.length > 0 && this.reason.code === 1 && this.serviceDetails.service_type.id !== 2) {
          this.showProgressDialog = true

          var url = ''
          if (this.serviceDetails.service_type.id === 1) {
            url = process.env.ROOT_API + 'api/v1/HHC-send-email/'
          } else if (this.serviceDetails.service_type.id === 3) {
            url = process.env.ROOT_API + 'api/v1/Transfer-send-email/'
          } else if (this.serviceDetails.service_type.id === 4) {
            url = process.env.ROOT_API + 'api/v1/HMD-send-email/'
          } else if (this.serviceDetails.service_type.id === 5) {
            url = process.env.ROOT_API + 'api/v1/HHP-send-email/'
          } else if (this.serviceDetails.service_type.id === 6) {
            url = process.env.ROOT_API + 'api/v1/LAB-send-email/'
          }

          axios.get(url + this.serviceDetails.id, {
            headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
              'Content-Type': 'application/json'
            }
          }).then(response => {
            this.showProgressDialog = false

            this.text = this.$t('email_sent') + ' ' + this.$t('service_close_success')
            this.color = 'success'
            this.timeout = 4000
            this.snackbar = true
          }).catch((error) => {
            this.showProgressDialog = false

            if (error.request.responseText.includes('primario')) { // TODO: improve
              this.text = this.$t('email_not_sent') + ' ' + this.$t('no_primary_email')
            } else {
              this.text = this.$t('email_not_sent')
            }

            this.color = 'red'
            this.timeout = 4000
            this.snackbar = true

            console.log(error)
            console.debug(error)
            console.dir(error)
          })
        } else {
          this.text = this.$t('service_close_success')
          this.color = 'success'
          this.timeout = 4000
          this.snackbar = true
        }
      }).catch((error) => {
        this.text = this.$t('error_check_data')
        this.color = 'red'
        this.timeout = 4000
        this.snackbar = true

        console.log(error)
        console.debug(error)
        console.dir(error)
      })
    },
    cancelService () {
      this.cancelDialog = true
    },
    confirmCancellation () {
      const data = {
        id: this.serviceDetails.id,
        status: 'CANCELED',
        service_type: this.serviceDetails.service_type.id,
        cancellation_reason: this.cancellationReason.id
      }
      this.$store.dispatch('editService', data)
      this.text = this.$t('service_cancel_success')
      this.color = 'success'
      this.timeout = 4000
      this.snackbar = true
    },
    getHHCTabs () {
      if (this.serviceDetails.lab_examination) {
        this.hhcTabs = [ // Workflow: 0, General: 1, Crew: 2, Diagnosis: 3, Requests: 4, Results: 5
          { id: 0, title: '' },
          { id: 1, title: this.$t('general') },
          { id: 2, title: this.$t('crew_and_route') },
          { id: 3, title: this.$t('diagnoses') },
          { id: 4, title: this.$t('requests') },
          { id: 5, title: this.$t('results') }
        ]
      } else if (!this.serviceDetails.lab_examination) {
        this.hhcTabs = [ // Workflow: 0, General: 1, Crew: 2, Diagnosis: 3, Requests: 4
          { id: 0, title: '' },
          { id: 1, title: this.$t('general') },
          { id: 2, title: this.$t('crew_and_route') },
          { id: 3, title: this.$t('diagnoses') },
          { id: 4, title: this.$t('requests') }
        ]
      }
    },
    getLabDocumentsCount () {
      let url = `${process.env.ROOT_API}api/v1/lab_documents?lab=${this.serviceDetails.id}`
      axios.get(url, {
        headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
          'Content-Type': 'application/json'
        }
      }).then(response => {
        this.setLabDocumentsCount(response.data.count)
      })
    },
    setLabDocumentsCount (results) {
      this.labDocumentsCount = results
    },
    getHHCLabDocumentsCount () {
      let url = `${process.env.ROOT_API}api/v1/hhc_lab_documents?hhc=${this.serviceDetails.id}`
      axios.get(url, {
        headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
          'Content-Type': 'application/json'
        }
      }).then(response => {
        this.setHHCLabDocumentsCount(response.data.count)
      })
    },
    setHHCLabDocumentsCount (results) {
      this.hhcLabDocumentsCount = results
    },
    sendEmail () {
      // Send email only if it was requested, if the affiliate has at least one email assigned, if the service was completed and if the service type is not TMG
      this.showProgressDialog = true

      var url = ''
      if (this.serviceDetails.service_type.id === 1) {
        url = process.env.ROOT_API + 'api/v1/HHC-send-email/'
      } else if (this.serviceDetails.service_type.id === 2) {
        url = process.env.ROOT_API + 'api/v1/TMG-send-email/'
      } else if (this.serviceDetails.service_type.id === 3) {
        url = process.env.ROOT_API + 'api/v1/Transfer-send-email/'
      } else if (this.serviceDetails.service_type.id === 4) {
        url = process.env.ROOT_API + 'api/v1/HMD-send-email/'
      } else if (this.serviceDetails.service_type.id === 5) {
        url = process.env.ROOT_API + 'api/v1/HHP-send-email/'
      } else if (this.serviceDetails.service_type.id === 6) {
        url = process.env.ROOT_API + 'api/v1/LAB-send-email/'
      }

      axios.get(url + this.serviceDetails.id, {
        headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
          'Content-Type': 'application/json'
        }
      }).then(response => {
        this.showProgressDialog = false

        this.text = this.$t('email_sent')
        this.color = 'success'
        this.timeout = 4000
        this.snackbar = true
      }).catch((error) => {
        this.showProgressDialog = false

        if (error.request.responseText.includes('primario')) { // TODO: improve
          this.text = this.$t('email_not_sent') + ' ' + this.$t('no_primary_email')
        } else {
          this.text = this.$t('email_not_sent')
        }

        this.color = 'red'
        this.timeout = 4000
        this.snackbar = true

        console.log(error)
        console.debug(error)
        console.dir(error)
      })
    }
  }
}
</script>

<style>
/* Helper classes */
.basil {
  background-color: #FFFFFF !important;
}
.basil--text {
  color: #039BE5 !important;
}
.v-stepper__content {
  padding-top: 6px;
  padding-right: 0px;
  padding-bottom: 6px;
  padding-left: 0px;
}
</style>

<style scoped>
.blink {
    animation: blink 2s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
  }
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink {
    to {
      visibility: hidden;
    }
  }
</style>
