<template>
  <div>
    <v-alert
      dense
      v-model="alertAttention"
      type="error"
      border="left"
      dark
    >
     <strong> {{ selected }} {{ $t('selected_affiliate_ongoing_attention') }}</strong>.
    </v-alert>
    <v-alert
      dense
      v-model="alert"
      type="success"
      border="left"
      dark
      dismissible
      v-if="!alertAttention"
    >
      {{ $t('selected_affiliate') }}: <strong>{{ selected }}</strong>.
    </v-alert>
    <v-snackbar
          v-model="snackbar"
          :color="color"
          :timeout="timeout"
          :top=true
        >
          {{ text }}
          <v-btn
            color="white"
            text
            @click="snackbar = false"
          >
            {{ $t('close') }}
          </v-btn>
        </v-snackbar>

    <v-card elevation=2 v-if="affiliatePages.count > 0">
      <v-container fluid>
        <v-expansion-panels popout :focusable="focusable">
          <v-expansion-panel
            v-for="affiliateItem in data"
            :key="affiliateItem.id"
            hide-actions
            :options.sync="pagination"
          >
            <v-expansion-panel-header v-slot="{ open }">
              <v-row
                align="center"
                class="spacer"
                no-gutters
              >
                <v-col cols="12" xs="2" sm="1" md="1" align="left">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                      <input type="radio" v-bind:value="affiliateItem.id" v-model="picked" v-on="on"
                        @click="getSelected(affiliateItem.first_name, affiliateItem.last_name, affiliateItem.id),
                        $emit('updateSelectedId', selectedId), alert=true" />
                    </template>
                      <span>{{ $t('select') }}</span>
                  </v-tooltip>
                </v-col>
                <v-col cols="12" xs="10" sm="7" md="7" align="left">
                  <strong>
                    {{affiliateItem.first_name}} {{affiliateItem.last_name}}
                  </strong>
                </v-col>
                <v-spacer> </v-spacer>
                <v-col cols="12" sm="4" md="4" align="left" class="text--secondary hidden-xs-only">
                  <v-fade-transition leave-absolute>
                    <v-row
                      v-if="!open"
                      no-gutters
                      style="width: 100%"
                    >
                      {{ $t('id') }} {{ affiliateItem.dni }}
                    </v-row>
                  </v-fade-transition>
                </v-col>
              </v-row>
            </v-expansion-panel-header>

            <v-expansion-panel-content>
              <br />
              <v-layout row dense>
                <v-flex xs8>
                  <p class="text-left">
                    <b>{{ $t('affiliate') }}:</b> {{ affiliateItem.first_name }} {{ affiliateItem.last_name }}
                  </p>
                </v-flex>
                <v-flex xs4>
                  <p class="text-left">
                   <b> {{ $t('id') }}:</b> {{ affiliateItem.dni }}
                  </p>
                </v-flex>
              </v-layout>
              <v-layout row dense>
                <v-flex xs8>
                  <p class="text-left">
                    <b>{{ $t('birthdate') }}:</b> {{ dateFormattedMomentjs(affiliateItem.birthdate) }}
                  </p>
                </v-flex>
                <v-flex xs4>
                  <p class="text-left">
                    <b>{{ $t('gender') }}:</b> {{ affiliateItem.gender }}
                  </p>
                </v-flex>
              </v-layout>
              <v-divider></v-divider>
                  <p class="text-left">
                    <strong>{{ $t('available_policies') }}</strong>
                  </p>
              <v-col>
                <v-row justify="space-around">
                  <div v-if="affiliateItem.policies.length <= 0">
                    <v-container>
                      <v-row justify="center" align="center">
                        {{ $t('no_policies') }}
                      </v-row>
                    </v-container>
                  </div>
                  <div v-else v-for="(policyItem, index) in affiliateItem.policies" :key="index">
                    <v-dialog
                      width="700"
                    >
                      <template
                        v-slot:activator="{ on }"
                      >
                        <v-chip class="ma-2" label v-on="on" color="light-blue darken-1" text-color="white">
                          <strong>{{ policyItem.policy.plan.name }}</strong>
                        </v-chip>
                      </template>

                      <v-card>
                        <v-card-title
                          class="headline light-blue darken-1 white--text"
                        >
                          {{ policyItem.policy.plan.name}}
                        </v-card-title>

                        <v-card-text>
                          <br />
                          <v-layout row dense v-if="policyItem.policy.plan.service_types.length > 0">
                            <v-flex sm6 md6 xs6>
                              <p class="text-left">
                                {{ $t('client') }}: <span style="color:black">{{ policyItem.policy.plan.organization.name }}</span>
                              </p>
                              <p class="text-left">
                                {{ $t('policy_code') }}: <span style="color:black">{{ policyItem.policy.code }}</span>
                              </p>
                              <p class="text-left">
                                {{ $t('linkage') }}: <span style="color:black">{{ getKinship(policyItem.kinship) }}</span>
                              </p>
                              <p class="text-left">
                                {{ $t('policy_linkages') }}: <span style="color:black">
                                  <ul>
                                <li v-for="(affiliates, index) in policyItem.policy.affiliates" :key="index">
                                  {{ affiliates.affiliate.first_name }} {{ affiliates.affiliate.last_name }} ({{ affiliates.affiliate.dni }}) - {{ getKinship(affiliates.kinship) }}
                                </li>
                              </ul>
                              </span>
                              </p>
                            </v-flex>
                            <v-flex sm6 md6 xs6>
                              <p class="text-left">
                                {{ $t('service_types') }}:<span style="color:black">
                              <ul>
                                <li v-for="(service, index) in policyItem.policy.plan.service_types" :key="index">
                                  {{ service.name }}
                                </li>
                              </ul></span>
                              </p>
                            </v-flex>
                          </v-layout>
                        </v-card-text>
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                              <v-btn color="success" v-on="on" @click="policy = policyItem, showKinshipForm = true">{{ $t('link_affiliate') }}</v-btn>
                            </template>
                            <span>{{ $t('add_linkage_message') }}</span>
                          </v-tooltip>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </div>
                </v-row>
                <NewKinship :visible="showKinshipForm" :policyData="policy" @close="showKinshipForm=false" @linkCreated="onLinkCreated" @linkNotCreated="onLinkNotCreated" />
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn
                    color="success"
                    v-on="on"
                    small
                    @click="editItemPlans(affiliateItem)">
                      {{ $t('add_to_retail') }}
                    </v-btn>
                  </template>
                  <span>{{ $t('add_to_retail_message') }}</span>
                </v-tooltip>
                <v-dialog v-model="addPlanDialog" persistent max-width="750px">
                <v-card>
                  <v-card-title>
                  </v-card-title>
                  <v-card-text>
                    <v-container grid-list-xs>
                      <v-layout row justify-space-between>
                      <v-flex sm6 md6>
                        <v-autocomplete
                          v-model="client"
                          :items="organizationWithPlanItems"
                          item-value='id'
                          item-text='name'
                          v-bind:label="$t('client')"
                          dense
                          v-validate="'required'"
                          :error-messages="errors.collect('client')"
                          data-vv-name="client"
                          :data-vv-as="$t('client')"
                          :no-data-text="$t('no_data_available')"
                          @change="deletePlan()"
                        ></v-autocomplete>
                      </v-flex>
                      <v-flex sm3 md3>
                        <v-autocomplete
                          v-model="plan"
                          :items="filteredPlans"
                          item-value='id'
                          item-text='name'
                          v-bind:label="$t('plan')"
                          dense
                          v-validate="'required'"
                          :error-messages="errors.collect('plan')"
                          data-vv-name="plan"
                          :data-vv-as="$t('plan')"
                          :no-data-text="$t('no_data_available')"
                        ></v-autocomplete>
                      </v-flex>
                      <v-flex sm2 md2 v-if="(!formFilter)">
                        <v-select
                          v-if="client"
                          v-model="contractType"
                          :items="contractItems"
                          item-text="display"
                          item-value="code"
                          v-bind:label="$t('contract_type')"
                          v-validate="'required'"
                          :error-messages="errors.collect('contract')"
                          data-vv-name="contract"
                          :data-vv-as="$t('contract_type')"
                          :hint="$t('mandatory_field')"
                          dense
                        ></v-select>
                      </v-flex>
                    </v-layout>
                    <v-layout row justify-space-between v-if="(!formFilter)">
                  <v-flex sm6 md6 v-if="contractType && contractType === 'GROUP'">
                    <v-autocomplete
                      v-if="client"
                      v-model="sponsor"
                      :items="organizationItems"
                      item-value='id'
                      item-text='name'
                      v-bind:label="$t('sponsor')"
                      dense
                      v-validate="'required'"
                      :error-messages="errors.collect('sponsor')"
                      data-vv-name="sponsor"
                      :data-vv-as="$t('sponsor')"
                      :no-data-text="$t('no_data_available')"
                      :hint="$t('mandatory_field')"
                    >
                    <template v-slot:append-outer>
                        <v-slide-x-reverse-transition
                          mode="out-in"
                        >
                          <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                              <v-icon
                                class="mr-2"
                                @click="showOrganizationForm = true"
                                v-on="on"
                                color="success"
                              >
                                mdi-plus
                              </v-icon>
                            </template>
                            <span>{{ $t('add_another_sponsor') }}</span>
                          </v-tooltip>
                        </v-slide-x-reverse-transition>
                      </template>
                    </v-autocomplete>
                    <NewOrganization :visible="showOrganizationForm" @close="showOrganizationForm=false" @organizationCreated="onOrganizationCreated" />
                  </v-flex>
                  <v-flex sm5 md5>
                    <v-text-field
                    v-if="client"
                    v-model="authorized_by"
                    v-bind:label="$t('authorized_by')"
                    v-validate="{ required:true, min: 3, regex: /^[a-zA-Z ]/}"
                    :error-messages="errors.collect('authorized_by')"
                    data-vv-name="authorized_by"
                    :data-vv-as="$t('authorized_by')"
                    :hint="$t('mandatory_field')"
                    dense>
                    </v-text-field>
                  </v-flex>
                  </v-layout>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-btn color="white" @click="addPlanDialog = false, resetForm()">{{ $t('cancel') }}</v-btn>
                  <v-spacer></v-spacer>
                  <v-btn color="success" @click="editAffiliatePolicy()" :disabled="errors.any() || isDisabled" type="submit">{{ $t('save') }}</v-btn>
                </v-card-actions>
              </v-card>
              </v-dialog>
              </v-col>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-container>
    </v-card>
    <div class="text-xs-center pt-2 md4 lg4" v-if="pages>1">
      <v-pagination
        @input="paginationChangeHandler"
        :value="pagination.page"
        :length="pages"
        :total-visible="7"
        circle
        color="light-blue darken-1"
      ></v-pagination>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import { mapGetters } from 'vuex'
import NewOrganization from '@/components/attentions/NewOrganization'
import NewKinship from '@/components/attentions/NewKinship'

/*
  El componente `<AffiliateList>` se utiliza para mostrar un listado de
  afiliados resultantes de una búsqueda, en paneles de expansión. Este
  componente permite la paginación, mostrando hasta cinco filas por página.

  Cada panel contendrá información relevante sobre el afiliado: nombre, apellido,
  documento de identidad, fecha de nacimiento, sexo y pólizas. Si se hace clic
  sobre una póliza, el usuario puede visualizar más detalles y vincular un
  afiliado a la póliza. El usuario también tendrá acceso a un botón que permite
  añadir una nueva póliza a un afiliado.

  `<AffiliateList>` es hijo del componente `<NewAttention>`. Para la creación
  de una nueva atención, el usuario debe seleccionar un afiliado del listado.

  ---

  The `<AffiliateList>` component is used to display a list of the affiliates
  resulting from a search, in expansion panels. This component enables pagination,
  showing up to five rows per page.

  Each panel will contain relevant information about the affiliate: first name,
  last name, DNI, birthdate, sex and policies. By clicking on a policy, the
  user can view more details and link an affiliate to the policy. The user will
  also have access to a button that allows adding a new policy to an affiliate.

  `<AffiliateList>` is child of `<NewAttention>` component. To create a new
  service, the user must select an affiliate from the list.

  @author Ixhel Mejías, Adriana Tiso
 */

export default {
  data () {
    return {
      selected: '',
      selectedId: null,
      focusable: true,
      alert: false,
      alertAttention: false,
      picked: '',
      dialog: false,
      addPlanDialog: false,
      pagination: { totalItems: this.$store.getters.affiliatePages.count, rowsPerPage: 5, page: 1 },
      data: [],
      attentionData: [],
      client: '',
      plan: '',
      sponsor: '',
      authorized_by: '',
      showOrganizationForm: false,
      snackbar: false,
      text: '',
      timeout: 6000,
      color: '',
      editedItem: {},
      showKinshipForm: false,
      policy: {},
      contractType: '',
      contractItems: [
        {code: 'INDIVIDUAL', display: this.$t('individual')},
        {code: 'GROUP', display: this.$t('collective')}
      ]
    }
  },
  components: {NewOrganization, NewKinship},
  name: 'AffiliateList',
  created () {
    this.getData()
  },
  beforeDestroy () {
    if (this.unwatchPolicy) {
      this.unwatchPolicy()
    }
  },
  computed: {
    ...mapGetters([
      'affiliatePages',
      'policyDetails',
      'affiliateDetails',
      'organizationWithPlanItems',
      'organizationItems',
      'planItems'
    ]),
    pages () {
      if (
        this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      ) {
        return 0
      }

      return Math.ceil(
        this.pagination.totalItems / this.pagination.rowsPerPage
      )
    },
    filteredPlans () {
      var plans = []
      for (var i = 0; i < this.planItems.length; i++) {
        if (this.planItems[i].organization.id === this.client) {
          plans.push(this.planItems[i])
        }
      }
      return plans
    },
    formFilter () {
      var filter = false
      for (var i = 0; i < this.organizationWithPlanItems.length; i++) {
        if (this.organizationWithPlanItems[i].id === this.client && this.organizationWithPlanItems[i].name.includes('Alcaldía de')) {
          filter = true
          return filter
        } else if (this.organizationWithPlanItems[i].id === this.client && this.organizationWithPlanItems[i].name.includes('Autofinanciada')) {
          filter = true
          return filter
        }
      }
      return filter
    },
    isDisabled () {
      if (this.formFilter) { //  If client organization is public or self-financed
        return !this.plan
      } else if (this.contractType === 'INDIVIDUAL') {
        return !this.plan || !this.contractType || !this.authorized_by
      } else {
        return !this.plan || !this.contractType || !this.sponsor || !this.authorized_by
      }
    }
  },
  methods: {
    getKinship (kinship) {
      if (kinship === 'HOLDER') return 'Titular'
      else if (kinship === 'OFFSPRING') return 'Hijo'
      else if (kinship === 'COUSIN') return 'Primo'
      else if (kinship === 'BROTHER_IN_LAW') return 'Cuñado'
      else if (kinship === 'INLAW') return 'Suegro'
      else if (kinship === 'POLITICAL_CHILD') return 'Hijo político'
      else if (kinship === 'GRANDPARENT') return 'Abuelo'
      else if (kinship === 'PAYER') return 'Pagador'
      else if (kinship === 'NEPHEW') return 'Sobrino'
      else if (kinship === 'SIBLING') return 'Hermano'
      else if (kinship === 'UNCLE') return 'Tío'
      else if (kinship === 'PARENT') return 'Padre'
      else if (kinship === 'SPOUSE') return 'Cónyuge'
      else if (kinship === 'GRANDCHILD') return 'Nieto'
      else if (kinship === 'OTHER') return 'Otro'
    },
    getPlan (pickedPlan) {
      var plan = ''
      for (var i = 0; i < this.planItems.length; i++) {
        if (this.planItems[i].id === pickedPlan) {
          plan = this.planItems[i].name
        }
      }
      return plan
    },
    editAffiliatePolicy () {
      const setSponsor = () => {
        var sponsor = ''
        if (this.client === 1 || this.client === 28 || this.client === 29 || this.client === 30) {
          sponsor = this.client
        } else if (this.contractType === 'INDIVIDUAL') {
          sponsor = '1'
        } else {
          sponsor = this.sponsor
        }
        return sponsor
      }

      const setContractType = () => {
        var contractType = ''
        if (this.sponsor === 1 || this.sponsor === 28 || this.sponsor === 29 || this.sponsor === 30) {
          contractType = 'INDIVIDUAL'
        } else {
          contractType = this.contractType
        }
        return contractType
      }

      this.sponsor = setSponsor()
      var dni = this.editedItem.dni
      this.contractType = setContractType()
      var planName = this.getPlan(this.plan)

      var data = {
        plan: this.plan,
        code: dni + '-' + planName,
        sponsor: this.sponsor,
        authorized_by: this.authorized_by,
        policy_type: this.contractType
      }

      const policyExists = () => {
        if (this.editedItem.policies.length !== 0) {
          for (var i = 0; i < this.editedItem.policies.length; i++) {
            if (this.editedItem.policies[i].policy.plan.id === this.plan) {
              return true
            }
          }
          return false
        }
        return false
      }

      if (!policyExists()) {
        this.$store.dispatch('setNewPolicy', data)
      } else { // Already exists
        this.text = this.$t('error_policy_exists')
        this.color = 'error'
        this.timeout = 6000
        this.snackbar = true
      }

      this.unwatchPolicy = this.$store.watch(() => this.$store.getters.policyDetails, policyDetails => {
        if (this.unwatchPolicy) {
          this.unwatchPolicy()
        }

        const setPolicies = () => {
          var policies = []
          policies.push({policy: this.policyDetails.id, kinship: 'HOLDER'})

          if (this.editedItem.policies.length !== 0) {
            for (var j = 0; j < this.editedItem.policies.length; j++) {
              policies.push({policy: this.editedItem.policies[j].policy.id, kinship: this.editedItem.policies[j].kinship})
            }
          }
          return policies
        }

        var data = {
          affiliate: this.editedItem.id,
          policies: setPolicies()
        }

        this.$store.dispatch('editAffiliate', data).then(() => {
          this.getData()
          this.text = this.$t('affiliate_update_success')
          this.color = 'success'
          this.timeout = 6000
          this.snackbar = true
          this.addPlanDialog = false
          this.resetForm()
        }).catch(() => {
          this.text = this.$t('error_check_data')
          this.color = 'error'
          this.timeout = 6000
          this.snackbar = true
        })
      })
    },
    resetForm: function () {
      this.client = []
      this.sponsor = []
      this.plan = ''
      this.authorized_by = ''
      this.contractType = ''
      this.$nextTick(() => {
        this.$validator.reset()
      })
    },
    onOrganizationCreated (value) {
      this.text = value
      this.color = 'success'
      this.timeout = 4000
      this.snackbar = true
    },
    editItemPlans (item) {
      this.editedItem = Object.assign({}, item)
      this.addPlanDialog = true
    },
    getSelected: function (firstName, lastName, id) {
      this.selected = firstName + ' ' + lastName
      this.selectedId = id
      this.getCurrentAttention()
      this.$store.dispatch('getAffiliateSimpleDetails', this.selectedId)
    },
    dateFormattedMomentjs (date) {
      moment.locale(this.$i18n.locale)
      return moment(date).format('MMMM Do YYYY')
    },
    paginationChangeHandler (pageNumber) {
      this.pagination.page = pageNumber
      this.getData()
    },
    getData () {
      let url = `${process.env.ROOT_API}api/v1/affiliates?search=${this.searchTerm}&limit=${this.pagination.rowsPerPage}&offset=${(this.pagination.page - 1) * this.pagination.rowsPerPage}`
      axios.get(url, {
        headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
          'Content-Type': 'application/json'
        }
      }).then(response => {
        this.setData(response.data.results)
      })
    },
    setData (results) {
      this.data = results
    },
    getCurrentAttention () {
      let url = `${process.env.ROOT_API}api/v1/attentions?affiliate=${this.selectedId}&status=OPEN`
      axios.get(url, {
        headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
          'Content-Type': 'application/json'
        }
      }).then(response => {
        this.setAttentionData(response.data.results)
      })
    },
    setAttentionData (results) {
      this.attentionData = results
      if (this.attentionData.length) {
        this.alertAttention = true
      } else {
        this.alertAttention = false
      }
      this.$emit('alertAttention', this.alertAttention)
    },
    deletePlan () {
      this.plan = ''
    },
    onLinkCreated (value) {
      this.getData()

      this.text = value
      this.color = 'success'
      this.timeout = 4000
      this.snackbar = true
    },
    onLinkNotCreated (value) {
      this.text = value
      this.color = 'error'
      this.timeout = 8000
      this.snackbar = true
    }
  },
  props: {
    searchTerm: String
  }
}
</script>

<style scoped>
.text-left{
  text-align: center;
  padding-left: 48px;
}
</style>
