<template>
  <v-card>
    <v-card-title>
      {{ $t('follow_up_care') }}
      <v-spacer></v-spacer>
      <v-text-field
          v-model="search"
          prepend-inner-icon="search"
          :label="$t('search')"
          single-line
          hide-details
      ></v-text-field>
    </v-card-title>
    <v-card-text>
      <v-container fluid>
        <v-data-table
        dense
        :headers="headers"
        :items="data"
        :search="search"
        :loading="loading"
        :options.sync="pagination"
        :no-results-text="$t('no_matching_records')"
        :no-data-text="$t('no_data_available')"
        hide-default-footer
        >
          <template v-slot:item.created="{ item }">
            {{ formatCreatedDate(item.created) }}
          </template>
          <template v-slot:item.status="{ item }">
            <v-chip :color="getColor(item.status)" dark x-small>{{ item.status }}</v-chip>
          </template>
        </v-data-table>
        <div class="text-xs-center pt-2 md4 lg4" v-if="pages>1">
          <v-pagination
            @input="paginationChangeHandler"
            :value="pagination.page"
            :length="pages"
            :total-visible="7"
            circle
            color="light-blue darken-1"
          ></v-pagination>
        </div>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex'
import moment from 'moment'

/*
  El componente `<FollowUpCare>` no esta usado en el sistema, a desarrollarse a futuro

  ---
  
  The `<FollowUpCare>` component is not used in the system, to be developed in the future

  @author Ixhel Mejías, Adriana Tiso
*/

export default {
  data () {
    return {
      pagination: { totalItems: this.$store.getters.attentionFollowUpPages.count, rowsPerPage: 10, page: 1 },
      data: [],
      search: '',
      loading: false,
      headers: [
        {text: 'Número', value: 'id'},
        {text: 'Nombre del Afiliado', value: 'affiliate.first_name'},
        {text: 'Apellido del Afiliado', value: 'affiliate.last_name'},
        {text: 'Hora de llamada', value: 'created'},
        {text: 'Observaciones', value: 'observations'}
      ]
    }
  },
  created () {
    this.getData()
  },
  methods: {
    paginationChangeHandler (pageNumber) {
      this.pagination.page = pageNumber
      this.getData()
    },
    getData () {
      let url = `${process.env.ROOT_API}api/v1/attentions?follow_up=true&limit=${this.pagination.rowsPerPage}&offset=${(this.pagination.page - 1) * this.pagination.rowsPerPage}`
      axios.get(url, {
        headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
          'Content-Type': 'application/json'
        }
      }).then(response => {
        this.setData(response.data.results)
      })
    },
    setData (results) {
      this.data = results
    },
    formatCreatedDate (date) {
      moment.locale(this.$i18n.locale)
      return date ? moment(date).format('D/M/YYYY h:mm a') : ''
    },
    getColor (status) {
      if (status === 'Abierta') return 'orange' // OPEN
      else if (status === 'Cerrada') return 'grey' // CLOSED
    }
  },
  computed: {
    ...mapGetters([
      'attentionFollowUpPages'
    ]),
    pages () {
      if (
        this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      ) {
        return 0
      }

      return Math.ceil(
        this.pagination.totalItems / this.pagination.rowsPerPage
      )
    }
  }
}
</script>
