<template>
<div id="app">
    <v-navigation-drawer
      v-model="drawerRight"
      app
      clipped
      right
      width="75"
    >
      <v-list dense>
        <v-list-item @click.stop="right = !right">
          <v-list-item-action>
            <v-icon>exit_to_app</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Open Temporary 1</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-navigation-drawer
      v-model="right"
      fixed
      right
      temporary
    ></v-navigation-drawer>
</div>
</template>

<script>
/*
  El componente `<MiniNavBar>` no esta usado en el sistema, a desarrollarse a futuro

  ---
  
  The `<MiniNavBar>` component is not used in the system, to be developed in the future

  @author Ixhel Mejías, Adriana Tiso
*/


export default {
    data: () => ({
    drawer: null,
    drawerRight: null,
    right: false,
    left: false,
  })
}
</script>
