<template>
<v-app>
    <NavBar />
    <v-container>
      <v-content>
        <v-snackbar
          v-model="snackbar"
          :color="color"
          :timeout="timeout"
          :top=true
        >
          {{ text }}
          <v-btn
            color="white"
            text
            @click="snackbar = false"
          >
            {{ $t('close') }}
          </v-btn>
        </v-snackbar>
        <v-breadcrumbs :items="titles" large></v-breadcrumbs>
        <v-card>
          <v-stepper v-model="e6" vertical>
            <v-stepper-step :complete="e6 > 1" step="1">
              {{ $t('create_attention') }}
              <small>{{ $t('new_attention_step1') }}</small>
            </v-stepper-step>

            <v-stepper-content step="1">
              <v-card color="grey lighten-5" class="mb-12">
                <v-card-text>
                  <v-container fluid>
                    <v-form>
                    <v-row>
                    <v-col cols="2" sm="2" md="2">
                    </v-col>
                    <v-col cols="8" sm="8" md="8">
                      <v-row>
                        <v-col cols="12" sm="12" md="12">
                          <v-text-field
                            v-model="searchTerm"
                            color="light-blue darken-1"
                            v-bind:label="$t('id_or_name')"
                            v-bind:placeholder="$t('search')"
                            dense
                            outlined
                            @keyup.enter="affiliateSearch(searchTerm)"
                            append-icon="mdi-magnify"
                            @click:append="affiliateSearch(searchTerm)"
                          >
                          </v-text-field>
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col cols="12" xs="1" sm="1" md="2">
                    </v-col>
                    <v-col cols="12" xs="10" sm="10" md="8">
                      <v-alert type="error" v-if="showAlert">
                        {{ $t('invalid_search_term') }}
                      </v-alert>
                      <AffiliateList v-if="found === true" v-on:updateSelectedId="onAffiliateSelection" v-on:alertAttention="onAlertAttention" :searchTerm="searchTerm"/>
                      <NotAffiliate v-if="found === false" v-on:newRegisteredId="onNewAffiliateSelection" :searchTerm="searchTerm" @affiliateCreated="onAffiliateCreated" />
                    </v-col>
                    <v-col cols="12" xs="1" sm="1" md="2">
                    </v-col>
                  </v-row>

                  <v-row v-if="selected">
                    <v-col cols="12" sm="12" md="12">
                      <v-card>
                        <v-card-title>
                          {{ this.$t('available_services') }}
                        </v-card-title>

                        <v-card-text>
                          <NewService :activatorType="1" :attentionCreated="attentionCreated" />
                        </v-card-text>
                      </v-card>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="2" sm="2" md="2"></v-col>
                    <v-col cols="8" sm="8" md="8">
                      <v-combobox
                        multiple
                        v-model="phoneNumberChips"
                        v-bind:label="$t('contact_numbers')"
                        v-bind:hint="$t('press_enter_new_number')"
                        v-validate="{ required: true, min: 11, regex:/^(0(2[13456789][0-9]{8}|4[12][46][0-9]{7}|412[0-9]{7}))/ }"
                        :error-messages="errors.collect('phoneNumberChips')"
                        data-vv-name="phoneNumberChips"
                        :data-vv-as="$t('contact_numbers')"
                        color="light-blue darken-1"
                        v-mask="phoneMask"
                        small-chips
                        dense
                        deletable-chips
                        class="tag-input"
                        :search-input.sync="searchPhone"
                        @keyup.tab="updatePhoneTags"
                        @paste="updatePhoneTags">
                      </v-combobox>
                    </v-col>
                    <v-col cols="2" sm="2" md="2"></v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="6" sm="6" md="6">
                      <v-textarea
                      v-model="attention.reason_for_care"
                      color="light-blue darken-1"
                      v-bind:label="$t('reason_for_care')"
                      v-validate="'required'"
                      :error-messages="errors.collect('attention.reason_for_care')"
                      data-vv-name="attention.reason_for_care"
                      :data-vv-as="$t('reason_for_care')"
                      auto-grow
                      rows="1"
                      row-height="15"
                      dense
                    ></v-textarea>
                    </v-col>
                    <v-col cols="6" sm="6" md="6">
                    <v-textarea
                      v-model="attention.observations"
                      color="light-blue darken-1"
                      v-bind:label="$t('observations')"
                      auto-grow
                      rows="1"
                      row-height="15"
                      dense
                    ></v-textarea>
                    </v-col>
                  </v-row>
                    </v-form>
                  </v-container>
                </v-card-text>
              </v-card>
              <v-btn text @click.once="goToAttentions()">{{ $t('cancel') }}</v-btn>
              <v-btn
              color="success"
              @click="createAttention()"
              :disabled="errors.any() || isDisabled"
              >{{ $t('create') }}
              </v-btn>

            </v-stepper-content>

            <v-stepper-step :complete="e6 > 2" step="2">{{ $t('add_service') }}
              <small>{{ $t('new_attention_step2') }}</small>
            </v-stepper-step>

            <v-stepper-content step="2">
              <v-card color="grey lighten-5" class="mb-12">
                <v-card-title>
                  {{ this.$t('available_services') }}
                </v-card-title>

                <v-card-text>
                  <NewService :activatorType="1" :attentionCreated="attentionCreated" @serviceCreated="onServiceCreated" @serviceNotCreated="onServiceNotCreated" />
                </v-card-text>
              </v-card>
            </v-stepper-content>
          </v-stepper>
        </v-card>
      </v-content>
    </v-container>
  </v-app>
</template>

<script>
import NavBar from '@/components/NavBar'
import AffiliateList from '@/components/attentions/AffiliateList'
import NotAffiliate from '@/components/attentions/NotAffiliate'
import NewService from '@/components/attentions/attention_details/attention_services/NewService'
import { mask } from 'vue-the-mask'
import { mapGetters } from 'vuex'

/*
  El componente `<NewAttention>` se utiliza para crear una nueva atención y
  agregarle un nuevo servicio. Permite la búsqueda de un afiliado y los
  resultados son presentados en un listado de paneles de expansión, mediante el
  componente `<AffiliateList>`. En caso de que la búsqueda no arroje ningún resultado,
  se podrá crear un nuevo afiliado a través del componente `<NotAffiliate>`.

  Una vez seleccionado el afiliado, el usuario debe completar los campos del
  formulario para la creación de una nueva atención: números de contacto,
  motivo de consulta y observaciones. Finalmente, se presentan en chips los
  servicios disponibles para el afiliado seleccionado. El formulario para
  la creación de un nuevo servicio se despliega al hacer clic sobre uno de los
  chips, mediante el componente `<NewService>`.

  ---

  The `<NewAttention>` component is used to create a new attention and add a
  new service to it. It allows searching for an affiliate and the results are
  presented in a list of expansion panels, through the `<AffiliateList>`
  component. In case the search does not return any result, a new affiliate
  can be created through the `<NotAffiliate>` component.

  Once the affiliate is selected, the user must complete the fields of the
  new service creation form: contact numbers, reason for consultation and
  observations. Finally, the services available for the selected affiliate
  are presented as chips. The new service creation form is displayed by
  clicking on one of the chips, through the `<NewService>` component.

  @author Ixhel Mejías, Adriana Tiso
 */

export default {
  directives: {
    mask
  },
  components: {
    NavBar, NewService, AffiliateList, NotAffiliate
  },
  data () {
    return {
      searchPhone: '',
      ongoingAttention: false,
      attention: {
        user: this.$store.state.login.authUser.pk,
        affiliate: null,
        status: 'OPEN',
        reason_for_care: '',
        phone_numbers: [],
        observations: ''
      },
      showAlert: false,
      found: null,
      selected: null,
      e1: 0,
      searchTerm: '',
      attentionCreated: false,
      serviceType: '',
      titles: [
        {
          text: this.$t('attentions'),
          disabled: false,
          href: '/#/attentions'
        },
        {
          text: this.$t('new_attention'),
          disabled: true
        }
      ],
      affiliateId: '', // This value is set to the value emitted by the child
      phoneMask: '0##########',
      e6: 1,
      snackbar: false,
      text: '',
      timeout: 6000,
      color: '',
      phoneNumberChips: [],
      processing: false
    }
  },

  beforeDestroy () {
    if (this.unwatchAffiliateItems) {
      this.unwatchAffiliateItems()
    }
    if (this.unwatchAffiliateDetails) {
      this.unwatchAffiliateDetails()
    }
  },

  watch: {
    affiliateId: function () {
      if (this.unwatchAffiliateDetails) {
        this.unwatchAffiliateDetails()
      }
      if (this.affiliateId !== '') {
        this.$store.dispatch('getAffiliateDetails', this.affiliateId)
        // TODO: check performance
        this.$store.dispatch('getServiceAddressesItemsByAffiliate', this.affiliateId)

        this.unwatchAffiliateDetails = this.$store.watch(() => this.$store.getters.affiliateDetails, affiliateDetails => {
          this.selected = true
          this.attention.reason_for_care = ''
          this.attention.affiliate = this.affiliateDetails.id
          this.phoneNumberChips = this.getPhoneNumbers()

          this.$nextTick(() => {
            this.$validator.reset()
          })
        })
      } else {
        this.phoneNumberChips = []
        this.$nextTick(() => {
          this.$validator.reset()
        })
      }
    }
  },
  computed: {
    ...mapGetters([
      'affiliateDetails'
    ]),
    isDisabled () {
      return !this.selected || this.attentionCreated || !this.attention.reason_for_care || (this.phoneNumberChips.length === 0)
    }
  },
  methods: {
    updatePhoneTags () {
      this.$nextTick(() => {
        this.select.push(...this.searchPhone.split(','))
        this.$nextTick(() => {
          this.searchPhone = ''
        })
      })
    },
    affiliateSearch (id) {
      this.found = null
      this.selected = null
      this.affiliateId = ''
      this.showAlert = false

      if (this.unwatchAffiliateItems) {
        this.unwatchAffiliateItems()
      }

      if (id === '') {
        this.showAlert = true
      } else {
        this.$store.dispatch('getAffiliateItems', id) //  TODO: add pagination
        this.unwatchAffiliateItems = this.$store.watch(() => this.$store.getters.affiliateItems, affiliateItems => {
          if (this.$store.getters.affiliateItems.length > 0) {
            this.found = true
          } else {
            this.found = false
            this.$store.dispatch('getValidatorDetails', id)
          }
        })
      }
    },
    // Triggered when event is emitted by the child.
    onAffiliateSelection (value) {
      this.affiliateId = value
    },
    onNewAffiliateSelection (value) {
      this.affiliateSearch(value)
    },
    onAlertAttention (value) {
      this.ongoingAttention = value
    },
    createAttention () {
      if (this.processing) {
        return
      }
      this.processing = true

      const setPhoneNumbers = () => {
        var phoneNumbers = []
        for (var i = 0; i < this.phoneNumberChips.length; i++) {
          phoneNumbers.push({phone_number: this.phoneNumberChips[i].replace('0', '+58')})
        }
        return phoneNumbers
      }

      const setNewAttention = async () => {
        this.attention.phone_numbers = await setPhoneNumbers()

        var newAttention = {
          user: this.$store.state.login.authUser.pk,
          affiliate: this.attention.affiliate,
          status: 'OPEN',
          reason_for_care: this.attention.reason_for_care,
          phone_numbers: this.attention.phone_numbers,
          observations: this.attention.observations
        }

        this.$store.dispatch('setNewAttention', newAttention).then(() => {
          this.processing = false
          this.attentionCreated = true
          this.e6 = 2
          this.text = this.$t('new_attention_success')
          this.color = 'success'
          this.timeout = 6000
          this.snackbar = true
        }).catch((error) => {
          this.processing = false
          if (error.status === 400) {
            if (error.data.phone_numbers) {
              this.text = this.$t('error_check_data')
            } else {
              this.text = error.data[0]
            }
          } else { this.text = error.request.responseText }

          this.color = 'red'
          this.timeout = 6000
          this.snackbar = true
        })
      }

      setNewAttention()
    },
    goToAttentions () {
      if (this.$route.path !== '/attentions') {
        this.$router.push({ name: 'Attentions' })
      }
    },
    remove (item) {
      this.phoneNumberChips.splice(this.phoneNumberChips.indexOf(item), 1)
      this.phoneNumberChips = [...this.phoneNumberChips]
    },
    getPhoneNumbers () {
      var phoneNumbers = []

      //  Affiliate phone numbers
      for (var i = 0; i < this.affiliateDetails.phone_numbers.length; i++) {
        phoneNumbers.push(this.affiliateDetails.phone_numbers[i].phone_number.replace('+58', '0'))
      }

      /*       const findAttentionPhoneNumbersByAffiliate = () => {
              //  Search for phone numbers of previous attentions by affiliate
              return axios.get(process.env.ROOT_API + 'api/v1/attention-phone-numbers-by-affiliate/' + this.affiliateDetails.id, {
                headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
                  'Content-Type': 'application/json'
                }
              })
                .then(response => response.data.results)
            }

            const getAllPhoneNumbers = async () => {
              //  Affiliate phone numbers
              for (var i = 0; i < this.affiliateDetails.phone_numbers.length; i++) {
                phoneNumbers.push(this.affiliateDetails.phone_numbers[i].phone_number.replace('+58', '0'))
              }

              var results = await findAttentionPhoneNumbersByAffiliate()

              for (var j = 0; j < results.length; j++) {
                if (!phoneNumbers.includes(results[j].phone_number.replace('+58', '0'))) {
                  phoneNumbers.push(results[j].phone_number.replace('+58', '0'))
                }
              }
            }

            getAllPhoneNumbers() */

      return phoneNumbers
    },
    onServiceCreated (value) {
      this.text = value
      this.color = 'success'
      this.timeout = 4000
      this.snackbar = true
    },
    onServiceNotCreated (value) {
      this.text = value
      this.color = 'error'
      this.timeout = 8000
      this.snackbar = true
    },
    onAffiliateCreated (value) {
      this.text = value
      this.color = 'success'
      this.timeout = 4000
      this.snackbar = true
    }
  }
}

</script>

<style>
.v-stepper__label{
  font-size: smaller;
  text-align: center;
  color: #212121;
}
.container {
  max-width: 1600px;
}
</style>
