<template>
  <v-row justify="center">
    <v-dialog
      v-model="show"
      max-width="1200px"
    >
      <v-layout>
        <v-flex sm7 md7 white>
          <v-card flat>
            <v-card-title>
              <span style="font-size:20px;" v-if="this.policyData.policy">{{ $t('new_linked_affiliate') }} ({{ $t('policy') }} {{ this.policyData.policy.code }})</span>
              <span class="headline" v-else>{{ $t('new_linked_affiliate') }}</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-xs>
                <v-layout row justify-space-between>
                  <v-flex sm2 md2></v-flex>
                  <v-flex sm8 md8>
                    <v-autocomplete
                      v-model="affiliates"
                      :items="affiliateItems"
                      :loading="isLoadingAffiliates"
                      :search-input.sync="searchAffiliates"
                      color="light-blue darken-1"
                      hide-no-data
                      hide-selected
                      :item-text="fullNameAffiliate"
                      item-value="id"
                      v-bind:label="$t('id_number')"
                      placeholder="Ingresar al menos 6 cifras para buscar"
                      prepend-icon="mdi-database-search"
                      return-object
                      small-chips
                      deletable-chips
                      dense
                      v-mask="dniMask"
                      @change="changeFormData()"
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex sm2 md2></v-flex>
                  <v-flex xs3 sm3 md3>
                  <v-switch
                    color="light-blue darken-1"
                    v-model="hasDni"
                    :label="$t('has_dni')"
                    dense
                    @change="changeDni()"
                    v-if="this.affiliates === null"
                  ></v-switch>
                  </v-flex>
                  <v-flex sm5 md5></v-flex>
                  <v-flex sm3 md3>
                    <v-select
                      v-model="affiliate.kinship"
                      :items="kinshipItems"
                      item-text="display"
                      item-value="code"
                      v-bind:label="$t('linkage')"
                      v-validate="'required'"
                      :error-messages="errors.collect('affiliate.kinship')"
                      data-vv-name="affiliate.kinship"
                      :data-vv-as="$t('linkage')"
                      :hint="$t('mandatory_field')"
                      dense
                    ></v-select>
                  </v-flex>
                </v-layout>
                <v-layout row justify-space-between>
                  <v-flex sm6 md6>
                    <v-text-field
                      v-model="affiliate.first_name"
                      v-bind:label="$t('first_name')"
                      v-validate="'required'"
                      :error-messages="errors.collect('affiliate.first_name')"
                      data-vv-name="affiliate.first_name"
                      :data-vv-as="$t('first_name')"
                      :hint="$t('mandatory_field')"
                      dense>
                    </v-text-field>
                  </v-flex>
                  <v-flex sm6 md6>
                    <v-text-field
                      v-model="affiliate.last_name"
                      v-bind:label="$t('last_name')"
                      v-validate="'required'"
                      :error-messages="errors.collect('affiliate.last_name')"
                      data-vv-name="affiliate.last_name"
                      :data-vv-as="$t('last_name')"
                      :hint="$t('mandatory_field')"
                      dense>
                    </v-text-field>
                  </v-flex>
                  <v-flex sm1 md1>
                    <v-select
                      v-model="affiliate.dni_type"
                      :readonly="!this.hasDni || this.affiliates !== null"
                      :items="dniTypeItems"
                      item-text="display"
                      item-value="code"
                      v-bind:label="$t('dni_type')"
                      v-validate="'required'"
                      :error-messages="errors.collect('affiliate.dni_type')"
                      data-vv-name="affiliate.dni_type"
                      :data-vv-as="$t('dni_type')"
                      :hint="$t('mandatory_field')"
                      dense
                    ></v-select>
                  </v-flex>
                  <v-flex sm4 md4>
                    <v-text-field
                      v-model="affiliate.dni"
                      :readonly="!this.hasDni || this.affiliates !== null"
                      v-bind:label="$t('id_number')"
                      v-mask="dniMask"
                      v-validate="{ required:true, min: 6 }"
                      :error-messages="errors.collect('affiliate.dni')"
                      data-vv-name="affiliate.dni"
                      :data-vv-as="$t('id_number')"
                      dense
                      :hint="hasDni && this.affiliates === null ? $t('enter_dni') : ''"
                      :suffix="!hasDni ? this.affiliate.dni_suffix : ''"
                    >

                    </v-text-field>
                  </v-flex>
                  <v-flex sm3 md3>
                    <v-text-field
                      type="date"
                      :value="computedStartDateFormattedMomentjs"
                      v-model="affiliate.birthdate"
                      v-bind:label="$t('birthdate')"
                      v-validate="'required'"
                      :error-messages="errors.collect('affiliate.birthdate')"
                      data-vv-name="affiliate.birthdate"
                      :data-vv-as="$t('birthdate')"
                      :hint="$t('mandatory_field')"
                      dense>
                    </v-text-field>
                  </v-flex>
                  <v-flex sm3 md3>
                    <v-select
                      v-model="affiliate.gender"
                      :items="genderItems"
                      item-text="display"
                      item-value="code"
                      v-bind:label="$t('gender')"
                      v-validate="'required'"
                      :error-messages="errors.collect('affiliate.gender')"
                      data-vv-name="affiliate.gender"
                      :data-vv-as="$t('gender')"
                      :hint="$t('mandatory_field')"
                      dense
                    ></v-select>
                  </v-flex>
                </v-layout>
                <v-layout row justify-space-between>
                  <v-flex sm12 md12>
                    <v-combobox
                      multiple
                      v-model="phoneNumberChips"
                      v-bind:label="$t('contact_numbers')"
                      v-bind:hint="$t('press_enter_new_number')"
                      v-validate="{ required: true, min: 11, regex:/^(0(2[13456789][0-9]{8}|4[12][46][0-9]{7}|412[0-9]{7}))/ }"
                      :error-messages="errors.collect('phoneNumberChips')"
                      data-vv-name="phoneNumberChips"
                      :data-vv-as="$t('contact_numbers')"
                      color="light-blue darken-1"
                      v-mask="phoneMask"
                      small-chips
                      dense
                      deletable-chips
                      class="tag-input"
                      :search-input.sync="searchPhone"
                      @keyup.tab="updatePhoneTags"
                      @paste="updatePhoneTags">
                    </v-combobox>
                  </v-flex>
                  <v-flex sm12 md12>
                    <v-combobox
                      v-model="emailChips"
                      v-bind:label="$t('emails')"
                      v-bind:hint="$t('press_enter_new_email')"
                      multiple
                      dense
                      v-validate="'email'"
                      :error-messages="errors.collect('emailChips')"
                      data-vv-name="emailChips"
                      :data-vv-as="$t('emails')"
                      color="light-blue darken-1"
                      small-chips
                      deletable-chips
                      class="tag-input"
                      :search-input.sync="searchEmail"
                      @keyup.tab="updateEmailTags"
                      @paste="updateEmailTags">
                    </v-combobox>
                  </v-flex>
                  <v-flex sm12 md12>
                    <v-textarea
                      v-model="address"
                      color="light-blue darken-1"
                      v-bind:label="$t('address')"
                      :error-messages="errors.collect('address')"
                      data-vv-name="address"
                      dense
                      readonly
                      @click.stop="showAddressForm = true"
                      auto-grow
                      rows="1"
                      row-height="15"
                    ></v-textarea>
                  </v-flex>
                </v-layout>
                <AddressForm :visible="showAddressForm" :showAutocomplete="false" :createServiceAddress="false" :defaultAddress="addressObject" @close="showAddressForm=false" @addressAssigned="onAddressAssigned" />
              </v-container>
              <br />
            </v-card-text>
            <v-card-actions>
              <v-btn color="white" @click="show = false, resetForm()">{{ $t('cancel') }}</v-btn>
              <v-spacer></v-spacer>
              <v-btn color="success" @click="linkAffiliate()" :disabled="errors.any() || isDisabled" type="submit">{{ $t('save') }}</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
        <v-flex sm5 md5 grey lighten-2>
          <Validator :searchBox="true" />
        </v-flex>
      </v-layout>
    </v-dialog>
  </v-row>
</template>

<script>
import moment from 'moment'
import { mapGetters } from 'vuex'
import { mask } from 'vue-the-mask'
import AddressForm from '@/components/attentions/attention_details/attention_services/AddressForm'
import Validator from '@/components/attentions/Validator'

export default {
  directives: {
    mask
  },
  components: {AddressForm, Validator},
  data () {
    return {
      hasDni: true,
      items: [],
      searchPhone: '',
      searchEmail: '',
      affiliate: {
        policies: [],
        first_name: '',
        last_name: '',
        gender: '',
        emails: [],
        birthdate: new Date(1990, 0, 1).toISOString().substr(0, 10),
        affiliate_addresses: [],
        phone_numbers: [],
        dni_type: 'V',
        dni: '',
        dni_suffix: '',
        from_validator: '',
        authorized_by: '',
        registered_by: '',
        kinship: ''
      },
      genderItems: [
        {code: 'MALE', display: this.$t('male')},
        {code: 'FEMALE', display: this.$t('female')}
      ],
      dniTypeItems: [
        'V',
        'E',
        'P'
      ],
      kinshipItems: [
        {code: 'OFFSPRING', display: this.$t('offspring')},
        {code: 'COUSIN', display: this.$t('cousin')},
        {code: 'BROTHER_IN_LAW', display: this.$t('brother_in_law')},
        {code: 'INLAW', display: this.$t('inlaw')},
        {code: 'POLITICAL_CHILD', display: this.$t('political_child')},
        {code: 'GRANDPARENT', display: this.$t('grandparent')},
        {code: 'PAYER', display: this.$t('payer')},
        {code: 'NEPHEW', display: this.$t('nephew')},
        {code: 'SIBLING', display: this.$t('sibling')},
        {code: 'UNCLE', display: this.$t('uncle')},
        {code: 'PARENT', display: this.$t('parent')},
        {code: 'SPOUSE', display: this.$t('spouse')},
        {code: 'GRANDCHILD', display: this.$t('grandchild')},
        {code: 'OTHER', display: this.$t('other')}
      ],
      phoneNumberChips: [],
      phoneMask: '0##########',
      dniMask: '########',
      emailChips: [],
      text: '',
      address: '',
      addressObject: {},
      showAddressForm: false,
      descriptionLimit: 30,
      affiliatesResults: [],
      isLoadingAffiliates: false,
      searchAffiliates: null,
      affiliates: null
    }
  },
  beforeDestroy () {
    this.$store.dispatch('deleteAffiliateToLinkDetails')
  },
  computed: {
    show: {
      get () {
        return this.visible
      },
      set (value) {
        if (!value) {
          this.$emit('close')
        }
      }
    },
    ...mapGetters([
      'affiliateToLinkDetails'
    ]),
    computedStartDateFormattedMomentjs () {
      moment.locale(this.$i18n.locale)
      return this.affiliate.birthdate ? moment(this.affiliate.birthdate).format('DD MM YYYY') : ''
    },
    getAge () {
      var year = this.affiliate.birthdate.substring(0, 4)
      var month = this.affiliate.birthdate.substring(5, 7)
      var day = this.affiliate.birthdate.substring(8, 10)
      var birthdate = String(year) + String(month) + String(day)
      return moment().diff(moment(birthdate, 'YYYYMMDD'), 'years')
    },
    isDisabled () {
      return !this.affiliate.first_name || !this.affiliate.last_name ||
        !this.affiliate.dni_type || !this.affiliate.dni || !this.affiliate.gender ||
        !this.affiliate.birthdate || this.phoneNumberChips.length === 0 ||
        !this.affiliate.kinship || (this.hasDni === true && this.getAge < 9)
    },
    affiliateLinkageDni () {
      if (this.policyData.policy.affiliates !== undefined) {
        for (var i = 0; i < this.policyData.policy.affiliates.length; i++) {
          if (this.policyData.policy.affiliates[i].kinship === 'HOLDER') {
            return this.policyData.policy.affiliates[i].affiliate.dni
          }
        }
      }
    },
    affiliateItems () { //  TODO: edit
      return this.affiliatesResults.map(entry => {
        const term = entry.dni.length > this.descriptionLimit
          ? entry.dni.slice(0, this.descriptionLimit) + '...'
          : entry.dni

        return Object.assign({}, entry, { term })
      })
    }
  },
  watch: {
    searchAffiliates (val) {
      if (!val) return

      if (val.length < 6) return

      this.isLoadingAffiliates = true

      // Lazily load input affiliate Items
      fetch(process.env.ROOT_API + 'api/v1/affiliates?search=' + val + '&limit=100', {
        headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
          'Content-Type': 'application/json'
        }
      })
        .then(res => res.json())
        .then(res => {
          const { count, results } = res
          this.count = count
          this.affiliatesResults = results
        })
        .catch(err => {
          console.log(err)
        })
        .finally(() => (this.isLoadingAffiliates = false))
    }
  },
  props: {
    visible: Boolean,
    policyData: Object
  },
  methods: {
    updatePhoneTags () {
      this.$nextTick(() => {
        this.select.push(...this.searchPhone.split(','))
        this.$nextTick(() => {
          this.searchPhone = ''
        })
      })
    },
    updateEmailTags () {
      this.$nextTick(() => {
        this.select.push(...this.searchEmail.split(','))
        this.$nextTick(() => {
          this.searchEmail = ''
        })
      })
    },
    linkAffiliate () {
      const setPhoneNumbers = () => {
        var phoneNumbers = []
        var phone = ''
        for (var i = 0; i < this.phoneNumberChips.length; i++) {
          phone = this.phoneNumberChips[i].replace('0', '+58')
          phoneNumbers.push({phone_number: phone, primary: true})
        }
        return phoneNumbers
      }

      const setEmails = () => {
        var emails = []
        for (var i = 0; i < this.emailChips.length; i++) {
          emails.push({email: this.emailChips[i], primary: true})
        }
        return emails
      }

      const setAddress = () => {
        var address = []
        address.push({address_line1: this.addressObject.address_line1, address_line2: this.addressObject.address_line2, region: this.addressObject.region.id, AddressType: 'HOME', last_update_user: this.$store.state.login.authUser.pk, unknown_region: this.addressObject.unknown_region})
        return address
      }

      this.$store.dispatch('getAffiliateToLinkDetails', this.affiliate.dni_type + this.affiliate.dni + this.affiliate.dni_suffix.replace('#', '%23')) // Filter affiliates by the DNI of the affiliate to link
      this.unwatchAffiliateToLink = this.$store.watch(() => this.$store.getters.affiliateToLinkDetails, affiliateToLinkDetails => {
        //  Check if the affiliate already exists
        if (this.affiliateToLinkDetails.length > 0) { //  Edit existing affiliate
          const editAffiliate = async () => {
            this.affiliate.phone_numbers = await setPhoneNumbers()
            if (this.emailChips.length > 0) {
              this.affiliate.emails = await setEmails()
            }
            if (this.addressObject !== undefined && this.addressObject !== null && this.addressObject.region !== undefined) {
              this.affiliate.affiliate_addresses = await setAddress()
            }

            this.affiliate.policies = []
            if (this.affiliateToLinkDetails[0].policies) { //  Add previous policies to this.affiliate.policies
              for (let i = 0; i < this.affiliateToLinkDetails[0].policies.length; i++) {
                this.affiliate.policies.push({
                  policy: this.affiliateToLinkDetails[0].policies[i].policy.id,
                  kinship: this.affiliateToLinkDetails[0].policies[i].kinship
                })
              }
            }
            //  Add new policy to this.affiliate.policies
            this.affiliate.policies.push({policy: this.policyData.policy.id, kinship: this.affiliate.kinship})

            var data = {
              affiliate: this.affiliateToLinkDetails[0].id,
              policies: this.affiliate.policies,
              first_name: this.affiliate.first_name,
              last_name: this.affiliate.last_name,
              gender: this.affiliate.gender,
              emails: this.affiliate.emails,
              birthdate: this.affiliate.birthdate,
              affiliate_addresses: this.affiliate.affiliate_addresses,
              phone_numbers: this.affiliate.phone_numbers
            }

            //  Edit affiliate's details (including new link to policy)
            this.$store.dispatch('editAffiliateToLink', data).then(() => {
              this.text = this.$t('new_link_success')
              this.$emit('linkCreated', this.text)
              this.show = false
              this.resetForm()
            }).catch(() => {
              this.text = this.$t('error_check_data')
              this.$emit('linkNotCreated', this.text)
            })
          }
          editAffiliate()
        } else { //  Create new affiliate
          const createAffiliate = async () => {
            this.affiliate.phone_numbers = await setPhoneNumbers()
            if (this.emailChips.length > 0) {
              this.affiliate.emails = await setEmails()
            }
            if (this.addressObject !== undefined && this.addressObject !== null && this.addressObject.region !== undefined) {
              this.affiliate.affiliate_addresses = await setAddress()
            }

            this.affiliate.policies = []
            //  Add new policy to this.affiliate.policies
            this.affiliate.policies.push({policy: this.policyData.policy.id, kinship: this.affiliate.kinship})
            var newAffiliateData = {
              policies: this.affiliate.policies,
              first_name: this.affiliate.first_name,
              last_name: this.affiliate.last_name,
              gender: this.affiliate.gender,
              emails: this.affiliate.emails,
              birthdate: this.affiliate.birthdate,
              affiliate_addresses: this.affiliate.affiliate_addresses,
              phone_numbers: this.affiliate.phone_numbers,
              dni: this.affiliate.dni_type + this.affiliate.dni + this.affiliate.dni_suffix,
              from_validator: false,
              registered_by: this.$store.state.login.authUser.pk
            }

            this.$store.dispatch('setNewAffiliate', newAffiliateData).then(() => {
              this.text = this.$t('new_link_success')
              this.$emit('linkCreated', this.text)
              this.show = false
              this.resetForm()
            }).catch((error) => {
              if (error.request.responseText.includes('dni') && error.request.responseText.includes('existe')) { // TODO: improve
                this.text = this.$t('error_affiliate_exists')
              } else if (error.request.responseText.includes('dni') && error.request.responseText.includes('no válido')) { // TODO: improve
                this.text = this.$t('error_invalid_dni')
              } else {
                this.text = this.$t('error_check_data')
              }

              this.$emit('linkNotCreated', this.text)
            })
          }
          createAffiliate()
        }

        if (this.unwatchAffiliateToLink) {
          this.unwatchAffiliateToLink()
        }
      })
    },
    removePhoneNumber (item) {
      this.phoneNumberChips.splice(this.phoneNumberChips.indexOf(item), 1)
      this.phoneNumberChips = [...this.phoneNumberChips]
    },
    removeEmail (item) {
      this.emailChips.splice(this.emailChips.indexOf(item), 1)
      this.emailChips = [...this.emailChips]
    },
    resetForm: function () {
      this.affiliate.first_name = ''
      this.affiliate.last_name = ''
      this.affiliate.dni_type = 'V'
      this.affiliate.dni = ''
      this.affiliate.dni_suffix = ''
      this.affiliate.birthdate = new Date(1990, 0, 1).toISOString().substr(0, 10)
      this.affiliate.gender = ''
      this.affiliate.kinship = ''
      this.affiliate.phone_numbers = []
      this.affiliate.emails = []
      this.affiliate.affiliate_addresses = []
      this.phoneNumberChips = []
      this.emailChips = []
      this.address = ''
      this.addressObject = {}
      this.affiliates = null
      this.hasDni = true

      this.$nextTick(() => {
        this.$validator.reset()
      })
    },
    onAddressAssigned (...args) {
      const [address] = args
      var addressLine2 = address.address_line2 ? ' (' + address.address_line2 + ')' : ''
      this.address = address.unknown_region
        ? address.address_line1 + ', ' + this.$t('unknown_region') + ', ' + address.region.second_level.name + ', ' + address.region.second_level.first_level.name + addressLine2
        : address.address_line1 + ', ' + address.region.name + ', ' + address.region.second_level.name + ', ' + address.region.second_level.first_level.name + addressLine2
      this.addressObject = address
    },
    changeDni () {
      this.affiliate.dni_type = ''
      this.affiliate.dni = ''
      this.affiliate.dni_suffix = ''
      if (this.hasDni === false) {
        this.affiliate.dni_type = this.affiliateLinkageDni.substring(0, 1)
        this.affiliate.dni = this.affiliateLinkageDni.substring(1)
        this.affiliate.dni_suffix = '#' + this.policyData.policy.affiliates.length.toString()
      }
    },
    fullNameAffiliate: item => item.dni + ' (' + item.first_name + ' ' + item.last_name + ')',
    changeFormData () {
      if (this.affiliates) {
        this.loadFormData()
      } else {
        this.resetForm()
      }
    },
    loadFormData () {
      this.affiliate.first_name = this.affiliates.first_name
      this.affiliate.last_name = this.affiliates.last_name
      if (this.affiliates.dni.includes('#')) {
        this.hasDni = false
      } else {
        this.hasDni = true
      }
      this.affiliate.dni_type = this.affiliates.dni.substring(0, 1)
      var end = this.affiliates.dni.indexOf('#')
      this.affiliate.dni = end !== -1 ? this.affiliates.dni.substring(1, end) : this.affiliates.dni.substring(1)
      this.affiliate.dni_suffix = end !== -1 ? this.affiliates.dni.substring(end) : ''
      this.affiliate.birthdate = new Date(this.affiliates.birthdate.substring(0, 4),
        this.affiliates.birthdate.substring(5, 7) - 1,
        this.affiliates.birthdate.substring(8, 10)).toISOString().substr(0, 10)
      this.affiliate.gender = this.affiliates.gender === 'Masculino' ? 'MALE' : 'FEMALE'
      var phoneNumbers = []
      for (var i = 0; i < this.affiliates.phone_numbers.length; i++) {
        phoneNumbers.push(this.affiliates.phone_numbers[i].phone_number.replace('+58', '0'))
      }
      this.phoneNumberChips = phoneNumbers
      var emails = []
      for (var j = 0; j < this.affiliates.emails.length; j++) {
        emails.push(this.affiliates.emails[j].email)
      }
      this.emailChips = emails
      this.address = this.affiliates.affiliate_addresses.length > 0
        ? this.affiliates.affiliate_addresses[0].address_line1 + ', ' +
          (this.affiliates.affiliate_addresses[0].unknown_region ? this.$t('unknown_region') : this.affiliates.affiliate_addresses[0].region.name) + ', ' +
          this.affiliates.affiliate_addresses[0].region.second_level.name + ', ' +
          this.affiliates.affiliate_addresses[0].region.second_level.first_level.name + (this.affiliates.affiliate_addresses[0].address_line2 ? ' (' + this.affiliates.affiliate_addresses[0].address_line2 + ')' : '')
        : ''
      this.addressObject = this.affiliates.affiliate_addresses[0]

      this.$nextTick(() => {
        this.$validator.reset()
      })
    }
  }
}
</script>
