<template>
  <v-row justify="center">
    <v-dialog v-model="show" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">{{ $t('new_sponsor') }}</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap justify-space-between>
              <v-flex xs12 sm12 md12>
                <v-text-field
                  v-model="name"
                  :label="$t('name')"
                  v-validate="'required'"
                  :error-messages="errors.collect('name')"
                  data-vv-name="name"
                  :data-vv-as="$t('name')"
                  dense
                ></v-text-field>
              </v-flex>
              <!-- <v-flex xs12 sm12 md12>
                <v-autocomplete
                  v-model="type"
                  :items="organizationTypeItems"
                  item-value='id'
                  item-text='name'
                  :label="$t('type')"
                  v-validate="'required'"
                  :error-messages="errors.collect('type')"
                  data-vv-name="type"
                  :data-vv-as="$t('type')"
                  dense
                ></v-autocomplete>
              </v-flex>
              <v-flex xs12 sm5 md5>
                <v-text-field
                  v-model="code"
                  :label="$t('code')"
                  v-mask="codeMask"
                  dense
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 md6>
                <v-text-field
                  v-model="vat"
                  :label="$t('vat')"
                  v-mask="vatMask"
                  dense
                ></v-text-field>
              </v-flex> -->
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-btn color="white" @click="show = false, resetForm()">{{ $t('cancel') }}</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="success" @click="createOrganization()" :disabled="errors.any() || isDisabled" type="submit">{{ $t('save') }}</v-btn>
        </v-card-actions>
        <v-snackbar
          v-model="snackbar"
          :color="color"
          :timeout="timeout"
          :top=true
        >
          {{ text }}
          <v-btn
            color="white"
            text
            @click="snackbar = false"
          >
            {{ $t('close') }}
          </v-btn>
        </v-snackbar>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { mask } from 'vue-the-mask'
import axios from 'axios'
import { mapGetters } from 'vuex'

/*
  El componente `<NewOrganization>` es usado para desplegar un formulario
  para la creación de nuevas organizaciones.

  `<NewOrganization>` es hijo de los componentes `<AffiliateList>` y `<NotAffiliate>`.

  ---

  The `<NewOrganization>` component is used to display a form
  for the creation of new organizations.

  `<NewOrganization>` is child of `<AffiliateList>` and `<NotAffiliate>` components.

  @author Ixhel Mejías, Adriana Tiso
 */

export default {
  directives: {
    mask
  },
  data () {
    return {
      name: '',
      type: null,
      code: '',
      vat: '',
      codeMask: 'AAA-AAA',
      vatMask: 'A-#########',
      snackbar: false,
      text: '',
      timeout: 6000,
      color: ''
    }
  },
  computed: {
    ...mapGetters([
      'organizationTypeItems',
      'organizationItems'
    ]),
    show: {
      get () {
        return this.visible
      },
      set (value) {
        if (!value) {
          this.$emit('close')
        }
      }
    },
    isDisabled () {
      return !this.name
    }
  },
  methods: {
    resetForm () {
      this.name = ''

      this.$nextTick(() => {
        this.$validator.reset()
      })
    },
    createOrganization () {
      this.vat = 'J' + this.organizationItems.length
      const data = {
        name: this.name,
        code: 'REVISAR',
        tax_id: null,
        has_plans: false,
        organization_type: 12
      }

      axios.post(process.env.ROOT_API + 'api/v1/organizations-simple', data, {
        headers: {Authorization: 'Bearer ' + this.$store.state.login.jwt,
          'Content-Type': 'application/json'
        }
      })
        .then((response) => {
          this.text = this.$t('sponsor_added')
          this.$emit('organizationCreated', this.text)

          this.$store.dispatch('getOrganizationItems')
          this.show = false
          this.resetForm()
        })
        .catch((error) => {
          this.text = this.$t('error_check_data')
          this.color = 'error'
          this.timeout = 4000
          this.snackbar = true

          console.log(error)
          console.debug(error)
          console.dir(error)
        })
    }
  },
  props: {
    visible: Boolean
  }
}
</script>
