<template>
  <v-row justify="center">
        <v-snackbar
          v-model="snackbar"
          :color="color"
          :timeout="timeout"
          :top=true
        >
          {{ text }}
          <v-btn
            color="white"
            text
            @click="snackbar = false"
          >
            {{ $t('close') }}
          </v-btn>
        </v-snackbar>
    <v-banner single-line elevation=2>
      <v-icon
        slot="icon"
        color="warning"
        size="36"
      >
        mdi-alert
      </v-icon>
      {{ $t('id_not_found') }}
      <template v-slot:actions>
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
        <v-btn
          color="success"
          @click="alert"
          class="d-none d-sm-flex"
          v-on="on"
        >
          {{ $t('add_affiliate') }}
        </v-btn>
          </template>
          <span>{{ $t('add_particular_message') }}</span>
        </v-tooltip>
        <v-btn
          fab
          dark
          small
          color="success"
          @click="alert"
          class="d-flex d-sm-none"
        >
          <v-icon dark>mdi-plus</v-icon>
        </v-btn>
      </template>
    </v-banner>

    <v-dialog v-model="dialog" persistent max-width="1200px">
      <v-layout>
        <v-flex sm7 md7 white>
          <v-card flat>
            <v-card-title>
              <span class="headline">{{ $t('new_affiliate') }}</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-xs>
                <v-layout row justify-space-between>
                <v-flex sm6 md6>
                    <v-text-field
                    v-model="affiliate.first_name"
                    v-bind:label="$t('first_name')"
                    v-validate="'required'"
                    :error-messages="errors.collect('affiliate.first_name')"
                    data-vv-name="affiliate.first_name"
                    :data-vv-as="$t('first_name')"
                    :hint="$t('mandatory_field')"
                    dense>
                    </v-text-field>
                  </v-flex>
                  <v-flex sm6 md6>
                    <v-text-field
                    v-model="affiliate.last_name"
                    v-bind:label="$t('last_name')"
                    v-validate="'required'"
                    :error-messages="errors.collect('affiliate.last_name')"
                    data-vv-name="affiliate.last_name"
                    :data-vv-as="$t('last_name')"
                    :hint="$t('mandatory_field')"
                    dense>
                    </v-text-field>
                  </v-flex>
                  <v-flex sm1 md1>
                    <v-select
                      v-model="affiliate.dni_type"
                      :items="dniTypeItems"
                      item-text="display"
                      item-value="code"
                      v-bind:label="$t('dni_type')"
                      v-validate="'required'"
                      :error-messages="errors.collect('affiliate.dni_type')"
                      data-vv-name="affiliate.dni_type"
                      :data-vv-as="$t('dni_type')"
                      :hint="$t('mandatory_field')"
                      dense
                    ></v-select>
                  </v-flex>
                  <v-flex sm4 md4>
                    <v-text-field
                    v-model="affiliate.dni"
                    v-bind:label="$t('id_number')"
                    v-mask="dniMask"
                    v-validate="'required:true|verify_dni'"
                    :error-messages="errors.collect('affiliate.dni')"
                    data-vv-name="affiliate.dni"
                    :data-vv-as="$t('id_number')"
                    :hint="$t('enter_dni')"
                    dense>
                    </v-text-field>
                  </v-flex>
                  <v-flex sm3 md3>
                    <v-text-field
                    type="date"
                    :value="computedStartDateFormattedMomentjs"
                    v-model="affiliate.birthdate"
                    v-bind:label="$t('birthdate')"
                    v-validate="'required'"
                    :error-messages="errors.collect('affiliate.birthdate')"
                    data-vv-name="affiliate.birthdate"
                    :data-vv-as="$t('birthdate')"
                    :hint="$t('holder_birthdate')"
                    dense>
                    </v-text-field>
                  </v-flex>
                  <v-flex sm3 md3>
                    <v-select
                      v-model="affiliate.gender"
                      :items="genderItems"
                      item-text="display"
                      item-value="code"
                      v-bind:label="$t('gender')"
                      v-validate="'required'"
                      :error-messages="errors.collect('affiliate.gender')"
                      data-vv-name="affiliate.gender"
                      :data-vv-as="$t('gender')"
                      :hint="$t('mandatory_field')"
                      dense
                    ></v-select>
                  </v-flex>
                  <v-flex sm5 md5>
                    <v-autocomplete
                      v-model="client"
                      :items="organizationWithPlanItems"
                      item-value='id'
                      item-text='name'
                      v-bind:label="$t('client')"
                      dense
                      v-validate="'required'"
                      :error-messages="errors.collect('client')"
                      data-vv-name="client"
                      :data-vv-as="$t('client')"
                      :hint="$t('mandatory_field')"
                      :no-data-text="$t('no_data_available')"
                      @change="deletePlan()"
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex sm3 md3>
                    <v-autocomplete
                      v-model="plan"
                      :items="filteredPlans"
                      item-value='id'
                      item-text='name'
                      v-bind:label="$t('plan')"
                      dense
                      v-validate="'required'"
                      :error-messages="errors.collect('plan')"
                      data-vv-name="plan"
                      :data-vv-as="$t('plan')"
                      :hint="$t('mandatory_field')"
                      :no-data-text="$t('no_data_available')"
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex sm3 md3 v-if="(!formFilter)">
                    <v-select
                      v-if="this.client"
                      v-model="contractType"
                      :items="contractItems"
                      item-text="display"
                      item-value="code"
                      v-bind:label="$t('contract_type')"
                      v-validate="'required'"
                      :error-messages="errors.collect('contract')"
                      data-vv-name="contract"
                      :data-vv-as="$t('contract_type')"
                      :hint="$t('mandatory_field')"
                      dense
                    ></v-select>
                  </v-flex>
                  <v-flex sm3 md3 v-else></v-flex>
                </v-layout>
                <v-layout row justify-space-between v-if="(!formFilter)">
                  <v-flex sm6 md6 v-if="this.contractType === 'GROUP'">
                    <v-autocomplete
                      v-if="this.client"
                      v-model="sponsor"
                      :items="organizationItems"
                      item-value='id'
                      item-text='name'
                      v-bind:label="$t('sponsor')"
                      dense
                      v-validate="'required'"
                      :error-messages="errors.collect('sponsor')"
                      data-vv-name="sponsor"
                      :data-vv-as="$t('sponsor')"
                      :no-data-text="$t('no_data_available')"
                      :hint="$t('mandatory_field')"
                    >
                    <template v-slot:append-outer>
                        <v-slide-x-reverse-transition
                          mode="out-in"
                        >
                          <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                              <v-icon
                                class="mr-2"
                                @click="showOrganizationForm = true"
                                v-on="on"
                                color="success"
                              >
                                mdi-plus
                              </v-icon>
                            </template>
                            <span>{{ $t('add_another_sponsor') }}</span>
                          </v-tooltip>
                        </v-slide-x-reverse-transition>
                      </template>
                    </v-autocomplete>
                    <NewOrganization :visible="showOrganizationForm" @close="showOrganizationForm=false" @organizationCreated="onOrganizationCreated" />
                  </v-flex>
                  <v-flex sm5 md5>
                    <v-text-field
                    v-if="this.client"
                    v-model="affiliate.authorized_by"
                    v-bind:label="$t('authorized_by')"
                    v-validate="{ required:true, min: 3, regex: /^[a-zA-Z ]/}"
                    :error-messages="errors.collect('affiliate.authorized_by')"
                    data-vv-name="affiliate.authorized_by"
                    :data-vv-as="$t('authorized_by')"
                    :hint="$t('authorized_field')"
                    dense>
                    </v-text-field>
                  </v-flex>
                  </v-layout>
                  <v-layout row justify-space-between>
                  <v-flex sm12 md12>
                    <v-combobox
                        multiple
                        v-model="phoneNumberChips"
                        v-bind:label="$t('contact_numbers')"
                        v-bind:hint="$t('press_enter_new_number')"
                        v-validate="{ required: true, min: 11, regex:/^(0(2[13456789][0-9]{8}|4[12][46][0-9]{7}|412[0-9]{7}))/ }"
                        :error-messages="errors.collect('phoneNumberChips')"
                        data-vv-name="phoneNumberChips"
                        :data-vv-as="$t('contact_numbers')"
                        color="light-blue darken-1"
                        v-mask="phoneMask"
                        small-chips
                        dense
                        deletable-chips
                        class="tag-input"
                        :search-input.sync="searchPhone"
                        @keyup.tab="updatePhoneTags"
                        @paste="updatePhoneTags">
                    </v-combobox>
                  </v-flex>
                  <v-flex sm12 md12>
                    <v-combobox
                      v-model="emailChips"
                      v-bind:label="$t('emails')"
                      v-bind:hint="$t('press_enter_new_email')"
                      multiple
                      dense
                      v-validate="'email'"
                      :error-messages="errors.collect('emailChips')"
                      data-vv-name="emailChips"
                      :data-vv-as="$t('emails')"
                      color="light-blue darken-1"
                      small-chips
                      deletable-chips
                      class="tag-input"
                      :search-input.sync="searchEmail"
                      @keyup.tab="updateEmailTags"
                      @paste="updateEmailTags">
                    </v-combobox>
                  </v-flex>
                  <v-flex sm12 md12>
                    <v-textarea
                      v-model="address"
                      color="light-blue darken-1"
                      v-bind:label="$t('address')"
                      :error-messages="errors.collect('address')"
                      data-vv-name="address"
                      dense
                      rows="1"
                      row-height="15"
                      readonly
                      auto-grow
                      @click.stop="showAddressForm = true"
                    ></v-textarea>
                  </v-flex>
                </v-layout>
                <AddressForm :visible="showAddressForm" :showAutocomplete="false" :createServiceAddress="false" :defaultAddress="addressObject" @close="showAddressForm=false" @addressAssigned="onAddressAssigned" />
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-btn color="white" @click="dialog = false, resetForm()">{{ $t('cancel') }}</v-btn>
              <v-spacer></v-spacer>
              <v-btn color="success" @click="createAffiliate()" :disabled="errors.any() || isDisabled" type="submit">{{ $t('save') }}</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>

        <v-flex sm5 md5 grey lighten-2>
          <Validator :searchBox="true" :term="searchTerm" />
        </v-flex>

      </v-layout>
    </v-dialog>
  </v-row>
</template>

<script>
import moment from 'moment'
import { mapGetters } from 'vuex'
import { mask } from 'vue-the-mask'
import NewAttention from '@/components/attentions/NewAttention'
import AddressForm from '@/components/attentions/attention_details/attention_services/AddressForm'
import NewOrganization from '@/components/attentions/NewOrganization'
import Validator from '@/components/attentions/Validator'

/*
  El componente `<NotAffiliate>` se utiliza para presentar un formulario de
  creación de un nuevo afiliado. Además, muestra los resultados de la búsqueda
  del afiliado en el `Validador`, mediante el componente `<Validator>`.

  `<NotAffiliate>` hace uso del componente `<AddressForm>` para la asignación
  de la dirección personal del afiliado. Mediante el componente `<NewOrganization>`,
  se podrá añadir una nueva organización en el listado del campo `Contratante`.

  `<NotAffiliate>` es hijo del componente `<NewAttention>`.

  ---

  The `<NotAffiliate>` component is used to display the new affiliate creation
  form. In addition, it shows the results of the affiliate in the
  `Validator`, by using the` <Validator> `component.

  `<NotAffiliate>` makes use of the `<AddressForm>` component to assign the
  affiliate's personal address. Through the `<NewOrganization>` component, a
  new organization can be added in the list of the `Contractor` field.

  `<NotAffiliate>` is a child of the `<NewAttention>` component.

  @author Ixhel Mejías, Adriana Tiso
 */

export default {
  directives: {
    mask
  },
  components: {NewAttention, AddressForm, NewOrganization, Validator},
  data () {
    return {
      filter: false,
      plan: '',
      sponsor: '',
      client: '',
      activator: null,
      attach: null,
      editing: null,
      items: [],
      searchPhone: '',
      searchEmail: '',
      affiliate: {
        policies: [],
        first_name: '',
        last_name: '',
        gender: '',
        emails: [],
        birthdate: new Date(1990, 0, 1).toISOString().substr(0, 10),
        affiliate_addresses: [],
        phone_numbers: [],
        dni: '',
        dni_type: 'V',
        from_validator: '',
        authorized_by: '',
        registered_by: ''
      },
      contractType: '',
      dialog: false,
      genderItems: [
        {code: 'MALE', display: this.$t('male')},
        {code: 'FEMALE', display: this.$t('female')}
      ],
      contractItems: [
        {code: 'INDIVIDUAL', display: this.$t('individual')},
        {code: 'GROUP', display: this.$t('collective')}
      ],
      dniTypeItems: [
        'V',
        'E',
        'P'
      ],
      phoneNumberChips: [],
      phoneMask: '0##########',
      dniMask: '########',
      emailChips: [],
      snackbar: false,
      text: '',
      timeout: 6000,
      color: '',
      address: '',
      addressObject: {},
      showAddressForm: false,
      showOrganizationForm: false
    }
  },
  created () {
    this.affiliate.dni = String(parseInt(this.searchTerm)).length >= 6 ? parseInt(this.searchTerm) : ''
  },
  beforeDestroy () {
    if (this.unwatchPolicy) {
      this.unwatchPolicy()
    }
  },
  computed: {
    ...mapGetters([
      // map this.policyDetails to this.$store.getters.policyDetails
      'policyDetails',
      'planItems',
      'organizationItems',
      'organizationWithPlanItems',
      'userItems'
    ]),
    computedStartDateFormattedMomentjs () {
      moment.locale(this.$i18n.locale)
      return this.affiliate.birthdate ? moment(this.affiliate.birthdate).format('DD MM YYYY') : ''
    },
    getAge () {
      var year = this.affiliate.birthdate.substring(0, 4)
      var month = this.affiliate.birthdate.substring(5, 7)
      var day = this.affiliate.birthdate.substring(8, 10)
      var birthdate = String(year) + String(month) + String(day)
      return moment().diff(moment(birthdate, 'YYYYMMDD'), 'years')
    },
    isDisabled () {
      if (this.formFilter) { //  If client organization is public or self-financed
        return !this.affiliate.first_name || !this.affiliate.last_name || !this.affiliate.dni_type ||
          !this.affiliate.dni || !this.affiliate.gender || !this.affiliate.birthdate ||
          !this.plan || this.phoneNumberChips.length === 0 || this.getAge < 18
      } else if (this.contractType === 'INDIVIDUAL') {
        return !this.affiliate.first_name || !this.affiliate.last_name || !this.affiliate.dni_type ||
          !this.affiliate.dni || !this.affiliate.gender || !this.affiliate.birthdate ||
          !this.plan || this.phoneNumberChips.length === 0 ||
          !this.contractType || !this.affiliate.authorized_by || this.getAge < 18
      } else {
        return !this.affiliate.first_name || !this.affiliate.last_name || !this.affiliate.dni_type ||
          !this.affiliate.dni || !this.affiliate.gender || !this.affiliate.birthdate ||
          !this.plan || this.phoneNumberChips.length === 0 ||
          !this.contractType || !this.sponsor || !this.affiliate.authorized_by || this.getAge < 18
      }
    },
    filteredPlans () {
      var plans = []
      for (var i = 0; i < this.planItems.length; i++) {
        if (this.planItems[i].organization.id === this.client) {
          plans.push(this.planItems[i])
        }
      }
      return plans
    },
    formFilter () {
      var filter = false
      for (var i = 0; i < this.organizationWithPlanItems.length; i++) {
        if (this.organizationWithPlanItems[i].id === this.client && this.organizationWithPlanItems[i].name.includes('Alcaldía de')) {
          filter = true
          return filter
        } else if (this.organizationWithPlanItems[i].id === this.client && this.organizationWithPlanItems[i].name.includes('Autofinanciada')) {
          filter = true
          return filter
        }
      }
      return filter
    }
  },
  props: {
    searchTerm: String
  },
  methods: {
    getPlan (pickedPlan) {
      var plan = ''
      for (var i = 0; i < this.planItems.length; i++) {
        if (this.planItems[i].id === pickedPlan) {
          plan = this.planItems[i].name
        }
      }
      return plan
    },
    updatePhoneTags () {
      this.$nextTick(() => {
        this.select.push(...this.searchPhone.split(','))
        this.$nextTick(() => {
          this.searchPhone = ''
        })
      })
    },
    updateEmailTags () {
      this.$nextTick(() => {
        this.select.push(...this.searchEmail.split(','))
        this.$nextTick(() => {
          this.searchEmail = ''
        })
      })
    },
    alert () {
      this.dialog = true
    },
    createAffiliate () {
      this.affiliate.policies = []

      var dni = ''
      dni = this.affiliate.dni_type + this.affiliate.dni

      const setSponsor = () => {
        var sponsor = ''
        if (this.client === 1 || this.client === 28 || this.client === 29 || this.client === 30) {
          sponsor = this.client
        } else if (this.contractType === 'INDIVIDUAL') {
          sponsor = '1'
        } else {
          sponsor = this.sponsor
        }
        return sponsor
      }

      const setContractType = () => {
        var contractType = ''
        if (this.sponsor === 1 || this.sponsor === 28 || this.sponsor === 29 || this.sponsor === 30) {
          contractType = 'INDIVIDUAL'
        } else {
          contractType = this.contractType
        }
        return contractType
      }

      this.sponsor = setSponsor()
      this.contractType = setContractType()
      var planName = this.getPlan(this.plan)

      var data = {
        plan: this.plan,
        code: dni + '-' + planName,
        sponsor: this.sponsor,
        authorized_by: this.affiliate.authorized_by,
        policy_type: this.contractType
      }
      this.$store.dispatch('setNewPolicy', data)

      const setPhoneNumbers = () => {
        var phoneNumbers = []
        var phone = ''
        for (var i = 0; i < this.phoneNumberChips.length; i++) {
          phone = this.phoneNumberChips[i].replace('0', '+58')
          phoneNumbers.push({phone_number: phone, primary: true})
        }
        return phoneNumbers
      }

      const setEmails = () => {
        var emails = []
        for (var i = 0; i < this.emailChips.length; i++) {
          emails.push({email: this.emailChips[i], primary: true})
        }
        return emails
      }

      const setAddress = () => {
        var address = []
        address.push({address_line1: this.addressObject.address_line1, address_line2: this.addressObject.address_line2, region: this.addressObject.region.id, AddressType: 'HOME', last_update_user: this.$store.state.login.authUser.pk, unknown_region: this.addressObject.unknown_region})
        return address
      }

      const setNewAffiliate = async () => {
        this.affiliate.phone_numbers = await setPhoneNumbers()
        this.affiliate.emails = await setEmails()
        if (this.addressObject !== null && this.addressObject.region !== undefined) {
          this.affiliate.affiliate_addresses = await setAddress()
        }

        this.unwatchPolicy = this.$store.watch(() => this.$store.getters.policyDetails, policyDetails => {
          this.unwatchPolicy()
          this.affiliate.policies.push({policy: this.policyDetails.id, kinship: 'HOLDER'}) // TODO: create policy after affiliate
          var newAffiliateData = {
            policies: this.affiliate.policies,
            first_name: this.affiliate.first_name,
            last_name: this.affiliate.last_name,
            gender: this.affiliate.gender,
            emails: this.affiliate.emails,
            birthdate: this.affiliate.birthdate,
            affiliate_addresses: this.affiliate.affiliate_addresses,
            phone_numbers: this.affiliate.phone_numbers,
            dni: dni,
            from_validator: false,
            registered_by: this.$store.state.login.authUser.pk
          }

          this.$store.dispatch('setNewAffiliate', newAffiliateData).then(() => {
            this.$emit('newRegisteredId', dni)
            this.text = this.$t('new_affiliate_success')
            this.$emit('affiliateCreated', this.text)
            this.dialog = false
          }).catch((error) => {
            console.log(error)
            console.debug(error)
            console.dir(error)

            if (error.request.responseText.includes('dni') && error.request.responseText.includes('existe')) { // TODO: improve
              this.text = this.$t('error_affiliate_exists')
            } else if (error.request.responseText.includes('dni') && error.request.responseText.includes('no válido')) { // TODO: improve
              this.text = this.$t('error_invalid_dni')
            } else {
              this.text = this.$t('error_check_data')
            }

            this.color = 'red'
            this.timeout = 6000
            this.snackbar = true
            this.dialog = true
          })
        })
      }

      setNewAffiliate()
    },
    removePhoneNumber (item) {
      this.phoneNumberChips.splice(this.phoneNumberChips.indexOf(item), 1)
      this.phoneNumberChips = [...this.phoneNumberChips]
    },
    removeEmail (item) {
      this.emailChips.splice(this.emailChips.indexOf(item), 1)
      this.emailChips = [...this.emailChips]
    },
    resetForm: function () {
      this.affiliate.first_name = ''
      this.affiliate.last_name = ''
      this.affiliate.dni_type = 'V'
      this.affiliate.birthdate = new Date(1990, 0, 1).toISOString().substr(0, 10)
      this.affiliate.gender = ''
      this.plan = ''
      this.client = ''
      this.sponsor = ''
      this.phoneNumberChips = []
      this.emailChips = []
      this.address = ''
      this.addressObject = {}
      this.$nextTick(() => {
        this.$validator.reset()
      })
    },
    onAddressAssigned (...args) {
      const [address] = args
      var addressLine2 = address.address_line2 ? ' (' + address.address_line2 + ')' : ''
      this.address = address.unknown_region
        ? address.address_line1 + ', ' + this.$t('unknown_region') + ', ' + address.region.second_level.name + ', ' + address.region.second_level.first_level.name + addressLine2
        : address.address_line1 + ', ' + address.region.name + ', ' + address.region.second_level.name + ', ' + address.region.second_level.first_level.name + addressLine2
      this.addressObject = address
    },
    fullNameUser: item => item.first_name + ' ' + item.last_name,
    onOrganizationCreated (value) {
      this.text = value
      this.color = 'success'
      this.timeout = 4000
      this.snackbar = true
    },
    deletePlan () {
      this.plan = ''
    }
  }
}
</script>
