<template>
  <v-card color="grey lighten-5">
  <v-card-text>
      <v-container grid-list-md>
      <v-layout wrap justify-space-between>
          <v-flex xs12 sm2 md2></v-flex>
          <v-flex xs12 sm8 md8>
          <v-text-field
              v-model="searchTerm"
              color="light-blue darken-1"
              v-bind:label="$t('attention_number')"
              v-bind:placeholder="$t('search')"
              dense
              outlined
              @keyup.enter="attentionSearch(searchTerm)"
              append-icon="mdi-magnify"
              @click:append="attentionSearch(searchTerm)"
          >
          </v-text-field>
          <v-alert type="error" v-if="showErrorAlert">
              {{ $t('invalid_search_term') }}
          </v-alert>
          <v-alert type="warning" v-if="showNotFoundAlert">
              {{ $t('search_term_not_found') }}
          </v-alert>
          </v-flex>
          <v-flex xs12 sm2 md2></v-flex>
      </v-layout>
      </v-container>
      <SearchedAttentionList v-if="found"/>
  </v-card-text>
  </v-card>
</template>

<script>
import { mapGetters } from 'vuex'
import SearchedAttentionList from '@/components/attentions/SearchedAttentionList'

/*
  El componente `<SearchedAttention>` es el campo de búsqueda de
  atenciones por numero de atención.

  `<SearchedAttention>` es hijo del componente `<Attentions>`.

  ---

  The component `<SearchedAttention>` is the search field of
  attentions by number of attention.

  `<SearchedAttention>` is a child of the `<Attentions>` component.

  @author Ixhel Mejías, Adriana Tiso
 */

export default {
  data () {
    return {
      searchTerm: '',
      found: null,
      showErrorAlert: null,
      showNotFoundAlert: null
    }
  },
  components: {
    SearchedAttentionList
  },
  computed: {
    ...mapGetters([
      'attentionDetails'
    ])
  },
  beforeDestroy () {
    if (this.unwatchAttentionItems) {
      this.unwatchAttentionItems()
    }
  },
  methods: {
    attentionSearch (term) {
      this.found = null
      this.showErrorAlert = null
      this.showNotFoundAlert = null

      if (this.unwatchAttentionItems) {
        this.unwatchAttentionItems()
      }
      if (term === '') {
        this.showErrorAlert = true
      } else {
        this.$store.dispatch('getAttentionDetails', term).then(() => {
          if (this.attentionDetails !== null || this.attentionDetails !== undefined) {
            this.found = true
            this.showNotFoundAlert = false
          } else {
            this.showNotFoundAlert = true
            this.found = false
          }
        }).catch((error) => {
          this.showNotFoundAlert = true
          this.found = false

          console.log(error)
          console.debug(error)
          console.dir(error)
        })
      }
    }
  }
}
</script>
