<template>
  <v-card>
    <v-card-title>
    <v-spacer></v-spacer>
    </v-card-title>
    <v-card-text>
      <v-container fluid
      grid-list-xs>
        <v-data-table
          :headers="headers"
          fixed-header
          :items="attention"
          item-key="id"
          :loading="loading"
          :loading-text="$t('loading')"
          v-model="selected"
          hide-default-footer
          dense
          locale='es'
          :no-results-text="$t('no_matching_records')"
          :no-data-text="$t('no_data_available')"
          :items-per-page="-1"
        >
          <template v-slot:item.created="{ item }">
            {{ formatCreatedDate(item.created) }}
          </template>

          <template v-slot:item.services="{ item }">
            <div>
              <v-chip v-for="tag in formatCrews(item)" :key="tag.key" :color="getServiceColor(tag.status)" dark x-small class="ma-2">
                <h3>{{ tag.service }}</h3>
              </v-chip>
            </div>
          </template>

          <template v-slot:item.actions="{ item }">
            <div class="justify-center">
              <v-container grid-list-md>
                <v-layout wrap justify-space-between>
                  <v-flex xs12 sm2 md2>
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on }">
                        <v-icon
                          class="mr-2"
                          @click.once="showDetails(item)"
                          v-on="on"
                        >
                          launch
                        </v-icon>
                      </template>
                      <span v-if="roles.includes('Médico') || roles.includes('Despachador')">{{ $t('take_attentions') }}</span>
                      <span v-else-if="roles.includes('Operador')">{{ $t('edit_attention') }}</span>
                      <span v-else-if="roles.includes('Asistente')">{{ $t('view_attention') }}</span>
                      <span v-else>{{ $t('check_attention') }}</span>
                    </v-tooltip>
                  </v-flex>
                </v-layout>
              </v-container>
            </div>
          </template>
        </v-data-table>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapGetters } from 'vuex'
import moment from 'moment'

/*
  El componente `<SearchedAttentionList>` se utiliza para mostrar la linea de
  atención que viene del resultado de la busqueda hecha por el numero de atención.

  La fila contendrá información relevante sobre la atención: nombre y
  apellido del afiliado, hora de llamada y servicios.

  `<SearchedAttentionList>` es hijo del componente `<SearchedAttention>`.

  ---

  The `<SearchedAttentionList>` component is used to display a line of the
  attention that came as a result of a search made by nomber of attention.

  The row will contain relevant information about the attention: the
  affiliate's first and last names, call time, and services.

  `<SearchedAttentionList>` is child of the `<SearchedAttention>` component.

  @author Ixhel Mejías, Adriana Tiso
 */

export default {
  data () {
    return {
      selectedRow: undefined,
      search: '',
      loading: false,
      data: [],
      expand: false,
      selected: [],
      headers: [
        {text: this.$t('number'), value: 'id'},
        {text: this.$t('affiliate_first_name'), value: 'affiliate.first_name'},
        {text: this.$t('affiliate_last_name'), value: 'affiliate.last_name'},
        {text: this.$t('call_time'), value: 'created'},
        {text: this.$t('services'), value: 'services'},
        {text: '', sortable: false, value: 'actions', width: '100'}
      ],
      attention: []
    }
  },
  computed: {
    ...mapGetters([
      'attentionDetails',
      'serviceTypes',
      'roles'
    ]),
    permissions () {
      return this.roles.includes('Director') || this.roles.includes('Operador')
    },
    permissions_all () {
      return this.roles.includes('Director') || this.roles.includes('Operador') || this.roles.includes('Médico') || this.roles.includes('Despachador') || this.roles.includes('Coordinador') || this.roles.includes('Gerente') || this.roles.includes('Asistente')
    }
  },
  mounted () {
    this.attention.push(this.attentionDetails)
  },
  beforeDestroy () {
    if (this.unwatchAffiliate) {
      this.unwatchAffiliate()
    }
    if (this.unwatchAttention) {
      this.unwatchAttention()
    }
    if (this.unwatchAttentionCount) {
      this.unwatchAttentionCount()
    }
  },
  methods: {
    formatCreatedDate (date) {
      moment.locale(this.$i18n.locale)
      return date ? moment(date).format('D/M/YYYY h:mm a') : ''
    },
    getColor (status) {
      if (status === 'Abierta') return 'orange' // OPEN
      else if (status === 'Cerrada') return 'grey' // CLOSED
    },
    getServiceColor (status) {
      if (status === 'Abierto') return 'orange' // OPEN
      else if (status === 'Retrasado') return 'red' // DELAYED
      else if (status === 'En progreso') return 'green' // IN_PROGRESS
      else if (status === 'Completado') return 'blue' // COMPLETED
      else if (status === 'Cancelado') return 'grey' // CANCELED
      else if (status === 'Cerrado') return 'blue-grey darken-1' // CLOSED
    },
    showDetails (item) {
      window.sessionStorage.setItem('selectedAttention', String(item.id))
      window.sessionStorage.setItem('selectedAffiliate', String(item.affiliate.id))

      this.$store.dispatch('getAffiliateDetails', window.sessionStorage.getItem('selectedAffiliate'))
      // TODO: check performance
      this.$store.dispatch('getServiceAddressesItemsByAffiliate', window.sessionStorage.getItem('selectedAffiliate'))

      this.unwatchAffiliate = this.$store.watch(() => this.$store.getters.affiliateDetails, affiliateDetails => {
        this.$store.dispatch('getAttentionDetails', window.sessionStorage.getItem('selectedAttention'))
      })

      this.unwatchAttention = this.$store.watch(() => this.$store.getters.attentionDetails, attentionDetails => {
        if (this.$route.name !== 'AttentionDetails' && this.$store.getters.attentionDetails.length !== 0) {
          this.$router.push({name: 'AttentionDetails', params: { id: window.sessionStorage.getItem('selectedAttention') }})
        }
      })
    },
    formatCrews (item) {
      var services = []
      var serviceChips = []

      if (item.services_tmg_attention.length !== 0) {
        for (var i = 0; i < item.services_tmg_attention.length; i++) {
          item.services_tmg_attention[i].service_type = this.serviceTypes.find(service => service.id === 2)
          services.push(item.services_tmg_attention[i])
        }
      }
      if (item.services_hhc_attention.length !== 0) {
        for (var j = 0; j < item.services_hhc_attention.length; j++) {
          item.services_hhc_attention[j].service_type = this.serviceTypes.find(service => service.id === 1)
          services.push(item.services_hhc_attention[j])
        }
      }
      if (item.services_transfer_attention.length !== 0) {
        for (var k = 0; k < item.services_transfer_attention.length; k++) {
          item.services_transfer_attention[k].service_type = this.serviceTypes.find(service => service.id === 3)
          services.push(item.services_transfer_attention[k])
        }
      }
      if (item.services_hmd_attention.length !== 0) {
        for (var l = 0; l < item.services_hmd_attention.length; l++) {
          item.services_hmd_attention[l].service_type = this.serviceTypes.find(service => service.id === 4)
          services.push(item.services_hmd_attention[l])
        }
      }
      if (item.services_hhp_attention.length !== 0) {
        for (var m = 0; m < item.services_hhp_attention.length; m++) {
          item.services_hhp_attention[m].service_type = this.serviceTypes.find(service => service.id === 5)
          services.push(item.services_hhp_attention[m])
        }
      }
      if (item.services_lab_attention.length !== 0) {
        for (var n = 0; n < item.services_lab_attention.length; n++) {
          item.services_lab_attention[n].service_type = this.serviceTypes.find(service => service.id === 6)
          services.push(item.services_lab_attention[n])
        }
      }
      for (var count = 0; count < services.length; count++) {
        var serviceChipData = {key: '', service: '', status: ''}
        serviceChipData.key = services[count].service_type.code + '-' + services[count].id
        if (services[count].destination_address) {
          serviceChipData.service = services[count].service_type.code + ' | ' + services[count].destination_address.region.second_level.first_level.name
          if (services[count].crew) {
            if (!services[count].crew.base.base_name.includes('Venemergencia') && !services[count].crew.base.base_name.includes('venemergencia') && !services[count].crew.base.base_name.includes('VENEMERGENCIA')) {
              serviceChipData.service = services[count].service_type.code + ' | ' + services[count].destination_address.region.second_level.first_level.name + ' | ' + services[count].crew.name
            } else {
              serviceChipData.service = services[count].service_type.code + ' | ' + services[count].destination_address.region.second_level.first_level.name + ' | ' + services[count].crew.mobile_unit.codename
            }
          }
        } else {
          serviceChipData.service = services[count].service_type.code
        }

        if (services[count].policy && services[count].policy.plan) {
          serviceChipData.service = services[count].policy.plan.organization.code + ' | ' + serviceChipData.service
        }

        serviceChipData.status = services[count].status
        serviceChips.push(serviceChipData)
      }
      return serviceChips
    }
  }
}
</script>
