<template>
  <v-card color="grey lighten-2" flat>
    <v-card-title>
      <span class="headline">Datos de Validador</span>
    </v-card-title>
    <v-card-text>
      <v-container grid-list-xs>
        <template v-if="searchBox">
          <v-flex xs12 sm12 md12>
            <v-text-field
              v-model="searchTerm"
              color="light-blue darken-1"
              v-bind:label="$t('id_number')"
              v-bind:placeholder="$t('search')"
              dense
              outlined
              @keyup.enter="affiliateSearch(searchTerm)"
              append-icon="mdi-magnify"
              @click:append="affiliateSearch(searchTerm)"
              :loading="isLoading"
              @input="editingSearchTerm = true"
            >
            </v-text-field>
          </v-flex>
        </template>
        <template v-if="searchBox && isLoading">
          <v-icon color="info" size="60">mdi-alert</v-icon>
          <br />
          <br />
          <v-alert type="info">
            <h3>{{ $t('searching') }}</h3>
          </v-alert>
        </template>
        <template v-else-if="searchBox && searchTerm === ''">
          <v-icon color="warning" size="60">mdi-alert</v-icon>
          <br />
          <br />
          <v-alert type="warning">
            <h3>{{ $t('enter_search_term') }}</h3>
          </v-alert>
          <p>El Validador solo proporciona resultados de búsquedas por cédula de identidad.</p>
        </template>
        <template v-else-if="searchBox && (editingSearchTerm || validatorDetails.length === 0)"></template>
        <template v-else-if="validatorDetails.patients.length === undefined || validatorDetails.patients.length === 0">
          <v-icon color="warning" size="60">mdi-alert</v-icon>
          <br />
          <br />
          <v-alert type="warning">
            <h3>{{ $t('search_term_not_found') }}</h3>
          </v-alert>
          <p>El Validador solo proporciona resultados de búsquedas de cifras numéricas.</p>
          <p>Si el término de búsqueda fue una cifra numérica asociada a una cédula de identidad, entonces el afiliado no se encuentra registrado en el Validador.</p>
        </template>
        <template v-else-if="validatorDetails.patients.length > 0">
          <v-container
            id="scroll-target"
            style="max-height: 430px"
            class="overflow-y-auto"
          >
            <v-card
              v-for="n in validatorDetails.patients.length"
              :key="n"
              class="pa-2"
              outlined
              tile
            >
            <v-card-text>
              <v-layout>
                <v-flex sm12 md12>
                  <v-text-field
                    :value="titleCase(validatorDetails.patients[n-1].full_name)"
                    color="light-blue darken-1"
                    v-bind:label="$t('name')"
                    dense
                    readonly
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex sm6 md6>
                  <v-text-field
                    v-model="validatorDetails.patients[n-1].dni"
                    color="light-blue darken-1"
                    v-bind:label="$t('id_number')"
                    dense
                    readonly
                  ></v-text-field>
                </v-flex>
                <v-flex sm6 md6>
                  <v-text-field
                    v-model="validatorDetails.patients[n-1].birth_date"
                    color="light-blue darken-1"
                    v-bind:label="$t('birthdate')"
                    dense
                    readonly
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex sm12 md12>
                  <v-text-field
                    :value="titleCase(validatorDetails.patients[n-1].insurance_company)"
                    color="light-blue darken-1"
                    v-bind:label="$t('client')"
                    dense
                    readonly
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex sm12 md12>
                  <v-text-field
                    :value="getPlan(validatorDetails.patients[n-1])"
                    color="light-blue darken-1"
                    v-bind:label="$t('plan')"
                    dense
                    readonly
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex sm12 md12>
                  <v-text-field
                    :value="titleCase(getSponsor(validatorDetails.patients[n-1]))"
                    color="light-blue darken-1"
                    v-bind:label="$t('sponsor')"
                    dense
                    readonly
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex sm6 md6>
                  <v-text-field
                    :value="titleCase(getSponsor(validatorDetails.patients[n-1]) === 'AUTOFINANCIADO' ? 'INDIVIDUAL' : 'COLECTIVO')"
                    color="light-blue darken-1"
                    v-bind:label="$t('contract_type')"
                    dense
                    readonly
                  ></v-text-field>
                </v-flex>
                <v-flex sm6 md6>
                  <v-text-field
                    :value="titleCase(validatorDetails.patients[n-1].type)"
                    color="light-blue darken-1"
                    v-bind:label="$t('linkage')"
                    dense
                    readonly
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex sm12 md12>
                  <v-text-field
                    :value="validatorDetails.patients[n-1].location"
                    color="light-blue darken-1"
                    v-bind:label="$t('address')"
                    dense
                    readonly
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout>
              </v-layout>
              </v-card-text>
            </v-card>
          </v-container>
        </template>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapGetters } from 'vuex'

/*
  El componente `<Validator>` es usado para mostrar la información
  concerniente a los afiliados: sus datos personales, clientes
  aseguradoras, planes, contratantes obtenida desde el api del
  validador de Venemergancia.

  Se puede acceder a este componente desde los formularios pertenecientes
  a los componentes: `<NotAffiliate>` y `<NewKinship>`.

  ---

  The `<Validator>` component is used to display the information
  concerning affiliates: personal data, customers
  insurance companies, plans, sponsors, obtained from the api of
  Venemergancia's validator.

  This component can be accessed from the forms belonging to
  to the components: `<NotAffiliate>` and `<NewKinship>`.

  @author Ixhel Mejías, Adriana Tiso
 */

export default {
  data () {
    return {
      plan: '',
      sponsor: '',
      searchTerm: '',
      found: false,
      isLoading: false,
      editingSearchTerm: false
    }
  },
  created () {
    this.searchTerm = this.term
  },
  beforeDestroy () {
    this.$store.dispatch('deleteValidatorDetails')
  },
  computed: {
    ...mapGetters([
      'validatorDetails',
      'validatorPlanMappingItems'
    ])
  },
  props: {
    searchBox: Boolean,
    term: {
      type: String,
      default: ''
    }
  },
  methods: {
    titleCase (string) {
      var sentence = string.trim().split(' ').map(w => (w[0] !== undefined ? w[0].toUpperCase() : '') + w.substr(1).toLowerCase()).join(' ')
      return sentence
    },
    affiliateSearch (term) {
      this.found = null
      this.isLoading = true

      if (this.unwatchValidatorDetails) {
        this.unwatchValidatorDetails()
      }

      if (term === '') {
        this.isLoading = false
        this.editingSearchTerm = false
      } else {
        this.$store.dispatch('getValidatorDetails', term)
        this.unwatchValidatorDetails = this.$store.watch(() => this.$store.getters.validatorDetails, validatorDetails => {
          this.isLoading = false
          this.editingSearchTerm = false
          if (this.validatorDetails.length === 0 || this.validatorDetails.patients.length === undefined || this.validatorDetails.patients.length === 0) {
            this.found = false
          } else {
            this.found = true
          }
        })
      }
    },
    getPlan (patientDetails) {
      var patient = this.validatorPlanMappingItems.find(item =>
        (item.insurance_company === patientDetails.insurance_company) &&
        (item.branch === patientDetails.branch) &&
        (item.policy_type === patientDetails.policy_type) &&
        (item.policy_category === patientDetails.policy_category))

      return patient !== undefined ? patient.plan : this.$t('undefined')
    },
    getSponsor (patientDetails) {
      var patient = {}
      patient = this.validatorPlanMappingItems.find(item =>
        (item.insurance_company === patientDetails.insurance_company) &&
        (item.branch === patientDetails.branch) &&
        (item.policy_type === patientDetails.policy_type) &&
        (item.policy_category === patientDetails.policy_category))

      if (patient === undefined) {
        return this.$t('undefined')
      } else if (patient.sponsor === 'AUTOFINANCIADO') {
        return patient.sponsor
      } else if (patient.sponsor === 'insurance_company') {
        return patient.insurance_company
      } else if (patient.sponsor === 'branch') {
        return patient.branch
      } else if (patient.sponsor === 'owner') {
        return patientDetails.owner
      } else if (patient.sponsor === 'PAM-GRV') {
        return 'Venemergencia AG C.A.'
      }
    }
  }
}
</script>

<style scoped>
.theme--light.v-card.v-card--outlined {
  border-bottom-width: 16px;
}
</style>
