<template>
  <div id="app">
    <router-view/>
    <v-footer
      position: auto
      dark
      app
    >
      <v-row
        justify="center"
        no-gutters
      >
        <v-col
          class="text-center"
          cols="12"
        >
          <v-btn
            v-for="link in links"
            :key="link.id"
            color="white"
            text
            rounded
            class="my-2"
            @click="openLink(link)"
          >
            {{ link.text }}
          </v-btn>
        </v-col>
        <v-col
          class="primary lighten-2 py-4 text-center white--text"
          cols="12"
        >
          {{ new Date().getFullYear() }} — <strong>VENEMERGENCIA</strong>
        </v-col>
        <About :visible="showAbout" @close="showAbout=false" />
      </v-row>
    </v-footer>
  </div>
</template>

<script>
import About from '@/components/footer/About'

export default {
  name: 'App',
  components: {About},
  data () {
    return {
      languages: [
        { language: 'en', title: 'English' },
        { language: 'es', title: 'Español' }
      ],
      links: [
        {id: 1, text: this.$t('about')},
        {id: 2, text: this.$t('help')},
        {id: 3, text: this.$t('frequent_questions')},
        {id: 4, text: this.$t('video_tutorials')}
      ],
      showAbout: false,
      pdfShow: false
    }
  },
  methods: {
    openLink (link) {
      if (link.id === 1) {
        this.showAbout = true
      }
      if (link.id === 2) {
        window.open('https://atencion-1.s3.amazonaws.com/manual-usuario/html/index.html', '_blank')
      }
      if (link.id === 3) {
        window.open('https://atencion-1.s3.amazonaws.com/faq/Atencion1_Preguntas_Frecuentes.pdf', '_blank')
      }
      if (link.id === 4) {
        window.open('https://www.youtube.com/playlist?list=PLO6C6XU_qsW95vS_XB7KSHHW460301zg8', '_blank')
      }
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0;
}
</style>
